[2020-06-22 13:20] pinarol commented on #2325
I see that all the PRs are merged, I think we can close this issue. Let me know if something is pending.

[2020-06-22 13:20] #2325 closed

[2020-06-22 13:21] pinarol commented on #2041
Resolved with associated PRs

[2020-06-22 13:21] #2041 closed

[2020-06-22 13:21] pinarol commented on #1928
Should be resolved with associated PRs

[2020-06-22 13:21] #1928 closed

[2020-06-22 13:53] chipsnyder commented on #2411
Hey @hypest I tested this against `develop` => `053837669740bc7015587fe2d3bebf6547d5ef53`
but I originally discovered this while testing `try/after-monorepo` => `b359cee7aab4635774ec10c4871c571cf1a34aba`

[2020-06-22 13:54] chipsnyder commented on #2410
Just adding notes in cse it helps:
I tested this against `develop` => `053837669740bc7015587fe2d3bebf6547d5ef53`
but I originally discovered this while testing `try/after-monorepo` => `b359cee7aab4635774ec10c4871c571cf1a34aba`

[2020-06-22 14:03] chipsnyder commented on #2416
Yeah, this will work for Android. We can use [densityDpi](https://developer.android.com/reference/android/util/DisplayMetrics#densityDpi) which maps to `DENSITY_LOW`, `DENSITY_MEDIUM`, and `DENSITY_HIGH` we can then just convert this the 1, 2, 3 for the request.

[2020-06-22 15:21] antonis commented on #2401
@pinarol We should be able to use a [Context Menu](https://developer.android.com/guide/topics/ui/menus.html#CAB) with [ActionMode.TYPE_FLOATING](https://developer.android.com/reference/android/view/ActionMode#TYPE_FLOATING) in any Android view. We only need to implement the [ActionMode.Callback interface](https://developer.android.com/reference/android/view/ActionMode.Callback) and the [startActio

[2020-06-22 16:09] pinarol commented on #2416
I am curious about how we can generate the different variants of the same thumbnail? Is there a script for that? We prolly need to write a script to produce different variants of the same image.

And we should use that script for all the layouts, not just the mobile ones.

Plus, we should generate them in a specific folder hierarchy and with a name pattern so the backend can use a kind of pattern

[2020-06-22 16:16] pinarol commented on #2413
@enejb Can you clarify below items to finalize the 'definition of done' for this task:

- Are we copying [all the existing mobile layouts](https://github.com/WordPress/gutenberg/tree/8fc02a040d4f453e5a57d1e359cf84d1c319bfa6/packages/block-editor/src/components/page-template-picker/templates) to backend in this task?
- What's the process of copying? Manual or automated?
- What should the backend co

[2020-06-22 17:03] chipsnyder commented on #2412
@jd-alexander confirmed this as the case for him too. Closing this issue since it seems to be `develop` environment related

[2020-06-22 17:03] #2412 closed

[2020-06-22 17:15] pinarol commented on #2413
Another thing we should make sure is using the most up to date versions of the templates, currently they are in the repo: https://github.com/WordPress/gutenberg/tree/master/packages/block-editor/src/components/page-template-picker/templates

[2020-06-22 21:36] chipsnyder opened #2419 "[Modal Layout Picker] Create Modal window for Modal Layout Picker"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on creating the base modal for the new Modal Layout Picker. Other tasks will then work off of the modal created in this task. It will also handle the feature flags to set up the build environments to enab

[2020-06-23 07:34] hypest commented on #2411
@etoledom is working on a User-Agent fix that we think will fix this issue too.

[2020-06-23 10:10] enejb commented on #2413
Done when

1. All existing layouts are copied to back-end.
2. Translation of layouts
3. Partial translations (part by part) (every sentence will be translated se).
4. Request/Response model will be approved by chip.
5. Thumbnails should be in the correct size according to the device's scale.
6. In production.

[2020-06-23 16:42] etoledom commented on #2411
This seems closely related to the issue fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/14360
We can close this one and re-open if it happens again.

Since it was a hotfix, the code still hasn't landed to `develop` but it should soon.

[2020-06-24 14:45] enejb commented on #2413
I am marking this as done.

Since I deployed D45124-code

The request/response model was approved by @chipsnyder.
We will make any changes as required in future PRs.

And the endpoint is now available in production.
See:
<img width="1702" alt="Screen Shot 2020-06-24 at 4 42 42 PM" src="https://user-images.githubusercontent.com/115071/85578030-0b2bce00-b63a-11ea-81d6-a6dc2557cc2b.png">

[2020-06-24 14:45] #2413 closed

[2020-06-24 14:50] enejb opened #2425 "No limit to the number of columns that can be placed inside the column block"
**Describe the bug**
Currently in GB web you are limited to 6 columns that you can place in the column block.

On mobile there doesn't seem to be a limit.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a column block.
2. Keep adding columns. You can add more then 6 columns.

**Expected behavior**
We should limit the number of columns that you a user can create with the column block.

**

[2020-06-24 18:46] mchowning commented on #729
Just noticed on Android that if I select str?u?ckthrough text that has the `del` tag (so it was entered by pressing the strikethrough button without any selected text, and then typing some text), I cannot remove the strikethrough formatting. I do not see this issue if I select text and apply the strikethrough (which applies the `s` tag)

![remove strikethrough mp4](https://user-images.githubuserco

[2020-06-24 19:41] rezzap opened #2427 "Issues with text selection in HTML editor"
A user is reporting problems selecting text in the HTML editor. I'm not sure if this is for the editor more so than the app, but starting by reporting it here. The reason why he is selecting this is that he would like to be able to duplicate blocks, this is currently being worked on, but in the meantime, this is their alternative.

### Expected behavior

The user expected that when they tried sele

[2020-06-25 08:33] enejb opened #2428 "Gallery Settings: You should show the currently selected option and settings label before you change."
**Describe the bug**
Currently when you are editing the gallery options such as Link to or Image Size.

There is no indication what is selected or what option you are editing.

See:
<img width="651" alt="Screen Shot 2020-06-25 at 10 28 54 AM" src="https://user-images.githubusercontent.com/115071/85685062-fc432b00-b6ce-11ea-8cb9-4ed9ea7781b6.png">

Is that intended?

My proposal would be to provide

[2020-06-25 08:40] enejb opened #2429 "Media Text: Failed to insert media overlay has icon that is different colour from text"
**Describe the bug**
The current icon in the Failed to insert media overlay is light blue. Is that intended.

See:
<img width="655" alt="Screen Shot 2020-06-25 at 10 36 25 AM" src="https://user-images.githubusercontent.com/115071/85686041-e97d2600-b6cf-11ea-8274-06c2e689e1ca.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Insert media text block.
2. Upload an image.
3. Disconnect the p

[2020-06-25 09:01] enejb opened #2430 "Media Text: When changing images and canceling the process make sure to preserve the previous image"
**Describe the bug**
Currently when you click Media Text and choose to replace the image. But then decide to cancel the image upload image you end up with the placeholder. Image instead of the previous image.

**To Reproduce**
Steps to reproduce the behavior:
1. Insert the media Text block.
2. Add an image.
3. Click the button in the tool bar to replace the image.
4. Cancel the image upload by cli

[2020-06-25 12:25] antonis commented on #2429
Hello @iamthomasbishop 👋
Should I leave the icon in the Failed to insert media overlay light blue or change it to the same colour as the text?

[2020-06-25 12:44] enejb opened #2431 "Columns Block: Removing column with content should prompt you to confirm"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a columns block and add third cloumn with content in it.
2. Expand the columns settings and remove the third column by clicking the minus circle.
3. Notice that it doesn't ask you to confirm that you want to remove that column.

**Expected behavior**
You should see a p

[2020-06-25 15:03] pinarol commented on #2431
hey Enej 👋 Undo button should bring back the removed content. That applies for everything actually. We don't need to worry much about bringing back the content because it is possible in multiple ways. Both the undo button and autosaved revisions give us options to bring back the content.

[2020-06-25 15:13] pinarol commented on #2425
There's not an actual limit on web as well. There was some time ago but they removed that limit. So if you select an individual column you'll be able to add columns more than 6:

<img width="1309" alt="Screen Shot 2020-06-25 at 18 06 07" src="https://user-images.githubusercontent.com/5032900/85746263-0127cf00-b70f-11ea-8a69-f2f3429609fb.png">

<img width="1214" alt="Screen Shot 2020-06-25 at 18 12

[2020-06-25 15:26] pinarol commented on #2428
It should be possible to put a title to the action sheet but it will take some extra space and I am not sure if it is worth it. And plus, Android doesn't have it so it'll require a different development. TBH, I think we don't need to worry about this much, the action sheet component is integrated in the editor almost from the beginning and it is displayed in multiple places. We haven't heard any c

[2020-06-25 15:43] pinarol commented on #2430
Actually it was intended this way so I wouldn't call it a bug(assuming bug means "not working as intended").

In general returning to the previous state is pretty easy with undo button inside the editor. So I wouldn't want us to complicate our use cases just to add more of these kinds of returning to previous state capabilities. And I am not sure the intention is always returning to the previous i

[2020-06-25 18:36] chipsnyder opened #2432 "Default Gradients are lost on theme changes for self hosted sites."
**Describe the bug**
On self-hosted sites, when you select a theme with a custom gradient then revert to a theme without customs gradients then the default gradients aren't rendered.

**To Reproduce**
Steps to reproduce the behavior:

1. Select a theme on your self-hosted site  _with_ custom gradients (such as [twentytwenty-copy.zip](https://github.com/wordpress-mobile/WordPress-iOS/files/4657974/

[2020-06-26 08:14] enejb commented on #2416
I added a scale attribute to the api endpoint that produced different version of the same image.

This way the smallest possible preview url gets return by the endpoint.
The url query that you should pass in to the endpoint are `?preview_width=200&scale=1` the width is a pixel value.

I am hoping this will work as expected for you.

One thing that I want to explode is creating preview images based

[2020-06-26 09:37] pinarol commented on #2409
Solved with https://github.com/WordPress/gutenberg/pull/23352

[2020-06-26 09:37] #2409 closed

[2020-06-26 09:42] pinarol commented on #1956
Closing since Buttons block is merged on mobile a while ago.

[2020-06-26 09:42] #1956 closed

[2020-06-26 11:28] lukewalczak commented on #2197
Hello 👋 , I'm starting the investigation from proposed by @pinarol option A with visual changes and percentage factor. Will update you on it!

How would you like to control the column width? I think we can typically use BottomSheet for it and control the width using the slider (the same as spacer height ).

Do we have some mock for placeholder usage?

[2020-06-26 12:00] pinarol commented on #2416
Not sure how this works and I doubt the scale on back end side is the same scale on devices side. If it is returning the same sized image with different resolutions then it doesn't look like the solution we'd want.

On iOS:

`?preview_width=200&scale=1` -> Should return 200*1 = 200 width image

`?preview_width=200&scale=2` -> Should return 200*2 = 400 width image.

and so on.

@chipsnyder I doubt

[2020-06-26 12:06] pinarol commented on #2416
We should make sure we are doing this transparently and not making the user wait. The preview generation time shouldn't add up to the service response time. I prefer to filter out all layouts that don't have thumbnails over making the user wait. They can be generated at parallel and only when they are ready they can be included in the response.

[2020-06-26 12:41] pinarol commented on #2416
This looks like the ideal way for Android:

https://developer.android.com/training/multiscreen/screendensities

It seems to me we can still use the "scale" query parameter to send different density values(0.75, 1, 1.5, 2 etc.) for Android. And the returned images should have different sizes accordingly similar with iOS.

[2020-06-26 12:48] pinarol commented on #2416
If we want to use photon to generate variations I think all the calculations for the image size can happen on client. No need to send the scale to server in this case right?

[2020-06-26 13:25] chipsnyder commented on #2416
For the image range shown by that link, [density](https://developer.android.com/reference/android/util/DisplayMetrics#density) would be the way to go. This would be more consistent with what we'd want if we were bundling the images in the app.

However, it all depends on our goals and how granular we'd like to get.

The [densityDpi](https://developer.android.com/reference/android/util/DisplayMetri

[2020-06-26 14:26] enejb opened #2434 "SPT: Filtering of templates based on a provided exclusion list in the url."
We want the new endpoint to have the ability to remove layouts that editor doesn't want to show up.

[2020-06-26 14:42] #369 closed

[2020-06-26 20:15] chipsnyder opened #2436 "[Modal Layout Picker] Create Layout Picker sections and thumbnail UI using static data"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on filling in the layout with static data covering the UI for the layout pickers sections, thumbnail cells, and selected state. (The category bar will be handled separately).

<details>
<summary>The resul

[2020-06-26 20:40] chipsnyder opened #2437 "[Modal Layout Picker] Create Layout Picker category bar UI using static data"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on filling in the category bar in the header using static data that is currently used as part of the existing Starter Page templates.

<details>
<summary>The end result should look something like:</summar

[2020-06-26 21:39] iamthomasbishop commented on #2197
@lukewalczak I think utilizing the existing component is a good start, and I think we will likely keep that setting in the settings sheet indefinitely, regardless of whether we add additional adjustment methods.

With that said, it’d be nice to explore a component that enables on-canvas resizing of elements, which we could also add to other blocks such as Spacer, Image, and others at some point. W

[2020-06-29 00:16] designsimply commented on #575
I found another app review asking for text justification.

Auto-translated from Spanish:

<sup>2-star app review by Anye M - 6/28 3:35 - LG G6 Android 9</sup>

[2020-06-29 07:57] enejb commented on #2416
[code]
This already happends with this images see the API returns the correct image based on the scale and width provided.

The parameters to use are
[code]
The preview width should be be a constant value between the devices and should reflect the desired width of the preview.
Scale should math the desired density value.

[2020-06-29 08:27] pinarol commented on #1748
Closing this in favor of new designs.

[2020-06-29 08:27] #1748 closed

[2020-06-29 08:48] pinarol commented on #2197
Actually it'd be great but...
@dratwas @lukewalczak correct me if I am wrong, "drag handle" functionality will be more or less the same with [Update Slider to reflect changes immediately](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2192). That kind of functionality is currently blocked by https://github.com/wordpress-mobile/gutenberg-mobile/issues/2349. (Huge history there, we firs

[2020-06-29 11:24] pinarol commented on #2416
Great, that sounds like it suits well for our case.

We should keep in mind these things though:

1.

It should be ok if photon creates the different size images on demand but the very first creation of the preview image takes quite some time(up tp 5 secs or so?) and it shouldn't be added to the service response time.

2. How do we prevent photon's cache from returning us the old image when we wan

[2020-06-29 12:03] #2432 closed

[2020-06-29 13:43] hypest commented on #2440
I've set the "[Pri]" label to "Medium" as it looks like the issue is happening to very specific devices, mostly on TECNO devices.

[2020-06-29 13:50] lukewalczak commented on #2197
After initial work on that feature, I'm considering an option to set the column width equally to the:
`percentage * parentWidth`, which means that 100% is a `parentWidth` and column will take the whole available space.
The reason why I'm suggesting another approach is the result of thinking about the placeholders where with 30/70 or 70/30 variation there won't be any visual effect because the colu

[2020-06-29 15:00] SergioEstevao commented on #1178
@iamthomasbishop from my tests on the current version of the app (15.0) I only see the issue above, can you elaborate a bit more what do you want to change?

[2020-06-29 15:42] SergioEstevao commented on #1124
The current behavior on the web is that if you paste multiline content, the first line stays on the title and the remaining content will inserted has new blocks after the title.

[2020-06-29 15:54] mchowning commented on #2349
Quick update on this. There were some concerns about adding the save-on-exit functionality on Android initially, but [there is agreement on a path forward for adding it now](https://github.com/wordpress-mobile/WordPress-Android/pull/12144#issuecomment-645584192). I worked on implementing that last week, but it’s not done yet. With me being on groundskeeping this week (and it being a short week wit

[2020-06-29 18:02] chipsnyder opened #2443 "[Modal Layout Picker] Populate UI for WPCOM sites with data from the API"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on utilizing the data fetched from [/wpcom/v2/sites/{site}/block-layouts](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2413) to replace the static data used in https://github.com/wordpress-

[2020-06-29 19:42] chipsnyder opened #2444 "[Modal Layout Picker] Filter layouts based on supported blocks."
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on modifying the API call [/wpcom/v2/sites/{site}/block-layouts](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2413) to include the [supported_blocks](https://github.com/wordpress-mobile/gut

[2020-06-29 20:18] chipsnyder opened #2445 "[Modal Layout Picker] Request scaled Thumbnail images"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on modifying the API call [/wpcom/v2/sites/{site}/block-layouts](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2413) to include the parameters defined in https://github.com/wordpress-mobile/

[2020-06-29 20:53] chipsnyder opened #2446 "[Modal Layout Picker] "Create Page" button functionality"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on
adding the functionality to the "Create Page" button.
| iOS | Android |
| --- | --- |
| <img width="300" alt="iOS-PickerSelected" src="https://user-images.githubusercontent.com/3384451/85895945-94bbd70

[2020-06-29 21:01] chipsnyder opened #2447 "[Modal Layout Picker] Enable the new Layout Picker for release"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This should be the last issue of this [project](https://github.com/wordpress-mobile/gutenberg-mobile/issues?q=is%3Aissue+is%3Aopen+%5BModal+Layout+Picker%5D). Once we've completed enough of the tasks and have successfuly are ready to release t

[2020-06-29 21:04] #1179 closed

[2020-06-29 22:05] #331 closed

[2020-06-30 00:58] designsimply opened #2448 "Media Blocks: no warning about exceeding the site storage limit and a generic error appears when over disk quota"
Steps to reproduce:

1. For a WordPress.com Free site, go to My Site > Media.
1. Add items until you run out of space.
1. Go to My Site > Blog Posts > +.
1. Add a title and an image block.
1. Upload an image that exceeds the site storage limit.

**Result:** I expected to see a warning about going over storage capacity but a generic error saying "Failed to insert media. Please tap for options." Whe

[2020-06-30 07:00] #2326 closed

[2020-06-30 07:11] antonis commented on #2429
This is already handled by https://github.com/WordPress/gutenberg/pull/22788

[2020-06-30 09:29] hypest commented on #2448
👋 Sheri!

Is there some message displayed when you reach that limit while in the Media Library?

[2020-06-30 12:45] hypest opened #2450 "Editing already inserted @-mentions"
**Is your feature request related to a problem? Please describe.**
Currently, revising an already inserted mention has no assistance from the UI. One has to manually insert a new mention from the start. Examples:

1. Delete some of the last characters of a mention and try to re-trigger the mentions UI to select a new username. Imagine usernames based on a name+surname format and you delete the sur

[2020-06-30 14:01] lukewalczak commented on #2197
The only question in that approach is how to present 4 and more columns 🤔

[2020-06-30 14:43] chipsnyder opened #2452 "[Modal Layout Picker] "Preview" button functionality"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. After selecting a layout a user should be able to select "Preview" and see a preview of the layout. This preview is a read-only version of the editor matching the look of the preview shown today in the existing SPT picker.

**_Note_** This won

[2020-06-30 14:59] chipsnyder opened #2453 "[Modal Layout Picker] Show toast messages after creating a new page"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. After creating a page a toast message should appear. These toasts will utilize the notice component created as part of https://github.com/wordpress-mobile/gutenberg-mobile/pull/2378#issuecomment-649480290

### Goals
+ After creating a [blank p

[2020-06-30 15:05] chipsnyder opened #2454 "[Modal Layout Picker] Add analytics metrics for the layout picker"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on adding analytics metrics to the layout picker's actions. We'll want to be able to track when a template is previewed and as well as when it is applied.

### Goals
+ Editor analytics session should incl

[2020-06-30 15:41] chipsnyder opened #2455 "[Modal Layout Picker] Add support for Self-Hosted sites"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. On a self-hosted site as a user, I should be able to use the new layout picker utilizing the layouts that are currently provided in the existing STP picker.

### Goals
+ On self-hosted sites, when creating a new page, a user should be presente

[2020-06-30 16:29] pinarol commented on #2197
I think we don't have a 100% win scenario here so we'll need to choose between down sides :(

Let's say we have 4 columns: 70% 10% 10% 10%

1st approach would show something like:

|-----------70-----------|
|-10-|-10-|-10-|

The last one you suggested, let's call it the 2nd approach:

|---------70----------|-10-|
|-----10------|-----10-----|

So even though columns 2, 3, 4 have the same width the

[2020-06-30 18:12] chipsnyder opened #2456 "[Modal Layout Picker] Cache the results of the fetched the layouts call"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on caching the data as a result of the call made in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2443 and as modified by related issues.

### Goals
+ The data from the API should be fetched

[2020-07-01 02:33] guarani opened #2458 "Navigation bar title color broken in v15.2 beta"
Moved here: https://github.com/wordpress-mobile/WordPress-iOS/issues/14404

[2020-07-01 02:38] #2458 closed

[2020-07-01 05:28] iamthomasbishop commented on #2197
@lukewalczak @pinarol apologies for the delay, I jotted down some thoughts and responses.

## Placeholder/Starter Design

@lukewalczak in terms of placeholder design, I have some sketches and notes regarding the behavior -- I can prep some higher fidelity designs next week. I know there was some earlier discussion about where/how we should display the placeholder content, and I still feel best abo

[2020-07-01 09:09] lukewalczak commented on #2197
Thanks @iamthomasbishop for your input!

### Mechanism

Before we dive into the starter/placeholder feature, I would like to set some _principles_ for editing column width values. In the beginning, I was convinced to the idea that _sum of all columns should be 100%_, which is in accord with your mocks, but then I've realized that on the web you can create 4 columns where each of them has 100% widt

[2020-07-01 10:47] lukewalczak commented on #2197
@pinarol If we would like to follow the web behaviour how do we want to then present the columns? Do we want to use the `precentageFactor` proposed in [suggestion A](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2197#issue-608513373)?

[2020-07-01 14:00] enejb commented on #2414
Since we shipped D45634-code I am closing this Issue as done.

[2020-07-01 14:00] #2414 closed

[2020-07-01 14:00] enejb commented on #2415
Since we shipped D45634-code I am closing this Issue as done.

[2020-07-01 14:00] #2415 closed

[2020-07-01 14:01] enejb commented on #2434
Since we shipped D45634-code I am closing this Issue as done.

[2020-07-01 14:01] #2434 closed

[2020-07-01 15:43] designsimply commented on #2448
Yes, when you reach the storage limit in WPAndroid a persistent notice is displayed at the bottom of the Media screen and a popup notice is displayed after trying to upload an item that goes beyond storage capacity. Note: there is an open request to improve the "EXCEEDS_SITE_SPACE_QUOTA_LIMIT" error message shown after an upload is attempted when the storage limit has been reached at https://githu

[2020-07-02 07:29] maxme opened #2460 "Some strings are not translated since release 1.31"
**Describe the bug**
Some Gutenberg strings are not translated. The `gutenberg_native_` strings exist and are correctly translated in `WordPress/src/main/res/values-*/strings.xml`.

Block picker|Image picker
-|-
![Screenshot_1593612400](https://user-images.githubusercontent.com/40213/86329263-3029cd80-bc46-11ea-8ffc-da3ac2642d95.png) | ![Screenshot_1593612411](https://user-images.githubusercontent

[2020-07-02 16:53] SergioEstevao commented on #1427
@radex @eladgel the proposal to change license is now live in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/23651

[2020-07-06 14:25] antonis commented on #2386
Fixed by https://github.com/WordPress/gutenberg/pull/23456

[2020-07-06 14:25] #2386 closed

[2020-07-06 20:01] jartes opened #2462 "Uploading videos in a WordPress.com free site is not restricted"
**Describe the bug**
Uploading videos into a free WordPress.com site is not restricted as it is in Calypso.

**To Reproduce**
1. Open the app.
2. Add a new post into a WordPress.com free site.
3. Add a `Video` block and upload a video from the device.
4. Publish the post.
5. Check the post in Calypso and the video is there.

**Expected behavior**
A message or warning when trying to add a Video blo

[2020-07-07 10:34] pinarol opened #2463 "Add support for wide/full-width Alignment options"
Let's start to think about how we can bring wide/full-width Alignment options into mobile. They are very useful in pages and starter page layouts(mostly homepage layouts).

<img width="308" alt="Screen Shot 2020-07-07 at 12 16 00" src="https://user-images.githubusercontent.com/5032900/86760221-bb8fce00-c04d-11ea-8a14-54131e6b9867.png">

For this issue I am thinking about only focusing on wide/full

[2020-07-07 10:50] pinarol commented on #2197
I think it is about time we should prioritize it, it is quite useful in homepage layouts. I opened [an issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2463) to track it and assigned to you for UX details.

I think we can go like this.

1st iteration(constant width, limited to 3 columns-per-row):

- Add the new columns presets
- Add ability to adjust widths via settings but show

[2020-07-07 16:34] iamthomasbishop commented on #2197
@pinarol Just to clarify, showing no visible changes _on the canvas_ is okay for the first iteration, but we need to make it clear to the user what is happening by showing an informational label or alert of some sort. (something like: `Column sizes may differ from what your visitors see. To see a preview of your [post/page], tap on ••• and then Preview.`)

This all sounds good 👍

[2020-07-07 16:36] #2460 closed

[2020-07-07 16:41] iamthomasbishop commented on #2428
I think adding a descriptive header to the top of the actionSheet would be worthy usage of the space, so I'd be fine with adding one. However, I think there is some on-going work on the link settings (by @mkevins) so it might not make sense to implement something here that'll be overridden with any of that work. If we _do_ decide to add a header to the sheet here, we should add it as a small secti

[2020-07-07 21:32] iamthomasbishop commented on #2429
@antonis I believe it can be changed to the same color as the text label.

[2020-07-08 15:16] antonis commented on #2275
This issue is broken down in the following subtasks
- [] Clear Media (issue: https://github.com/WordPress/gutenberg/issues/23789, PR: TBD)
- [] Add Media when only background colour is set (issue: TBD, PR: TBD)
- [] Apply default colour (issue: TBD, PR: TBD)
- [] Select and apply custom colour (issue: TBD, PR: TBD)

As part of the GB-Mobile Monorepo migration the new issues are opened in the [Gute

[2020-07-08 15:47] hypest commented on #2462
👋 @jartes , thanks for opening this ticket. It is actually by design that the mobile apps are allowed to upload videos to free-plan WordPress.com sites. The spirit behind this is to help the mobile apps get more adopted.

There is no current plan to change this setup so, I will close this ticket as "wontfix" for the time being. We can reopen in the future if needed.

[2020-07-08 15:47] #2462 closed

[2020-07-08 16:42] #1607 closed

[2020-07-08 16:44] #2253 closed

[2020-07-08 16:44] #2429 closed

[2020-07-09 00:46] guarani opened #2470 "Unsupported Block Editor not working on Atomic sites"
**Describe the bug**
The Unsupported Block Editor does not work on Atomic sites.

**To Reproduce**
Steps to reproduce the behavior:
1. On a post that contains a block not supported by Gutenberg Mobile
2. Tap the `(?)` and a bottom sheet is shown
3. Notice there is no option on the bottom sheet for editing the block

**Expected behavior**
The Unsupported Block Editor should work on Atomic sites.

*

[2020-07-09 02:06] guarani opened #2471 "Unsupported Block Editor not working on sites where Jetpack is connected to WordPress.com"
Related: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2358

**Describe the bug**
The Unsupported Block Editor does not work on self-hosted sites which have Jetpack installed **and** connected to WordPress.com

**To Reproduce**
Steps to reproduce the behavior:
1. Create a self-hosted site, install the Jetpack plugin and connect it to a WordPress.com account (easily done using https:/

[2020-07-09 05:57] oguzkocer opened #2472 "JSApplicationIllegalArgumentException: Error while updating property 'text' of a view managed by: RCTAztecView"
I am still figuring out how to monitor crashes from the JS side. This one in particular seems to have at least some info about what it's related to, specifically with the `parentStyle must not be null` message.

Please let me know if I should be on the lookout for anything specific for these type of issues so I can use that to decide whether an issue is worth reporting or how best to report it etc

[2020-07-09 09:08] antonis opened #2473 "Gallery Block: The browser does not visit the attachment page for the image"
**Describe the bug**
The browser does not visit the attachment page for the image

**To Reproduce**
To reproduce the behavior follow the [steps in this testcase](https://github.com/wordpress-mobile/test-cases/blob/master/test-cases/gutenberg/gallery.md#tc012) and select 'Attachment Page'

*Note* that the post should be published to have the open in browser button available (pending to verify that

[2020-07-09 09:16] hypest commented on #2471
For context, it was decided to disable the feature on Jetpack connected sites until we fix the issue of using the wrong cookie to access the site.

[2020-07-09 09:24] antonis commented on #2473
This has already been reported on Android https://github.com/WordPress/gutenberg/issues/23576

[2020-07-09 09:26] antonis commented on #2473
Closing as duplicate with https://github.com/WordPress/gutenberg/issues/23576

[2020-07-09 09:26] #2473 closed

[2020-07-09 09:47] antonis commented on #2473
Tested in 15.1 with build number: 31136 from App Center on a iPhone SE 2020 with iOS 13.5.1
The issue is reproduced thus this is not a regression issue in 1.32

[2020-07-09 10:17] hypest commented on #2472
Looks like a crash coming from the embedded Aztec instance and by quickly looking at the code we should be able to guard for this case. I'll put a "medium" priority on this ticket since the occurrences are fairly low in the last month.

[2020-07-09 12:55] geriux commented on #2389
Hey @iamthomasbishop 👋

I'm working on adding media editing for Gallery but I'd need some design specifications for the UI of the buttons.

We need to find a place for the Media editing button, the thing is it shouldn't be too different from Image, Media & Text, and [Cover](https://github.com/WordPress/gutenberg/pull/23280) so we reuse as much as we can since all of them share the same Image compo

[2020-07-09 13:07] chipsnyder commented on #2399
This as merged to 1.33

[2020-07-09 13:07] #2399 closed

[2020-07-10 03:51] iamthomasbishop commented on #2389
@geriux perhaps we should put the 'x' action in the edit menu to conserve some space?

Question: would a long-press on a gallery image cell open the action sheet like we have on image and now cover blocks?

[2020-07-10 13:09] antonis commented on #2275
Hello @iamthomasbishop,
I was also thinking of adding a 'clear color' button like the web. It seems like a quick win on the code side.
![Screenshot 2020-07-10 at 4 08 25 PM](https://user-images.githubusercontent.com/304044/87157924-a02ff780-c2c7-11ea-9379-4a20f1bca144.png)
Wdyt?

[2020-07-10 13:49] geriux commented on #2389
I moved the delete action, what do you think?

<kdb><img src="https://user-images.githubusercontent.com/4885740/87161324-aa9cc200-c2c4-11ea-96a4-424dacdf2554.gif" /></kdb>

Yup, I show it in the gif above as well =)

Thanks!

[2020-07-10 19:07] chipsnyder commented on #2455
@iamthomasbishop @enejb
One thing I didn't investigate yet in regard to the self-hosted templates would be the preview images. I think we have everything else we need available in the template files but we don't have preview images yet. Is there a way we can generate these images or would we already have some anywhere we could use?

cc @antonis

[2020-07-10 19:11] chipsnyder commented on #2455
Looking into this in more detail; if we put this in a common JSON file then we'd open up the risk to miss some translations. For that reason, it will probably be best to duplicate the data in the native components. I would still suggest adding it to the Gutenberg Mobile libraries so that only repo needs to be touched when adding new templates.

[2020-07-10 20:59] guarani opened #2480 "Enable the Unsupported Block Editor on WordPress.com where Gutenberg is the default editor"
The Unsupported Block Editor is currently disabled on WordPress.com sites where the default editor is the Classic editor.

### The missing feature
On WordPress.com sites, the Unsupported Block Editor should always be available, even if Gutenberg is not the default editor. Users may have existing posts they wish to edit that were made with Gutenberg, but their site has the Classic editor enabled as

[2020-07-10 21:01] guarani commented on #2480
Is there a scenario where a WordPress.com site with plugin management enabled has removed Gutenberg from their site entirely?

[2020-07-10 21:36] guarani opened #2482 "Enable the Unsupported Block Editor on posts from self-hosted sites"
Related: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2358

### The missing feature

Enable the Unsupported Block Editor on posts from self-hosted sites. This will allow users to edit posts containing Gutenberg blocks which are supported on their site but not yet supported on Gutenberg Mobile. Currently users can only access the Unsupported Block Editor if the post they're editing i

[2020-07-10 23:57] #986 closed

[2020-07-11 00:07] iamthomasbishop commented on #2389
@geriux I like that! One tiny nitpick: Can we change "delete" to "remove"? Because we are just removing image from the gallery, not deleting it altogether. 😊

[2020-07-11 00:50] guarani opened #2483 "Improve the Unsupported Block Editor offline experience"
Related: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2358

**Describe the bug**
The Unsupported Block Editor requires an internet connection to function, but does not provide any indication to the user if their internet connection is offline.

**To Reproduce**
Steps to reproduce the behavior:
1. On the WordPress for iOS or Android apps, edit a post containing a block not currently

[2020-07-11 04:20] guarani commented on #2471
Once the cookie issue is resolved, it might only be possible to enable the Unsupported Block Editor on sites where Gutenberg (not Classic) is the default editor.

On iOS, the API request that may provide indication of which editor is set as the default is:
https://github.com/wordpress-mobile/WordPressKit-iOS/blob/a06182b86d3c8542c16ce38c765769e1d50b0d5f/WordPressKit/EditorServiceRemote.swift#L5-L1

[2020-07-14 08:08] #2384 closed

[2020-07-14 11:57] kspilarski commented on #1886
Related GitHub report:  [Code & SyntaxHighlighting Blocks: Indent / Outdent Option](https://github.com/Automattic/wp-calypso/issues/44131)

[2020-07-14 16:05] guarani commented on #2431
Hey @enejb, I came across this while working on writing flow issues. Is this issue still applicable?

I'm not clear on what the "minus circle" is here. I'm not super familiar with the column block, but I think the UI for deleting blocks in general changed fairly recently. Removing a block used to be one-step: with a block selected, just tap the toolbar trash button. This changed to a two-step proc

[2020-07-15 08:46] maxme commented on #303
I was able to reproduce this one on a recent version (`alpha-233`). Cursor moves "randomly" after the undo (sometimes one more character to the right).

[2020-07-15 08:53] maxme commented on #303
Moved from High prio to Medium, I wasn't able to reproduce the content loss (like in https://github.com/wordpress-mobile/gutenberg-mobile/issues/303#issuecomment-479992707)

[2020-07-15 09:35] maxme commented on #2373
I was able to reproduce it on Android (wpandroid alpha-223).

[2020-07-15 09:40] maxme commented on #433
I can't reproduce that one (Tested on an emulator on a real device with wpandroid alpha-223), when I tap at the bottom of a paragraph, the cursor is placed at the end of the paragraph and the view is centered on the bottom.

[2020-07-15 09:40] #433 closed

[2020-07-15 09:42] maxme commented on #463
I can't reproduce that one, it was maybe fixed by a RN update. Closing it until we get another report.

[2020-07-15 09:42] #463 closed

[2020-07-16 02:32] guarani commented on #729
After some tests on both platforms here's what I came across.

### iOS

In terms of strikethrough, as far as I can tell, iOS is working fine (as @etoledom commented [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/729#issuecomment-607739091)). Tested on WPiOS 15.2. When I moved the cursor over text that had strikethough formatting, it always reflected the correct state. Also work

[2020-07-16 04:39] iamthomasbishop commented on #1741
@pinarol As discussed in Slack, I spent some time the other day sketching out how we might handle focal point, fixed background, and the wider lot of Cover block settings. I’ll zoom out a little bit to capture thoughts about how these things fit into the flow, while still trying to keep focused on the primary elements — fixed background and focal point editing.

## Fixed background

![image](https

[2020-07-17 02:32] guarani commented on #2373
TL;DR: I think the Aztec library for Aztec differentiates between swiped and typed text when handling the Enter key event. This bug isn't reproducible in the Classic editor because unlike react-native-aztec, the Classic editor doesn't use custom Event key handling AFAIK.

---

### Investigation

I reproduced this on Android v15.2 in Gutenberg. I don't see this bug in the Classic editor which impli

[2020-07-17 11:04] lukewalczak commented on #2102
We've already gathered some conclusion why it doesn't work properly, discussed and planned how to fix it. The plan is to:
1. create our custom extended ScrollView component with overwritten value `delaysContentOnTouches=YES`
2. create a PR to rn-slider to disable `[touchToSeekFeature](https://github.com/react-native-community/react-native-slider/pull/117)` for iOS
3. test slider and app parts wher

[2020-07-17 12:05] geriux opened #2491 "Block Actions Menu - Update Paste block label"
The current label for _Pasting a block_ within the block actions menu can be confusing so let's change it to `Paste block after`.

[2020-07-17 20:10] guarani commented on #2373
To isolate the problem to Aztec and ensure it's not an issue in react-native-aztec or its usage of Aztec, I modified the Aztec demo project for Android to use a `AztecText` subclass, `MyAztecText`. This subclass added an `OnAztecKeyListener` and logged the events to the console.

<details>
<summary>View code</summary>
<pre>
package org.wordpress.aztec.demo;

import android.content.Context;
import

[2020-07-20 13:06] mchowning commented on #1915
Is this resolved by https://github.com/wordpress-mobile/gutenberg-mobile/pull/2393 @SergioEstevao ?

[2020-07-20 13:15] mchowning commented on #2182
Closing this since we no longer rely on Jitpack to build the entire gutenberg-mobile library. We do still use it to build some of our React Native dependencies, but those are substantially smaller and have not encountered this "Git clone took longer than 180 s" error.

[2020-07-20 13:15] #2182 closed

[2020-07-20 13:58] chipsnyder commented on #2455
The endpoint for fetching the block layouts is configured to support localization by including the query parameter `_localize`.

To support that without duplicating the data natively, I think we would violate the goal of "there shouldn't be an excessive amount of time spent on that aspect."

So it seems like we'd want to create the meta-data in the iOS and Android native code and revisit a mechani

[2020-07-20 14:16] guarani commented on #1915
I did a quick test on the 15.3 WP beta for iOS and I can't reproduce this issue anymore (cc @SergioEstevao).

[2020-07-20 14:20] SergioEstevao commented on #1915
Yes, this was resolved in two parts, first, there was a previous PR that checked always if the post was empty or not before publishing, and now with https://github.com/wordpress-mobile/gutenberg-mobile/pull/2393 the Publish button will be disabled until we have a non-empty post.

[2020-07-20 14:20] #1915 closed

[2020-07-20 19:05] guarani commented on #2375
I tested these two issues using WPAndroid 15.2.1:

### Deleting Swiped Word issue
I could reproduce this using the Gboard keyboard. I also noticed it's not an issue on blocks that support line breaks, i.e. those where hitting backspace just merges lines, not blocks (which indicates this isn't the exact same issue as https://github.com/wordpress-mobile/gutenberg-mobile/issues/2373).

### Deleting S

[2020-07-20 19:27] guarani commented on #2372
Can reproduce on WPAndroid 15.2.1 using the Gboard keyboard. The bug isn't present when using the Samsung keyboard.

[2020-07-20 21:35] mchowning opened #2495 "Undo does not work with links that open in a new tab"
**Describe the bug**
On Android only, it is extremely difficult to undo the application of a link that opens in a new tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a paragraph block with some text
2. Highlight a word of the text and add a link to it, **with "Open in new tab" enabled.** (This is important, I do not observe this bug if "Open in new tab" is not enabled).
3. Close

[2020-07-20 22:22] guarani commented on #2204
In https://github.com/wordpress-mobile/gutenberg-mobile/issues/2373#issuecomment-659798095 I learned that Aztec on Android doesn't handle input from Gboard well, especially in relation to Enter and Backspace keyboard events.

I've been able to reproduce this using Gboard, but can't reproduce using the Samsung keyboard.

Here's a summary of my tests:

#### Gutenberg demo app on a Samsung Galaxy S10

[2020-07-20 23:29] guarani commented on #735
Considerations:
1. If the user moves a block **up** beyond the top edge of the screen, automatically scroll the screen down until the top of the block is visible.
2. If user moves a block **down** beyond the bottom edge of the screen, automatically scroll the screen up until the bottom of the block is visible.
3. How do we handle blocks that don't fit on the screen? The visible screen space can be

[2020-07-21 05:12] cameronvoell commented on #729
I believe that the Android steps detailed in comments above are all fixed with the simple AztecAndroid fix of defaulting to `<s>` tag instead of `<del>` tag. I implemented that change in this Aztec PR https://github.com/wordpress-mobile/AztecEditor-Android/pull/919, and it can be tested using the build / branch in this WPAndroid PR - https://github.com/wordpress-mobile/WordPress-Android/pull/12483

[2020-07-21 12:13] SiobhyB opened #2497 "Add Support for Reusable Blocks"
[Reusable blocks](https://en.support.wordpress.com/wordpress-editor/blocks/reusable-block/) allow users to quickly re-use blocks, without needing to remember specific formatting or settings. This can be a great time-saver. Mobile users especially may appreciate being able to quickly select a block that they know is formatted in a way that looks good across devices. Reusable blocks aren't currently

[2020-07-21 14:19] mchowning opened #2498 "Tapping Enter in citations to split block also adds a new line"
**Describe the bug**
On Android only, when tapping enter at the end of a quote or pullquote block citation to split the block, the block is split, but a new empty line is also added to the citation. No new line should be added.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Quote block
2. Add some text to the citation
3. Tap Enter
4. Observe that a new paragraph block has been created

[2020-07-21 15:09] mchowning opened #2499 "Redoing insertion of an image loses subsequent redo history"
**Describe the bug**
When using redo to restore an image in an image block, the subsequent redo history is lost. In other words, any of the changes done after the image was inserted cannot be restored.

**To Reproduce**
Steps to reproduce the behavior:
1. Insert an image block
2. Add an image to the image block
3. Add some text to the post (could be in the caption or in a new block)
4. Tap undo un

[2020-07-21 15:51] pinarol opened #2501 "Slider spacing don't look right"
Slider spacing don't look right initially on some cases. It starts to look normal when I move the Slider button.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Latest Posts block
2. Open block settings
3. Scroll down to 'Number of items'
4. See that the spacing is too tight between the title and the Slider.

**Expected behavior**
The spacing should be corrected.

**Screenshots**
<img sr

[2020-07-21 15:58] pinarol commented on #2501
Also reported here: https://github.com/wordpress-mobile/WordPress-iOS/pull/14474#issuecomment-661102619

[2020-07-21 16:04] pinarol commented on #1749
Closing this since the flow changed completely so this is not a valid task anymore.

[2020-07-21 16:04] #1749 closed

[2020-07-21 16:17] pinarol commented on #1301
I'll close this one for now to keep our board more focused, but we can re-open in the future if we put our focus back to Cross platform components.

[2020-07-21 16:17] #1301 closed

[2020-07-21 17:45] pinarol opened #2502 "Additional starter page layouts for mobile"
Let's add some more layouts for mobile users. By doing this:

- We'll have a safe set of mobile layouts which we have full control on.
- .org users will be able to use them as well and their layout picker won't look that empty after all. :)
- There's always a possibility .com layouts change in a way that doesn't look well on mobile, we may need to hide some .com layouts in the future because of th

[2020-07-21 17:58] guarani commented on #2498
A quick test on WPAndroid 15.2.1 indicates that this happens when using the Gboard keyboard but not when using the Samsung keyboard.

[2020-07-21 18:57] mchowning commented on #2373
I just ran across a scenario where I lose text when I splitting the swiped word "whenever" in a list block, but doing the same thing on a paragraph block does not cause the same problem. 🤔

![list_split_lose_word_comparison mp4](https://user-images.githubusercontent.com/4656348/88095038-7a75de80-cb62-11ea-9e02-2aa3cb99324f.gif)

[2020-07-21 21:13] guarani commented on #2373
Could the bug you're seeing be specific to lists? If so, it could be https://github.com/wordpress-mobile/gutenberg-mobile/issues/2204.

[2020-07-21 21:28] mchowning commented on #2373
You're right. 👍  I forgot that #2204 involved more than just the multiple undo states, but also touched on loss of content with the initial split.

[2020-07-22 02:57] guarani commented on #2091
This is also present on Android, although the behavior is slightly different I think it's the same issue. Also, I noticed that Step 5 from the steps to reproduce can be omitted while still producing the bug.

### Debugging

The bug stems from an extra undo entry being added to undo history in the Redux store right after adding links that set the "Open in new tab option". As an example, suppose a l

[2020-07-22 07:59] #2501 closed

[2020-07-22 08:01] antonis commented on #2126
This is Reopened with https://github.com/WordPress/gutenberg/pull/24109
due to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2501

[2020-07-22 09:23] pinarol commented on #2463
Let's start with Cover > Group > Columns as they are the ones commonly used in layouts with full/wide width

[2020-07-23 09:47] hypest commented on #2091
Hey @guarani, what's the different in Android's case? And, is it possibly related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2495?

[2020-07-24 07:46] #2388 closed

[2020-07-24 08:55] #2491 closed

[2020-07-24 09:49] SergioEstevao opened #2507 "Header with bold and a link in dark mode look bad."
**Describe the bug**

Duplicate of: https://github.com/wordpress-mobile/gutenberg-mobile/issues/1654
<img src="https://user-images.githubusercontent.com/651601/88392852-9c669f80-cdb4-11ea-9283-0bfe550cd355.png" width=400 />

**To Reproduce**
Steps to reproduce the behavior:
Make sure the device is running in dark mode.

1. Open the demo app
2. Add a header block
3. Write some text
4. Apply a link

[2020-07-24 11:37] pinarol commented on #1485
I think the [new bordering logic](https://github.com/WordPress/gutenberg/pull/20769) helped us make this better, so closing this or now.

[2020-07-24 11:37] #1485 closed

[2020-07-24 18:16] mchowning commented on #1458
I cannot reproduce this issue on WPAndroid alpha-234, so closing.

[2020-07-24 18:16] #1458 closed

[2020-07-24 19:59] mchowning commented on #2470
Looks like we forgot to update this PR's milestone. I'll update it to 1.34, which is the next release.

[2020-07-24 20:56] guarani commented on #2470
Whoops, I actually shouldn't have added a milestone to this because it's an issue, not a PR. So removing it now. Sorry for the confusion.

[2020-07-27 13:11] #2364 closed

[2020-07-27 14:22] #1255 closed

[2020-07-27 14:23] pinarol commented on #1298
It seems automation couldn't close this one, I'll do it.

[2020-07-27 14:23] #1298 closed

[2020-07-27 14:25] pinarol commented on #2191
It seems automation couldn't close this one, I'll do it.

[2020-07-27 14:25] #2191 closed

[2020-07-27 15:06] sarahfg opened #2514 "Floating Keyboard Prevents Block Editing"
**The Bug**
When the floating keyboard is activated on an iOS device, by pinching the keyboard in, the Gutenberg block editing bar remains in the middle of the screen. It's not possible to tap on blocks below the editing bar and you can't scroll down to get to them

**To Reproduce**
Steps to reproduce the behavior:
1. Open a post or page editor using the block editor on an iOS device
2. Pinch the

[2020-07-27 22:48] #1654 closed

[2020-07-27 22:48] #2507 closed

[2020-07-28 07:09] antonis commented on #2275
Closed with https://github.com/WordPress/gutenberg/issues/23789, https://github.com/WordPress/gutenberg/issues/23831, https://github.com/WordPress/gutenberg/issues/23868 and https://github.com/WordPress/gutenberg/issues/23877

[2020-07-28 07:09] #2275 closed

[2020-07-28 12:30] enejb opened #2516 "Use the blocks API endpoint to limit the blocks used."
**Is your feature request related to a problem? Please describe.**
Currently we don't have a good way to know if a site has a particular block available.
So we rely on checking if a site has Jetpack active in order to get back the available block data.

**Describe the solution you'd like**
In WordPress 5.5 there is a new endpoint that returns all the site's available blocks.
See https://github.com

[2020-07-28 13:04] pinarol commented on #2343
Closing this one since in favor of [related subtasks](https://github.com/wordpress-mobile/gutenberg-mobile/labels/Page%20Templates).

[2020-07-28 13:04] #2343 closed

[2020-07-28 13:08] pinarol commented on #1899
Closing this since what we have currently is an intended behavior. But I should mention we'll start to support [full/wide width alignment options](Add support for wide/full-width Alignment options) soon which will enable us to support displaying more columns.

[2020-07-28 13:08] #1899 closed

[2020-07-28 14:18] #2126 closed

[2020-07-28 17:40] pinarol commented on #2195
I'll try to list some items that may effect our UX decisions on color support.

1. Colors can be defined on block level as well as on theme level. Themes currently use css&php to inject styles. However, there's an ongoing global styles work and when done, theme authors will be able to define style specs in [theme-json](https://developer.wordpress.org/block-editor/developers/themes/theme-json/). An

[2020-07-29 11:42] pinarol commented on #2195
Here's my thoughts about what we can do on mobile to help layouts and the whole page editing experience work well.

I think we should try not to put the user in a position that they'll need to set the text colors just to be able to see the text in the editor. Because in that case the text colors can loose the ability to adjust well to theme changes. As far as I see from the existing .com layouts t

[2020-07-29 19:34] iamthomasbishop commented on #922
@Guarani Not sure if you're already working on this one or not, but I'd like to get it prioritized relatively high on the priority list if possible and I have some UX suggestions based on the recent work done on bottom sheets (sub-sheets, transitions, etc). Most importantly, this would address a concern we've heard from users that entering longer text strings is frustrating for things like alt tex

[2020-07-29 22:26] guarani commented on #2499
I tried reproducing and this is what I found:
- WordPress app [15.4 beta for Android](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/15.4-rc-1) on physical device: Reproduced
- WordPress app 15.4 beta for iOS on physical device: Reproduced
- Current [Gutenberg mobile demo apps for Android](https://github.com/WordPress/gutenberg/blob/4dc159ef08e97b170fb5ba933e8e142031e1215a/docs

[2020-07-30 17:29] azollafox opened #2524 "Paragraph Block Causing Crash on Android App"
**Describe the bug**
When a specific paragraph block is copy and pasted into a page or post that page or post can no longer be edited in the Android app. It crashes. This same text does not crash the iOS app

**To Reproduce**
1. Open a new page or post on a Simple WordPress.com site
2. Paste in this text to create a new block
[code]
3. Save your draft
4. Try to edit this page or post in the Androi

[2020-07-31 02:08] guarani commented on #922
I like the look of the proposal @iamthomasbishop 👍. I haven't had time to go through it yet, but I will look at it in-depth and get back to you soon.

[2020-07-31 10:31] #2102 closed

[2020-07-31 11:42] hypest commented on #2524
Reproduced and looks like the underling issue is the one also reported in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2472. Good thing is that now we have steps to reproduce, which is good.

[2020-07-31 11:44] hypest commented on #2472
https://github.com/wordpress-mobile/gutenberg-mobile/issues/2524 has steps to reproduce, and also connected to a support thread so, will keep both tickets open. Let's just remember to close both when this gets fixed.

[2020-07-31 15:58] guarani commented on #922
The sub-sheets we already have in Cover and Button block settings do look like they can be used here.

<img width="200" src="https://user-images.githubusercontent.com/1898325/89051209-e229e780-d321-11ea-8bae-5be0d7108e25.gif" alt="iOS bottom sub-sheets">

Sounds good 👍

@iamthomasbishop we would be using the existing fade/dissolve transition used in the Cover and Button blocks, right?

I think thi

[2020-07-31 18:48] designsimply opened #2525 "Feature Request: change block type such as paragraph to heading or quote"
The following feedback was sent in an app review:

<sup>(internal reference: play-store-feedbackid=gp:AOqpTOEW6IqilTJihC7rxUrHs1k4Xa6nHWjwgwyIkqY7IHaplvhf3jD9nW5rOnBmAnQj-DIxIQh5Qrpq9tmDmxvE)</sup>

@SergioEstevao @mchowning do you think we should break this request out per-block so they are easier to work with from a developer perspective?

[2020-07-31 21:00] SergioEstevao commented on #2525
No need to split it out for each block, the transform feature when implemented will be across all blocks.

[2020-07-31 21:01] mchowning commented on #2525
We're currently planning to start work on this at the end of August! 😁

[2020-08-03 16:08] iamthomasbishop commented on #922
Yea, exactly. We've been [experimenting](https://github.com/wordpress-mobile/WordPress-iOS/pull/14474) w/ a "push" transition, but I think we're going to stick with the cross-fade transition because it feels more natural on both platforms.

Awesome 👍

If an expanding sheet is a challenge, one thing we could do is start with a taller cell -- perhaps ~4 or 5 lines tall. Also, we _might_ want a new t

[2020-08-03 16:35] iamthomasbishop commented on #922
@guarani I whipped up a quick example of what I was describing above, with edge-to-edge borders on the text input and ~4 lines tall. I also included the web's input description on the alt text panel, and added a "what is alt text?" link that I thought could link to the same link provided on the web.

<a href="https://user-images.githubusercontent.com/1200432/89205203-f9184600-d57c-11ea-88b5-cd3539

[2020-08-03 18:04] iamthomasbishop opened #2528 "[iOS] Refine spacing of "< Back" button"
**Note: This issue is iOS-only.**

While inspecting some bottom sheet refinements, I noticed that the spacing of the "< Back" button on iOS could be refined slightly to align with the system-default. Here is a visual:

<a href="https://user-images.githubusercontent.com/1200432/89212685-86619780-d589-11ea-9d31-e9167fd24731.png"><img src="https://user-images.githubusercontent.com/1200432/89212685-86

[2020-08-03 20:48] chipsnyder commented on #2419
Reopening as Automation closed this before all tasks were done

[2020-08-04 08:18] GhBsx-png commented on #2413
Is this ok now? Thank you for your help!

[2020-08-04 09:05] pinarol opened #2531 "Add Layout Grid - 1st iteration: Read only version"
What we are aiming on this iteration is rendering the grid correctly on mobile in different content size options but not yet allowing the users to change settings.

There will be a [separate effort](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2516) to decide for which sites we should enable this block on mobile.

@enejb After making an initial investigation please drop a comment ex

[2020-08-04 20:03] mchowning opened #2532 "List of Users Available for Mentions Does Not Refresh"
### Describe the bug
On Android, the list of users available for use in an @-mention is not refreshed after being initially loaded. In other words, the initial list of users appears to never get updated after it is initially downloaded.

### To Reproduce
In the following steps, the same bug can be seen by either performing an @-mention when typing a comment or adding an @-mention inside the gutenb

[2020-08-05 17:45] chipsnyder commented on #2301
Discovered an error as part of the original fix for this. Reverted the original change here (https://github.com/WordPress/gutenberg/pull/24388) and reopening to re investigate.

[2020-08-06 16:39] ceyhun opened #2533 "Misalignment of the empty paragraph block placeholder label on tablet"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the editor to create an empty post

**Expected behavior**
The first empty paragraph block placeholder label should be aligned with the title
If you select the first empty paragraph block it aligns back to the correct place

**Screenshots**
<img width="300" src="https://user-images.githubusercontent.com/1200432/89555415-a7b6c380-d7d5-11ea-8c

[2020-08-06 19:17] iamthomasbishop opened #2534 "Try: Remove (or make transparent) the scrim/backdrop from bottom sheets"
Bottom sheets have served us well, and as we have been working on the latest refinements I'd like to try something that we've talked about a few times going way back to the early days of the project -- either removing the scrim (the backdrop that sits between the bottom sheet surface and the contents of the canvas) or making it transparent.

## Current

The inspiration for the original bottom shee

[2020-08-06 19:43] mchowning commented on #1524
If the rich text view is in the state where the placeholder is not showing, typing the `@` character will not trigger the mentions UI. Instead, you have to tap the backspace key an extra time (so that the placeholder shows up) and then the `@` character will trigger the @-mentions.

Thanks to @designsimply for raising this. :bow:

[2020-08-06 20:46] mchowning opened #2535 "Cursor does not always go to end of inserted mention"
### Describe the bug
On Android only, after inserting a mention, the cursor will sometimes not move to the end of the mention. Instead, it will end up somewhere in the middle of the mention (generally toward the front of the mention).

![mentions_cursor mp4](https://user-images.githubusercontent.com/4656348/89580232-06466680-d803-11ea-9d00-6323586d4fd0.gif)

### To Reproduce
1. Open a new post
2.

[2020-08-06 20:51] iamthomasbishop commented on #2463
Design update: I spent some time last week and earlier this week tinkering with wide/full-width alignments on the web and some other applications. I have a bunch of notes jotted down, but as a summary, I'll share the high-level overview, some digital sketches, static designs, and a Codepen playground I created to get a feel for these alignments on different screen sizes. My notes are mostly focuse

[2020-08-06 22:09] designsimply opened #2537 "Table block"
Add support for the table block.

[2020-08-06 22:10] designsimply commented on #2537
<sup>(internal reference: play-store-reviewid=gp:AOqpTOG04lVkQlJADmXQ4m-Bs082UmaxNEWwaSIIUPNrLUSNW3ZSfRgi9yT8k5NVyKwTlWw1cTA_KXMC0ddGaA)</sup>

[2020-08-07 06:56] geriux commented on #2463
Thank you for the detailed explanation of the different cases @iamthomasbishop!

So far everything looks good, I don't see any issues as of yet but If some come up I'll let you know.

[2020-08-07 10:46] hypest commented on #2534
Do we have some use cases in mind for when such content-scrolling-while-sheet-is-shown would be useful of required?

In case there is some cases, I guess I'd start to think of the sheet as an expanded _toolbar_, not an over-the-content UI per se. Perhaps such an interaction would actually make sense for when we do alter parameters of a block (say, the background color) similar to what we do for bo

[2020-08-07 11:14] #2528 closed

[2020-08-07 11:16] hypest commented on #2533
Tried a WPiOS v14.8 build and the issue is there already, but not there on a 13.9 build. So, this regression happened somewhere between those versions at least. I'll add this to the Release&Maintenance project board.

[2020-08-07 15:10] iamthomasbishop commented on #2534
Good question. I think there are probably more examples than I can think of off the top of my head, but I think we'll quickly understand how much friction exists if we start with a non-scrolling approach.

Currently, there are some situations where sheets obstructs the contents a bit more than we'd like. And we should probably consider (in the medium/long-term) implementing a "smarter" scroll-posi

[2020-08-10 14:24] chipsnyder commented on #2455
This was closed by mistake from a partial PR merge

[2020-08-12 10:15] enejb commented on #2531
The approach I am planning to take is

1. Add block availability data to the editor. So that we can be more confident if a block supports is supported in the editor.
2. Add the https://github.com/Automattic/block-experiments/ to the mobile-gutenberg
3. Register the block behind dev flag
4. Render the block correctly according to UX specs. Develop the block in the sample app, but test the block in

[2020-08-13 02:30] designsimply opened #2545 "List Block: request to be able to add an image into a list"
<sup>(internal reference: play-store-feedbackid=gp:AOqpTOGkEs-OK-6Ed-WO5k_HtJQnpF9uO5MSuDtDCVPAaXb0FI24R3HfRBL9GFjSCU-2Nr-kPZdiEQ6g46LOgmC_)</sup>

Also see https://github.com/WordPress/gutenberg/issues/12919 and https://github.com/WordPress/gutenberg/issues/11215.

[2020-08-13 09:36] #2301 closed

[2020-08-13 11:35] hypest commented on #946
I'd add that if we indeed leave the placeholder be visible (behind the sheet) then we should probably avoid adding it to the undo history. So, in case user cancels the insertion and hits "Undo" afterwards it wouldn't cause the block to re-appear.

While at it though, can we perhaps envision cases where the user would intentionally want to leave the block in its placeholder state? Say, something li

[2020-08-13 12:56] hypest commented on #1890
Hmm, I'm not sure we are planning to introduce the transform feature by attaching it to the InnerBlocks navigation bar. Let's close the ticket if there are no such plans. WDYT @iamthomasbishop?

[2020-08-13 14:38] hypest commented on #1843
The "Clear All Settings" feature [has been removed](https://github.com/WordPress/gutenberg/pull/22267) so, closing this as no longer applying.

[2020-08-13 14:38] #1843 closed

[2020-08-14 08:42] #2389 closed

[2020-08-17 19:49] iamthomasbishop commented on #946
@hypest I agree w/ this. If I exit the insertion mid-flow, it'd essentially clear the block and roll back to right before I tapped to add the block.

There might be a case where the user wants to leave the media clear and come back to it later, especially if we ever allow the user to save a post/page as a custom template/layout, but we might want to think of it from the other side -- we could trea

[2020-08-18 16:03] chipsnyder commented on #2411
Closing this based on @etoledom comment [above](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2411#issuecomment-648281441)

[2020-08-18 16:03] #2411 closed

[2020-08-19 01:06] designsimply commented on #953
I saw a focus loop happen again while I was testing cover blocks in 15.5 beta testing. I caught the last part of it on video and wanted to mention it and to note I tried to replicate and couldn't reliably replicate the problem this time. ([52s](https://cloudup.com/cOI9-rTJBwj))

[2020-08-20 19:48] chipsnyder opened #2563 "[Modal Layout Picker] Design Review Check"
### Is your feature request related to a problem? Please describe.
This task is part of the effort to rework the Starter Page Template Picker for new pages. This part of the initiative will focus on modifying the API call [/wpcom/v2/sites/{site}/block-layouts](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2413) to include the [supported_blocks](https://github.com/wordpress-mobile/gut

[2020-08-20 20:00] chipsnyder commented on #2563
On iOS things that we still need to figure out:

1. Bottom Buttons in Dark Mode
    - In Dark mode, the style of the border on the buttons at the bottom is a bit difficult to see.
    - <details>
        <summary>Example</summary>

        | iOS 13+ | Dark Mode |
        | --- | --- |
        | <img width="300" src="https://user-images.githubusercontent.com/3384451/89220221-2fff5380-d59f-11ea-979c

[2020-08-20 22:23] iamthomasbishop commented on #2531
@pinarol @enej thanks for starting the conversation! I'm excited to be working on this. I have been chipping away at this over the last week or so and in the process of wrapping my head around the block and its capabilities, I ended up exploring well beyond "read-only". With that said, I've got a bunch more notes and mockups to share, but I've condensed in order to focus on what I think we can do

[2020-08-21 07:55] pinarol commented on #2195
This is a tricky effort to split, here's my first approach:

1. Introduce background/text color settings to text based blocks: Paragraph, Header, Quote, PullQuote etc.
    * Add necessary paddings when background color is applied
    * Adapt bordering logic if needed

2. If any needed, introduce color settings to other leaf blocks that don't have inner blocks

Start with container blocks:

3. Grou

[2020-08-21 21:10] iamthomasbishop opened #2566 "Add support for "stack on mobile" to Media & Text block settings, introduce conditional control to force media-first"
There are a couple of things at play here. Firstly, on the mobile editor we don't currently support the web's "stack on mobile" block setting on the Media & Text block, we simply display it (in the mobile editor) as if it were toggled on by default.

Additionally, the web recently introduced [logic that forces the media to be displayed first on mobile](https://github.com/WordPress/gutenberg/pull/2

[2020-08-21 22:00] iamthomasbishop opened #2567 "Increase tap-target of primary action on unsupported blocks"
## Problem

As we've been rolling out the UBE (unsupported block editing) mechanism, we have received feedback that it's not immediately obvious that you can edit _any_ unsupported block using the UBE mechanism.

To be clear, _some level of friction is intentional_ -- we definitely don't want to aggressively encourage users to do this unless they very much need to, because this is our first experi

[2020-08-24 09:51] maxme commented on #2567
I agree, this is tricky. I think that's a good first step and we can see if it has any impact on analytics.

[2020-08-24 13:34] #2192 closed

[2020-08-24 22:32] iamthomasbishop commented on #2563
@chipsnyder Thank you for the updated builds and for making this ticket for easier review. I'm checking out the latest build in the Category bar PR over here and will drop my notes below:

* When I select a single filter while the category bar is collapsed, the scroll-position jumps to the top which shows the full header. Is it possible to maintain the collapsed state on the category bar when this

[2020-08-25 12:44] mchowning commented on #2349
The PR for Android to always save the post when exiting the editor [has been merged](https://github.com/wordpress-mobile/WordPress-Android/pull/12144), so I believe that wraps up all the work associated needed for this.

[2020-08-25 12:44] #2349 closed

[2020-08-25 16:31] maxme opened #2570 "Add a search box to the "Add block" feature (inserter)"
There are a lot of blocks registered and it can be hard to find the right one in the inserter list.

[2020-08-25 16:36] maxme opened #2572 "Add block documentation to the "Add block" feature (inserter)"
Add block documentation to the "Add block" feature (inserter). I'm not sure how we can do that on a small screen without changing the design too much.

This can be useful to discover new blocks:
<img width="684" alt="Screenshot 2020-08-25 at 18 35 13" src="https://user-images.githubusercontent.com/40213/91202219-c556b900-e701-11ea-8d25-115eeae0ebed.png">

[2020-08-25 16:38] maxme opened #2573 "Add categorization to the "Add block" feature (inserter)"
To help block discoverability and visual search, we should add categories to the inserter.

On the web:
<img width="323" alt="Screenshot 2020-08-25 at 18 37 08" src="https://user-images.githubusercontent.com/40213/91202404-0f3f9f00-e702-11ea-90b3-4dacb0f7755d.png">

Related to #2570

[2020-08-25 17:31] iamthomasbishop commented on #2195
@pinarol I still need to catch up on the previous discussion, but this sounds pretty reasonable to me. One suggestion: perhaps we can prioritize the dynamic color mechanism sooner rather than later because in addition to having it for the other items listed here, it's seems rather certain that we'll use it in a variety of places. For example, I can see a case for using this mechanism for block UI

[2020-08-25 18:33] chipsnyder commented on #2563
Hey @iamthomasbishop

Yeah, we can explore this flow. Before I get started on it, let me run a use case by you.
1. Open MLP
1. (Don't scroll vertically) Select a category.

Should the header stay open or should it collapse?

The other case I want to get your thoughts on would be:
1. Open MLP
1. Scroll Down a few sections,
1. Then tap the "Blog"
    - (After the code change this would stay collapse

[2020-08-25 21:16] iamthomasbishop commented on #2563
It should stay in its current state, so in that case it'd stay open.

Agreed, it should stay collapsed (stay in its current state, per previous comment).

I think it might only be happening on first load and it's not super noticeable, just a little stutter here and there if I'm scrolling as the images are loading, and it's less noticeable on iPad -- so it's probably a performance thing that would

[2020-08-25 21:28] chipsnyder commented on #2563
😅 Oops I thought I triggered that build but I just had it open and never hit start.

Sounds good on the other comments. That should be pretty manageable then. I'll get started on that and let you know if I have any other Q's

[2020-08-25 22:00] iamthomasbishop commented on #2563
Ah okay, just got the new build, it's great to see real data in there! I'll keep an eye out for updates that need design review 😄

[2020-08-25 22:54] guarani commented on #2471
@etoledom @marecar3 I've just been testing [the Android implementation of this](https://github.com/WordPress/gutenberg/pull/24476) and wanted to ask a few questions (asking here instead of on the Gutenberg repo since it's Jetpack/Atomic related and applies to both Android and iOS).

Regarding the self-hosted/Jetpack experience:

1. These PRs allow users to use the unsupported block editor by turni

[2020-08-26 02:49] marecar3 commented on #2471
Hey @guarani thanks for testing this one!

Regarding 4. I have changed the color to white and also I have increased a delay in presenting a foreground view so maybe you won't see glitches anymore.

Not sure if we are talking about Atomic sites which are wordpress.com or Atomic sites which are self-hosted but connected through Jetpack on wordpress.com, but what would be the difference then comparin

[2020-08-26 07:31] etoledom commented on #2471
Thanks @Guarani for the review!

This happens because after you successfully load the Gutenberg on the Web View, you already have the necessary auth cookies locally, so Gutenberg will load successfully again. What should happen is that the should be no option to open the Unsupported Block Editor.

@marecar3 - maybe we haven't modify the capabilities for the Atomic case? Is UBE always enabled on At

[2020-08-26 09:23] maxme commented on #2019
It was 3px and I think it was recently changed to be 2px (at least on the gallery block): https://github.com/WordPress/gutenberg/commit/0192d0703ff8b586383988da5403c480cf2bd7a0#diff-01fde8c001e37baf7fd56edeea8e912b

[2020-08-26 13:43] guarani commented on #2471
Thanks for the replies!

Ok, thanks.

I think one difference between Atomic sites and "self-hosted but connected to WordPress.com via Jetpack" sites is that Atomic sites have SSO enabled by default while "self-hosted but connected to WordPress.com via Jetpack" sites have SSO _disabled_ by default.

Thanks for the explanation @etoledom.

[2020-08-26 14:05] maxme opened #2574 "Add Support to create Reusable Blocks"
# Description

On the web version of Gutenberg, a user can pick one or more blocks and create a new "Reusable block" from it.

UI to create a reusable block:
<img width="677" alt="Screenshot 2020-08-26 at 16 01 53" src="https://user-images.githubusercontent.com/40213/91313362-9437c080-e7b5-11ea-9589-ba0ebdf9e768.png">

UI to name it:
<img width="672" alt="Screenshot 2020-08-26 at 16 03 54" src="ht

[2020-08-26 14:12] maxme opened #2575 "Add Support to Insert Existing Reusable Blocks from the Editor"
Add Support to Insert Existing Reusable Blocks from the Editor.
- This requires the editor to fetch reusable block info from and API endpoint: `/wp/v2/sites/{siteId}/blocks/`
- Add new items to the block inserter.
- Inserter button will create a new `core/block` referencing the reusable block id.

<img width="990" alt="Screenshot 2020-08-26 at 16 13 31" src="https://user-images.githubusercontent.c

[2020-08-26 18:43] iamthomasbishop commented on #2019
Ah, okay, that makes sense. 👍

[2020-08-26 20:12] iamthomasbishop commented on #2563
@chipsnyder I'm seeing another issue that I saw during the last round of reviews but I thought was my imagination 😆. When the modal sheet is opening and is loading, it looks like some of the colors (header background and some placeholder items like the category chips and a layout thumbnail placeholder) are a lighter color than desired, resulting in what can feel like a "flicker". Here's what I'm s

[2020-08-27 02:15] guarani commented on #2567
Is this ready to move to the backlog @maxme? It looks like @etoledom has already linked to this on the UBE project issue.

[2020-08-27 07:30] maxme commented on #2567
I moved it to "Scheduled".

[2020-08-27 12:49] chipsnyder commented on #2563
In the fetching live data PR I added a ghost of a single layout and a single category (with filter button) I just failed to check the dark mode setting for that. I'll adjust that and see what we're using for other ghosts in dark mode.

[2020-08-27 14:33] guarani opened #2577 "Persist @-mention data in preparation for offline use"
**Is your feature request related to a problem? Please describe.**
Persist the @-mentions suggestion data to allow for offline use of @-mentions.

**Describe the solution you'd like**
Use a persistence store such as Core Data instead of the current NSCache in-memory store to store @-mention data.

**Describe alternatives you've considered**
Core Data is one option, serializing the @-mention data t

[2020-08-27 15:39] iamthomasbishop commented on #2567
Thanks, y'all! ❤️

[2020-08-27 15:44] iamthomasbishop commented on #2563
Ahh, that makes sense. Thank you!

[2020-08-27 15:57] rachelmcr opened #2579 "Plugins that enhance core blocks (e.g. CoBlocks) can cause error "Problem displaying block" on mobile"
**Describe the bug**

Some plugins, such as CoBlocks, can enhance core blocks (not just add their own blocks) in Gutenberg. This results in a "Problem displaying block" error in mobile Gutenberg, because we don't support all the options added by the plugin even though we support the block itself.

This seems to be unique to the app. Core blocks edited with CoBlocks options can still be viewed and

[2020-08-27 21:06] designsimply commented on #303
Some improvements were made to undo/redo in 15.6. See https://github.com/WordPress/gutenberg/pull/24116. Props @dratwas. 🎉

During beta testing for 15.6, I found that the cursor still moves around unexpectedly as described in this issue. I also didn't experience any content loss as maxme also mentioned above. 👍

In my case, when adding a few sentences to the beginning of a paragraph block then rem

[2020-08-28 17:34] enejb commented on #2531
In order to keep things simple I would skip the device-size contols. I think we should try to solve that on the whole editor vs just the block. There are new controls in Gutenberg itself that allow for writers to preview the blocks on different screen sizes.
I think we should also skip the manipulation of the span and offset values. Mostly since they are also tied to the device-size controls. But

[2020-08-28 19:09] designsimply opened #2583 "Tapping redo very quickly doesn't redo all recent levels"
Steps to reproduce:

1. Open an existing post.
1. Add a new paragraph, add some text, format some of the text with Boulder italics etc, add more text.
1. Tap undo very quickly until all the changes are gone.
1. Tap redo very quickly to try to bring all the changes back.

**Result:** If I undo several levels while editing a paragraph and then try to redo, I cannot redo the same number of levels if

[2020-08-28 19:12] chipsnyder commented on #2436
Reopening as this is still being worked on for Android

[2020-08-28 22:26] iamthomasbishop opened #2584 "[Proposal] [iOS-only] Apply “mock” OS system materials to additional components’ backgrounds"
When we recently implemented the [Compact Notice](https://github.com/wordpress-mobile/gutenberg-mobile/pull/2378#issuecomment-649480290) component that we implemented recently, we used a [third party library](https://github.com/react-native-community/react-native-blur) to emulate the translucent [system background materials](https://developer.apple.com/design/human-interface-guidelines/ios/visual-

[2020-08-29 15:30] designsimply commented on #2495
Duplicate of https://github.com/wordpress-mobile/gutenberg-mobile/issues/1160.

[2020-08-29 15:30] #2495 closed

[2020-08-29 15:30] designsimply commented on #1160
Closed https://github.com/wordpress-mobile/gutenberg-mobile/issues/2495 as a duplicate and adding some additional notes from that issue. /hat tip @mchowning

[2020-08-31 08:34] pinarol opened #2586 "Can we have a separate initial-html.js for non-core blocks?"
**Is your feature request related to a problem? Please describe.**

Currently we have only 1 demo content in [initial-html.js](https://github.com/WordPress/gutenberg/blob/master/packages/react-native-editor/src/initial-html.js) and it lives in the gutenberg repo. The downside is, it contains `jetpack/contact-info`, which is a .com block so actually it should be removed from that file. We'll be add

[2020-08-31 08:44] hypest commented on #2586
👋 @cameronvoell , please have a quick look at this ticket to see if we can easily add a separate example content file or override the one from Gutenberg. Let me know if this looks too complex after the first look. Thanks!

[2020-08-31 10:01] pinarol commented on #2583
@dratwas can you take a look at this one? could this be related with the recent undo level changes?

[2020-08-31 10:18] geriux commented on #2584
All good! I really like how the `Notice` component looks so I'm happy we are planning to add this for more components. 🎉

For the `Notice` component we ended up using `prominent` as the `blurType` we'll need to test if the suggested styling matches correctly.

[2020-08-31 16:18] #1970 closed

[2020-09-01 14:52] cameronvoell commented on #2586
@hypest Yep, will take a look and will let you know if there's any reason it can't be quickly completed. 👍

[2020-09-01 17:24] fluiddot commented on #2575
@iamthomasbishop could you help me with the designs for this issue? Thanks!

[2020-09-02 14:21] dratwas commented on #2583
Hey @pinarol, I did a quick test, and seems like it is not introduced by the recent undo level changes. I will try to find a root cause and solution after the link-picer task

[2020-09-03 03:29] cameronvoell opened #2592 "Toolbar "jumps" away from keyboard when hitting enter on Paragraph Block"
**Describe the bug**
See video: With the cursor in an empty block, tap the return key: notice that the toolbar "jumps" up and then animates down again, while I would expect it to stay put.

First found here: https://github.com/wordpress-mobile/gutenberg-mobile/pull/2588#issuecomment-685085231

**To Reproduce**
Steps to reproduce the behavior:
Hit Enter in paragraph block many times, when the scree

[2020-09-03 03:31] cameronvoell commented on #2592
Issue first discovered in GB-Mobile 1.36.0 Release process, however I verified you can recreate the issue in at least one previous version of the editor (1.35.0 in the WP 15.6 Apps on Android and iOS)

[2020-09-03 12:33] rezzap commented on #2165
We've had a report of something related to this in #3270094-zen with the theme Twenty Sixteen.

At first, I wasn't able to reproduce this with the theme Independent Publisher active nor could @rossanafmenezes on Baskerville. Both were showing the correct color heading in the app editor even if the option wasn't available to edit it. If we tried to edit the header and update the post, the original

[2020-09-03 15:30] pinarol commented on #2195
👍  I moved that upwards in the order of things. We can start tackling it with the first container block(Group) we'll introduce colors to.

[2020-09-03 17:38] iamthomasbishop commented on #2575
@fluiddot Hey there! Apologies for the delay on design direction. I didn't expect to be working on this so soon, but I do already have some notes/sketches/designs from previous explorations, so I should be able to provide something today or tomorrow. I have a _lot_ of ideas for the inserter as a whole that are relevant to this work, but before I go too crazy I have a couple of questions I'd like t

[2020-09-03 19:30] fluiddot commented on #2575
Hello @iamthomasbishop! Thank you very much for the response.

From my understanding of the issue, the scope is limited to only provide an entry point in the inserter to the reusable blocks, so there's no plan yet to add logic for managing them.
My idea is to implement something similar to what we have in the web version:
![Captura de pantalla 2020-09-03 a las 21 26 06](https://user-images.githubu

[2020-09-03 19:38] cameronvoell opened #2593 "Heading Block split and merge adds bold words"
**Describe the bug**

Following [TC005 steps](https://github.com/wordpress-mobile/test-cases/blob/master/test-cases/gutenberg/writing-flow/splitting-merging.md) - Merge multiple blocks: In the test here that involves the Header block, I see some words (randomly) become bold after splitting a Header block.

**To Reproduce**
Steps to reproduce the behavior:

1. Write (or paste) a Heading with a few

[2020-09-03 19:46] cameronvoell commented on #2593
I was not able to reproduce this on the iPhone 11 emulator running iOS 13.7 or my physical iPhone XR running 13.4 The attached video shows it not working in the example app, but I could not reproduce the issue in the WP App either while testing the 1.36.0 release build.

![heading-split-ios](https://user-images.githubusercontent.com/1103838/92159928-0bd3a400-ede3-11ea-9b29-8cb58a653236.gif)

[2020-09-03 19:55] designsimply commented on #2320
That makes sense to me. Closing as a duplicate in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/1888.

[2020-09-03 19:55] #2320 closed

[2020-09-03 19:59] designsimply opened #2594 "Performance: intolerably slow when switching between blocks on an older device"
* 3-star app review Sep 3, 2020 at 11:51 AM
* Device: moto e(5) play (james)
* OS: Android 8.0
* WPAndroid: 15.5.1

There are more similar examples in app reviews. I will try to catalog them here going forward.

<sup>(internal reference: play-store-reviewid=gp:AOqpTOEO1tPe_DcpJzFbufy1ngfBUt1ZL3uNXNd_DZnc3LtV0w4g_oDi2ylpunRVQ6zgXb9IJ7Freb0zhtFjzw)</sup>

[2020-09-03 20:25] designsimply commented on #1888
More info after a follow-up:

* 3-star app review / beta tester feedback Sep 2, 2020 at 5:36 PM
* Galaxy Grand Prime Plus (grandpplte)
* App version 913 (15.6-rc-2)
* OS Android 6.0

<sup>(internal reference: play-store-feedbackid=gp:AOqpTOHmgh49hDw5j4PMQM-0Sf2mZ7yRdMLoDKMBi7UKbjmKo8y3voROqD1Qe4amIIOD6UQLkBOAFx1NLIogz7Ht)</sup>

[2020-09-04 11:20] geriux commented on #2463
I'm reopening this issue to track adding support for the rest of the blocks.

Group, Cover, and Image are done and merged in develop. ✅

[2020-09-04 12:38] maxme commented on #2575
This is right, it's out of the scope of this ticket.

We should lists all these tasks under this epic ticket https://github.com/wordpress-mobile/gutenberg-mobile/issues/2497. I'll create a new ticket about editing existing reusable blocks and a second one for managing them, then add them both to the epic.

This will come with some tweaks to our inserter instead, there is a ticket for that: https:/

[2020-09-04 13:45] maxme opened #2597 "Allow reusable blocks to be edited in the editor"
# Description
Inserted reusable blocks `core/block` should be editable and convertible to regular blocks.

On the web, when clicking on a reusable block a bar on the top ow the block appears and let the user:
- Convert to regular blocks.
- Edit. After clicking on the "Edit" button, the grouped blocks are editable, and a "Save" button appears. The block name is also made editable. See the screensho

[2020-09-04 13:50] maxme opened #2598 "Manage existing reusable blocks"
On the web version, reusable blocks can be managed via `https://wordpress.com/types/wp_block/{site.address.wordpress.com}`. This lets the user create, delete and edit reusable blocks.

<img width="1107" alt="Screenshot 2020-09-04 at 15 47 32" src="https://user-images.githubusercontent.com/40213/92246439-0ac77300-eec6-11ea-8937-0f022775887b.png">

[2020-09-04 19:23] iamthomasbishop commented on #2531
Agreed, especially WRT solving at the editor vs. block level.

I was thinking the same thing -- and it sounds like there may be some upcoming efforts to improve or enhance the core Columns block, so we might as well keep this _super_ simple and iterate in the near future if necessary.

All of that makes sense to me, except I have a question regarding vertical-alignment:

The Layout Grid block does

[2020-09-04 20:42] iamthomasbishop commented on #2575
Ok, thanks for clarifying @maxme @fluiddot 😄 I think this is pretty straight forward then. We can probably utilize our Segmented Control component to separate reusable blocks from standard blocks. I put together 2 quick prototypes of what this would look like -- one with the Segmented Control on the top of the sheet and the other with the control at the bottom.

## Gifs

| **Control on top** | **C

[2020-09-04 20:58] guarani opened #2600 "@-mentions data is shared between users on the same device"
**Describe the bug**

Note: This bug relates to features that may be still in development.

On WPiOS, the @-mentions data is shared between login sessions, even if the sessions are from different users.

**To Reproduce**

You need WordPress.com accounts that have access to the same WordPress.com site.

1. Log in to the WordPress.com app using the first user and navigate to Reader
2. Select the sit

[2020-09-04 21:00] guarani commented on #2600
@mchowning we had some discussion about this, and while it likely affects WPAndroid as well, I think we haven't determined whether this is a bug or not on either platform.

IMO, any data that's fetched via an authenticated request shouldn't be shared between users.

[2020-09-04 21:37] guarani opened #2601 "Determine which types of sites will have @-mentions support"
### Which types of sites will be supported by @-mentions?

#### WP.com sites

On WPiOS, @-mentions doesn't work on WP.com sites with plugins installed (https://github.com/wordpress-mobile/WordPress-iOS/issues/14844) — on WPAndroid, it does work.

I think this is a bug and we will support all WP.com sites (whether or not they have plugins installed).

#### Jetpack connected self-hosted sites

Are s

[2020-09-07 19:45] fluiddot commented on #2575
Really cool design @iamthomasbishop it's very clean, regarding the feedback:

It's tricky to decide this kind of things 😄 , here goes my pros/cons of each:

**Control on top:**

Pros:
- From a structural point of view makes more sense because acts as the header of the content.
- Users expect this kind of navigation between tabs when a segmented control is presented.

Cons:
- The size of the sheet

[2020-09-07 19:50] guarani opened #2602 "Implement x-posting using + trigger character"
**Is your feature request related to a problem? Please describe.**

Implement x-posting in WordPress mobile app for sites that have the O2 plugin installed. The `+` character should trigger a dropdown allowing selection of a site from the list of available sites. This doesn't include the UI to add a x-post via the toolbar menu (which is covered by https://github.com/wordpress-mobile/gutenberg-mobi

[2020-09-08 14:39] etoledom commented on #2579
After some investigation these are my findings:

<p>What happens is that the parser will try to automatically fix any problem with the block syntax, and if it can't, it will show the syntax error.</p>

<p>On this particular case, something interesting happens:</p>

<p>The parser will know how to '<em>fix</em>' the original HTML by wrapping it into an empty <code>p</code> tag:</p>

<pre class="wp-b

[2020-09-08 17:29] Ibrar555 opened #2603 "ATM"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2020-09-08 21:11] mchowning commented on #2603
👋 @Ibrar555 ! Just checking to see if this issue was opened by accident or if you were planning on filling it out?

[2020-09-08 22:02] iamthomasbishop commented on #2575
@fluiddot That's pretty close to my list of pros and cons, and I am also leaning towards top-positioned because while the control does move, this isn't an interaction that should happen super frequently -- or at least not enough that it's going to cause an uproar --  and it is more discoverable than the bottom-positioned alternative.

Agreed that natural probably will feel best because it allows t

[2020-09-09 00:50] illusaen commented on #2166
Hello @iamthomasbishop ! Working on this as my trial project. I've answered some questions and made some changes according to your points as seen in the giphy below; however, I do have some questions still:
* Placeholder color used elsewhere is currently a custom color (not in base-styles) -- should I use that one instead of the `light-gray-placeholder` color in base-styles?
* Are there changes in

[2020-09-09 14:39] mchowning commented on #2600
:wave: @guarani! I agree with you that this appears to be a longstanding bug in the app on both platforms.

I think it makes sense to address this when we switch from using the .com `users/suggest` endpoint to the WP-API v2/users endpoint (p9ugOq-1eI-p2#comment-2462). On Android in particular, any work we put towards fixing this now would just be thrown away when we switch endpoints since Android

[2020-09-09 19:19] fluiddot commented on #2575
Yeah I agree, ok let's go with the "Control on top" option 👍

Good point, I think it's a good idea to start with only the labels and as you commented, overall it's going to be safer do it this way for avoiding potential text cut off issues 👍

For now if you agree I'm not gonna take this into account for this issue but of course, in the future that would be a good solution in case we want to add mo

[2020-09-09 22:04] iamthomasbishop commented on #2575
Most definitely, that's a future project 😄

@fluiddot I think we should be able to utilize the Segmented Control component (RN) as-is, and I don't think we're introducing any new things, but if there's anything that I'm missing from a design perspective (or if you have any questions regarding flow, function, etc.) let me know and I'll be happy to pull that together!

[2020-09-09 22:32] iamthomasbishop commented on #2166
@illusaen 👋 I'll try to answer your questions while I've got a moment, and I can loop back tomorrow if you have additional questions or if something I write doesn't make sense 😆

I'm not 100% sure where `light-gray-placeholder` is coming from, but I am guessing it's one of the color we're getting from the web side. Essentially what I'd like is the placeholder text color on this block to match that

[2020-09-10 00:13] illusaen commented on #2166
Hi @iamthomasbishop, I found a few different places using different placeholder text colors -- at a short glance, `Rich Text`, `Button`, and `Gallery Image`. I'm using `Rich Text` since that seems to be the most widely-used one; please give me a shout if I should be using a different one. `Rich Text` also comes with a dark style for dark mode while the others do not.

I added padding to line heigh

[2020-09-10 08:28] #2436 closed

[2020-09-10 08:29] #2419 closed

[2020-09-10 09:32] maxme commented on #2575
Thank you Thomas for the designs!

I wonder if patterns will replace reusable block some day, so we might not have this problem in the future.

[2020-09-10 14:28] mchowning opened #2609 "Mentions UI does not detect lack of internet connection and displays "Loading..." forever"
**Describe the bug**
On iOS ~~and Android~~, adding a mention from within Gutenberg when both (a) the list of possible mentions has not been previously downloaded and (b) there is no internet connection, results in a perpetual "Loading..." message.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a site where mentions have not been downloaded (i.e. a fresh install of the app guarantees

[2020-09-10 21:25] iamthomasbishop commented on #2166
@illusaen I think the colors are still slightly off. I believe rich text is correct component, but the colors don't look quite right (for example, the "start writing" placeholder is the desired color, which is a different color between light/dark modes. Here's [a visual](https://cloudup.com/cccPkz3P_lQ) in dark mode).

I don't think we need to add padding/height to the single-field blocks, I just

[2020-09-11 12:34] hypest commented on #2603
👋 Thanks for checking with the author @mchowning !

Since in its current state the ticket can be considered as "draft" at best, I will close it as not having enough info/context for now but, @Ibrar555 please feel free to reopen after you add the info required to make the ticket actionable. Thanks!

[2020-09-11 12:34] #2603 closed, assigned to nobody

[2020-09-11 15:02] mchowning commented on #2602
Do you think we should add a separate issue for adding an x-post via the toolbar menu @guarani (or maybe it's already in an issue and I just missed it)?

[2020-09-11 17:18] iamthomasbishop commented on #2575
I think there has been discussion on the core side, but I don't know has come of that discussion. My guess is reusable blocks will stick around in some form, because it is a bit different from standard Patterns — reusable blocks are a clever way of allowing users to group and re-use _any_ arrangement of blocks — almost like "custom"/user-defined patterns. So I think they'll stick around for a whil

[2020-09-11 18:27] guarani opened #2612 "Implement x-posting using x-posting button"
**Is your feature request related to a problem? Please describe.**

Implement UI to add an x-post via the toolbar menu in the Gutenberg mobile editor for sites that have the O2 plugin installed. The UI should be a button that triggers a dropdown allowing selection of a site from the list of available sites.

This is closely related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/260

[2020-09-11 18:29] guarani commented on #2602
That's a good idea, I created one here: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2612

[2020-09-12 04:24] illusaen commented on #2166
* So you're 100% right -- the colors don't match even though I'm using the same variable. Will have to ask around about that.
* I'm not actually using lineHeight since it's being removed in AztecView anyway; I'm adding padding. I added 4px to the address specifically and removed the padding from the other lines; maybe that'll look better :)
* I changed the string from `Contact Info Settings` to `A

[2020-09-12 20:15] iamthomasbishop commented on #1890
@hypest That's correct, no plans to attach transforms to the FloatingToolbar, but it might be worth considering in the future; I can see why one could expect to use that because we don't have transforms in the BlockToolbar (where users of web-GB are used to seeing the function). However, we will probably add transforms to the BlockToolbar in the near future.

What we _are_ likely going to do is sh

[2020-09-14 06:27] #2437 closed

[2020-09-14 14:38] etoledom commented on #2396
Thank you for your report @enejb !

I'm testing it and can't reproduce the error.

Testing on the example project:
- Remove all content.
- Create two blocks.
- Enable VoiceOver.
- Go over the block mover buttons.
- VoiceOver tells the expected words.

Also tested on WPiOS.

Maybe there's something I'm missing?

[2020-09-14 18:47] jd-alexander commented on #2396
Same @etoledom I was not able to reproduce this either. Tested on WPiOS.

[2020-09-14 19:43] jd-alexander commented on #2360
Hi @etoledom I was just looking at this issue right now. So far the ideas I have based on the issue, would be for us to first determine if the device is in accessibility mode. Once that's done we would then disable to the link opening ability of the paragraph block and then utilize a [custom rotor on iOS ](https://developer.apple.com/documentation/uikit/uiaccessibilitycustomrotor) so show the opti

[2020-09-14 19:55] jd-alexander commented on #2092
I can confirm that this issue was resolved.

Tested with Nexus S, Android 11, WP Android 15.7

![Screenshot_1600113253](https://user-images.githubusercontent.com/1509205/93131793-3c94c280-f69a-11ea-934a-de797fb79602.png)

[2020-09-14 19:55] #2092 closed

[2020-09-14 19:59] fluiddot commented on #2575
I've got a question about the behavior when navigating tabs.
The way I implemented it doesn't preserve the previous scroll position of the lists when navigating, this means (as explained better in the GIF) that if you scroll down the block list, navigate to the Reusable blocks tab and go back again to the block list it will start at the top. What do you think?

![menu-test](https://user-images.git

[2020-09-14 20:01] jd-alexander commented on #1656
If we decide to go ahead and implement this functionality there's a [library that does this really well ](https://github.com/junina-de/react-native-haptic-feedback) that we could use as inspiration to provide support for this on iOS and presumably Android as well.

[2020-09-14 20:51] mchowning opened #2615 "Strings from Jetpack are not included in the bundle"
**Describe the bug**
When we run our bundle script we are not including strings from jetpack in the resulting bundle.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm run genstrings`
2. Observe that the strings files (i.e., `bundle/android/strings.xml`) do not contain relevant strings from the jetpack repo: for example, ["Link address to Google Maps"](https://github.com/Automattic/jetpac

[2020-09-14 21:09] iamthomasbishop commented on #2575
@fluiddot I would prefer that we preserve the scroll-position, but I wouldn't necessarily call it a deal-breaker. I think we had a similar discussion when working on the color picker UX where we wanted to preserve scroll position on segment-change, so maybe there's some knowledge to be gained from that implementation.

[2020-09-15 15:36] #2567 closed, assigned to etoledom, marecar3

[2020-09-15 16:09] iamthomasbishop commented on #1656
@jd-alexander That would be great! I don't think it's is a high priority, but when we get a chance to work on it, I think it'd be worth starting with these two interactions:

* When performing a destructive action such as deleting a block
* When long pressing on something shows an actionSheet or similar (note: we don't have this anywhere in the editor, but there has been discussion about showing t

[2020-09-16 07:54] designsimply opened #2620 "Request to add the option to type a forward slash `/` to call up a list of blocks and insert one"
On the web, if you type a forward slash into an empty block it will call up a list of blocks and you can insert a block by typing out it's name or selecting one. Would it be possible to add that option to Gutenberg Mobile?

Chrome on Android|WPAndroid 15.7 beta
---|---
<img src="https://user-images.githubusercontent.com/1119271/93308119-187ed180-f7bf-11ea-8404-3b82197903f4.png" width="270" alt="Sc

[2020-09-16 08:24] designsimply opened #2621 "Slider effects for the content at the end of the post is obscured by the block settings BottomSheet"
Block settings with sliders were updated to reflect changes immediately for 15.7 in https://github.com/wordpress-mobile/gutenberg-mobile/pull/2286. 😍

In beta testing, we received feedback saying the slider effect cannot be seen for the latest blocks in a post because they are usually behind the bottomsheet, and we were wondering if anything could be done about that to help?

![slider-hidden-behin

[2020-09-16 12:23] antonis commented on #2238
I was able to reproduce the reported issue on an [iPhone SE 2020 with iOS 14 ](https://cloudup.com/c5I-Ln80Paf) and an iPhone 11 simulator (iOS 13.6) running WordPress iOS or even [the demo app](https://cloudup.com/cVkSn9NCfLt).

To trigger this behaviour the **+** button should be pressed really fast a lot of times and not with usual user behavior.

I tried the same steps on Android but it only r

[2020-09-16 13:28] lukewalczak opened #2624 "Modal sheet refinement"
**Is your feature request related to a problem? Please describe.**

According to the @iamthomasbishop's [comment](https://github.com/WordPress/gutenberg/pull/23922#issuecomment-692762334), modal sheets can have better UI, similar to iOS.

**Describe the solution you'd like**

According to the mentioned comment:

Examples:

| **Landscape** | **Portrait** |
| --------------- | --------------- |
| <a

[2020-09-16 14:49] etoledom commented on #2360
Hey @jd-alexander !

I do have something to add, not sure if it might be related:
We had problems tapping links on Paragraph blocks before (normal taps, not related to VoiceOver).

You can see t[his that has some information](https://github.com/WordPress/gutenberg/blob/6e379199d64eca47f8c2b9d28a6f40c3ad0c456a/packages/react-native-aztec/ios/RNTAztecView/RCTAztecView.swift#L166).

Basically the UIK

[2020-09-16 15:17] rossanafmenezes opened #2628 "Editor freezing when typing a long post"
The user complained about having some issues when they were working on their iPad and the text on the post was a long text.

### Expected behavior

 I would expect the editor to continue to behave as usual regardless of the size of the post.

### Actual behavior

The editor freezes and then they have problems selecting other blocks.

The behavior was recorded by the user and the video is attached

[2020-09-16 18:05] designsimply commented on #2594
Closed https://github.com/wordpress-mobile/WordPress-Android/issues/12907 as a duplicate.

<sup>(Also see internal reference: p9ugOq-1gR-p2#comment-2565.)</sup>

[2020-09-16 18:05] designsimply commented on #1888
<sup>(Also see internal reference: p9ugOq-1gR-p2#comment-2565.)</sup>

[2020-09-16 18:34] designsimply commented on #2628
Thank you for the report @rossanafmenezes! I think the user description is worth quoting for this case:

<sup>(internal reference: p9ugOq-1gR-p2#comment-2566)</sup>

The glitch they refer to with the jumping from one block to another is being tracked at https://github.com/wordpress-mobile/gutenberg-mobile/issues/953.

[2020-09-16 18:35] designsimply commented on #953
Another focus loop was reported by a user in 3312531-zen running iPad Pro latest gen 12.9” WPiOS 15.6. Examining the video they provided, it looks like it happened after tapping back and forth between a couple paragraph blocks and then tapping the three-dot menu at top right.

<sup>(internal reference: p9ugOq-1gR-p2#comment-2566)</sup>

[2020-09-17 01:41] kyleaparker opened #2631 "Activate the link button at the end of a string"
**Describe the bug**
When part of a sentence is a link, it can be difficult to select and change the link. Right now you have to select the text and then you can edit the link. If all the text is a link it's much easier as it only takes one click. I would expect the link button to highlight even if the cursor is at the end of the string.

**To Reproduce**
Steps to reproduce the behavior:
1. Write

[2020-09-17 01:47] kyleaparker opened #2632 "Pluralize "Choose Image" heading on Gallery Block"
**Describe the bug**
When selecting images for the Gallery Block, the heading on the popup should say "Choose Images" rather than "Choose Image"

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Gallery Block
2. Click on 'Add Media'
3. Notice the heading on the popup menu

**Screenshots**
![IMG_D41AB521A108-1](https://user-images.githubusercontent.com/712873/93409929-17978e00-f8ec-11ea

[2020-09-17 02:09] kyleaparker opened #2633 "Android - Remove press action on sliders"
**Describe the bug**
On Android it's possible to hold and press the sliders which can sometimes prevent you from being able to slide the slider.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the "Columns" block
2. Select any layout
3. Click the columns settings icon
4. Hold and press or tap along the slider

*Note it can be tricky to reproduce sometimes, it takes a few presses

**Expec

[2020-09-17 04:24] cameronvoell commented on #729
This issue is fixed with the change here: https://github.com/wordpress-mobile/AztecEditor-Android/pull/919 which has been merged to Gutenberg Mobile.

I created a separate issue on Gutenberg for the issue that some tags manually added in the HTML editor update the style in the post in a way that cannot be manipulated by the expected toolbar buttons: https://github.com/WordPress/gutenberg/issues/25

[2020-09-17 04:24] #729 closed

[2020-09-17 07:59] pinarol opened #2634 "Social icon options infinitely scrolling"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Add social icons block
2. Tap the inner appender button (+)
3. Scroll down in the BottomSheet
4. See that it is loading the same list of icons over and over again

**Expected behavior**
It shouldn't have duplicated icons.

**Smartphone (please complete the following information):**
 - Device: iPhoneXS
 -

[2020-09-17 08:13] pinarol opened #2635 "Crash when tapped on the only color in the palette"
**Describe the bug**

**To Reproduce**

1. Go to https://pinarspremiumtestsite123443.com/
2. Add a new button, give it a title
3. Go to settings > Background color
4. See that there's only one color in the palette
5. Tap on it
6. See that the app freezes and crashes after some time

**Expected behavior**
No crash

**Screenshots**

<img src="https://user-images.githubusercontent.com/5032900/9343891

[2020-09-17 09:41] rezzap commented on #2594
There seems to be another report of this in 3313671-zen.

They also mention this issue, which might be better reported elsewhere but I'm not sure if we have an open issue for this one which was also mentioned in #12907 (the resizing of the block when typing):

WP Android  15.6
Android device name: Samsung SM-N960F

Logs are in the ticket referenced and I'll be asking some follow up questions for m

[2020-09-17 11:06] #2634 closed, assigned to lukewalczak

[2020-09-17 12:41] antonis opened #2637 "Theme changes (colors) are not applied until you close and reopen the editor"
**Describe the bug**
When you switch theme in the app the theme color palette does not change. This is reproduced both on iOS and Android.
~If you switch site and get back, the theme changes are applied.~
If you close the editor and reopen it, the theme changes are applied.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post/page
1. Add a block that has color palette (e.g. Cover or

[2020-09-17 14:46] chipsnyder commented on #2637
Hey @antonis I have a question on what you're experiencing to make sure I'm seeing the same issue.
If I modify the repo steps to the below steps do you see the same behavior:

1. Create a post/page
1. Add a block that has color palette (e.g. Cover or Buttons)
1. Check the available palette colors
1. Change the theme
1. Create a post/page
1. Add a block that has color palette (e.g. Cover or Buttons

[2020-09-17 14:51] antonis commented on #2637
@chipsnyder I confirm that I see the same behavior with your steps. The second time I open the editor the theme is applied.
Switching site is not necessary but I was biased to believe that a refresh occurs only this way. I updated the issue.

[2020-09-17 15:08] chipsnyder commented on #2637
Awesome thanks @antonis it seems like this might be a case of the update event being lost as part of the bridge call. Now that we've done some work to improve that communication I'll look to see if there is a better API we can use to ensure those payloads go through

[2020-09-17 16:15] chipsnyder commented on #2637
Sharing here what @antonis and I both discovered. It seems the theme is being passed to the JS side successfully and is correct up to where it gets applied to the [settings](https://github.com/WordPress/gutenberg/blob/5ced7f1ab18d6019da01f2cb812697ddde8837b7/packages/editor/src/components/provider/index.native.js#L127). So this looks to be a change on the JS side

[2020-09-17 17:07] marecar3 commented on #2592
This is still reproducible on:
WP Internal: 15.7
iOS 14
iPhone: 10 XS

[2020-09-17 17:09] lukewalczak commented on #2592
Hello @marecar3, could you please test if the issue is reproducible on the [upcoming release version](https://github.com/wordpress-mobile/WordPress-iOS/pull/14894)?

[2020-09-17 18:19] mdrockwell commented on #2594
More info from user referenced in @rezzap's comment above — 3313671-zen

They provided three videos with the following info:

Video 1: https://d.pr/v/LxxShn
Video 2: https://d.pr/v/QYPEmw
Video 3: https://d.pr/v/yvqL8r

[2020-09-17 20:40] marecar3 commented on #2592
Hey @lukewalczak,

I have checked on the latest version and I can't reproduce the issue anymore.

iOS 14
iPhone: 10 XS

[2020-09-17 20:40] #2592 closed, assigned to lukewalczak

[2020-09-17 20:57] mchowning opened #2638 "Pressing backspace after styling all text in paragraph deletes text"
**Describe the bug**
On Android only, the cursor is placed at the beginning of a paragraph block after styling all the text in the block, and pressing backspace at that point will delete all the text in the paragraph.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a paragraph block
2. Type some text in the paragraph block, highlight all the text, and apply (or remove) styling (i.e.,

[2020-09-17 22:23] rossanafmenezes commented on #953
Hi everyone. It sounds like this user is having a similar issue on this app review today.

Device Galaxy Note10+ 5G (d2xq)
App version 915 (15.6)
OS Android 10
User: Vampire Nox

[2020-09-18 08:31] hypest commented on #2638
Issue is present in older editor versions as well. I tried v13.9 (January 2020) and it's there, but I'm sure it must be older anyway.

Looks like it only happens if you leave the caret at the where the "bolding" action puts it after applied (puts it at the start of the enbolden text). If you move the caret before hitting "backspace" the issue doesn't occur.

I think the "Medium" priority is fair f

[2020-09-18 09:31] #2238 closed

[2020-09-18 09:34] maxme commented on #1888
I did a quick check recently on our `startup_time` data and put each entry point in a "bucket".

| Buckets | 0s → 2s | 2s → 5s | 5s → 10s | 10s → 20s | \>20s |
| ------- | ------- | ------- | -------- | --------- | ----- |
| Android | 1.09%   | 30.56%  | 30.44%   | 30.87%    | 7.04% |
| iOS     | 83.60%  | 11.86%  | 2.37%    | 0.26%     | 1.92% |

On iOS, 83% of loading times are faster than 2 sec

[2020-09-18 12:29] koke commented on #1888
That looks pretty bad 😬 I got curious about that distribution and I was wondering if maybe it was better in some phones than others. I looked at September 1-14, removed some outliers, and plotted the 30 most common models:

![startup_time_most_popular](https://user-images.githubusercontent.com/8739/93597086-c30f1400-f9ba-11ea-911e-3c5501965832.png)

There were over 5K different models, so I'm not

[2020-09-18 12:59] hypest commented on #2621
This falls under the general issue of the content/block not scrolling correctly to stay visible when manipulated.

Related tickets:
https://github.com/wordpress-mobile/gutenberg-mobile/issues/427
https://github.com/wordpress-mobile/gutenberg-mobile/issues/1881

[2020-09-18 13:08] hypest commented on #2628
Although it's known that the Android side too has performance issues, I added the "iOS" label to denote that the report here is for iOS.

[2020-09-18 13:15] hypest commented on #2631
It's not always clear what the user would prefer to do while the caret is at the end of the styled text. Same holds for any styling actually (bold/italic) where preferences can bounce between expecting the end to belong to the previous style or not. On the web, the editor is solving this problem by introducing a "mode" where the caret can be either in or out of the style without changing position.

[2020-09-18 14:16] jd-alexander commented on #2632
Hi everyone, I plan to work on this ticket next week. I'll keep you updated on the progress when I begin.

[2020-09-18 20:32] chipsnyder commented on #2637
For the theme showing up with the wrong values, it looks like there might be a timing issue. If the  new theme downloads and calls update before the editor loads then the editor will load with the correct theme then revert back to the wrong values do to the initial theme finally being passed.

[2020-09-20 15:15] ghost commented on #1741
@iamthomasbishop thank you for all the helpful wireframes and information. I had a few clarifying questions if you have time.

Were you hoping to modify the location of the fixed background switch within this work or at a later time? If now, where did you envision it being placed?

When a user taps the edit button, is the intention that the bottom menu for Edit/Replace/Clear Media would slide in a

[2020-09-21 18:08] designsimply commented on #562
We do still get requests for an underline option for text from apps users. I am not sure yet whether it would be helpful to create a new issue to track such requests, so I will leave the latest request here for now.

<sup>4-star review - Sep 18, 2020 at 11:28 PM - Galaxy On Nxt, WPAndroid 15.7-rc-3, Android 7.0</sup>
<sup>(internal reference: play-store-feedbackid=gp:AOqpTOFwoqUWzFnguYgKjf8J7PtrHb

[2020-09-21 18:09] designsimply commented on #1212
This came up in beta tester feedback during the 15.7 release:

<sup>4-star review - Sep 18, 2020 at 11:28 PM - Galaxy On Nxt, WPAndroid 15.7-rc-3, Android 7.0</sup>
<sup>(internal reference: play-store-feedbackid=gp:AOqpTOFwoqUWzFnguYgKjf8J7PtrHbtwz2PdvUIgV_1lrD-OKnxA1b1ZMZt6_sYj9ncV7uZMSlJJ4OaC8x1xG2V6)</sup>

[2020-09-21 21:31] cameronvoell opened #2649 "Missing Gradient Color Defaults after web change"
**Describe the bug**
After this Gutenberg web update, default colors and gradients no longer exist in settings: https://github.com/WordPress/gutenberg/pull/25419

That change introduced a  mobile crash that was fixed here: https://github.com/WordPress/gutenberg/pull/25519.

However, we are now missing default color and Gradient options in Cover and Buttons blocks on Mobile.

**To Reproduce**
Steps

[2020-09-21 22:10] guarani commented on #2649
I understand the fix in https://github.com/WordPress/gutenberg/pull/25519 is only temporary, and we plan on addressing this issue before the next release. I noticed a couple of things just now though, and want to document them for completeness:

1. The color picker is sometimes shown without the Cancel and Apply buttons.

    <details>
    <summary>See screen recording</summary>
    <table><tr><td

[2020-09-21 23:31] enejb commented on #2649
I created a PR that adds back the default colour back in https://github.com/WordPress/gutenberg/pull/25523

I am still seeing on iOS that the default text doesn't show up. I am not sure how to debug this yet.
I am also still seeing the cancel and apply buttons disappearing when using using the custom color settings.

[2020-09-22 09:46] hypest opened #2651 "Failure building the iOS demo app from the command line"
The build fails when trying to build the iOS demo app from the command line.

Steps to reproduce:
1. Do a typical `npm ci` in the gb-mobile root to install the NPM packages from scratch
2. In a second terminal window, run `npm run start:reset` to launch Metro
3. In the first terminal window, do `npm run core ios` to build and launch the iOS demo app in a simulator
4. The build will generally go a

[2020-09-22 13:15] antonis commented on #2563
Hello @iamthomasbishop 👋 ,
Apologies for the [delayed reply on your design review](https://github.com/wordpress-mobile/WordPress-Android/pull/12564#issuecomment-682221126). I'll move this thread here to have a central point of reference on the Android design feedback.

You can download the latest build from [here](https://73776-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-12943-build-7

[2020-09-22 14:18] mchowning opened #2653 "Run Android Lint in Gutenberg Repo"
### Summary

I would like us to start running Android lint checks in the Gutenberg PR checks.

### Problem

Currently, we do not run Android lint checks in the Gutenberg repository. WPAndroid, however, does [run lint on all the Android code in the build](https://github.com/wordpress-mobile/WordPress-Android/blob/0ff14b14245d673116232e3045997ee0f859c488/.circleci/config.yml#L172), which includes th

[2020-09-22 14:21] guarani commented on #2651
FWIW the current workaround is to run `bundle exec pod install` in the `packages/react-native-editor/ios` folder, then open the project (`packages/react-native-editor/ios/gutenberg.xcworkspace`) from Xcode 12, and run it from there.

[2020-09-22 19:02] fluiddot commented on #2575
Ok sorry but for now I'm going to keep it without preserving the scroll-position however it would be a good improvement for a second iteration.

[2020-09-22 22:35] iamthomasbishop commented on #2563
@antonis thanks for the update, this is looking really solid.

Sounds good 👍

Transition looks nice, thank you!

This should be fine. 20sp is correct, my eyes must have been playing tricks on me 😀

As I was going through the latest build, I also jotted down a few notes:

* Can we change the background color of the StatusBar (when the sheet is fully open) to white? (Or, alternatively, a very weak g

[2020-09-23 03:43] kyleaparker opened #2656 "[WIP] Design Audit - September 2020"
It's time for another round of audit on the current state of Mobile Gutenberg!

Note: there were still some things from the last two design audits that haven't been addressed (https://github.com/wordpress-mobile/gutenberg-mobile/issues/1671) (https://github.com/wordpress-mobile/gutenberg-mobile/issues/1163), I will be closing those issues and moving everything over to this updated issue.

Note: th

[2020-09-23 03:44] kyleaparker commented on #1163
Closing in favour of https://github.com/wordpress-mobile/gutenberg-mobile/issues/2656

[2020-09-23 03:44] #1163 closed

[2020-09-23 03:45] kyleaparker commented on #1671
Closing in favour of https://github.com/wordpress-mobile/gutenberg-mobile/issues/2656

[2020-09-23 03:45] #1671 closed

[2020-09-23 04:11] kyleaparker opened #2657 "Button settings hidden when block first added"
**Describe the bug**
When adding a button block, the block isn't wide enough to display the settings button.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new page or post
2. Add the **Buttons** block
3. Start typing the button label
4. Notice the settings button eventually appears

**Expected behavior**
I would expect the settings button to always be visible

**Screenshots**

<im

[2020-09-23 08:28] #2194 closed

[2020-09-23 11:48] rezzap commented on #2055
I've had another report of this but not just within the caption, it also happens when you're editing a normal paragraph block. Is this intended behaviour @hypest ?

3337811-zen

I was able to replicate this on:

iPhone X, iOS 13.7, Version 15.7

[2020-09-23 12:54] hypest commented on #2055
Thanks for the additional report @rezzap !

I don't think it's intended behavior, and there was at least one ["similar" Aztec-iOS issue](https://github.com/wordpress-mobile/AztecEditor-iOS/issues/749) in the past.

When you get the chance @etoledom , can you check with Aztec to see what might be going on? Thanks!

[2020-09-23 14:51] antonis commented on #2563
Hello @iamthomasbishop 👋 ,

Thank you for the prompt review. I really appreciate it 🙇

You can download the latest build from [here](https://73927-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-12943-build-73927.apk).

I'll try to cover this along the the rounded corners bottom sheet implementation

Fixed

Fixed

Fixed

Fixed

[2020-09-23 17:17] enejb commented on #2396
I just retested this and it seems to work as expected now.
I am going to close this issue.

[2020-09-23 17:17] #2396 closed

[2020-09-23 17:38] fluiddot opened #2661 "Unbounded queries"
**Is your feature request related to a problem? Please describe.**
Requests using `per_page=-1` query parameter (**Unbounded queries**) are not supported on mobile, all requests of this type now fail. If we want to fetch all the items of a resource in the future we would need to support them.

I spotted this problem when working on [adding support for Reusable blocks to the inserter menu](https://

[2020-09-23 20:04] #1524 closed

[2020-09-23 20:04] #1663 closed

[2020-09-23 20:57] antonis commented on #2563
Hello @iamthomasbishop 👋 ,

regarding the StatusBar color it seems hard to set it only in expanded state. Actually the StatusBar color is already white and the BottomSheet has a dim background. If I remove this background I get the white bar color but I loose the background dim completely (only a top shadow is left). Wdyt of this option?

You can find a [build for testing here](https://73940-93065

[2020-09-23 23:45] iamthomasbishop commented on #2563
@antonis I like that a lot, it looks and feels natural. I think we can probably also remove the rounded corners as well because there can be a moment when the sheet is just shy of fully expanded, where the shadow shines through the gap around the corners ([screenshot](https://cloudup.com/czaiyg2UjqA)).

I was also inspecting the header area a bit more closely because something felt off to me, and

[2020-09-24 02:16] iamthomasbishop commented on #2575
That's fine, we can save that refinement for an iteration. Would you mind creating a separate ticket for that just so we have it documented?

[2020-09-24 13:13] mchowning commented on #2609
Reopening because this has been addressed on Android, but I believe it is still an issue on iOS.

[2020-09-24 13:52] antonis commented on #2563
Hello @iamthomasbishop 👋 ,

Thank you once more for the feedback 🙇

You can download the latest build from [here ⬇️ ](https://74072-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-12943-build-74072.apk)

<details>
<summary>Fixed</summary>
<img width="360" src="https://user-images.githubusercontent.com/304044/94151319-ee927280-fe82-11ea-9816-e93f234210ab.png" />
</details>

Fixed

Fixed

<

[2020-09-24 14:42] iamthomasbishop commented on #2563
@antonis This is looking fantastic. I have a couple of tiny tiny requests, and forgive me for being a perfectionist here but we're _so close_ we might as well 🤷 😆

* The spacing between the top bar and big headline is ever so slightly larger than I'd like (I think in my last comment I proposed `20dp`, whereas in the latest build it's `26dp`). Rather than going down to the `20dp` that I requested p

[2020-09-24 15:57] #2649 closed, assigned to nobody

[2020-09-24 18:06] #918 closed

[2020-09-24 18:44] antonis commented on #2563
Hello @iamthomasbishop 👋

Thanks again for your detailed feedback and your patience :)
I hope I got it right this time 🤞

I must be blind. This was even in my screenshots and didn't see it 🙈

The new build can be downloaded from [here ⬇️ ](https://74096-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-12943-build-74096.apk)

<details>
<summary>Screenshot with keylines</summary>
<img width=

[2020-09-25 01:14] kyleaparker commented on #2631
Just noticed we already had an issue for this: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2054. I'll close this one in favour of the existing issue.

[2020-09-25 01:14] #2631 closed, assigned to nobody

[2020-09-25 01:24] kyleaparker opened #2667 "[Android] Align slider with the content on the left"
Sliders on Android aren't aligned with the content on the left. Ideally we can line the slider up with the left of the text:

<img width="453" alt="Screenshot_20200914-232738 png+%2810802160%29+2020-09-23+15-40-21" src="https://user-images.githubusercontent.com/712873/94215861-f2c99900-ff31-11ea-80d1-5b2ac5be3d82.png">

[2020-09-25 01:47] kyleaparker opened #2668 "Use a consistent size image selector on image and gallery blocks"
**Is your feature request related to a problem? Please describe.**
There are two blocks in the editor where you can change the image size, the image block and the gallery block. We are using a different design pattern on each of these blocks when changing the image size.

1. On the image block you tap through the sizes until you find the one you want

![ezgif com-video-to-gif (2)](https://user-ima

[2020-09-25 01:58] iamthomasbishop commented on #2668
@kyleaparker thanks for raising this! We should probably use the Sheet here (which uses native ActionSheet on iOS, RN-based BottomSheet on Android).

I think the Cycle control is also being used in an additional place or two — probably on some block settings sheets, but I can't think of where off the top of my head 🤔

[2020-09-25 02:21] kyleaparker opened #2669 "Localization of "color" in the color settings"
**Describe the bug**
I'm seeing different spellings of the word "Color" depending on my language settings:

<img width="931" alt="Untitled 2020-09-25 14-16-45" src="https://user-images.githubusercontent.com/712873/94219037-f19c6a00-ff39-11ea-81bd-9a5e07f66515.png">

**Expected behavior**
Australia, UK, and Canada English should all use "Colour"

**Smartphone (please complete the following informat

[2020-09-25 06:17] #2651 closed, assigned to nobody

[2020-09-25 16:56] #2635 closed, assigned to antonis

[2020-09-25 16:56] #2443 closed

[2020-09-26 07:05] tarunvijwani commented on #2594
Another report:  3332233-zen

[2020-09-28 19:08] iamthomasbishop commented on #1741
@shadow351 Apologies for the delay 👋

I think if we can bring it into a consolidated media section as shown above (in [this sketch](https://user-images.githubusercontent.com/1200432/87627211-cd2f4080-c6f3-11ea-89f6-8cc6dd04b6c6.jpeg) in particular), that would be ideal.

I believe so. And FYI that media-edit button didn't exist on the Cover block when I created those sketches — we just recently ad

[2020-09-29 01:20] dcalhoun commented on #1741
@iamthomasbishop thanks!

Ah, OK. Thanks for clarifying.

Sounds good.

Yeah, I believe that approach will work well. I'll give the `+` icon plus a programmatically drawn circle a try.

[2020-09-29 20:20] chipsnyder opened #2680 "Unsupported Block Tool tip display"
**Describe the bug**
Selecting an unsupported block doesn't show the dialog prompt until after rotating the device or tapping to see the tooltip again. These could be separate issues however I feel like they are all related. If needed I can separate them out.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a post with an unsupported block
1. Select the Question mark help icon

**Expecte

[2020-09-29 20:44] chipsnyder opened #2681 "Rotating the device after editing causes the editor to crash"
**Describe the bug**
Rotating the device after editing a field in the editor causes the editor to crash

**To Reproduce**

1. Create a new Post or Page
1. Make an edit like typing into a paragraph block
1. Rotate the device
💥 (might need to rotate couple times)

**Expected behavior**
The editor should adjust to landscape mode.

**Screenshots**

<kbd>
<img src="https://user-images.githubusercontent

[2020-09-30 08:00] lukewalczak opened #2682 "Crash on scrolling colors on cover placeholder"
**Describe the bug**

Crash within the cover block when trying to scroll the color palette on the cover placeholder.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a post
2. Add `Cover` block
3. Try to scroll the color palette on the placeholder
4. Observe the crash
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2020-09-30 08:01] cameronvoell commented on #2681
In the Android log I'm seeing the following crash:
[code]

Using `git bisect`, I believe I narrowed down that this bug was introduced in this change: https://github.com/wordpress-mobile/gutenberg-mobile/pull/2484

@lukewalczak Could you take a look since you were working on that change last? I also added how I narrowed down to that PR below. Also, I used WPAndroid commit c93ffc4d219aa6c2a6006d0697

[2020-09-30 08:14] cameronvoell commented on #2681
Also worth noting I did verify that the bug is not existing in the previous editor release we sent to WPAndroid app - https://github.com/wordpress-mobile/WordPress-Android/pull/12993

[2020-09-30 10:55] hypest commented on #2681
Looks like the paragraph block needs to be focused with the caret inside) for the crash to happen. Doesn't happen for me if, say, an image block is focused regardless if I have introduced text changes to a paragraph block.

Also, doesn't seem to happen to the gb-mobile demo app.

[2020-09-30 13:44] lukewalczak commented on #2681
After debugging we discovered that the crash is caused because of missing/ not passed `onClose` to `BottomSheet` within the `ModalLinkUI`. The regression was [introduced](https://github.com/WordPress/gutenberg/pull/23922/files#diff-98dbdad3726f95887e926868d17b1426L154) as a part of `LinkPicker` feature. I was only responsible for merging the PR (plus small final changes), and have no more context

[2020-09-30 16:37] #2681 closed, assigned to cameronvoell

[2020-09-30 16:59] #2682 closed, assigned to antonis

[2020-09-30 20:45] ghost commented on #1741
@iamthomasbishop thanks!

Ah, OK. Thanks for clarifying.

Sounds good.

Yeah, I believe that approach will work well. I'll give the `+` icon plus a programmatically drawn circle a try.

[2020-10-01 08:09] #2632 closed, assigned to jd-alexander

[2020-10-01 15:50] illusaen opened #2685 "Top Bar Too Small on Android"
**Describe the bug**
Top bar on Android seems to be too small on my system, causing the black info block to be cut into by the notch.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Pixel 3 XL emulator with Android 9 (Pie, API 28)
2. Add block

**Expected behavior**
Should extend top bar to the bottom of the notch.

**Screenshots**
![topBarIssue](https://user-images.githubusercontent.com

[2020-10-01 16:41] chipsnyder commented on #2563
Hey @iamthomasbishop, I put together a [PR build](https://github.com/wordpress-mobile/WordPress-iOS/pull/14994#issuecomment-698969991) for you to test out with updates to the design items. I included everything I fixed in the description and I think the tasks for caching data took care of some of the laggy-ness you mentioned. I'd like to use that to address any lingering design items you have so f

[2020-10-01 19:12] chipsnyder commented on #2454
When getting ready to work on this I noticed a couple of things and I wanted to capture the conversation I had with myself 😄so others could comment on the answers to the self questions I posed.

Today we [track](https://github.com/wordpress-mobile/WordPress-iOS/blob/2a189fe4035dd1f1ee873652775e70b59857314e/WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift#L750-L755) start time

[2020-10-02 07:53] koke commented on #2454
I think your approach sounds fine. Editor sessions were meant to capture the flow from when the editor opens until its closed, so it makes sense to add templates there. The only comment is that `_editor_session_template_prompt` might not be strictly necessary if this is used for all new pages, since you could infer that the template picker was shown in all `post_type=page`/`content_type=new` sessi

[2020-10-02 08:40] pinarol commented on #2454
Sorry not sure I understood the question right. Does that mean firing editor_session_start before the editor opens, let's say when the layout selector is displayed? If so, it doesn't sound right to me. Same way, I think we shouldn't fire editor_session_end when user dismisses the layout selector. According to the new flow the editor isn't open yet.

But we should pass the selected layout id to the

[2020-10-02 10:19] etoledom commented on #2685
I haven't been able to reproduce this, but I saw it happening on the gif from this PR: https://github.com/WordPress/gutenberg/pull/25658

[2020-10-02 10:40] #2657 closed, assigned to jd-alexander

[2020-10-02 10:46] Tug commented on #2685
@etoledom Could this piece of code be related https://github.com/WordPress/gutenberg/pull/20238/files#diff-f2a9744b0d8b570033a66a2f59c56610R115 ?

CCing @lukewalczak since he's touched that code last

[2020-10-02 10:52] lukewalczak commented on #2685
I will investigate that.

[2020-10-02 11:05] lukewalczak commented on #2685
At first glance, I think it's reproducible only on the demo app _(on your screenshots/gifs there is no navigation bar with back button, username and publish/update button)_. Are you able to reproduce it on the production app?

[2020-10-02 11:35] etoledom commented on #2685
I have only seen it on the demo app so far. I agree that, at first sight, this seems like it shouldn't happen on WPAndroid.

Makes sense. Visually, it l looks like that the system's Status bar is smaller than expected. Might that by an Android bug?
Or is it expected that the status bar won't always fully cover the phone's notch?

[2020-10-02 14:21] chipsnyder commented on #2454
My initial thought was to have the `editor_session_start` event fire once the editor actually started to load so you would get events like:

`_editor_session_template_preview` then `_editor_session_template_apply` then `editor_session_start`

This sounds good to me.

Based on this and chatting with @koke a bit more it sounds like not associating these events to the editor session would be the way

[2020-10-02 14:47] lukewalczak commented on #2685
Cannot agree at this point, please notice that mentioned file/changes are related to setting `maxHeight` in `BottomSheet`

[2020-10-02 17:22] etoledom commented on #2685
Oh that's right! I completely didn't notice that important bit of info 👍

[2020-10-02 21:17] cameronvoell opened #2687 "Incorrect message after updating a published post"
**Describe the bug**
When updating a published post from the editor we get a message from the lower screen saying "Post published" when it should say "Post updated".

**To Reproduce**
Steps to reproduce the behavior:
1. Open up a previously published post in the editor.
2. Make an edit, and click update.
3. Notice the message says "Post published"

**Expected behavior**
A clear and concise descrip

[2020-10-02 21:32] guarani commented on #2667
Approved via https://github.com/WordPress/gutenberg/pull/25660#pullrequestreview-501459256.

[2020-10-05 01:22] designsimply commented on #2132
@ashiagr I'd like to close this even though the PR you submitted upstream at https://github.com/Yalantis/uCrop/pull/651 hasn't shipped because the work on our side looks done. What's your feeling about that? Okay to close? Is there anything that can be done to check back in on the open PR in the mean time?

[2020-10-05 01:59] ghost commented on #1741
@iamthomasbishop the "Fixed background" switch is not currently available in the mobile app. Adding this switch to the mobile app is obviously included in the scope of this work, as you have clearly outlined.

That said, I noticed that if one enables "Fixed background" via the web interface today, it does not cause the Cover Block media to render with a parallax effect in the mobile app. **Is the

[2020-10-05 10:17] etoledom commented on #2480
This would fall in the Atomic/Jetpack category. And no, they can't remove Gutenberg completely, but they can install the Classic plugin and have it as the default

Currently WPCom simple sites can't have Classic editor any longer.

[2020-10-05 10:18] etoledom commented on #2480
Renamed to mention `Jetpack/Atomic` sites, since WPCom simple sites can't use Classic editor anymore.

[2020-10-05 10:23] etoledom commented on #2471
Closed via https://github.com/wordpress-mobile/gutenberg-mobile/pull/2542 and https://github.com/wordpress-mobile/gutenberg-mobile/pull/2610

[2020-10-05 10:23] #2471 closed

[2020-10-05 11:51] lukewalczak commented on #2685
I'm not able to reproduce it even on the demo app. Do I have to cover some specific steps?

[2020-10-05 17:18] fluiddot opened #2689 "Preserve the scroll-position on inserter menu tabs"
**Describe the bug**
Inserter menu tabs should preserve scroll-position when switching them.

**This bug is not yet introduced since the changes are still in this [PR](https://github.com/WordPress/gutenberg/pull/25383).**

**To Reproduce**
1. Create a post in the web version
1. Add some blocks and create a Reusable block
1. Open the app
1. Create a new post or Edit a post
1. Tap on the + icon to p

[2020-10-05 17:19] fluiddot commented on #2575
Sorry for the delay, I've just created an [issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2689) related to this.

[2020-10-05 18:43] fluiddot commented on #2575
**Here I'm resuming my work so far in this issue:**

## Split the issue in 2 parts
First of all, I decided to split this issue into 2 parts, the first part adds support for Reusable blocks and the second one adds Reusable blocks to the inserter menu. I did it this way because I wanted to keep the PRs as small as possible as well as I didn't want to mix both changes.

The first part to be honest wa

[2020-10-05 22:18] iamthomasbishop commented on #2563
@chipsnyder Thanks for the updated build! This is looking pretty sharp. The surface colors and transitions look solid, and I’m not seeing any issues with scrolling or selections. The only thing that feels off to me is the transitions on the buttons in the footer toolbar when selecting/deselecting layouts. Here’s [a video](https://cloudup.com/irXAmMyDQRI) of what I’m referring to. Is there any way

[2020-10-06 00:37] chipsnyder commented on #2563
Thanks @iamthomasbishop!

Yeah that shouldn't be a problem.

[2020-10-06 02:02] ghost commented on #1741
@iamthomasbishop another question regarding [this image](https://user-images.githubusercontent.com/1200432/87627155-affa7200-c6f3-11ea-8a11-3ce91faf9707.jpeg). **Did you intend for us to implement a tooltip to display "Drag to adjust focal point" above the focal point drag handler or was that merely guidance on how the UI should function?** If the former, when should the tool tip display and when

[2020-10-06 23:00] designsimply opened #2692 "Unsupported Block Editor: cannot save changes on WordPress.com Simple sites"
Steps to reproduce:

1. On the web, add any block not yet supported in Gutenberg Mobile (i.e. Business Hours, Contact Form, YouTube Embed).
1. Save or publish changes.
1. On the app, open the post created in step 1.
1. Tap the unsupported block.
1. Tap the unsupported block again.
1. Tap the "Edit using web editor" option.
1. Try making any change to the block.
1. Tap the checkmark button at top r

[2020-10-06 23:31] chipsnyder commented on #2563
@iamthomasbishop The design review PR is updated with that fade change now.

[2020-10-06 23:47] cameronvoell opened #2693 "Bundle changes on WPAndroid build: Remove Unused .json files from bundle directory and add to .gitignore"
**Is your feature request related to a problem? Please describe.**
Git is showing changes to bundle json files after WPAndroid build, and the files dont appear to be used anywhere.

**Describe the solution you'd like**
If the files are not needed to be under source control we should remove them and add to .gitignore

**Pictures**
<img width="891" alt="Screenshot 2020-05-25 at 16 51 32" src="https:

[2020-10-07 01:22] marecar3 commented on #2692
Hey @designsimply 👋
Thanks for the feedback!

I have double-checked on Android application and it's working as expected.

I think that you are missing one extra step. After the check-box is clicked you would need to click on the Update button in the top right corner in order to send data to the remote server.

Here you can find steps for testing: https://github.com/wordpress-mobile/gutenberg-mobil

[2020-10-07 05:09] ashiagr commented on #2132
@designsimply I'd preferably like to keep it open else will lose track of it. I can also target forked branch if everyone agrees.

cc @malinajirka

[2020-10-07 06:46] designsimply commented on #2692
Strange. I checked it from different accounts with different sites and different blocks in different posts using the testing steps you linked and could not get changes to save. In my case, the block editor closes after making changes in the unsupported block editor then tapping the check mark at top right and I am never presented with a Continue button. ([2m52s](https://cloudup.com/cRNTKIate9E))

[2020-10-07 07:16] malinajirka commented on #2132
I'm not sure what's our stand on targeting forked repos. It feels like we should at least fork it with a WordPress account (fork your repo so you don't lose the contribution). Wdyt @aforcier ?

[2020-10-07 10:08] etoledom commented on #2692
Watching the video, I do agree with @designsimply that it looks like the editor itself is crashing.
We should definitely look into this, I'll do some tests on my own and report back.

[2020-10-07 10:09] hypest commented on #2692
The app is not expected to land on the posts list after committing the Unsupported Block Editor (the "checkmark" button on the top right) and I'm reproducing it on the current Beta (v15.9-rc-1). Looking at logcat there's a crash:
[code]

[2020-10-07 10:16] etoledom commented on #2692
I see the same behaviour testing the beta version 15.9-rc-1 from the Play Store on Android

[2020-10-07 14:10] #2446 closed

[2020-10-07 21:33] designsimply opened #2695 "Unsupported Block Editor: cannot view or interact with the classic block on Jetpack sites"
Steps to reproduce:

1. On the web, create a post with a classic block on a Jetpack site (note: I used Jetpack 9.0.1 WordPress 5.5.1 in this test).
1. Save or publish the post.
1. In the app, open the post from the previous step in the block editor.
1. Tap on the classic block.
1. Tap on the classic block again.
1. Select the option to "Edit using the web editor."
1. Observe whether or not you are

[2020-10-07 22:32] designsimply commented on #2695
@marecar3 as requested via Slack, I've sent you the patient-dwarf.jurassic.ninja and testuser0313 WP.com account login credentials for testing purposes. 👍

[2020-10-08 08:52] antonis commented on #2563
Hello @iamthomasbishop 👋 ,

You can find one more Android build [here ⬇️ ](https://75630-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-13077-build-75630.apk)

This is still under review code-wise, but I thought it would be good to have an early look since it adds the Preview screen. This is based on the Editor screen removing the top toolbar buttons and adding the bottom toolbar.
Regard

[2020-10-08 17:11] Tug opened #2699 "[iOS][Accessibility] Cover Block: Fix selecting background image with VoiceOver on"
When first adding a Cover block and selecting it, it takes you into adding a paragraph block rather than giving you the option to add an image immediately as the block does when Voice Over is off. Here’s a video of the issue:

https://d.pr/v/jllfUq

If you try to work around the issue with the Cover block directing you to add a paragraph block inside the cover block (instead of an image) using the

[2020-10-09 01:41] guarani commented on #2600
This issue will be fixed on WPiOS if https://github.com/wordpress-mobile/WordPress-iOS/pull/14743/commits/2c343d7e4c10bde8b51947d6af146fae7812c7f4 is merged, since @-mention suggestions will be deleted when sites are deleted from Core Data, which happens when the user logs out.

[2020-10-09 04:10] iamthomasbishop commented on #1741
@shadow351 Great question. For the purposes of this iteration, I think we can focus on enabling support for the control. I think this is a safe bet because it matches the behavior of the mobile web editor, where you can toggle to control but the background position is static when scrolling inside the editor.

I was hoping that we could display a tooltip, if it's not too much of a hassle. In this c

[2020-10-09 07:17] geriux commented on #1741
Of course, so @shadow351 we have a very simple `Tooltip` [component](https://github.com/WordPress/gutenberg/blob/master/packages/block-editor/src/components/page-template-picker/tooltip/index.native.js) that was created for the templates selector, you can check it by using the WordPress app then going to Pages > Add a new one, you'll see at the bottom a tooltip (that will only be shown once FYI).

[2020-10-09 07:17] antonis opened #2701 "[Android] Gutenberg changes a posts content without informing the UI"
**Describe the bug**
In some cases `Gutenberg` seems to change a posts content without informing the UI. This causes an `WordPress-Android` crash only on **DEBUG** mode with a log message `Post had changes that needed to be saved when exiting the editor, and there was NOT an autosave pending. This means that the editor's autosave mechanism failed.` indicating that the autosave mechanism failed.

*

[2020-10-09 12:21] hypest commented on #2692
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13076

[2020-10-09 12:21] #2692 closed, assigned to marecar3

[2020-10-09 14:11] antonis commented on #2563
Hello @iamthomasbishop 👋

You can find one more build [here ⬇️ ](https://76166-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-13085-build-76166.apk)

This includes the [toast messages](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2453) I mentioned above.
Though this is still under review the only think missing is the [caching mechanism](https://github.com/wordpress-mobile/

[2020-10-09 15:44] chipsnyder opened #2702 "In DEV mode the initial_html content overwrites post content"
## Describe the bug
When running Gutenberg-Mobile with the metro server the `initial_html` content overwrites the data from the app.

## To Reproduce
### Existing Content
1. Start a metro server using the command `npm start`
1. In WPiOS or WPAndroid open the app
1. Open an existing Page/Post
**Notice** the `initial_html` content has replaced the body of the page/post
**Expected behavior** the cont

[2020-10-09 15:48] mchowning commented on #2702
I wonder if this might be related to https://github.com/wordpress-mobile/gutenberg-mobile/pull/2690. cc: @guarani

[2020-10-09 16:00] chipsnyder commented on #2702
Yeah, I think that's the root cause. I just need to build the demo app to make sure that works as expected still but the fix I have in place is

[code]

[2020-10-09 19:06] mchowning opened #2704 "Unsupported Block Editor: Changing the Orientation Displays Unsupported Block Pop-Up"
**Describe the bug**
On Android only, rotating the device so the orientation changes to landscape causes the UBE pop-up to be displayed if there are unsupported blocks in the post regardless of whether the unsupported block or another block is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post with an unsuported block on the web (i.e., Contact Form)
2. Open the post in W

[2020-10-09 19:10] mchowning commented on #2704
One interesting thing is that rotating the device seems to only causes the pop-up to appear if the pop-up was _not_ present before rotating the device. In other words, if you manually display the pop-up and then rotate the device, the pop-up disappears.

![ube_rotation_weird mp4](https://user-images.githubusercontent.com/4656348/95622288-2c75c600-0a41-11eb-9fdb-b8f286509683.gif)

[2020-10-09 20:55] mchowning commented on #2704
Closing as duplicate of https://github.com/wordpress-mobile/WordPress-Android/issues/13052

[2020-10-09 20:55] #2704 closed, assigned to nobody

[2020-10-09 21:17] ghost commented on #1741
Sounds like a good approach. I'll check out the `Tooltip` component and see how I can repurpose it for this feature. Thank you for the guidance.

[2020-10-10 20:04] marecar3 commented on #2695
Hey 👋 @designsimply

Here is the potential fix for this issue: https://github.com/wordpress-mobile/gutenberg-mobile/pull/2709

[2020-10-10 20:06] guarani opened #2707 "Changes to profile photos not reflected in @-mention UI"
**Describe the bug**

The @-mention UI caches profile photos on the device. If a user found in the suggestions list updates their profile photo, it's not reflected in the @-mentions UI until the user re-installs the app (or deletes the app data in the case of WPAndroid).

**To Reproduce**
Steps to reproduce the behavior:
1. Install the ~~WPiOS~~ or WPAndroid apps
2. Go to a place in the app that s

[2020-10-12 02:46] reginabally commented on #688
Another request in a WPiOS app review:

[2020-10-12 03:42] reginabally commented on #1212
Shared in app review on WPAndroid 15.8.1.

[2020-10-12 05:55] reginabally commented on #688
Date of app review: Oct 11, 2020, 10:02
Device: Huawei 华为畅享8e
App version: WPAndroid
App version code: 933
App version name: 15.9-rc-2

[2020-10-12 13:09] maxme commented on #1058
Fixed via https://github.com/wordpress-mobile/gutenberg-mobile/pull/2484

[2020-10-12 13:09] #1058 closed

[2020-10-12 15:30] mzorz commented on #2702
closing via #2705

[2020-10-12 15:30] #2702 closed, assigned to chipsnyder

[2020-10-12 17:02] designsimply commented on #559
Noting that this came up in Slack and that Eli suggested possibly adding a button to the toolbar as a potential solution.

<sup>(internal reference: p1602473723029700-slack-cellular-happiness)</sup>

[2020-10-12 17:12] azollafox commented on #559
From an app review on Google Play

[code]

[2020-10-12 17:23] #2667 closed, assigned to jd-alexander

[2020-10-12 18:10] #2695 closed, assigned to marecar3

[2020-10-13 05:42] #2455 closed

[2020-10-13 06:23] #2444 closed

[2020-10-13 13:16] ghost commented on #1741
@iamthomasbishop should the tooltip attached to the focal point drag handle only be displayed once for the user or should it display each time?

[2020-10-13 15:53] mchowning opened #2714 "Post save is triggered without the user changing the post"
**Describe the bug**
When working on WPAndroid's post saving mechanism, I noticed that multiple saves were being triggered from gutenberg when scrolling through a post. This seemed to occur reliably with long posts (for example, the gutenberg app demo content), but would occasionally occur with shorter posts as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Add logging to the WPAndroi

[2020-10-13 18:22] #2693 closed, assigned to cameronvoell

[2020-10-13 18:36] mchowning opened #2716 "Switching to HTML Slow on Long Posts"
**Describe the bug**
On Android, switching to HTML mode with long posts is very slow, particularly on older devices. This is a particular problem because we display a toast message that says "Switch**_ed_** to HTML mode", and on slower devices that toast has time to display _and disappear_ before the switch actually occurs, making it seem like the app is broken.

The tests below were done with the

[2020-10-13 18:45] chipsnyder opened #2717 "[Home Page Picker] Create Base Container for step 1 of the site creation"
## Description
As part of the project for adding a Home Page Picker to the site creation flow, we'd like to create a base container for the Home Page Picker. This will also handle adding the feature flag that will be used for hiding the feature during development.

📓The designs are intended to represent the header style in the Page Layout Picker.

## Goals
- Add Feature Flag for enabling the new f

[2020-10-13 18:52] chipsnyder opened #2718 "[Home Page Picker] Populate thumbnail cells of the Home Page Picker Container"
## Description
Building off of the work done in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2717, the step handled by this issue would be to create the UI of the layout cells using data pulled from the API. This should also handle any necessary adjustments for scrolling behavior.

📓 The selected states can be handled as part of https://github.com/wordpress-mobile/gutenberg-mobile/i

[2020-10-13 18:58] chipsnyder opened #2719 "[Home Page Picker] Handle Selected states of the footer and the thumbnails"
## Description
Building off of the work done in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2718, this step will handle the selected states for the layouts. When a cell is selected the footer should slide in from the bottom.

📓 The functionality of the footer buttons will be handled as part of https://github.com/wordpress-mobile/gutenberg-mobile/issues/2720 and https://github.com/w

[2020-10-13 19:06] chipsnyder opened #2720 "[Home Page Picker] Connect Preview Button"
## Description
Building off of the work done in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2719, this step will handle connecting the Preview button in the footer. After selecting a Home Page Layout, and selecting Preview the user should be taken to a preview screen that shows a sample preview of the site (ex https://public-api.wordpress.com/rest/v1/template/demo/alves/overton/?si

[2020-10-13 19:12] chipsnyder opened #2721 "[Home Page Picker] Connect Choose to the flow of existing UI's"
## Description
Building off of the work done in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2720, this step will handle connecting the Choose buttons in the footers. After selecting a Home Page Layout, and selecting Choose from either the Layout Page and Preview page then the user should be taken to the existing “Choose a Domain” flow. This should also update the site creation API

[2020-10-13 19:20] chipsnyder opened #2722 "[Home Page Picker] Update the design of the “Choose a Domain” screen"
## Description
As part of the project for adding a Home Page Picker to the site creation flow, we'd like to tweak the design of the existing "Choose a Domain" screen to match the feel of the other screens.

📓These design changes do not need to be behind the feature flag for the project.

## Goals
- Design elements should be updated to match the new UI this should include
    - Adding the Help Butt

[2020-10-13 19:31] chipsnyder opened #2723 "[Home Page Picker] Analytic Events"
## Description
As part of the project for adding a Home Page Picker to add some metrics to track the utilization. The tracking events we'd like to add are:
- Home Page Layout Picker viewed: `(wpios|wpandroid)_enhanced_site_creation_layout_viewed`
- Home Page Layout Picker Preview viewed: `(wpios|wpandroid)_enhanced_site_creation_layout_preview_viewed`
    - Preview has been moved to v2 of this rel

[2020-10-13 19:37] designsimply opened #2724 "Link picker search does not work on WordPress.com Business or Jetpack sites"
**Describe the bug**

Link picker search does not work on WordPress.com Business or Jetpack sites. ([1m43s](https://cloudup.com/cHF9CfrqQjG), [2m18s](https://cloudup.com/cSr-GRr8BxK))

**To Reproduce**

Steps to reproduce the behavior:
1. Open a WordPress.com or Jetpack site using WPAndroid 15.9-rc-1 or later.
1. Create a new post using the block editor.
1. Add some text and highlight one of the w

[2020-10-13 19:37] designsimply commented on #2724
Because this is a new feature in 15.9 and this issue was found during 15.9 beta testing, @dratwas do you think you could have a look at this one? cc @Tug

[2020-10-13 23:17] mkevins commented on #2724
:wave: :smile: @dratwas , I've been looking into this a bit already, so I've assigned myself on this one.

[2020-10-14 04:37] iamthomasbishop commented on #1741
@shadow351 I think only once, then it is dismissed when the user taps anywhere, I believe. Unless I'm missing something, I think that's the logic we followed for the tooltips on Starter Page Template selection.

[2020-10-14 11:46] ghost commented on #1741
@iamthomasbishop alright. Once for a user makes sense. I figured that was the case.

In regards to dismissing the tooltip, I currently have it set to remain until a user interacts with the image drag area specifically. It sounds like you would prefer the tooltip to dismiss when a user taps anywhere on the screen, correct? This would match @geriux's usage for page templates. However, it does mean t

[2020-10-14 15:09] chipsnyder opened #2725 "[Home Page Picker] Extract reusable the header and footer container from Page Layout Picker"
## Description
The design elements of the header and footer of the Modal Layout Picker (aka page layout picker, starter page picker) is being reused as part of the Home Page Picker. With that we'd like to extract the header and footer components from the Modal Layout Picker (MLP) into a reusable component to be used in the container (https://github.com/wordpress-mobile/gutenberg-mobile/issues/2717

[2020-10-14 15:20] chipsnyder opened #2726 "[Home Page Picker] A/B Testing a different screen order - Single Platform (TBD)"
## Description
As part of the project for adding a Home Page Picker to the site creation flow, we’d like to A/B test the ordering of the steps for site creation. The flows will be:
A. **Choose a design** > Choose a domain > Success
B. Choose a domain > **Choose a design** > Success

📓This will only be needed for a single platform based on whichever is the best candidate

## Goals
- Users in group

[2020-10-14 15:23] chipsnyder opened #2727 "[Home Page Picker] Enable the feature and remove the old flow"
## Description
Once all other tasks have been completed as part of the [Home Page Picker project](https://github.com/wordpress-mobile/gutenberg-mobile/issues?q=is%3Aissue+label%3A%22Project%3A+Home+Page+Picker%22+), and we’ve hit a comfortable level of testing. We should enable the feature, remove the feature flag, and clean up the code for the now unused step of “choosing a segment”

## Goals
- E

[2020-10-14 16:27] #915 closed

[2020-10-14 22:29] iamthomasbishop commented on #2563
@antonis this looks great overall, super close! I think we're good in terms of spacing/sizing and other design details from the previous reviews, I just found 2 things worth noting:

- I'm seeing this RN error when applying the Seedlet home page layout. This looks related to the Media & Text block, and while you can escape the error and proceed to create the page, the error will appears again upon

[2020-10-15 09:19] antonis commented on #2563
Hello @iamthomasbishop 👋 ,

thank you for your feedback on this 🙇

Nice catch 👍  This is related with `Media & Text block` failing (it happens on iOS too, but without a crash cc @chip).
We'll need to investigate this deeper on the `Gutenberg` side.

I changed the scroll threshold and added a cross-fade animation.

You can find the new build [here ⬇️ ](https://77224-9306568-gh.circle-artifacts.com/

[2020-10-15 19:15] iamthomasbishop commented on #2563
@antonis The transition is _much_ better, thank you! 👏

Ok, sounds good.

[2020-10-16 00:01] aforcier commented on #2132
We've had to do this before, one example that comes to mind is Wellsql, used in FluxC: https://github.com/wordpress-mobile/wellsql. It's not ideal but kind of the only option if PRs aren't getting reviewed by the maintainers of the original library.

This sounds like the right move. For each change we needed to make to Wellsql we used to submit a PR to our fork, and also upstream.

So in short, ho

[2020-10-16 06:10] antonis opened #2731 "[Android] Editor crashes when it loads the Seedlet template"
**Describe the bug**
Gutenberg crashes when applying the Seedlet home page layout

**To Reproduce**

~~To apply the Seedlet layout and reproduce the crash a version of the app with the Layout picker feature is needed. You can use the app from https://github.com/wordpress-mobile/WordPress-Android/pull/13105 (use the `wasabi` build flavor)~~

~~Layout Picker should show [when creating a new page fro

[2020-10-16 07:03] mkevins commented on #2724
This was due to a missing API mapping for Jetpack sites, and is now resolved. :tada:  Thanks again for testing and reporting Sheri! :smiley:

[2020-10-16 07:03] #2724 closed, assigned to mkevins

[2020-10-16 07:22] #2452 closed

[2020-10-16 07:37] #2445 closed

[2020-10-16 08:55] ceyhun opened #2732 "Update CI config to use Xcode 12"
E2E tests are currently running from a build using Xcode 11:

https://github.com/wordpress-mobile/gutenberg-mobile/blob/711da0ca38d905cec128d287ba5876edffc9f388/.circleci/config.yml#L160

We should switch to using Xcode 12 as WPiOS: https://github.com/wordpress-mobile/WordPress-iOS/pull/14848

[2020-10-16 10:06] etoledom commented on #1488
We have implemented an Unsupported Block Editor capable of acting as a fallback mechanism for unsupported blocks.
There are a few items remaining that are described here: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2358

Closing this since the feature is already implemented (https://github.com/WordPress/gutenberg/pull/21150 https://github.com/WordPress/gutenberg/pull/25238)

[2020-10-16 10:06] #1488 closed

[2020-10-16 10:38] etoledom commented on #2358
We are finishing the focus on this feature after merging the main PRs (https://github.com/WordPress/gutenberg/pull/21150 https://github.com/WordPress/gutenberg/pull/25238) and the most important side PRs described on this ticket.

What's left will be worked later on after new assignments are made.

[2020-10-16 11:11] #2453 closed

[2020-10-16 13:14] #2680 closed, assigned to nobody

[2020-10-16 14:51] #2456 closed

[2020-10-16 14:51] #2454 closed

[2020-10-16 15:17] hypest commented on #2586
Fixed with https://github.com/wordpress-mobile/gutenberg-mobile/pull/2690

[2020-10-16 15:17] #2586 closed, assigned to cameronvoell

[2020-10-16 15:26] antonis commented on #2563
Hello @iamthomasbishop 👋 ,
Thank you for all your help on MLP development 🙇
At this point the feature is wrapped up on Android too 🎉

We discussed a minor enhancement with @malinajirka regarding the ability to retry loading the layouts when an error occurs and there are no cached data to show. This is actually the default error/retry view as seen in the screenshot [here](https://github.com/wordpre

[2020-10-16 15:52] ceyhun opened #2733 "[iOS] Can't add new Link Rel to Button because of wrong keyboard type"
**Describe the bug**
Can't add new Link Rel to Button because of wrong keyboard type

**To Reproduce**
Steps to reproduce the behavior:

1. Add `Buttons` block
1. Open link [settings](https://github.com/wordpress-mobile/test-cases/blob/be95fab2c52f92f369bd7ac9b4a0377304e484ab/test-cases/resources/button-link-settings.png)
1. Edit `Button URL` field and add link
1. Switch on `Open in new tab`
1. Ed

[2020-10-16 20:01] jd-alexander opened #2735 "Gallery block is not removed when undo is pressed"
**Describe the bug**
When you add a Gallery Block to the Block List and you press the undo button the Gallery Block is not removed. This issue was first discovered on the `master` branch of gutenberg.

This issue was observed was also observed on WPiOS 15.9.0.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post.
2. Add a Gallery Block.
3. Press the undo button.
4. Observe tha

[2020-10-17 00:13] NoHopeRadio opened #2737 "Gallery Block - Animation Settings make Images Unviewable in Editor"
**The Issue**
When an animation is added to a gallery block that had previously appeared in the editor on iOS, when viewed in the editor again, all that can be seen is a gray block that says, "Gallery - Problem Displaying Block." This seems like an unexpected behavior. In contrast, the iOS app does not display the filter options, but it continues to display the original images when those options a

[2020-10-19 07:35] antonis opened #2740 "[Modal Layout Picker] Retry view"
**Is your feature request related to a problem? Please describe.**
When the loading of layouts fails and there are no cached data an empty screen appears. This is not consistent with other screens where an error screen with a retry option is presented.

**Describe the solution you'd like**
Add a retry view to handle the case where the loading of layouts fails and there are no cached data

<img wid

[2020-10-19 09:30] antonis commented on #2725
On **Android**:
* The header is [implemented with a `CollapsingToolbarLayout`](https://github.com/wordpress-mobile/WordPress-Android/blob/e95598133c1c3f279d81000aa36ecd761ce3a6ef/WordPress/src/main/res/layout/modal_layout_picker_fragment.xml#L17). The same implementation can be used in the *Starter page picker*. Extracting this as a custom component will not improve code reusability.
* The `xml` l

[2020-10-19 10:24] hypest commented on #2714
👋 @designsimply , issues like this one where posts get trivially marked as modified can lead to confusing UX and lowering user's trust so, what do you think about prioritizing this rather high in the "Groundskeeping" list, considering that Matt Chowning will be on the role this week and has the best context to tackle it anyway?

[2020-10-19 16:12] iamthomasbishop commented on #1741
@shadow351

That's correct.

I would expect both would happen simultaneously. For example: if the tooltip is visible and I tap-and-drag on a Slider handle, I would expect the Tooltip to dismiss immediately when I start the tap-and-drag gesture on the drag handle.

[2020-10-19 16:54] iamthomasbishop commented on #2563
@antonis It looks okay, but I think there's room for refinement.

* I think we should "minimize" the large title/description in this scenario, because it draws the eye away from the available actions (specifically the footer action)
* The generic "no network available" sounds a bit mechanical imo
* The footer action feels somewhat detached in this context, so I wonder if we should group it with th

[2020-10-19 19:19] designsimply commented on #2714
We have some high priority crashes to look at first, but I've added this one to the list. If we don't get to it in this round, I'll added to the next rotation as well. 👍 Thanks for asking about it!

[2020-10-19 20:57] guarani opened #2745 "Match display names with spaces in @-mentions suggestions UI"
**Is your feature request related to a problem? Please describe.**
When typing a username for an @-mention, I'd like what I type to be also matched against the display name in the suggestion list, ignoring spaces.

E.g. if I type the search term `paulvonschrottky` into the suggestions search field, and there is a suggestion with username `pschrottky` and display name `Paul Von Schrottky`, the app

[2020-10-19 21:22] mchowning commented on #2745
Great idea @guarani !

I would even love to take this a step further and do fuzzy matching. For example, i'd like paulschrottky to match "Paul Von Schrottky". We'd just need to make sure this doesn't cause performance issues when there are a lot of suggestions.

[2020-10-20 01:27] guarani commented on #2602
Because the `?get-xpost-data` endpoint uses cookie-based authentication which is not widely used by the WordPress mobile apps, we ultimately decided to add a new endpoint which is bearer token based:

[code]

This endpoint returns an object with of the following format:

[code]

The apps will use this endpoint to fetch x-post suggestions.

[2020-10-20 05:05] #2725 closed, assigned to antonis, chipsnyder

[2020-10-20 09:00] antonis commented on #2563
Hello @iamthomasbishop 👋 ,
thank you once again for the detailed feedback👍  I really appreciate it 🙇

I [implemented](https://github.com/wordpress-mobile/WordPress-Android/pull/13159) **Proposal D**. Please check the screenshot below or the build from the [PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13159).

<img width="360" src="https://user-images.githubusercontent.com/304044/

[2020-10-20 12:07] antonis commented on #2731
The **Seedlet** layout has been updated (`Media & Text` blocks removed) and no longer triggers this issue.
The issue can still be reproduced on iOS with the following steps:
1. Create a new empty page
1. Add a *Media & Text* block
1. Switch to classic editor
1. Switch back to block editor

<img width="420" src="https://user-images.githubusercontent.com/304044/96583767-e55fbe80-12e5-11eb-87a0-7a13a

[2020-10-20 12:44] guarani commented on #2745
I could try this approach for iOS: https://stackoverflow.com/a/15091550/1305067 (noting down for future reference) which should handle inner spaces as well as missing characters in the search term.

[2020-10-20 13:11] chipsnyder commented on #2563
This is a good idea. I'll take a look at adding something like this on iOS as well. I think we have a standard no results controller. So I'll start with that and share the results in a PR

[2020-10-20 14:02] iamthomasbishop commented on #2563
Looks great @antonis. My one worry was whether moving the retry button position would cause any issues wrt to the other empty/retry states, but I don't foresee it being a big issue.

// cc @malinajirka do you see any issues w/ moving the retry action out of the center area into the footer? ☝️

[2020-10-20 14:09] antonis commented on #2563
Thank you for the feedback @iamthomasbishop :)

This change does not change the reusable empty/retry view and does not affect any other empty/retry state

[2020-10-21 06:22] antonis commented on #2731
The *Seedlet* layout content that can reproduce the issue is the following.
[code]

[2020-10-21 06:34] antonis commented on #2731
This is a validation error and should not cause issues in production.
Further investigation may be needed to better handle cases like this on mobile but this escapes the scope of this issue.
cc @Tug

[2020-10-21 06:34] #2731 closed, assigned to antonis

[2020-10-21 11:11] ghost commented on #1741
@iamthomasbishop alright, I will explore dismissing the tooltip while allowing interacting with the rest of the UI simultaneously. For awareness, this is not how the page template picker tooltip functions today. It requires two taps to dismiss and then interact with the remaining UI. I'm not sure if we want to change that as well at some point. cc/ @geriux

![page-template-tooltip-dismiss](https:/

[2020-10-21 16:48] iamthomasbishop commented on #1741
@shadow351 Ah, my bad — I should've double-checked the tooltip flow. I do think my previous comment on our discussion here stands.

We'll be moving away from the Tooltip on that template selection UI soon, so I wouldn't worry about making any adjustments on that particular UI — however, if we can systemize the default component behavior in a way that the other instance inherits it, no complaints h

[2020-10-22 10:02] hypest commented on #2373
I think this ticket is not actually worked on at the moment so, I'll remove the assignee to denote that.

@cameronvoell , if you have any particular progress you want to add to the ticket for context, that'd be helpful for when we'll pick this up again. Thanks!

[2020-10-22 10:05] hypest commented on #737
This ticket is not currently worked on so, clearing the assignee field to denote that.

[2020-10-22 10:07] hypest commented on #757
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 10:08] hypest commented on #832
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 10:09] hypest commented on #303
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 10:09] hypest commented on #888
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 10:10] hypest commented on #324
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 10:11] hypest commented on #14
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 10:11] hypest commented on #2091
This ticket is not worked on at the moment so, I'll clear the assignee field to denote so.

[2020-10-22 20:30] jd-alexander commented on #2735
This is being resolved by https://github.com/WordPress/gutenberg/pull/26377

[2020-10-22 20:30] #2048 closed

[2020-10-23 13:58] ghost commented on #1741
@iamthomasbishop I was concerned about accomplishing the requested "dismiss on tap anywhere, but retain all interactivity" experience for the tooltip. I was concerned it may take a lot of effort or may not be possible with React Native's gesture responder APIs.

After some initial research, that concern still remains. I plan to research it some more, but I wanted to get your thoughts on an alterna

[2020-10-23 22:07] iamthomasbishop commented on #1741
@shadow351 Ok, thanks for the info! I'd like to try a test build if possible, because it's a bit hard to visualize the current state — would you be able to spin up a test build (iOS is preferred but either works)?

The approach you outlined seems pretty sound in theory, but as mentioned it's a little bit hard to say for sure without seeing a build first. One point in particular I'm not clear on:

[2020-10-24 16:02] rezzap commented on #1807
This came up again in a ticket today and on reviewing the PR I realized it's not for the same issue.

What users are missing is the option to select from the URLs of their already posted content so they can link between posts and pages more easily without needing to know the full URL.

See a screenshot here:
<img width="801" alt="Image 2020-10-24 at 5 00 26 pm" src="https://user-images.githubuserc

[2020-10-24 19:04] ghost commented on #1741
@iamthomasbishop fair enough. I have not created a test build before, but I'll inquire with @geriux on the possibility of doing so.

I meant to say that the only way to cause the tooltip to dismiss would be:

- Dragging the focal picker handle.
- Tapping somewhere on the media preview.
- Dragging the range slider handle.
- Modifying the range slider text input.
- Closing the focal point picker bot

[2020-10-25 16:10] geriux commented on #1741
Of course, first, you need to make the bundles in your Gutenberg Mobile branch running `npm run bundle` after that you'll need to commit those changes and then update the commit reference in WP-iOS (and run `rake dependencies`) / Android. For Android, it'll make an `apk` automatically once you push your changes, for iOS, there will be an option in your PR to run the job to make the iOS build.

Let

[2020-10-26 05:40] cameronvoell commented on #2740
Hi @antonis, we'll be cutting the 1.40 release branch at the beginning of this week. Please try to get this merged Monday or bump the milestone. Thanks much 🙇

[2020-10-26 09:06] antonis commented on #2740
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13159

[2020-10-26 09:06] #2740 closed, assigned to antonis, chipsnyder

[2020-10-26 18:29] designsimply opened #2757 "Consider allowing users to change font size the same way they can on the web"
We received a request in an App Review asking to be able to change font size.

<sup>1-star review - Oct 26, 2020 at 3:40 AM - realme 6, WPAndroid 15.6, Android 10</sup>

* Device: Realme realme 6
* Device language: Indonesian
* App version code: 915
* App version name: 15.6
* Android version (SDK): Android 10 (SDK 29)

<sup>play-store-reviewid=gp:AOqpTOGeNw4SkhE95DCWrVWd1Y3xxNaUaB-aHPfRwoyVXucunfE

[2020-10-26 18:59] designsimply commented on #2628
The app freezing when editing or uploading came up again in another app review:

<sup>play-store-reviewid=gp:AOqpTOG3wEz49IPoUVsS3va-_cD5ctJkH_9mS3qf4ibLDFuAU7bAyOxHdTZhs_0MQUSRWw7KvE366yjh8pw5WA</sup>

[2020-10-26 20:29] designsimply commented on #575
I found another App Review which asks for text justification:

[2020-10-26 20:49] designsimply commented on #575
Another app review from the past mentioned not being able to justify text (I sent them an update letting them know the other alignment options should be available).

[2020-10-27 11:19] hypest opened #2759 "Twitter block"
Add support for the Twitter block.

[2020-10-27 11:22] hypest opened #2760 "Instagram block"
Support for the Instagram block.

[2020-10-27 14:16] antonis opened #2761 "Spacer fails to render when height is set > 500px"
**Describe the bug**
Spacer fails to render when height is set > 500px

**To Reproduce**
Follow the steps in [test-case TC005](https://github.com/wordpress-mobile/test-cases/blob/master/test-cases/gutenberg/spacer.md#settings-height-range-extends-if-spacer-comes-from-the-web-is-higher-than-500px)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots*

[2020-10-27 19:07] designsimply commented on #2537
Someone has asked for table editing tools in an app review:

Translated from Spanish using Google Translate:

<sup>2-star - Oct 10, 2020 - WPiOS 15.8 - internal references: app-store reviewId=6521434431, p4a5px-2EM-p2</sup>

[2020-10-28 00:58] designsimply commented on #757
A user reported this in an App Review and I was able to replicate it in testing.

<sup>4-star App Review - Oct 26, 2020 - Version 15.9 - Canada - app-store-reviewId=6575851635</sup>

Steps to reproduce:

1. Start a new post.
1. Create a new paragraph.
1. Tap the bold option and start typing.
1. Observe that the text stops being bold at some point, usually in a word where the delete key was used.
1

[2020-10-28 18:06] designsimply commented on #2757
Translated from Portuguese using Google Translate:

<sup>2-star review - Oct 27, 2020, 23:18 - Asus ZenFone Max Shot, WPAndroid 15.9.1, Android 9</sup>

* Device: Asus ZenFone Max Shot (ZB634KL)
* Device language: Portuguese
* App version code: 938
* App version name: 15.9.1
* Android version (SDK): Android 9 (SDK 28)

<sup>play-store-reviewId=gp%3AAOqpTOH3DSKQ8dSz3i86Hn37Sn9_6Ly72BB8SCB-wpMrOpnjP

[2020-10-30 10:55] #2732 closed, assigned to ceyhun

[2020-11-02 10:40] ashiagr commented on #2132
Sorry for a late response @aforcier , plan sounds good to me.
How do we fork uCrop to `wordpress-mobile`? Is it something you can help with?

cc @malinajirka

[2020-11-02 10:52] malinajirka commented on #2132
I've forked the repo into `wordpress-mobile` - https://github.com/wordpress-mobile/uCrop.

[2020-11-02 11:22] #2717 closed, assigned to antonis, chipsnyder

[2020-11-02 13:43] dratwas opened #2767 "Use link picker for the image block"
After this PR is merged - https://github.com/WordPress/gutenberg/pull/26206/files

The new Link picker should be used for the image block as it is used for Buttons and Social Icons.

It will probably require some changes since in the image block we need to set `linkDestination` to "custom" and the URL should be set in `href` attribute instead of `url`

[2020-11-02 18:42] marecar3 commented on #2470
Hey @guarani should we close this one? Thanks.

[2020-11-02 18:52] guarani commented on #2470
Yes, it's working on Atomic sites as of the current 15.9 release.

[2020-11-02 18:52] #2470 closed

[2020-11-02 21:50] guarani commented on #1881
I tested this and it looks like either the original issue is resolved or the steps to reproduce need to be updated.

Here's why:
1. On the Gutenberg demo app, I followed to the letter the steps to reproduce and the editor always scrolled to the newly inserted Paragraph block (couldn't reproduce on Android or iOS)
2. I tried the same steps, but instead of having no block selected I left the last bl

[2020-11-02 21:54] #2563 closed, assigned to antonis, chipsnyder

[2020-11-03 11:14] hypest commented on #1881
I replicated all your findings there @guarani . I made the title of this ticket more specific (to paragraphs).

It does seem that non text-input blocks do not scroll. Since this ticket is rather old, let's close it and, can you create new ones:
1. for the non text-input blocks not scrolling
2. text-input fields stealing the scroll position?
Thanks!

[2020-11-03 13:03] guarani opened #2773 "Content doesn't scroll to new block upon inserting one"
**Describe the bug**
When inserting a block that doesn't auto-focus on insertion (e.g. Image, Video, etc), the UI doesn't scroll to the new block at the end of the context, when there is enough content already to fill the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the demo app on Android or iOS
2. Tap on the Inserter ("+") and add a new block that doesn't auto-focus on inse

[2020-11-03 13:22] guarani opened #2774 "Scrolling broken on long posts while input has keyboard focus"
**Describe the bug**
If an input has keyboard focus, scrolling through large posts it's sometimes impossible to scroll far before the scroll position is reset. It appears that the scroll is reset sometime after the focused input goes off-screen.

**To Reproduce**
1. Open the demo Gutenberg Android app showing the default content
2. Scroll down to the bottom and put keyboard focus in a Paragraph or

[2020-11-03 13:24] guarani commented on #1881
Thanks for checking @hypest!

Created https://github.com/wordpress-mobile/gutenberg-mobile/issues/2773 and https://github.com/wordpress-mobile/gutenberg-mobile/issues/2774 and added the "Hack week" label to both.

[2020-11-03 13:24] #1881 closed

[2020-11-03 18:20] designsimply commented on #1748
Can you help point me to the latest designs posted to GitHub? I'd like to refer to them while beta testing for the 16.1 release and also refer to them in our public call for testing. cc @chipsnyder @geriux @iamthomasbishop

[2020-11-03 19:24] chipsnyder commented on #1748
@designsimply These Blueprints might be a good reference for you to use. I should add that the design of the notice for "Page Created" changed from these Blueprints to what was developed.

<details>
<summary>Blueprint Flow - iOS</summary>
<img src="https://user-images.githubusercontent.com/3384451/85329020-bce2c780-b49f-11ea-88f3-5db30c13af03.jpg" />
</details>

<details>
<summary>Blueprint Flow -

[2020-11-04 14:21] #2719 closed, assigned to antonis, chipsnyder

[2020-11-05 12:52] etoledom commented on #1655
@iamthomasbishop - I don't see this option on web anymore.

Testing on mobile, it also seem to not make any difference in the final HTML code. I believe we should remove this option.

[2020-11-05 19:15] chipsnyder commented on #2721
@Tug I was working on this today and came across an interesting use case that I wanted to get your thoughts on. On the domain suggestion screen, it uses the selected segment (`Blog`, `Business`, `Professional`, or `Blank Canvas`) to help filter the results. If you select `Blog` the backend will include `.blog` domains in addition to the dotCom options.

What are your thoughts here? Should we inclu

[2020-11-05 19:40] Tug commented on #2721
I'm not sure to understand, how are they excluded from the response currently? I do think we should display whatever the backend is returning in terms of recommendation.

[2020-11-06 18:58] chipsnyder commented on #2723
Looking at what currently exists for the other pages I think we should update what we want to track a bit. What I suggest would be:

- `enhanced_site_creation_site_design_viewed`
- `enhanced_site_creation_site_design_selected`
    - This should probably include a `template` field with the selected site design's `slug`
- `enhanced_site_creation_site_design_skipped`

When we get around to implementi

[2020-11-06 21:04] #2718 closed, assigned to antonis, chipsnyder

[2020-11-06 21:06] chipsnyder commented on #2721
Closing the loop on this. After a side discussion, we're going to modify the site-design endpoint to provide a segment_id to be used for the domain suggestions

[2020-11-06 22:39] #1660 closed

[2020-11-09 04:25] reginabally commented on #3158
Requested in an app review: "Attached to the top is not available in the app."

[2020-11-09 08:52] #2132 closed

[2020-11-09 12:40] develric commented on #2200
Spent a bit of time here trying to replicate but was not able to. I tried the closer I could setup test scenario:

- WP Android 13.9
- Samsung Galaxy S5
- Android 6.0.1

I could replicate the issue Jirka mentioned above about memory leaks, but no luck in replicating the actual original reported crash when just typing a few characters (like the initial part of the reported sentence "The Fear Theory

[2020-11-10 11:23] ceyhun commented on #303
This is still reproducible but there's a debounce of 1 second. The steps are:
1. Type letter "A"
1. Wait 1 second
1. Type letter "b"
1. Wait 1 second
1. Press undo
1. The cursor goes to the position before the letter "A" but it should be after it.

Result
--
<img width="300" src="https://user-images.githubusercontent.com/1845482/98667281-7d355300-234e-11eb-885f-4fd7741b0861.png">

<sup>Tested with

[2020-11-11 07:28] designsimply opened #2797 "Modal Layout Picker: layout preview creates duplicate page"
Steps to reproduce:

1. Go to My Site > Site Pages > + and select any layout.
1. Tap Preview at bottom left.
1. Tap the Create page button.
1. Make some changes to the title and content.
1. Tap the back arrow at top left.

**Result:** a page with the changes is present but there's also a duplicate page with the same template but without a title. (WP.com Premium: [3m56s](https://cloudup.com/c2M8Koq

[2020-11-11 08:41] antonis commented on #2797
Hello @designsimply 👋
Thank you for reporting this. I really appreciate it.
Please check my comments inline your message.

You should not be able to make changes in preview mode. If that's not the case I need to investigate further.
If you pressed *Create page* after step 2 this is normal.

A temporary local page is created while previewing. This should be already deleted when you exit the editor.

[2020-11-11 09:00] designsimply commented on #2797
Correct, I was not able to make changes in preview mode. 👍

The main problem is that _if_ I preview _before_ I create the page then a duplicate is created that does not have a title and does not disappear even after a pull-to-refresh. I did another test from a different account and got the same result. I tried with two different templates and tested modifying content as well as only modifying the

[2020-11-11 09:03] antonis commented on #2797
Thank you for the prompt feedback @designsimply 🙇

I tested with this release. I'll investigate this further.

[2020-11-11 11:39] antonis commented on #2797
Hello @designsimply 👋
You can find a patch for this at https://github.com/wordpress-mobile/WordPress-Android/pull/13358
If you have the time please validate that this [build](https://github.com/wordpress-mobile/WordPress-Android/pull/13358#issuecomment-725374655) works on your setup too.
Thank you 🙇

[2020-11-11 21:13] iamthomasbishop commented on #1655
@etoledom as mentioned in DM, I did some investigation on the web and it turns out they changed their UI recently. The `open in new` control still exists, but it's tucked away inside a "sub-page" of the popover. The new UI on the image block links is quite diff from other links, but I'm not sure why. Here's a quick comparison of the two UIs for reference (using image and paragraph blocks): https:/

[2020-11-12 12:25] antonis commented on #2797
Fix merged in 16.1 https://github.com/wordpress-mobile/WordPress-Android/pull/13363 and dev https://github.com/wordpress-mobile/WordPress-Android/pull/13358

[2020-11-12 12:25] #2797 closed, assigned to antonis

[2020-11-12 18:31] rezzap opened #2801 "Reader: Paragraph block with light color background shows white text in Dark Mode"
### Expected behavior

If I'm using dark mode and my paragraph block has a light colored background assigned to it, the text would show dark.

### Actual behavior

The text shows white over the light colored background in the reader making it difficult to read.

### Steps to reproduce the behavior

1. Create a post with a paragraph block from the browser and assign a light colored background to it

[2020-11-16 15:13] #2721 closed, assigned to antonis, chipsnyder

[2020-11-16 15:13] #2723 closed, assigned to antonis, chipsnyder

[2020-11-17 22:29] Tug opened #2814 "Block type conversion v1 for paragraph"
We should be supporting block transforms in gutenberg-mobile.

Block transforms is already built in gutenberg core api and [documented](https://github.com/WordPress/gutenberg/blob/master/docs/designers-developers/developers/block-api/block-transforms.md) so most of the work here is going to be focused on building a mobile UI for it.

We could start by supporting the most common transforms which ar

[2020-11-17 23:28] iamthomasbishop commented on #2814
@Tug I'm planning on doing some design discovery work on transforms starting next week, but this sounds good start for a very basic first iteration.

A couple of quick notes on your proposal:

- Do you think we should support all of those transforms? Columns and Group seem a little odd to me, and I think we might avoid some complexity on the v1 if we implement these separately
- If we exclude a co

[2020-11-18 12:47] Tug commented on #2814
We don't have to. However those are already defined as part of each block definition, so we'd be reusing the logic already existing on the web, not creating new ones. There is no risk on our side in running those transforms as long as the blocks we transform to are supported.

ActionSheet seems fine to me as well. As you said if we show more than 5 or 6 it might be too limited though

I like that

[2020-11-18 18:59] #2018 closed

[2020-11-19 04:57] iamthomasbishop commented on #2814
@Tug Fair enough. My concern would mostly be end-user confusion. Personally, I find the flow of transforming a Paragraph into a Columns block on web to be a little unclear. It's worth a try though, to see if it feels weird in practice.

Agreed, it might get a bit unwieldy on blocks that offer a lot of options, but this should be a good starting point.

[2020-11-19 05:21] ghost commented on #2814
(Hello! I'll be working on the "transform a paragraph to a heading" piece of this as a part of my trial. @chipsnyder is my trial-buddy for this - excited to dig in!)

[2020-11-19 07:50] ghost commented on #2814
(Hey, just spent the evening poking around - that is a draft PR, and I dunno who-is-working-on-what-part-of-this-change so far, so please let me know if I'm stepping on toes with work that others have planned! 👋)

[2020-11-19 09:13] Tug commented on #2814
No worry @blixt-io nobody else is working on this at the moment, it's yours! Please reach out to @iamthomasbishop if you have questions regarding design   

[2020-11-19 14:27] mchowning commented on #2535
@guarani recreated this issue where he did delete all the characters **so that the placeholder text was showing** (note that in the steps to reproduce I said that the placeholder text should not be showing). I believe there's been some work relating to the display of the placeholder text on Android, so I'm not sure if this bug's behavior has changed a bit, or if this is a different manifestation o

[2020-11-19 21:31] mchowning opened #2819 "Cannot add mentions/crossposts at beginning of line"
### Describe the bug
In many situations, it is not possible to insert a mention or crosspost at the beginning of a new line in a multiline block if that new (empty) line is also the end of the block.

### To Reproduce

On both platforms, the following test will fail for the List, Quote, and Pullquote blocks
On Android only, the test will also fail for the Preformatted and Verse blocks (these block

[2020-11-19 22:33] mchowning commented on #2819
I did some time-boxed investigation into this and ran out of time before I got a fix I was happy with. I did have some findings though.

The issue appears to occur because Aztec on both platforms uses the zero-width character (\u200b) when a new line is added, and this messes up the current trigger key codes logic from correctly detecting if the "previous" character (i.e., the character before the