[2022-04-22 13:28] fluiddot opened #4784 "[Drag & Drop blocks] Disable long-press gesture in Media blocks"
## Description

Long-pressing on the media to replace it will be removed in favor of the Drag & drop functionality, users will still be able to replace media by tapping on the upper right button or via the toolbar replace option.

Affected blocks:
- Cover
- File
- Image
- Media Text

[2022-04-22 13:34] fluiddot opened #4785 "[Drag &amp; Drop blocks] Investigate Sentry report: Assertion failed: object-&gt;ctx_ == ctx_"
## Description

**Sentry issue:** https://sentry.io/share/issue/5070bdca207a4c4c93af5e2123e5653c/

After upgrading the Reanimated library in the version `17.2.0 (19.5)` ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4615)), we're getting some crash reports related to that library. So far, it's not clear what's causing it, per the error message, looks related to some kind of

[2022-04-22 13:59] geriux commented on #4783
I tried using the trackpad, taking into account the current issues focusing on text, and without selecting any text-based block I was able to drag & drop blocks correctly:

https://user-images.githubusercontent.com/4885740/164729435-e0198d9f-89e8-43fc-a7d4-e2e9f0a18625.mov

So let's see once the fix for the issue with [text editing](https://github.com/WordPress/gutenberg/pull/40480) is solved, may

[2022-04-22 14:01] geriux commented on #4752
I tried with one of the latest branches and it works correctly for blocks that aren't text-based, for those the apple pencil detects it, and the "writing-mode" gets activated, but for other blocks, I was able to drag & drop:

https://user-images.githubusercontent.com/4885740/164729730-bc3c7ad9-cc3d-490d-ab70-b2c9d13534f1.mov

Let's see once more fixes are merged and tested this can be closed as we

[2022-04-22 14:38] SiobhyB opened #4786 "Enable the import of sass files using aliases"
**Background**

The recent inclusion of a couple of `@automattic/jetpack-base-styles/gutenberg-base-styles` imports in native sass files led to failed bundling in Gutenberg Mobile.

These imports were introduced in https://github.com/Automattic/jetpack/pull/23817 and more detail/discussion can be found around its impact on Gutenberg Mobile in https://github.com/Automattic/jetpack/pull/24020.

As a

[2022-04-22 16:55] tiagomar commented on #4752
Nice! I'll check the latest build.

[2022-04-22 22:18] tiagomar commented on #4752
Just confirming that on the latests build `pr18206-9a31ff8` the only remaining issue with the Apple Pencil is that it is impossible to drag a text based block since the "writing-mode" is always activated as @geriux mentioned.

[2022-04-25 16:22] fluiddot opened #4791 "[Drag & Drop blocks] Allow dragging from block toolbar"
## Description

Currently, blocks can be dragged by long-pressing over their content area. However, if the block is selected, the dragging area is limited to the content itself, without taking into account extra areas like the block toolbar. This behavior might be confusing to users, so it would be great if we could enable dragging also from the block toolbar.

**NOTE:** It's important to note tha

[2022-04-26 10:57] SiobhyB commented on #303
Noting that this can still be replicated, most recently tested on an iPhone XR with the [pr18445-7dc96cb](https://github.com/wordpress-mobile/WordPress-iOS/pull/18445#issuecomment-1109557730) build.

[2022-04-26 14:47] fluiddot commented on #4785
_Metrics collected on April 26th:_
- 0,11% of users affected in `19.5.0.4`
- 0,07% of users affected in version `19.6.0.6`

**NOTE:** Looks like the issue is impacting fewer users in the recent version 🤔.

I'm going to set medium priority to this issue since this is not affecting too many users and we were not able yet to reproduce it.

[2022-04-27 02:10] kbrown9 commented on #2594
I've been able to replicate the lagging issues described above on a fairly new device:

Device: Samsung A13 5G
OS: Android 11
WPAndroid: 19.6

[2022-04-27 09:48] #4034 closed, assigned to SiobhyB

[2022-04-27 11:24] fluiddot commented on #4775
Closing this issue as it was addressed in https://github.com/WordPress/gutenberg/pull/40480.

[2022-04-27 11:24] #4775 closed, assigned to fluiddot

[2022-04-27 14:38] #4351 closed, assigned to geriux

[2022-04-27 14:42] geriux commented on #4754
Closing since it was fixed in https://github.com/WordPress/gutenberg/pull/40519

[2022-04-27 14:42] #4754 closed, assigned to geriux

[2022-04-27 14:49] fluiddot opened #4801 "[Drag & Drop blocks] Crash when closing the editor while dragging (only Android)"
## Description

There's an edge case where dragging a block and closing the editor at the same time leads to a crash.

**Stacktrace:**
```AndroidRuntime: at com.swmansion.reanimated.layoutReanimation.AnimationsManager.prepareDataForAnimationWorklet(AnimationsManager.java:368)```

Looks like this is a known issue (https://github.com/software-mansion/react-native-reanimated/issues/2959) in the Reani

[2022-04-27 14:55] fluiddot opened #4802 "[Drag & Drop blocks] Dragging chip remains visible when the app goes to the background (only iOS)"
## Description

The drag & drop functionality keeps the chip component visible when the app goes to the background and then resumed.

This could be solved by listening to the app state changes via the [`AppState` API](https://reactnative.dev/docs/appstate), and canceling the dragging if it goes to the inactive state.

**How to reproduce it:**
1. Start dragging a block.
1. While moving the block, m

[2022-04-28 09:31] fluiddot opened #4806 "[Drag & Drop blocks] Crash on Android when having only one block and dragging"
## Description

The editor crashes when trying to drag a block if the post/page only contains that block.

**How to reproduce it:**

1. Open a post/page.
1. Add one block (it's important that the content is just one block).
1. Long-press on the block to start dragging.
1. Drag the block around and observe that the editor crashes.

[2022-04-28 09:37] fluiddot opened #4807 "[Drag & Drop blocks] Block can't be dragged if it's added by replacing a Paragraph block"
## Description

Probably related to the changes introduced in https://github.com/WordPress/gutenberg/pull/40480.

When a block is inserted by replacing a Paragraph block, the dragging gesture is disabled for that block while remains selected. However, this only happens after inserting the block, as the dragging works after selecting a different block and selecting the inserter block again.

**How

[2022-04-28 13:32] geriux commented on #4784
This was handled in https://github.com/WordPress/gutenberg/pull/40651

[2022-04-28 13:32] #4784 closed, assigned to geriux

[2022-04-28 13:33] geriux commented on #4722
This was addressed in https://github.com/WordPress/gutenberg/pull/40658

[2022-04-28 13:33] #4722 closed, assigned to geriux

[2022-04-28 21:30] tiagomar opened #4812 "Focus keep bouncing between block after scrolling post with Apple Pen"
**Describe the bug**
Scrolling through the post using the Apple Pen causes focus to be bouncing between blocks and the user is not able to recover control.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a post with different blocks like this [HTML example](https://github.com/WordPress/gutenberg/blob/d5915916abc45e6682f4bdb70888aa41e98aa395/packages/react-native-editor/src/initial-html.

[2022-04-29 02:52] igotdes commented on #1998
Also reported in #5176537-zen. The issue can be seen when viewing [this page](https://micarf.com/2022/04/28/water/) (private).

I was able to replicate the issue on an iPhone SE (2022) with both Chrome and Safari. The mp4 plays just fine in Slack. Here's some more information on the video, if it helps:

- Dimensions: 1280 × 720
- Codecs: AAC, H.264
- Color profile: HD (1-1-1)
- Audio channels: Ste

[2022-04-29 06:53] geriux commented on #4783
This issue is [no longer present](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-1112692856) so I'll close this.

[2022-04-29 06:53] #4783 closed, assigned to nobody

[2022-04-29 07:51] fluiddot commented on #4812
@tiagomar Thanks for opening the ticket 🙇 ! After watching the video, I'm wondering if this issue can only be reproduced with the drag & drop feature, I have the impression that might be a problem specific to the text blocks. It would be great if we try to reproduce it in one of the latest production builds, at least to determine if the issue is currently happening in production or only when the d

[2022-04-29 10:48] geriux commented on #4806
This was handled in https://github.com/WordPress/gutenberg/pull/40689

[2022-04-29 10:48] #4806 closed, assigned to geriux

[2022-04-29 11:41] fluiddot commented on #4802
Closing this issue as it has been addressed in https://github.com/WordPress/gutenberg/pull/40519.

[2022-04-29 11:42] fluiddot commented on #4802
_(Sorry for closing the issue by mistake 😅 )_

[2022-05-01 05:21] erricgunawan commented on #2594
5175531-zen:

I was very dissatisfied, especially when I have another option for my website to be more complete, cheaper, more efficient and easier to use.

Edited to add an update from the customer:
The app version is the latest
My device is a Samsung A21S
Android version is the latest

All pages are slow.
And it's getting worse.

[2022-05-02 15:11] tiagomar commented on #4812
I did confirm it is not related to drag & drop feature. Thanks, @fluiddot! 🙇

[2022-05-03 06:51] geriux commented on #4802
This was handled in https://github.com/WordPress/gutenberg/pull/40729

[2022-05-03 06:51] #4802 closed, assigned to geriux

[2022-05-03 14:06] fluiddot opened #4819 "[Drag & Drop blocks] Disable dragging when a screen reader is enabled"
## Description

The dragging gesture can be performed when a screen reader (like VoiceOver or TalkBack) is enabled by the long-press gesture, however, we found the following issues:
- Dragging should be enabled by the command "Tap twice and hold" ([reference](https://dequeuniversity.com/screenreaders/voiceover-ios-shortcuts#other_commands)), not the long-press gesture.
- There's no indication abou

[2022-05-03 14:41] geriux commented on #4807
I'm also investigating an issue on Android where the return key doesn't work for the first block

https://user-images.githubusercontent.com/4885740/166475295-f995841c-924b-4928-aff5-51f4347aec17.mov

[2022-05-04 06:36] geriux opened #4824 "[Drag & Drop blocks] Tweak draggable chip styles"
We got some design updates from @iamthomasbishop  for the draggable chip:

- Update paddings to optimize for optical balance over mathematical symmetry:

<kbd><img width=400 src="https://cldup.com/QlPJlHekx7.png" /></kbd>

- Dim the drag handle icon to `$light-tertiary` / `$dark-tertiary` from [_colors.native.scss](https://github.com/WordPress/gutenberg/blob/trunk/packages/base-styles/_colors.nati

[2022-05-04 10:08] fluiddot opened #4825 "[Drag & Drop blocks] Hide chip when the dragging finishes"
## Description

Currently, the action of dropping a block and reordering the blocks takes extra time (several hundreds of milliseconds) and leaves the chip visible for a noticeable amount of time after removing the finger from the screen. For this reason, it would be great to hide the chip when the dragging gesture finishes opposed to the current behavior, where it's hidden after the block is drop

[2022-05-04 17:31] ChrissiePollock opened #4827 "New Lines Hidden in Block and New Block Takes a Long Time to Load"
**Describe the bug**
A customer came in saying: I am still dealing with a lag in expanding the box when I get to a new line. I can type almost all of the next line before the box expands for me to be able to see it. It's also taking a long time to respond to enter or the plus symbol to make a new box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit a new post in the app
2. Type a

[2022-05-05 08:18] fluiddot commented on #4801
This issue has been addressed in https://github.com/WordPress/gutenberg/pull/40810.

[2022-05-05 08:18] #4801 closed, assigned to fluiddot

[2022-05-05 10:29] SiobhyB commented on #4827
@ChrissiePollock, thank you for reporting this! 🙇‍♀️

What version of the app were you able to replicate this on, out of interest? I ask because I noticed the user is on 19.6 and [a performance improvement was introduced](https://github.com/WordPress/gutenberg/pull/40615) in the upcoming 19.8 (available internally, but scheduled to be available from the App Store on May 16th). It'd be interesting

[2022-05-05 10:45] hypest commented on #4741
I think that it's cool to go with selecting text on long press when editing is activated, and default to dragging-n-dropping when text blocks are not caret-focused, and then we take it from there.

[2022-05-05 14:02] geriux opened #4831 "[Drag & Drop blocks] Track block movement actions"
- [x] Add an event related to dropping a block
- [x] Add events related to moving up/down a block

[2022-05-06 09:55] geriux commented on #4807
This was addressed in https://github.com/WordPress/gutenberg/pull/40788

[2022-05-06 09:55] #4807 closed, assigned to geriux

[2022-05-06 16:28] fluiddot commented on #4819
Closing this issue as it was addressed in https://github.com/WordPress/gutenberg/pull/40852.

[2022-05-06 16:28] #4819 closed, assigned to fluiddot

[2022-05-09 13:58] fluiddot commented on #4791
Addressed in https://github.com/WordPress/gutenberg/pull/40886.

[2022-05-09 13:58] #4791 closed, assigned to fluiddot

[2022-05-09 15:18] fluiddot opened #4840 "[Drag & Drop blocks] Add drag & drop help guide in Help & Support screen"
## Description

Add a guide for explaining to users how the drag & drop blocks feature works. This implies expanding the information provided in the "Move Blocks" section of the Help & Support screen.

<img src=https://user-images.githubusercontent.com/14905380/167442571-7f9243a6-7140-42f3-9b65-6922c6e7927d.png width=300>

### Design sketch
![Image from iOS](https://user-images.githubusercontent.c

[2022-05-09 15:30] fluiddot commented on #4840
@iamthomasbishop now that we'll provide a new way for moving blocks, I'm wondering if we could update this section of the Help & Support screen to reflect the new feature.

Could you help us with the designs of this part? Thanks 🙇 !

[2022-05-09 22:59] igotdes commented on #559
From [1-star Google Play review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOHUiPFOJRexddxLXsa8xgh_4z237eoSYttNZ7ACUgW7-xiL6sV4kiqOOIwWUMm8v5hTyGIiqjrWefalsQ&corpus=PUBLIC_REVIEWS):

[2022-05-10 09:01] SiobhyB commented on #2661
I came across this issue when looking into broken settings in the Gallery block, which it turned out were caused by an unbounded query (more details in https://github.com/WordPress/gutenberg/pull/40947). That PR also uncovered a small incoming breakage to native, as another unbounded query had been added to code the apps use on the web-side.

[2022-05-10 10:21] #4079 closed, assigned to SiobhyB

[2022-05-10 12:36] geriux commented on #4840
As an example this is the image indicating the arrow buttons:

### Light

<img src="https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/editor-help/images/move-light.png?raw=true" />

### Dark

<img src="https://github.com/WordPress/gutenberg/blob/trunk/packages/editor/src/components/editor-help/images/move-dark.png?raw=true" />

It'd be nice if we could have it with t

[2022-05-10 13:53] fluiddot commented on #4840
Thanks @geriux for adding the images 🙇 , in case it helps, [this is the folder](https://github.com/WordPress/gutenberg/tree/trunk/packages/editor/src/components/editor-help/images ) where we have all the images included in the "Help & Support" screen.

[2022-05-10 15:57] #3668 closed, assigned to nobody

[2022-05-11 08:47] #4831 closed, assigned to geriux

[2022-05-11 23:17] tiagomar opened #4852 "[Drag & Drop blocks] Chip is off the touch point for RTL languages."
**Describe the bug**
Chip far to the right of the touch point for RTL languages.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a RTL language as the default for the device.
2. Open the post or page
3. Long press over a block
4. Note that the chip is only visible in screen when the touch point is closer to the left edge.

**Expected behavior**
The chip should be aligned with the touch p

[2022-05-12 15:11] fluiddot opened #4853 "[Drag & Drop blocks] Drag mode is not enabled when long-pressing over some types of block"
## Description

The dragging is not working properly when long-pressing over the content of the following types of blocks:
- Search block ✅  **(Already addressed in https://github.com/WordPress/gutenberg/pull/41155)**
- Contact Info block ❌
- Shortcode block ❌

Looks like this might be related to the fact that these blocks are not using Aztec for rendering the text input, instead, they're using th

[2022-05-16 02:33] #3699 closed, assigned to nobody

[2022-05-17 09:06] geriux opened #4864 "Keyboard hiding and reappearing after adding 10+ blocks"
**Describe the bug**
Originally reported internally in pbMoDN-3vb-p2?c=6739#comment-6739  there is a regression in the block list where the keyboard will start hiding and reappearing after adding 10+ blocks.

**To Reproduce**
Steps to reproduce the behavior:
- Open the app
- Start adding blocks, using the return key to create new Paragraph blocks.
- Add more than 10 blocks.

**Expected behavior**

[2022-05-17 12:13] fluiddot commented on #4864
I'd like to note that the keyboard hiding and reappearing issue was already happening on Android and could be reproduced just by adding a Paragraph block (independently of the number of Paragraph blocks added). However, it's less prominent than the issue outlined here for iOS.

**Version `19.7.1`:**

https://user-images.githubusercontent.com/14905380/168807892-f01d5f26-9e7d-46e0-8179-0724ef2b28f5.

[2022-05-18 08:52] #4864 closed, assigned to geriux

[2022-05-18 09:05] #4852 closed, assigned to geriux

[2022-05-19 16:27] fluiddot commented on #4840
Closing the issue as it was addressed in https://github.com/WordPress/gutenberg/pull/40961.

[2022-05-19 16:27] #4840 closed, assigned to fluiddot

[2022-05-20 12:00] fluiddot commented on #4853
This issue has been solved for the Shortcode block in https://github.com/WordPress/gutenberg/pull/41155. The same workaround applied in that PR could be expanded to the rest of the affecting blocks but will be done in separate PRs.

[2022-05-20 19:09] Gustavo-Hilario commented on #2880
A user reported this issue here: 5211171-zen

I have also filled out a similar bug report about this on Automattic/wp-calypso/issues/59372

This seems to be affecting multiple blocks with images where the option `Image Size` isn't doing anything but reducing the image quality. I think we should reopen and investigate this further.

[2022-05-23 07:18] derekblank opened #4878 "Add Insert from URL option to Gallery block"
The "Insert from URL" option was added to the Image block in [gutenberg#40334](https://github.com/WordPress/gutenberg/pull/40334).

The Gallery block nests Image blocks as child block to support adding multiple Images to a Gallery. Currently, the Gallery block only displays Insert from URL as an option for images items that have already been added to the Gallery. The Gallery block can be updated t

[2022-05-23 07:23] derekblank opened #4879 "Add Insert from URL to Cover and Media & Text block images"
The "Insert from URL" option was added to the Image block in [gutenberg#40334](https://github.com/WordPress/gutenberg/pull/40334).

The Cover and Media & Text blocks use nested Image blocks as children to support adding Images. Currently, these nested Image blocks do not support the "Insert from URL" option. The Cover and Media & Text blocks can be updated to support Insert from URL from an Image

[2022-05-23 08:02] derekblank opened #4880 "Use shared loading indicator styles"
### Background
When fetching media resources via network requests (like images or videos URLs), a loading indicator is displayed during the request to show the user the request is active.

This loading indicator pattern can be used across a handful of blocks that implement network requests:
- Embed ([current implementation](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/s

[2022-05-23 08:04] derekblank commented on #4880
[Design feedback](https://github.com/WordPress/gutenberg/pull/40334#issuecomment-1133117017) from @iamthomasbishop regarding the loading indicator styles introduced on the Image block:

[2022-05-23 08:29] fluiddot opened #4881 "[Drag & Drop blocks] Add integration tests"
## Description

Add integration tests to cover the Drag & Drop blocks functionality. We could try to cover the following parts:
- Drag mode (**NOTE:** We could test the drag mode by checking the visibility of the chip component, which should only be displayed when the drag mode is enabled)
    - Text blocks
        - When the block is unselected, long-pressing over the content enables drag mode.

[2022-05-23 10:15] geriux opened #4882 "[Drag & Drop blocks] Add E2E tests"
Add E2E tests related to the Drag & drop blocks feature, depending on which makes sense to add some might be left out to be done in manual testing.

[2022-05-23 14:24] #3190 closed, assigned to derekblank

[2022-05-24 05:13] jostnes opened #4887 "Intermittent iOS - Long pressing + icon does not open up menu"
**Describe the bug**
The issue looks to be intermittent. Sometimes when long-pressing the `+` icon to display the `Add Block ...` options menu, the menu does not appear. Seems to be easier to reproduce after switching the editor from Visual to HTML and back to Visual again.

Managed to reproduce this on a simulator (screen recording below) and also seen on a E2E test failure, e.g. [here](https://a

[2022-05-24 12:21] fluiddot commented on #4887
Thanks @jostnes for opening the issue 🙇 ! I manage to reproduce it but I agree that it's quite intermittent and random, and as far as I tested, it has a low reproducibility.

I captured the event data received when this issue happens but doesn't give any solid clue about the culprit.

1. First event when pressing the button:
[code]

2. Second event when the long-press should start after `500ms`:

[2022-05-24 14:13] guarani opened #4889 "Jetpack colors not used consistently within the editor"
**Describe the bug**

When the block editor is used within the Jetpack app, the colors of some editor UI elements don't match that of the Jetpack app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Jetpack app to manage a site
2. Open the block editor
3. Notice some UI elements that are "blue" (WP color) while some are "green" (JP color)
  - The "+ Add Block" button is blue
  - The

[2022-05-25 12:12] hypest commented on #4889
👋 @iamthomasbishop , can you take a quick look to see if there's any gotchas in using the Jetpack green for the UI elements? Thanks!

[2022-05-25 15:09] tiagomar opened #4894 "[iOS] Media & Text Block: Keyboard covers the text field after rotating from Landscape to Portrait"
**Describe the bug**
When using a Media & Text block, the keyboard obstructs the view of the text after rotating from Landscape to Portrait.

**To Reproduce**
Steps to reproduce the behavior:
1. Portrait mode
2. Add Media & Text block to a post
3. Add an image
4. Type some text
5. Rotate to Landscape mode
6. Rotate back to Portrait mode
7. ❌ Notice that the keyboard goes on top of the text field a

[2022-05-25 19:01] iamthomasbishop commented on #4889
@hypest @guarani Thanks for the ping!

From a high-level perspective, I'd rather be more intentional about the use of brand colors — especially the canvas and block UI — not necessarily changing _everything_ that is blue to green just for the sake of branding. It's worth noting that while we are using blues from color studio as the base colors (similar to core GB and their use of blue as a base, e

[2022-05-27 06:56] derekblank commented on #4646
Currently working from remote branch: [rnmobile/add-url-option-to-video-block](https://github.com/derekblank/gutenberg/tree/rnmobile/add-url-option-to-video-block).

### A list of things this PR should include:

- [x] Tapping the Video block should display "Insert from URL" in the Media Options menu.
- [x] Inserting an invalid URL should notify the user that the URL is invalid (e.g., text input is

[2022-05-27 08:34] hypest commented on #4894
Thanks for opening this ticket Tiago! Let me ask to verify: in the video capture, it looks like the editor keeps scrolling to above the text field even after you repeatedly try to scroll down, right? In other words, auto-scrolling keeps "fighting" you, right?

[2022-05-27 08:37] syhussaini opened #4906 "Donations Block in WordPress App"
**Is your feature request related to a problem? Please describe.**
Can we please have the _Donations block_ added to the WordPress Mobile App?

**Describe the solution you'd like**
I would like to have a _Donations Block_ added to the list of blocks of the Gutenberg blocks. The block will help the users manage the _Donations Block elements_ on the site pages/posts when editing the site on WordPres

[2022-05-27 15:28] fluiddot commented on #4881
I tried to simulate the scrolling logic in the integration tests but unfortunately, this part can't be tested because we need more control over the gesture event testing logic. Specifically, we need a mechanism for leaving a gesture in the `ACTIVE` state for a specific duration. This is mandatory for the scrolling logic, as it uses a timer to update the scroll and only runs while the dragging is e

[2022-05-27 18:46] tiagomar commented on #4894
That's correct @hypest! It was me trying to scroll the text field into view. =)

[2022-05-31 13:57] fluiddot commented on #4881
Closing this issue as it has been addressed in https://github.com/WordPress/gutenberg/pull/41364.

[2022-05-31 13:57] #4881 closed, assigned to fluiddot

[2022-05-31 15:33] #4882 closed, assigned to geriux

[2022-06-01 07:32] jostnes opened #4915 "[E2E Tests] - Flakiness in gutenberg-editor-block-insertion-2.test.js"
**Describe the bug**
Not a bug in the app but to track/address flakiness in the E2E tests. Seems like there is some flakiness on this test file: `gutenberg-editor-block-insertion-2.test.js`, this is happening due to an intermittent issue involving long-press.

When the intermittent issue with long pressing happens, the last 3 tests in this test suite will fail.

Build examples: [1](https://app.cir

[2022-06-01 08:02] jostnes opened #4916 "[E2E Tests] - E2E tests failing with "Not JSON response""
**Describe the bug**
Not a bug in the app but to track/address flakiness in the E2E tests. Currently, some E2E tests are failing with this error "Not JSON response". This happens intermittently making the tests flaky.

Not sure why this is happening, yet. Tracking it here with some examples for now.

Examples: [1](https://circleci.com/gh/wordpress-mobile/gutenberg-mobile/96599), [2](https://app.ci

[2022-06-01 08:25] jostnes opened #4917 "[E2E Tests] - Tests failing with "[setOrientation("PORTRAIT")] Unexpected data in simpleCallback.""
**Describe the bug**
Not a bug in the app but to track/address flakiness in the E2E tests. Currently, some E2E tests are failing with this error "[setOrientation("PORTRAIT")] Unexpected data in simpleCallback.". This happens intermittently making the tests flaky.

Not sure why this is happening, yet. Tracking it here with some examples for now.

Examples: [1](https://app.circleci.com/pipelines/git

[2022-06-01 15:45] geriux opened #4918 "Crash on the editor when closing it"
**Describe the bug**
A [new issue on Sentry](https://sentry.io/share/issue/160a7b6fc5aa49cc8c625699deb14bc9/) started to increase with the latest `19.9` release generating a crash on iOS when the editor is closed.

This is related to the Reanimated library, used in the newly introduced feature Drag & Drop blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the `19.9` WordPress iO

[2022-06-02 15:11] fluiddot commented on #4918
Closing the issue as a fix was released on both version `19.9` and `20.0` via a hotfix and betafix.

[2022-06-02 15:11] #4918 closed, assigned to nobody

[2022-06-03 10:46] fluiddot opened #4929 "[Drag & Drop blocks] Add manual tests"
## Description

Add manual tests for the functionality that couldn't be covered with integration and E2E tests. Specifically, scroll the block list while dragging a block.

[2022-06-03 13:40] #4929 closed, assigned to fluiddot

[2022-06-03 14:48] mdrockwell commented on #3940
From an Android app review:

[2022-06-07 07:56] derekblank opened #4936 "URL dialog is cut off in landscape mode"
**Describe the bug**
The Insert from URL dialog is partially cut off when the app is opened in portrait orientation first, and then rotated to landscape orientation. (This may affect other dialogs in landscape, too.)

**To Reproduce**
Steps to reproduce the behavior:
1) Open a Post or Page in Portrait orientation.
2) Insert an Image or Audio Block.
3) Tap on Insert from URL in the menu options.
4)

[2022-06-08 10:58] erricgunawan commented on #2537
[5-star Android app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOFtzUvITEH9ltZPkXTMnWQ1eA3gBM6beyhMW88ifZkJ6B21M1pd8Q0LfLsC_TSyM4jqRtbSpKl12a6KqQ&corpus=PUBLIC_REVIEWS)

[2022-06-08 11:16] erricgunawan commented on #2628
<sup>play-store-reviewId=gp%3AAOqpTOEe2qDSwNmzkqOiU5oN2wPGtFyVcWhl4ZoG-K2aNvYahoYeimMWrKsj5p9gk1tE-J7LR8jcsbIhU__fzQ</sup>

[2022-06-08 11:34] erricgunawan commented on #2594
<sup>play-store-reviewId=gp%3AAOqpTOGUKaykxty2dsdZaz9RA4rUXap77exvY0OjmMGijfmQCrRJz3_7RUUCTu5w3oDzLvhtITYqx26vFptkcg</sup>

[2022-06-09 16:00] #4646 closed, assigned to derekblank

[2022-06-11 14:40] mdrockwell opened #4949 "Alt Text Saved to Image in Media Library Not Used When Added to Post or Page"
**Describe the bug**
Alt text can be saved on an image within the media library and when adding that image to a post or page within the browser, the alt text is properly applied. This isn't the behavior in the mobile app.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to My Site > Menu > Media.
2. Select an image from your media library and add alt text.
3. Save the changes.
4. Cre

[2022-06-13 14:24] fluiddot opened #4952 "[Drag & Drop blocks] Update drag & drop animation"
## Description

As a next iteration on the animation of the drag & drop, it would be great to apply the design suggestions noted in [this PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691), specifically the following one:

_[Extracted from [this comment](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-1092007212)]_

[2022-06-21 18:54] dcalhoun commented on #4977
I transferred this issue to the `gutenberg-mobile` repository as the bug relates to the block editor and impacts both iOS and Android.

[2022-06-23 18:09] #4977 closed, assigned to dcalhoun

[2022-06-24 22:08] dcalhoun commented on #4097
I spent some time researching this issue. I did not arrive at a solution, but wanted to share my findings.

## Findings

There are areas within the editor that already support Dynamic Type, but it is largely outside of Aztec Rich Text blocks. The editor UI driven by React Native within [WordPress/gutenberg](https://github.com/WordPress/gutenberg) adapts to a user's Dynamic Type setting. However, t

[2022-06-27 15:57] fluiddot commented on #4097
This is definitely a tricky question, should the accessibility have more precedence than the content format? After testing other editors, I see in some cases the content format takes precedence, although, for example, Google Documents combine the two values (i.e. Text size specified by A11y and font size). Probably the latter makes more sense, although as you mentioned, it might lead to situations

[2022-06-27 16:15] dcalhoun commented on #4097
I agree combining the values is likely the most expected from a user experience. We would need determine a way of displaying the content in a manner that is helpful. I.e. a font size so big that only a single character fits on each line is not that helpful IMO. Maybe we combine the values up to a certain maximum to avoid extreme outcomes?

Now that the editor is incrementally supporting display of

[2022-06-28 07:58] fluiddot commented on #4097
I totally agree, in case we combine the values, it would be helpful if we set a limit on both sides, i.e. have a minimum and maximum font size.

That's a good idea, we'd need to figure out when and how the notice would be displayed, but this would definitely be helpful to the user 👍 .

[2022-07-01 15:21] shaunandrews commented on #4889
I agree with everything @iamthomasbishop said above. The green should be used intentionally. The cursor and text selection colors are already a step too far in that regards; We should be looking to reduce these more distracting uses of the green accent color, not adding more.

[2022-07-07 10:16] erricgunawan commented on #559
[3-star Google Play review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=79768b04-cf35-4128-9c62-9db6aa2ba6df&corpus=PUBLIC_REVIEWS):

[2022-07-07 10:40] erricgunawan commented on #1257
[3-star Android app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=3f96a3f7-35c6-4616-ba80-b374dbbd0955&corpus=PUBLIC_REVIEWS):

[2022-07-10 14:10] ChrissiePollock commented on #4827
Sorry. I didn't see this mention @SiobhyB. I don't remember what version I was on. I just tested again, and it doesn't seem as problematic as it was back then, but I can still see a lag and lose typing for about half a line before things catch up and let me see. My current version is 20.2-rc-1 (1239). You are correct on my device info.

[2022-07-14 03:15] mokagio opened #5025 "Is `RNFastImage` required for iOS apps?"
Hey folks 👋

Forgive the noob question, but is `RNFastImage` required? I don't see it used anywhere 🤔

When I say "I don't see it used anywhere" I mean that the output of `find Pods -type f -print0 | xargs -0 grep -li RNFastImage` in WordPress iOS doesn't return anything other than config files. Likewise, [a GitHub search on this repo only returns the JSON podfile](https://github.com/wordpress-mob

[2022-07-14 05:32] derekblank commented on #5025
Timely question! @geriux is leading an initiative to add FastImage, so it is included in these PRs:
- https://github.com/wordpress-mobile/gutenberg-mobile/pull/4989
- https://github.com/wordpress-mobile/WordPress-iOS/pull/18995

We're working to merge the remaining iOS-related PRs:
- https://github.com/wordpress-mobile/WordPress-iOS/pull/18997
- https://github.com/wordpress-mobile/WordPressKit-iOS

[2022-07-14 06:49] geriux commented on #5025
That's because pretty much all of the dependencies are used in the [Gutenberg repo](https://github.com/WordPress/gutenberg/search?q=%3CFastImage).

[2022-07-14 07:49] fluiddot commented on #5025
I think that for most of the Pods listed [here](https://github.com/wordpress-mobile/WordPress-iOS/blob/23ae9e7bfe2d92ecd861a1995434190090609f69/Podfile#L103-L146), we'll have a similar case where we won't really see any reference in the WPiOS code because, as @geriux mentioned, they are mainly used in Gutenberg and imported as native modules in the JavaScript environment.

[2022-07-14 12:07] mokagio commented on #5025
Thanks folks! I thought it would be something like that but didn't go as far as checking Gutenberg 🤦‍♂️

I opened https://github.com/wordpress-mobile/WordPress-iOS/pull/19047 to add a note about this in `Podfile`, I can see myself going through this dance again in the future.

[2022-07-14 12:07] #5025 closed, assigned to nobody

[2022-07-16 09:51] thabotswana commented on #1152
We have a user reporting this issue here: 5375141-zen

* They can add their video to their media library, then insert it into a post, but they can't upload directly from the editor.
* We have been able to reproduce this by uploading a video to a Simple site.

[2022-07-20 12:47] #4514 closed, assigned to nobody

[2022-07-20 13:19] geriux opened #5039 "React Native Upgrade 0.69 - Update Third-Party packages"
Known packages that need to be updated for compatibility with `0.69`:

- [x] react-native-reanimated https://github.com/wordpress-mobile/react-native-reanimated/pull/18
- [x] react-native-video -> https://github.com/wordpress-mobile/react-native-video/pull/19
- [x] react-native-gesture-handler -> https://github.com/wordpress-mobile/react-native-gesture-handler/pull/22

[2022-07-21 01:15] derekblank opened #5043 "React Native Upgrade 0.69 - Spike to investigate Bundled Hermes"
Investigate RN 0.69's [Bundled Hermes](https://reactnative.dev/blog/2022/06/21/version-069#bundled-hermes) feature and how it might affect or interact with the current mobile Hermes implementation.

- [x] Review RN's deep dive into the [Bundled Hermes architecture](https://reactnative.dev/architecture/bundled-hermes)
- [x] Review the current status of Hermes within Gutenberg Mobile
- [x] **WordPre

[2022-07-22 08:51] fluiddot opened #5047 "Make colors of editor’s UI to be consistent in the Jetpack app"
## Description

Following https://github.com/wordpress-mobile/gutenberg-mobile/issues/4889, in the Jetpack app, some UI elements like the text selection and caret navigation are using green color (i.e. Jetpack color). However, the rest of the editor’s elements are using the blue color which is the default one. To be consistent with colors across the editor, we should update them so it looks the sa

[2022-07-26 10:47] essleeung commented on #4936
Another case here:5420724-zd-woothemes

This happens when adding a link for paragraphs in Chrome & Safari (portrait mode). Asked user to use landscape mode.

[2022-07-27 07:01] sudeepbaral commented on #4936
- [ ] 5420724-zen

The user replied back and shared they are quadriplegic and shared they primarily use their iPad in portrait mode as they are not able to easily switch back-and-forth between portrait and landscape mode.

[2022-08-05 09:01] SiobhyB commented on #5047
A starting point to addressing this has been made in the following open PRs:

* https://github.com/wordpress-mobile/WordPress-iOS/pull/19113
* https://github.com/wordpress-mobile/WordPress-Android/pull/16968/
* https://github.com/WordPress/gutenberg/pull/42996

The PRs specifically achieve the following for the Jetpack app:

* Updates the colour of UI elements within the main editor (e.g. cursor,

[2022-08-10 15:55] geriux commented on #5043
Hey @derekblank 👋 I created 3-gh-wordpress-mobile/react-native-mirror-publisher to track any investigations or needed changes for `0.69` since this would also be needed for upgrading the dependencies (it's currently a blocker). I also pinged someone that worked on that project to see if they have any thoughts about the required changes.

Feel free to post any findings related to the new structure

[2022-08-11 10:37] geriux commented on #5043
I requested help from platform to help us out with the `react-native-mirror-publisher` changes pdnsEh-xx-p2 (internal ref)

[2022-08-12 01:56] reginabally opened #5091 "Image block: Image looks cut off or not centered on certain devices"
**Describe the bug**
Initially reported in 5465772-zd-woothemes. The image looks cut off in the app's editor on an iPad. On an iPhone 11, the image wasn't cut off but wasn't centered. We can't reproduce this on iPhone SE.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the image from this post: pqyTp-4p8-p2
2. Add the image to an Image block on a test site via the web editor
3. View the

[2022-08-12 08:43] joashrajin commented on #1257
+1 at #5472281-zen

[2022-08-16 02:13] reginabally commented on #4949
Another report in 5469105-zd-woothemes.

Device: iPhone 12 (iPhone13,2)
OS: 15.5
Version: 20.2.1

[2022-08-16 08:11] thehenrybyrd opened #5097 "Editor Crash when saving post with large/complex List Block V2"
**Describe the bug**
Using List Block V2, having created a list with many items and several levels of indentation, the editor appears to crash when saving the post.
I experience a flash of dark screen, and then end up back on the Menu screen instead of the Post list.
I was able to reproduce this consistently on both a self-hosted temp site from tastewp.com and an internal temp site.
Tested on the

[2022-08-16 08:30] thehenrybyrd opened #5098 "List Block V2: Prefilled word "list" isn't greyed-out"
**Describe the bug**
When adding a new list item, the word "List" appears, but isn't greyed-out.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you're using Gutenberg 13.8.2, and enable List block v2 in Experiments.
2. Create a new post, and add a list block.
3. Add a few items, noting that each time you add one, the word "List" is prefilled before you start typing. Note that the

[2022-08-16 14:24] dcalhoun commented on #4949
@reginabally @mdrockwell I was able to reproduce this using the WP 20.2.1 app. However, I was **not able** to reproduce this on the latest public release: 20.4.0.3. I tested an iPhone SE (iOS 15.6) and Samsung Galaxy S20 (Android 12).

May we recommend users upgrade to the latest public release to see if this resolves the issue for them?

Closing this, but feel free to reopen if needed.

[2022-08-16 14:24] #4949 closed, assigned to nobody

[2022-08-16 14:42] geriux commented on #5097
After some investigation, this is happening when several InnerBlocks are nested, depending on the amount of `Views` that are in the tree. I tested this with the Quote block (V2) and after nesting several Quote blocks it happens as well.

We had an issue that is similar on iOS a while back but it would crash as soon as you'd reach the nesting limit. On Android is crashing when closing the editor, I

[2022-08-16 15:07] geriux commented on #5097
Just confirmed this happens on iOS as well (with the app open), tried to nest 10 Quote blocks.

For the List block takes fewer blocks to get it to crash, for example, a List block that has more than 4 nested lists blocks.

[2022-08-17 04:06] igotdes opened #5101 "Paragraph Block: Enable Drop Cap"
**Is your feature request related to a problem? Please describe.**
While Drop Caps can be added from a browser, this isn't available in the mobile apps yet.

**Describe the solution you'd like**
Enable Drop Cap in the mobile apps.

**Additional context**
This was requested by the user in #5475131-zen.

[2022-08-17 08:14] fluiddot commented on #5098
Thanks for reporting this @thehenrybyrd 🙇.

I agree that might be confusing to the user that the placeholder is not greyed-out, as it looks like real text. I've set High-priority on this issue as it might disrupt the writing flow experience when the List block V2 will be enabled.

cc @geriux @derekblank in case you could take a look, thanks!

[2022-08-17 09:07] geriux commented on #5098
I think @derekblank is already checking it out, but if not, let me know and I will take a look. Thanks!

[2022-08-17 10:56] fluiddot commented on #5098
Great, thanks for the update! @derekblank feel free to assign yourself to the issue in case you're currently tackling it.

[2022-08-17 12:27] fluiddot commented on #5091
Thanks for reporting this @reginabally 🙇 !

I might be overlooking a reproduction step but so far, I couldn't manage to reproduce this issue in WPiOS/JPiOS 20.5 and 20.4.

**Steps:**
1. Download [the image](https://newspaceeconomy.files.wordpress.com/2022/07/306826ab-4675-4932-b71b-ee2998fb531e.jpeg) displayed in the referenced post (pqyTp-4p8-p2).
2. Change the site's theme to "Intergalactic 2".

[2022-08-17 16:05] geriux commented on #5043
All the required changes for the `react-native-mirror-publisher` are now done and tested 🎉

[2022-08-18 08:51] reginabally commented on #5091
Hi @fluiddot, I'm so sorry for leaving out the part that the image has to be added via the web editor! I edited my post for clarity.

I've also invited you to my test site. You can view the image in a draft post titled "Reusable block test". Let me know if that works for you!

[2022-08-18 14:06] fluiddot commented on #5091
@reginabally Ah ok, thanks for expanding that part 🙇 , I'll use the web editor for reproducing it 👍 .

Great! I'll try to reproduce it with my test sites but if I don't manage to reproduce it I'll use yours, thanks!

[2022-08-18 16:39] fluiddot commented on #5091
I finally manage to reproduce it by using your test site @reginabally. Looks like the issue is related to the Image size and changing the Image dimensions via the Image block settings.

Here are the **reproduction steps** I used:
1. Download [this image](https://newspaceeconomy.files.wordpress.com/2022/07/306826ab-4675-4932-b71b-ee2998fb531e.jpeg).
2. Go to the web version of the editor.
3. Create

[2022-08-22 10:51] SiobhyB commented on #4889
👋 @shaunandrews, as per [this comment](https://github.com/wordpress-mobile/gutenberg-mobile/issues/5047#issuecomment-1206216750), we've recently merged changes to achieve the following:

* Update the colour of UI elements within the main editor (e.g. cursor, highlight, etc.) from green to blue.
* Update the accent of sub screens within Post Settings from green to blue.

These changes can be seen f

[2022-08-22 15:29] geriux opened #5110 "React Native Upgrade 0.69 - Implement Gutenberg changes"
Main tasks to add support for React Native `0.69.4` in the Gutenberg demo app:

- [x] https://github.com/WordPress/gutenberg/pull/44889
- [x] https://github.com/WordPress/gutenberg/pull/43486

[2022-08-22 15:39] shaunandrews commented on #4889
I don't have all the answers right now. At some point we'll need to reconsider our use of color throughout the entire app. I think the progress made so far helps reduce some the "uncanny valley" effect we had with the green in the editor.

On iOS, I think the these sheets/menus that use green feel strange:

![IMG_E52477FD2C06-1](https://user-images.githubusercontent.com/191598/185960622-3accd299-9

[2022-08-25 12:03] fluiddot commented on #5097
[This fix](https://github.com/WordPress/gutenberg/pull/43431) should improve this crash situation 🎊 . Although, I'd like to note that doesn't entirely address it because it can still be reproduced when having 10+ nested items in the List block V2. However, it's unlikely that users will have List blocks with more than 5 levels, so hopefully, the fix will prevent the crash in most cases 🤞 .

[2022-08-25 15:50] geriux commented on #5039
All the required libraries have been updated, I'll keep this ticket open until we merge those.

[2022-08-26 11:09] fluiddot commented on #4889
Thank you very much @SiobhyB for addressing some of the color inconsistencies, great work 🏅 !

Good question, we'd need to review the colors used in the app in general, not just the editor. We might identify some areas that we don't want to have with the green colors, and follow a similar approach as we've done in the editor with the blue color 🤔 .

[2022-08-30 08:33] SiobhyB commented on #4889
Thanks both, it sounds like it's okay to pause this task until we're able to figure out more details. 👍

@shaunandrews, the inconsistent colours in the action sheets (from your screenshot) on iOS will be fixed in 20.7.  Thanks for testing!

[2022-09-02 15:01] fluiddot commented on #5098
Closing this issue as it was addressed in https://github.com/WordPress/gutenberg/pull/43353.

[2022-09-02 15:01] #5098 closed, assigned to derekblank

[2022-09-05 10:02] AliSoftware opened #5135 "JavascriptException: TypeError: Cannot read property 'tagName' of undefined"
**Sentry Url**: https://sentry.io/share/issue/3fbecd8d397a4f389c10266d97b88979/
**User Count**: 656
**Count**: 2759
**First Release**: 17.8
**First Seen**: 2021-07-29T11:38:06.407000Z
**Last Seen**: 2022-09-05T09:47:40Z
**24 Hours**: 103
**30 Days**: 1150

<img width="299" alt="image" src="https://user-images.githubusercontent.com/216089/188423755-4836d1d2-797c-4d0a-b993-0d4f4ab9bcf3.png">

[code]

[2022-09-05 13:05] geriux commented on #5135
Thanks for creating this issue, I de-symbolized the stacktrace and it is related to the List V2 block:

[code]

I checked and it happens on both platforms.

There is a fix already [for this bug](https://github.com/WordPress/gutenberg/pull/43761) so we will include it in Gutenberg mobile as well.

[2022-09-06 08:10] geriux commented on #5135
Fixed in https://github.com/WordPress/gutenberg/pull/43861

[2022-09-06 08:10] #5135 closed, assigned to geriux

[2022-09-21 01:27] reginabally opened #5165 "Text added with iOS dictation disappears"
**Describe the bug**
Reported in 5566465-zd-woothemes.
When using the iOS dictation to add text to the app's editor, the text will disappear when tapping another block.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Site > Posts and create a new post
2. Activate the iOS dictation feature and speak to the microphone
3. Notice the text added to the editor
4. Tap another block on the

[2022-09-22 10:07] fluiddot commented on #5165
Thanks for opening the issue @reginabally! This is definitely an annoying bug for users that use dictation, which by the way it's a very interesting feature for writing text in a post quickly 🙂. I noticed that the text remains if you tap on the microphone button after dictating, but any other action like tapping on a different block, typing text, or scrolling the content makes the text disappear.

[2022-09-23 08:25] reginabally commented on #5165
TIL! Thanks for pointing that out, @fluiddot! I will inform the user about this trick.

[2022-09-23 12:50] rezzap commented on #2537
Add Table block in jetpack app

5567617-zd-woothemes

[2022-09-27 03:19] igotdes commented on #3940
+1 from #5578989-zen:

And for future reference as this took me a while 😅 in iOS, users can underline text by long-pressing on it to select, then clicking on Format > Underline.

[2022-09-29 07:23] AjeshRPai opened #5181 "Compile and target Android API 31"
Parent #https://github.com/wordpress-mobile/WordPress-Android/issues/16062

As part of the migration of WP Android to Android 12, the `targetSdkVersion` on the dependent libraries can be updated to 31. The [Wordpress Android](https://github.com/wordpress-mobile/WordPress-Android) had a `targetSdkVersion` of 30 which now has been updated to 31 in this PR - https://github.com/wordpress-mobile/WordPr

[2022-09-30 08:51] fluiddot commented on #5181
Setting this task as a high priority as we should include it in the next WP-Android release 21.0.

_Internal reference:_ p1664442201957959-slack-C6UJ0KRKQ

[2022-09-30 10:53] fluiddot commented on #5181
I noticed that some of the forked repositories we have in Gutenberg, [which are Android dependencies to the project](https://github.com/WordPress/gutenberg/blob/a6c43fb9df3168246430aa85ee0beb7ac58c59ce/packages/react-native-bridge/android/react-native-bridge/build.gradle#L67-L79), have `targetSdkVersion` set to `30`:
- [`react-native-gesture-handler`](https://github.com/wordpress-mobile/react-nati

[2022-09-30 11:12] AjeshRPai commented on #5181
@fluiddot  Thanks for the ping and noticing the `targetSdkVersion` on the other libraries. 🙇🏼

Yup, we'd need to update them as well.

[2022-10-05 09:49] erricgunawan commented on #2594
1-star Android app review:

App version code: 1272
App version name: 20.7
Android version: Android 8.1 (SDK 27)

<sup>play-store-reviewId=b0465c69-9e5b-4de5-801a-7224eeff94ba</sup>

[2022-10-10 01:17] rinazrina commented on #559
Another user expecting this works on phone: #37318217-hc

[2022-10-11 09:51] geriux commented on #5039
All of the PRs are now merged so I'm closing this issue.

[2022-10-11 09:51] #5039 closed, assigned to geriux

[2022-10-11 09:52] #5043 closed, assigned to derekblank

[2022-10-12 09:07] erricgunawan commented on #2537
App version code: 1271
App version name: 20.7-rc-4
Android version: Android 10 (SDK 29)

[5-star Android app beta review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4974498245291407393/user-feedback/beta-feedback-details?reviewId=363219a0-8ca9-4034-882f-f5e83c50b7b7&corpus=BETA_FEEDBACK)

[2022-10-13 16:59] #5181 closed, assigned to AjeshRPai

[2022-10-19 23:16] erricgunawan commented on #2594
<sup>play-store-reviewId=7dc64869-52b8-4e8b-bebb-68fe7fc2ee80</sup>

[2022-10-21 13:52] #5110 closed, assigned to derekblank, geriux

[2022-11-03 06:24] derekblank opened #5254 "Stop media upload button is missing in iOS Picker"
On the React Native 0.69 upgrade branches, the Stop upload button for Media Uploads is missing in the iOS picker.

- https://github.com/wordpress-mobile/gutenberg-mobile/pull/5193

**To Reproduce**
- Tap on the Image block placeholder or edit button in the toolbar
- Tap option ‘Choose from device’ and choose an image
- While the upload is in progress tap on the image thumbnail

**Expected Behavior

[2022-11-03 14:28] geriux opened #5255 "Investigate issues with React Native Gesture Handler `2.5.0`"
**Describe the bug**
While upgrading to React Native `0.69.4` we tried to update the library React Native Gesture Handler to version `2.5.0` but we encountered issues **on iOS** where the editor would freeze while using it.

**To Reproduce**

I didn't find the exact steps to reproduce but while using the editor in general you could easily get it to feeze.

- Open the editor
- Add some blocks
- You

[2022-11-04 09:07] fluiddot commented on #5255
Marking the issue as a High priority as eventually, we would need to upgrade the RN Gesture Handler library to version `2.5` or greater and this will be a blocker.

[2022-11-17 15:52] geriux commented on #5254
Fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/19573

[2022-11-17 15:52] #5254 closed, assigned to derekblank