[2021-03-19 10:57] hypest commented on #3292
👋 @rezzap , any specifics on which browser the user tried and on which OS? Thanks!

[2021-03-19 11:20] antonis commented on #3292
[Tested again](https://antonistest.wordpress.com/2021/03/19/video-test-14-4-1/) on iOS 14.4.1 and wasn't able to reproduce the issue.

[2021-03-19 11:51] hypest commented on #1152
AFAIK, Jetpack isn't actually registrering a new block type, it's just overrides the `core/video` one. In those terms, we'd need to add support for the Jetpack Gutenberg extension and see how to to wrangle the whole flow (detecting when to use which version when adding a new block too). We could explore that but sounds messy.

That said, the judging from the movements in https://github.com/Automat

[2021-03-20 07:52] rezzap commented on #3292
@hypest I don't know for sure which browser the user tried, but I replicated this on my end using Firefox 86.1 (64 bits), Chrome (89.0.4389.90). I'm now able to get the video to play in Safari though, but not the other browsers.

I'm on OS 10.15.7.

To confirm, the video works fine on the mobile web browser, it just doesn't play in a desktop browser on my MacBook when I create the block from the a

[2021-03-22 11:10] hypest commented on #3292
Aha, good to know you can replicate @rezzap ! Is that on a site of your own that you can share details (example failing post) here perhaps? Thanks!

[2021-03-22 13:46] guarani commented on #3048
On Simple sites the answer would be no, it's not going to be possible to switch back to classic. On other site types though (i.e. Atomic, Jetpack, self-hosted) it will still be possible to switch to classic by changing the site's default editor (but only admins can do that). Of course this also will stop being an option once we remove the mobile editor preference for these other site types.

Regar

[2021-03-23 01:55] #2980 closed, assigned to antonis, mkevins

[2021-03-23 09:10] rezzap commented on #3292
I'll send you the details privately @hypest, since these are for private posts. Thanks!

[2021-03-23 09:53] hypest commented on #3292
Thanks for the info @rezzap . I noticed the posts in the private site of yours and yeah, can confirm that the mobile-app uploaded vide/post is only playing audio, while the Calypso uploaded one plays video+audio normally.

Thing is, looks like the Calypso one is not HEVC but H.264, so I wonder if there's some auto-transcoding that takes place in one flow but not the other. 👋 @roundhill , I think I

[2021-03-23 17:10] SiobhyB commented on #1011
Noting that I did more digging into the `The featured image should have a size of at least..` notice that I touched on [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1011#issuecomment-772719879).

We don't currently display this error/notice in the normal flow for setting a featured image within the app and it's not critical i.e. the featured image is still set but some themes

[2021-03-24 01:57] oguzkocer opened #3302 "Add instructions for publish access token to WordPress Android Integration Guide"
@guarani brought up the fact that he can't manually publish the `react-native-bridge` and `react-native-aztec` libraries using the newly added "WordPress Android Integration Guide" in #3230 because he doesn't have Bintray access. Since we'll switch away from Bintray almost immediately, it's probably not worth adding instructions for that. However, once we do make the switch, we should add instruct

[2021-03-24 14:48] guarani commented on #3158
Added a Android label to make it clear that making posts Sticky is already supported on WPiOS, but is missing from WPAndroid.

<img src="https://user-images.githubusercontent.com/1898325/112330519-dfa44580-8c96-11eb-8eeb-2cee5e04941b.jpg" alt="" width="250">

[2021-03-24 15:30] guarani commented on #2108
Added an Android label since this is titled Android and I can still reproduce this on WPAndroid but can't reproduce on WPiOS.

[2021-03-24 15:32] guarani commented on #2524
Added an Android label since it says above that this crash doesn't affect iOS.

[2021-03-25 01:43] roundhill commented on #3292
The auto-transcode is taking place for mobile video uploads, but I think y'all are inserting the _original_ video and not the transcoded one(s). On the web we use the video shortcode to insert the VideoPress player into a post, which will load the transcoded videos that work across most browsers.

For example, @antonis' video details are at this endpoint: https://public-api.wordpress.com/rest/v1.1

[2021-03-25 14:39] mdrockwell commented on #2566
A request for "Stack on Mobile" option in the Media & Text block here: 3849125-zen

[2021-03-29 10:28] mkevins opened #3316 "Enter detection fails in EnterPressedWatcher for Gboard keyboard"
## Description

The mechanism to detect whether the `[ENTER]` key was pressed is not reliable for users with the Gboard keyboard. The Gboard keyboard exhibits some unusual behavior regarding the `TextWatcher` interface methods, which are breaking some assumptions in the logic we are using for key detection. This manifests as various bugs, and is likely not limited to the `[ENTER]` key (e.g. I beli

[2021-03-29 10:32] antonis commented on #3316
Thank you for the extensive research on this @mkevins 🙇
[This issue](https://github.com/WordPress/gutenberg/issues/29116) might also be related since I was able to reproduce it only on Pixels.

[2021-03-29 13:46] SiobhyB commented on #1011
👋 @iamthomasbishop, I wanted to check in with you on the state of this feature so far. From the designs, I saw there was a `Clear all Settings` button but wasn't sure how to implement this with the feature. After chatting with @jd-alexander, I went with a `Remove as Featured Image` button that only displays if an image is already featured, else the `Set as Featured Image` button displays:

| Set a

[2021-03-29 19:29] guarani commented on #3201
Noting there are existing issue in the main apps which look the same as this:
- https://github.com/wordpress-mobile/WordPress-Android/issues/4230
- https://github.com/wordpress-mobile/WordPress-iOS/issues/9015

~~Strangely enough I couldn't find the option to set an author in Gutenberg on the web. Then I came across https://github.com/WordPress/gutenberg/issues/3010#issuecomment-529734338 which su

[2021-03-29 19:50] guarani commented on #3261
Closing in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/3048 since we decided to remove the "switch to classic" option for all site types at once.

[2021-03-29 19:50] #3261 closed, assigned to nobody

[2021-03-30 04:33] iamthomasbishop commented on #1011
@SiobhyB It makes sense to swap the button for “remove as...” when set, good thinking.

The Dialog looks good, I have a suggestion, but it is beyond scope of the original proposal, so if necessary we can break it off into another ticket:

It may be useful in this context to see a small thumbnail of the current featured image on the “replace” Dialog so that you can easily reference it without havin

[2021-03-30 06:57] mkevins commented on #3316
Thanks Antonis! It seems that there are [several issues](https://github.com/wordpress-mobile/gutenberg-mobile/issues?q=is%3Aissue+is%3Aopen+gboard) that may be affected by the same underlying cause, so I think it'll be worth revisiting them each if we can land a fix / solution to this one. :crossed_fingers:

[2021-03-30 08:25] hypest commented on #3316
Thanks for the deeper look and the draft PR to fix @mkevins ! I've reproduced the issue on my Pixel 2XL Android 11. Since it looks like exactly the same issue as the one reported by @antonis , wdyt about copying over your analysis and closing this new ticket?

[2021-03-30 12:31] hypest commented on #3316
Added the "Priority High" label to be clear that this is still important to fix. GBoard might actually be used on phones other than the Pixels.

[2021-03-30 13:11] antonis commented on #3217
Reopening till all PRs are merged

[2021-03-30 18:09] #3217 closed, assigned to antonis

[2021-03-30 23:24] mkevins commented on #3316
@hypest :wave: :smile:

I considered this, and did a search prior to opening this issue, which actually turned up several issues that are related to Gboard's behavior interfering with our `[ENTER]` detection. I don't quite agree that it "looks like exactly the same issue", though, as the intention here is to address the deeper _source_ of several issues (for example, [this issue linked in the issu

[2021-03-31 06:59] hypest commented on #3292
I've added the "[Pri] High" as this is related to HEVC files on iOS which the users will probably use often.

[2021-03-31 11:58] #2944 closed, assigned to ceyhun

[2021-03-31 22:23] illusaen opened #3327 "Adding a video as background for Cover block sometimes results in "Problem displaying block""
**Describe the bug**
Adding a video to the Cover block, previewing the post, and then cancelling sometimes results in "Problem displaying block".

**To Reproduce**
Steps to reproduce the behavior:
1. Add Cover block
2. Add a video to Cover
3. Click on "More > Preview"
4. Close Preview
5. See that Cover block shows "Problem displaying block".

**Expected behavior**
Cover block with video as backgro

[2021-03-31 22:40] dcalhoun commented on #3327
This may be related to or duplicative of WordPress/gutenberg#28972. I'm not sure. The ability to recreate the issue may also be related to whether the site is simple, free/paid, Atomic, or self-hosted.

[2021-03-31 23:07] illusaen commented on #3327
Thanks for the additional context! They do look related.

[2021-03-31 23:18] illusaen opened #3328 "Missing Separator between Heading classification + alignment."
**Describe the bug**
The separator between Heading block's classification and alignment buttons on the toolbar is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to new post
2. Adding heading block
3. Select heading block
4. See that there is no separator between heading/alignment buttons.

**Expected behavior**
Separator should exist between heading and alignment buttons.

**Scr

[2021-04-01 10:37] SiobhyB commented on #1011
Thank you for this, @iamthomasbishop! :) I've taken the following actions based on your comment:

* I've created a new GitHub issue to keep track of your suggestion at https://github.com/WordPress/gutenberg/issues/30410.
* I couldn't find a `Badge` component, or similar, so I repurposed the `FeaturedImageBanner` component into one in order to make it more re-usable. I also copied the styles from t

[2021-04-01 17:05] mchowning commented on #3328
👋  @illusaen ! Thanks for reporting this. Once you're done with your current tasks, would you see if this would be a quick fix you could knock out?

[2021-04-01 18:28] mzorz commented on #2774
I also noticed this issue with cursor positioning with the [this test post:](https://upm59krakatit.wordpress.com/2021/02/08/long-post/) when a paragraph block is selected and the cursor is blinking there, scrolling out of it is super hard. I tried scrolling all the way up and the editor insists in bringing focus to the selected block. Found out this while trying to reproduce and investigate the is

[2021-04-01 19:33] illusaen opened #3332 "Transforming from Video/Image to File should select caption"
**Describe the solution you'd like**
When transforming a video or image block to a file block, the caption should be autofocused after the transformation occurs.

**Describe alternatives you've considered**
Fill in the caption with the video/image file's name.

[2021-04-02 08:04] #922 closed

[2021-04-02 08:59] hypest commented on #3332
👋 @illusaen , I'm triaging new tickets and run into this. Should I assume this is actually a "task" for the block transform project? I will add the "Task" label and add the ticket to the Mobile Gutenberg GitHub board but we can revise if needed.

[2021-04-05 12:58] hypest commented on #1890
Work on adding transformations is around the corner, closing this ticket in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/2525. We can open again if ever needed.

[2021-04-05 12:58] #1890 closed

[2021-04-05 13:46] chipsnyder commented on #2620
We ended up taking this on as a HackWeek project and will be wrapping it up as we have time between projects. The current status is being tracked in this PR https://github.com/WordPress/gutenberg/pull/29772

[2021-04-06 20:43] illusaen opened #3341 "Allow Jetpack blocks in Demo App"
Allow Jetpack blocks in demo apps for easier testing.

Note: Check how story block does it now. Perhaps set Jetpack to true for demo?

[2021-04-06 21:57] startuptester opened #3342 "Undo action restores Gutenberg template content as Classic editor"
1. Create a site and use a template
2. Deleted a post
3. Select Undo
4. Open the post

It seems the Undo step reverts the content to the Classic Editor.

[2021-04-07 13:16] #2814 closed, assigned to illusaen

[2021-04-07 23:27] startuptester opened #3345 "Cassel template - Has a lot of Posts to delete"
When a new user selects the Cassel template, their site is pre-loaded with 4 sample posts. There should not be more than one.

[2021-04-08 18:57] cameronvoell opened #3349 "Unsupported Block Editor broken in WPAndroid"
**Describe the bug**
Opening the UBE (Unsupported Block Editor) does not work on WPAndroid.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post on web that contains blocks that are not supported on Mobile. (I tested classic block and markdown)
2. Open up the post on Mobile in the the Block Editor
3. Notice the blocks show up as unsupported
4. Click on one of the unsupported Blocks

[2021-04-08 22:18] mchowning commented on #3332
I don't think this is a blocker for releasing the transform feature. Let me know if you feel differently @iamthomasbishop .

[2021-04-08 22:40] iamthomasbishop commented on #3332
Correct, not a blocker.

[2021-04-09 05:52] #3349 closed, assigned to jd-alexander

[2021-04-09 06:43] reginabally commented on #1212
4-star app review (https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOHmJEpcAAsRNgGw4VfEedkofEGBBwnOtjibda7sigeUylwXhiqGC5qhYy6Pi7ofKNMUoxUPbgkQ1zFuYA&corpus=PUBLIC_REVIEWS)

[2021-04-09 06:48] reginabally opened #3355 "Feature request: Add support to allow custom sort order of blocks"
From a [4-star WPAndroid app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOHnVDjtDGGLBold_c1xEtBAmKroFpiRuQaw1lL7aoQjFH_zUGtALqOYskGSoyy65rCweQo0h1DADcajPA&corpus=PUBLIC_REVIEWS).

[2021-04-09 09:11] hypest commented on #3355
cc @kyleaparker as this can be a data point for the upcoming Block Picker improvements project 👍

[2021-04-09 11:53] thehenrybyrd opened #3357 "Columns Block: 'number of columns' won't focus using TalkBack"
**Describe the bug**
Using TalkBack in the Columns Block settings, when tapping “number of columns”, the cell does not retain focus when interacting.
This makes it difficult to adjust the number of columns using Android's TalkBack screenreader.

**To Reproduce**
Steps to reproduce the behavior:
While using TalkBack on Android:
1. Create a Columns Block.
2. Double-tap the 'settings' gear icon to op

[2021-04-09 11:53] thehenrybyrd opened #3358 "Columns Block: extra values spoken by screenreader"
**Describe the bug**
Using TalkBack or VoiceOver in the Columns Block settings, when tapping a particular column, extra digits are read out loud, though they are not shown in print.

**To Reproduce**
Steps to reproduce the behavior:
While using TalkBack on Android or VoiceOver on iOS (easier if you turn it on after setting the number of columns to 3):

1. Create a Columns Block, choose the 50|50 f

[2021-04-09 12:58] mchowning commented on #3357
Probably related to https://github.com/WordPress/gutenberg/pull/29741.

[2021-04-09 12:58] mchowning commented on #3358
Probably related to WordPress/gutenberg#29741.

[2021-04-09 14:24] guarani commented on #3357
I have the same difficulty tapping on column sections e.g. `Column 1` if their unit is changed from Percentage to a different unit that doesn't use a slider (e.g. Pixels). Here's a video:

https://user-images.githubusercontent.com/1898325/114193864-eda3c880-991c-11eb-9119-3f4712e0d23b.mp4

[2021-04-09 14:33] chipsnyder commented on #2828
@enejb and I did some more investigation on this and had success with using the following parameters:

[code]

The key piece here was no *.wordpress.com in the `blog_name` when formulating the request.

[2021-04-09 16:34] #3358 closed, assigned to nobody

[2021-04-09 22:14] AmandaRiu commented on #3357
I verified this issue predates the changes in that PR 👍

[2021-04-10 01:24] kelasante opened #4977 "Bug: Images Inserted From WP Media Library Do Not Contain Already Added Alt Text"
### Expected behavior
When using the desktop browser, the alt text is automatically added in when an image inserted from the media library contains the alt text. However, this does not happen when using the iOS app.

### Actual behavior
When using the Image block, images inserted via the media library do not automatically add in the alt text.

### Steps to reproduce the behavior
1. Go to the WordP

[2021-04-12 07:06] geriux commented on #2365
Closing since it was fixed on https://github.com/WordPress/gutenberg/pull/30273

[2021-04-12 07:06] #2365 closed

[2021-04-13 08:14] ceyhun opened #3370 "Android initial html E2E test starts to fail for large `initial-html.js` content"
**Describe the bug**
Android [initial html E2E test](https://github.com/WordPress/gutenberg/blob/7e39acfdc147d8236cf93818b1676330388457c7/packages/react-native-editor/__device-tests__/gutenberg-editor-initial-html.test.js) start to fail when [initial-html.js](https://github.com/WordPress/gutenberg/blob/8f07528388e20590dabd82a711c69bc1e5df969a/packages/react-native-editor/src/initial-html.js) becom

[2021-04-13 08:43] #3272 closed, assigned to ceyhun

[2021-04-14 13:38] guarani commented on #1886
I created a separate issue to track the work that needs to be done to style the verse block like a paragraph block: https://github.com/WordPress/gutenberg/issues/30836

The other non-blockers here all have their own issues already so I think this is safe to close.

[2021-04-14 13:38] #1886 closed

[2021-04-14 19:06] #3357 closed, assigned to AmandaRiu

[2021-04-15 16:54] dcalhoun commented on #3104
@chipsnyder @fluiddot I have found that **_the "Custom" button is now no longer displayed at all when customizing the gradient_**, in addition to not scrolling to the end. I was about to create a new issue, but then found this one. Happy to create a separate issue if that is more appropriate.

<details>
<summary>Details of missing "Custom" button issue</summary>

## Description
When customizing th

[2021-04-15 16:56] chipsnyder commented on #3104
Thank you for adding more details @dcalhoun! I think keeping this in one issue is the best way to go.

[2021-04-16 08:17] hypest commented on #1602
Consolidating tickets, @fahdriyami [raised the same request in the WPAndroid repo](https://github.com/wordpress-mobile/WordPress-Android/issues/14416). Adding their request here and will close the WPAndroid ticket. Original message follows:

[2021-04-16 16:30] antonis commented on #2200
I didn't manage to reproduce this either. I too think that [tracking down memory leaks](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2214) is our best bet on this.
I'm closing this as "non reproducible" (feel free to reopen if this is reported again).

[2021-04-16 16:30] #2200 closed

[2021-04-19 10:37] devNigel opened #4130 "Bug: Editing unsupported block using web editor in app created draft posts"
When you edit an unsupported Layout block in the web editor and closes it, it creates a draft post. A new draft post is created each time this is done.

### Expected behavior

Editing using web editor in the mobile app should not be creating new draft posts.

### Actual behavior

It created draft posts.

### Steps to reproduce the behavior

* First, create a page or post with a Layout Grid grid an

[2021-04-19 13:58] thehenrybyrd commented on #4130
Thanks for the report @devNigel!

I was able to reproduce this several times, though not perfectly consistently.

Here are the steps I found most reliable to reproduce:
1. Use a draft post that contains an unsupported block. (Layout, HTML, etc)
2. Edit the post, tap the ? icon on the unsupported block, and choose "Edit using web editor"
3. Make some changes, and then tap the "X" (tapping the √ did

[2021-04-20 12:54] thehenrybyrd opened #3395 "Contact Info Block: Not shown in "add block" bottom sheet"
**Describe the bug**
While I can view and edit a Contact Info Block added from the web, it's not possible to add one from the WP app (either iOS or Android) because the Contact Info Block doesn't appear in the block list when I tap the "+" icon.

**To Reproduce**
Steps to reproduce the behavior:
1. On a WordPress.com site or a self-hosted site with Jetpack version > 8.5, open a post or page.
2. Ta

[2021-04-20 13:37] zwarm commented on #3395
@FYI: Looks like feature flag is off for Android production builds:
`buildConfigField "boolean", "CONTACT_INFO_BLOCK_AVAILABLE", "false"`

[2021-04-21 00:06] #946 closed

[2021-04-21 15:59] guarani opened #3405 "[Analytics] Editor sessions do not report classic blocks as unsupported"
**Describe the bug**

Tracks analytics don't detect classic blocks when reporting posts events (`editor_session_start` and `editor_session_end`). Editing a post (in the block editor) that contains classic blocks should result in a tracks event where `has_unsupported_blocks` is `1`. Instead what I see on both platforms for both these events is a `has_unsupported_blocks` of value `0`.

Posts contain

[2021-04-21 16:36] #2976 closed, assigned to fluiddot

[2021-04-22 09:12] #2633 closed, assigned to hypest

[2021-04-22 10:02] hypest opened #3409 "Columns previews auto-update on slide but other column slider and value doesn't"
**Describe the bug**
When adjusting the width of a column in the Columns block settings, the little graphic column preview icons update in unison but the sliders and value input boxes for the other columns don't update.

**To Reproduce**
Steps to reproduce the behavior:
1. On the demo app, add a Columns block to the content and tap on the block's cog icon to open its settings
2. Start sliding the

[2021-04-22 15:15] ceyhun commented on #1212
Another user that isn't able to use classic editor anymore because of its deprecation said they need it because of the lack of this feature 3929672-zen.

[2021-04-22 15:16] ceyhun commented on #1257
Another user that isn't able to use classic editor anymore because of its deprecation said they need it because of the lack of this feature 3929672-zen.

[2021-04-22 22:32] AmandaRiu commented on #1257
Since all the content in a post is made up of blocks, it'd be really cool if we enabled users to select multiple blocks. Something similar to the way gmail allows you to select multiple messages. The blocks wouldn't need to be contiguous, they could be selected via a checkbox of some sort while in a "select" mode.

[2021-04-22 23:15] guarani commented on #3228
The issue here was that events were being rejected by Tracks because they were malformed. The `editor_session_start` has both a `has_unsupported_blocks` and a `unsupported_blocks` custom event properties. `unsupported_blocks`, which is a list of unsupported blocks, was not being stringified on WPiOS before being sent to the backend, causing these events to be discarded.

The backend doesn't allow

[2021-04-23 07:54] hypest commented on #1257
I kinda like that idea @AmandaRiu ! Long-tap to enter "selection mode" and perhaps have some button or other quick way to select-all without having to scroll and tap on every block (issue only on relatively long posts). WDYT  @iamthomasbishop ?

[2021-04-23 08:58] hypest commented on #3395
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/14499 and https://github.com/wordpress-mobile/WordPress-iOS/pull/16347.

[2021-04-23 08:58] #3395 closed, assigned to nobody

[2021-04-23 14:34] #3342 closed, assigned to chipsnyder

[2021-04-23 14:34] chipsnyder commented on #3342
This ended up being a Native change. It will ship as part of 17.3

[2021-04-23 15:02] iamthomasbishop commented on #1257
This is basically exactly what I proposed during initial design explorations (will attach a link when I get a chance to find the relevant GH links) and I have been hoping we'd get around to it eventually 😄. One thing we'll need to consider is how this interaction will coexist with eventual drag & drop interactions like moving blocks, etc. With that said, we'll also want to give this a "proper" des

[2021-04-26 09:03] antonis opened #3417 "Page Layout Picker does not filter layouts based on supported blocks on Android"
**Describe the bug**
Page Layout Picker does not filter layouts based on supported blocks on Android

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Android app
2. In the *My Site* screen tap the Fab (➕ ) button
3. Select *Site Page*
4. **Notice that all the available layouts are returned** (e.g. the first/blog category has more than 3 layouts)

**Expected behavior**
Page Layout Pic

[2021-04-27 06:33] #3417 closed, assigned to antonis

[2021-04-27 09:32] fluiddot opened #3422 "Block titles are not translated"
**Describe the bug**
The block titles are not translated, they're showing the text in English independently of the device language.

⚠️ I tried in a previous version (WPiOS 17.0.1) and the block titles are translated so looks like this is a regression bug introduced in a recent version.

**To Reproduce**
1. Change the language of your device to a non-English one that is supported by the app (check

[2021-04-27 09:44] fluiddot commented on #3422
I've just investigated this issue and I found that this problem is caused due to not updating the i18n cache when making a release.

As an example, for the Paragraph block's title, the localization key is `block title\u0004Paragraph`. If you check [latest localization files](https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bundle/ios/assets/gutenberg/packages/react-native-editor/i

[2021-04-27 11:41] fluiddot commented on #3422
I finally decided to follow a different approach, I realized that we have a `prebundle` command in the `react-native-editor` that updates the i18n localization files. So I add it to the `bundle` command to assure that we always bundle the most recent localization files.

[2021-04-27 17:33] mchowning commented on #3422
I think this may actually be a duplicate of this issue: https://github.com/wordpress-mobile/gutenberg-mobile/issues/3269. Let's just make sure we close both issues once we resolve this (if you agree).

[2021-04-27 17:39] fluiddot commented on #3422
Yep, most likely this issue has been introduced and fixed in different versions, depending on if the release wrangler had the latest localization files 🤦 .

[2021-04-27 20:27] dcalhoun opened #3425 "Editing unsupported blocks is disabled on Jetpack and Atomic sites accessed via older WP.com accounts"
**Describe the bug**
A Jetpack-site recently connected to a WPCom account older than December 2018 won’t display the option to open the Unsupported Block Editor. The same applies to Atomic sites.

**To Reproduce**
_Using a WPCom account created before December 2018_, follow the steps outlined for [UBE TC005](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported

[2021-04-27 21:01] jd-alexander commented on #3425
Thanks for flagging this @dcalhoun I started investigating the issue and I am thinking it may be API related. Here's the[ logic within the Android codebase](
https://github.com/wordpress-mobile/WordPress-Android/blob/d26723bd10a48335e03e32f3b957e019e34b3179/WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java#L2265):

It seems that the API is returning `classic` instead of

[2021-04-27 21:31] osullivanchris opened #3435 "Contact Info Block: Optional Sub Headings"
- A contact info block allows me to show my address, phone number, email
- when I publish it, these appear as one block on the front end of the site
- I'd like an option to add subheadings, so that the site visitor can see the titles 'Email', 'Phone', 'Address' and not have them run together.

[2021-04-27 22:25] enejb commented on #3425
I notice that on my test jetpack site( selective-squid.jurassic.ninja ) the user I was using would always return "Classic" even though the site didn't have the classic editor installed. Which is definitely not expected. 🤔

[2021-04-27 23:36] yaelirub commented on #2537
1 star review
https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOEhjRz52JueA5O9970pjy6Xn6ReErTsRxRa6tNblYc1mxQO6SSSyeroIiXb5-a0b-KalsBwvjoXP6fl1Q&corpus=PUBLIC_REVIEWS

[2021-04-28 00:34] jd-alexander commented on #3425
True. I noticed that we are using`editor_web` when the `editor_mobile` property exists and is already being utilized in other parts of the app like [here](https://github.com/wordpress-mobile/WordPress-Android/blob/6d2c22a573c726348a2f8b13281969109cff1c51/WordPress/src/main/java/org/wordpress/android/util/SiteUtils.java#L209 ) so I was wondering if this is being done because the UBE is editing bloc

[2021-04-28 10:14] #3422 closed, assigned to fluiddot

[2021-04-28 11:11] thehenrybyrd opened #3429 "Contact Info Block: Address Block: "Link to Google Maps" setting not noticeable"
When Contact Info Block was introduced, 2 of 3 beta testers completely missed the option to "Link address to Google Maps" for the Address Block.  p5T066-2bn-p2#comment-8064
We might consider making this more obvious in some way.

**To Reproduce**
1. Create a Contact Info Block
2. Note that no settings "gear" icon is visible
3. Select the Address Block
4. Note that the settings "gear" icon is hidde

[2021-04-28 12:29] osullivanchris commented on #2207
I am having the same issue as @mkevins

- on WP Android v17.2
- Pixel 3a
- Android v11

If I publish the post, it publishes with the correct content. But previewing doesn't show updated content. Even when I make sure its saved.

Edit: also noting this is happening for a test Pressable site that I have. Doesn't seem to be happening on my WP.com sites.

[2021-04-29 07:52] jd-alexander opened #3433 "[Audio block] Create unit tests for Add From URL's url parser for filename"
This issue was created to track the unit tests needed for the Add From URL PR https://github.com/WordPress/gutenberg/pull/27817

The unit tests should meet the criteria below.

| Different URL types                                                                                                                                                                                 	| Output

[2021-04-29 07:55] jd-alexander opened #3434 "[Audio block] Disable media upload options on free sites"
**Is your feature request related to a problem? Please describe.**

This feature is necessary since, on dot com, free plans don't have access to audio uploads/hosting.

**Describe the solution you'd like**

Since the behavior isn't available, the functionality, media upload, and WP Media Library that provides them should be disabled/removed.

**Additional context**
The Audio block will still be ab

[2021-04-29 12:34] mchowning commented on #3425
I believe there was a known issue where a Jetpack-site recently connected to a WPCom account older than December 2018 won’t display the option to open the Unsupported Block Editor. I'm not sure whether that is still an issue, but could that be what we're seeing here?

Reference: p9ugOq-Zz-p2#comment-2626

[2021-04-29 12:53] mchowning commented on #3429
Any thoughts on this @illusaen or @iamthomasbishop ?

[2021-04-29 12:57] mchowning commented on #3435
Any thoughts here @illusaen or @iamthomasbishop ?

[2021-04-29 14:04] jd-alexander commented on #3425
@mchowning that is indeed the issue that we are seeing here. Thanks for the reference to that comment.

[2021-04-29 14:32] jd-alexander commented on #3425
So the proper course of action here is to simply update the test checklist with this, as a known issue, so the results/test is ignored until it is resolved right @mchowning ?

[2021-04-29 15:12] mchowning commented on #3425
Instead of ignoring the test, could we just update the test so it requires a WPCom account newer than December 2018? It sounds like the test case should work in that case if I'm understanding correctly.

[2021-04-29 15:39] dcalhoun commented on #3425
@mchowning thank you for providing this insight. This is my understanding of the situation too. I have opened https://github.com/wordpress-mobile/test-cases/pull/74 to update the test case. I will keep this issue open, but update the details regarding the age of the WP.com account.

[2021-04-29 16:29] jd-alexander commented on #3425
Ah, that makes sense. Thanks!

Thanks for wrangling that @dcalhoun

[2021-04-29 20:24] mchowning commented on #3269
Do you think we can close this issue @fluiddot ?

[2021-04-29 21:15] enejb commented on #3425
What would the fix on the backend look like?

Should we be sending all atomic users to use the new editor.
I think if the site doesn't have the classic editor plugin active we should just default to the block editor and not base it on whether the user has been with us for a while :)

But since this is a web editor preference we will need to get the web folks involved. @mchowning do you know if thi

[2021-04-29 21:49] mchowning commented on #3425
Let's wait to get some input from @hypest and @guarani on this. It will be a few days before they'll be able to respond most likely, but this isn't an urgent issue, so we should be fine to wait. (Some related context: p1599153486338800-slack-CKZHG0QCR)

[2021-04-30 07:56] fluiddot commented on #3269
Yeah, this issue has been fixed via https://github.com/wordpress-mobile/gutenberg-mobile/pull/3423.

[2021-04-30 07:56] #3269 closed, assigned to guarani

[2021-04-30 14:13] illusaen commented on #3429
Oh, hmmm. Unfortunately the normal behaviour is to put it down on the bottom of the block. What do you think about maybe removing the phone inner block that comes in by default @iamthomasbishop ?

[2021-04-30 15:30] iamthomasbishop commented on #3429
There are a couple of things at play here; one is wider and solvable issue, and the other is a deciding on what level of priority the control should get in the context of "WYSIWYG".

- Location of the "Link to" setting: There was a design decision to put the "Link to Google Maps" control inside block settings, for two reasons:
  1. In the spirit of "WYSIWYG", it's preferred to _not_ show elements

[2021-05-01 00:06] startuptester opened #3443 "Contact block: Settings icon doesn't exist when you edit a published post"
**Describe the bug**
The Contact block settings wheel disappears after publishing

### Actual behavior
When I first create a post
![image](https://user-images.githubusercontent.com/66104034/116764294-e7fe4780-a9dd-11eb-8476-58d720253bd2.png)

then I publish
and go back to edit the post

![image](https://user-images.githubusercontent.com/66104034/116764480-6fe45180-a9de-11eb-81e4-a8f165fd537a.png)

[2021-05-03 07:17] thehenrybyrd commented on #3429
I would agree with this direction for a couple reasons:
1. Though longer-term solutions take more time, the benefits are more wide-spread as you mention. Since this is a wider issue, I'd lean towards solving the wider issue over making various small fixes for individual blocks it effects.
2. If folks know or expect they'll be able to link the address, they will look harder for the settings.

[2021-05-03 13:03] mchowning commented on #2615
This may actually be a duplicate of https://github.com/wordpress-mobile/gutenberg-mobile/issues/2162.

[2021-05-03 13:13] KokkieH commented on #3234
We've had another report of this in https://wordpress.com/forums/topic/unwanted-links-5/

Noting I'm able to replicate it on WP Android 17.2-rc-3 as well.

[2021-05-03 14:32] iamthomasbishop commented on #3429
Cool, thanks @thehenrybyrd! I'll add this as a task to the design team project board. Thank you!

[2021-05-04 00:31] jhnstn commented on #3158
Also in 3961356-zen

[2021-05-04 16:53] fluiddot opened #3457 "Reusable block: Bad response when a reusable block contains a self-reference on self-hosted sites"
**Describe the bug**

When a self-hosted site has a reusable block that contains a self-reference, it produces a bad response on every request to the reusable blocks endpoint (`v2/blocks` path), breaking the reusable block functionality.

This is reproducible on self-hosted sites with and without Jetpack, although the error response is different.

### Without Jetpack

**To Reproduce**
1. Create a

[2021-05-05 02:50] reginabally commented on #2537
Another request in 3963633-zd-woothemes

[2021-05-05 15:52] guarani commented on #559
Another request in an app review on Google Play:

[2021-05-05 15:55] guarani commented on #1257
This came up in a Google Play review for WPAndroid 17.1:

[2021-05-05 16:08] guarani commented on #559
And another request in an app review on Google Play:

[2021-05-05 20:15] guarani commented on #1257
Sharing another Google Play review, this time from WPAndroid 17.2:

[2021-05-05 20:58] jd-alexander opened #3460 "Add e2e (Appium) tests for Unsupported Block Editor"
**Is your feature request related to a problem? Please describe.**
Currently, the UBE functionality on iOS and Android has to be manually tested to verify that the behavior works as expected and changes being made to the editor have not caused any unwanted regressions.

**Describe the solution you'd like**
A suite of e2e tests covering the test cases defined [here](https://github.com/wordpress-mob

[2021-05-05 21:50] #3228 closed, assigned to guarani

[2021-05-05 21:51] guarani commented on #3228
https://github.com/wordpress-mobile/WordPress-iOS/pull/16360 is merged and this is now fixed.

[2021-05-06 01:56] cameronvoell opened #3461 "Can't access Unsupported Block Editor (UBE) from Atomic site on iOS"
### **Describe the bug**
I have the same test atomic site opened up on WordPress-iOS and WordPress-Android with a post that contains unsupported blocks.

The UBE opens up for unsupported blocks for the atomic site in WPAndroid, but it does not open on WordPress-iOS. Instead, I see a Bottomsheet that prompts me to open Jetpack security settings. Tapping this option closes the bottom sheet and nothi

[2021-05-07 09:00] antonis opened #3465 "Color Picker: When deselecting a custom gradient the button does not slide out smoothly"
**Describe the bug**
When switching from a customized gradient to a built-in gradient, the Custom button does not "slide out" with a smooth animation

**To Reproduce**
This can be reproduced with the last step of [TC005](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/color-settings.md#tc005)

**Expected behavior**
List is scrolled and Custom button slides out smooth

[2021-05-07 09:36] antonis commented on #3104
Fixed with https://github.com/WordPress/gutenberg/pull/30994

[2021-05-07 09:36] #3104 closed, assigned to antonis

[2021-05-07 14:46] guarani commented on #2525
This came up in an App Store review (emphasis mine):

[2021-05-07 14:48] guarani commented on #1212
This came up in another App Store review:

[2021-05-07 14:56] mchowning commented on #2525
I believe this work is complete. Can you confirm (and close this issue if it is) @illusaen ?

[2021-05-07 15:09] guarani commented on #2525
Thanks for the reply @mchowning! I was still on 17.1 so I hadn't noticed it, I upgraded to 17.2 and can now see it! 😎

@illusaen, it looks like this feature didn't make it into 17.2 release notes. I can see release notes were part of https://github.com/wordpress-mobile/gutenberg-mobile/pull/3321, but that seems to have been closed without merging.

[2021-05-07 15:14] fluiddot opened #3466 "Localized strings files are missing strings and adding extra ones"
**Describe the bug**
For each platform we generate a specific file with the localized strings:
- [iOS: GutenbergNativeTranslations.swift](https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bundle/ios/GutenbergNativeTranslations.swift)
- [Android: strings.xml](https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bundle/android/strings.xml)

I investigated further the pro

[2021-05-08 05:37] illusaen commented on #2525
Yep it is in. Unfortunately the release notes were merged early so removed and never got readded back in :(

Closing since functionality should be there now at least!

[2021-05-08 05:37] #2525 closed

[2021-05-10 13:19] ceyhun commented on #3275
Pushed WIP changes here: https://github.com/WordPress/gutenberg/tree/rnmobile/embed-fetching-preview

[2021-05-10 13:33] guarani commented on #2525
The most important thing is that we now have block transforms! :yay:

[2021-05-10 14:35] hypest opened #3471 "Introduce allow-list and disallow-list for blocks"
The block editor will be used in various contexts, some of which (example: in the comments box in the WordPress apps) will need to restrict the block types offered.

**Describe the solution you'd like**
Let's introduce some form of allow-list for the list of blocks the editor should offer, and a disallow-list for the blocks that need to be unavailable.

For the time being, I'm thinking that those

[2021-05-10 14:47] aerych commented on #3471
Love it

[2021-05-10 17:32] AmandaRiu opened #3472 "Search Block: Keyboard displayed after hiding a text search field"
**Describe the bug**
Odd behavior happening when attempting to hide one of the text fields of the search block such as the heading or button text while the text is focused. Opening  the settings and hiding that field and then unhiding it will cause the keyboard to reappear while the settings pane is still open.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Search block and click on t

[2021-05-10 20:32] startuptester opened #3473 "Featured image in page template when no featured image is set"
**Describe the bug**
Reported by @kyleaparker:
I created a new page using a template and noticed the “Featured” badge on top of the image. After checking in the page settings no featured image was set so I’m not sure what this badge is indicating in this context.

![IMG_BE128634351D-1](https://user-images.githubusercontent.com/66104034/117720335-cbab9900-b19b-11eb-92d0-3827421f5475.jpeg)

![image]

[2021-05-11 00:45] guarani commented on #3461
After a bit of debugging, what I found was that the app was not fetching Gutenberg settings (`/sites/1234567/gutenberg`) when the user switched sites.

Explanation: In my tests, this bug would "resolve itself" after I went back to the My Sites screen. It's on that screen in `viewDidLoad` that the app fetches blog/site metadata which includes its Gutenberg settings (i.e the value of the site's `edi

[2021-05-11 10:28] thehenrybyrd opened #3478 "Search Block: Make button appearance customizable"
In the Search Block, the search button has some customization options already (icon vs label, inside the search bar vs outside it), however users may want the ability to customize it further.

The Button Block has options for text color, background color, and border radius which would be nice to have for the search button.

Note: there are some other buttons folks might want to customize, such as

[2021-05-11 11:46] thehenrybyrd commented on #3409
This could be difficult to implement with multiple columns, since we'd have to assume what values the user wants.

However, we should at least adjust to prevent situations where columns don't add up to 100%:
![Screenshot_20210511-143211_WordPress](https://user-images.githubusercontent.com/15107387/117810040-966c7d00-b267-11eb-96e6-32ed0c11fad5.jpg)

[2021-05-11 16:40] mchowning commented on #2525
What would you think about opening a PR to add this release note back in @illusaen ? I realize it won't be included in the release, but at least we'll have it available in the repo in case someone ever wants to look back and see when this feature went out.

[2021-05-11 17:53] illusaen commented on #2525
@mchowning  Sure! Should I add it to both iOS and Android in the native repos or in gb-mobile?

[2021-05-11 18:07] AmandaRiu commented on #3478
Note: This isn't currently possible for mobile because the web version of the search block doesn't support any of these options. In order to have these features added to mobile they will first need to be added to the web version.

[2021-05-11 18:55] villanovachile opened #3480 "Search Block: Block width option does not appear"
**Describe the bug**
The search block does not display the width options, neither in portrait, nor landscape modes.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a search block
2. Tap on search block, Align option appears, but not width options

**Expected behavior**
The width options should be appearing as per https://github.com/WordPress/gutenberg/pull/29275

**Screenshots**
https://

[2021-05-11 20:40] mchowning commented on #2525
My inclination would be to update the release notes in all 3 repos.

[2021-05-11 21:01] AmandaRiu commented on #3480
Hi @villanovachile 👋  This setting was [intentionally removed](https://github.com/WordPress/gutenberg/pull/29541/commits/112a3ec0510ae6278c67bfed9d20b675cd6e33ba) per the mobile designs for the search block. It was decided to remove this setting since it's difficult to configure width effectively on mobile. Additional details are documented in p9ugOq-1Kq-p2. I recommend closing this ticket as this

[2021-05-11 21:20] villanovachile commented on #3480
Thanks so much!

[2021-05-11 21:20] #3480 closed, assigned to nobody

[2021-05-12 03:13] reginabally opened #3486 "Post title: Duplicate text with the alias symbol"
**Describe the bug**

Adding an alias symbol (@) after some text at the post title section in the editor will duplicate the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Site > Blog Posts and create a new post
2. At the post title, type some text followed by the @ symbol
3. See that the text is duplicated

**Expected behavior**

I would expect the text before the @ symbol wi

[2021-05-12 03:51] #3273 closed, assigned to jd-alexander

[2021-05-12 06:51] hypest commented on #3478
👋 @thehenrybyrd , thanks for this ticket! Yeah, as @AmandaRiu noted above, the shared Search block will need to go through the design and implementation processes that govern the web version of Gutenberg too (i.e. the enhancement proposed here doesn't sound to be native mobile specific) so, can I invite you to migrate this ticket to https://github.com/WordPress/gutenberg/issues? Thanks!

I will cl

[2021-05-12 06:51] #3478 closed, assigned to nobody

[2021-05-12 07:07] hypest commented on #3486
Issue seems to have started happening (on Android at least) with v1.50.1 of gb-mobile.

[2021-05-12 12:48] guarani commented on #3486
I can reproduce this as far back as WPiOS 16.6.1.2 (which is the oldest build on TestFlight). That [included](https://github.com/wordpress-mobile/WordPress-iOS/blob/40e66ade46e6525203e97665abb4b7b7a9aef325/Podfile#L157) v1.45.0 of Gutenberg Mobile.

[2021-05-12 14:44] fluiddot commented on #3457
I Investigated this case in the web version but I couldn't reproduce it, as far as I checked, the requests on both web and mobile platforms in self-hosted sites are almost identical. However, there's one difference, on web there's an additional header (`accept: application/json, */*;q=0.1`) in the request. In fact, [this header is explicitly added by default](https://github.com/WordPress/gutenberg

[2021-05-13 01:20] AmandaRiu opened #3495 "Pullquote block: Odd delete behavior on Android"
**Describe the bug**
Hitting enter twice will delete one line which is already reported [in this ticket](https://github.com/WordPress/gutenberg/issues/29861), but if you hit backspace to return to the previous line, letters start getting added to the beginning of words as you hit backspace to delete characters. This only happens _after_ the bug that deletes an extra line happens.

**To Reproduce**

[2021-05-13 01:41] guarani commented on #3425
I agree this would cause the UBE to not open. It needs to open Gutenberg on the site's WP Admin to function, so it uses the web setting to know if this is available.

To verify that the issue is present with old accounts, I connected a brand-new self-hosted site to an old WP.com account (July 2012 according to https://wordpress.com/me/account), queried the `/sites/{site_id}/gutenberg` endpoint and

[2021-05-13 02:43] cameronvoell opened #3496 "Idea => Dependabot Opening PRs in WPApps for testing"
**Is your feature request related to a problem? Please describe.**
Recently [this PR ](https://github.com/wordpress-mobile/WordPress-iOS/pull/16414)was held up because of WPApps CI failure caused by a gb-mobile change and the issue was not caught when the gb-mobile change was implemented because it was hard to anticipate that it would affect WPApps CI.

**Describe the solution you'd like**
I think

[2021-05-13 07:45] #3473 closed, assigned to jd-alexander

[2021-05-13 08:47] hypest commented on #3425
I like that route. I'd even add, what about not even trying to detect if there has been an error loading and instead just have a splash/loading screen that states something like "Loading the block editor directly from your site... Please ensure it's enabled there".

[2021-05-13 10:27] mchowning commented on #3495
I don't feel super-strongly, but because this issue is altering the text in unexpected and possibly non-obvious ways, this feels more like a high-priority issue. I'll go ahead and make that change to the label, but feel free to change back if you disagree.

[2021-05-13 17:28] antonis opened #3499 "iOS: Unable to scroll in a small area at the middle of the editor"
**Describe the bug**
The user in unable to scroll in a small area at the middle of the editor screen (check screenshot below)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post/page
2. Add some content to be able to scroll
3. Try to scroll at the middle of the screen (check screenshot below)
4. **Notice** that the gesture is not recognised

**Expected behavior**
The editor is

[2021-05-13 17:58] mchowning commented on #559
@iamthomasbishop tested and confirmed that shift+enter behavior works for both iPad and iPhones when accessing Gutenberg on the web. Combined with the fact that shift+enter works in the iOS notes app, this gives some hope that maybe something changed and maybe this is now possible. 🤞

[2021-05-14 08:19] thehenrybyrd commented on #1212
Noting that there is now an initial implementation in core Gutenberg in https://github.com/WordPress/gutenberg/pull/16014.

[2021-05-14 11:45] #2575 closed, assigned to fluiddot

[2021-05-14 15:04] mchowning opened #3507 "Test Issue: How Many People Can Be Pinged in a Single Issue?"
## TLDR: You can safeiy ignore this issue/ping. Sorry for the noise. Go ahead and unsubscribe from this issue.

The only purpose of this issue is to test how many people I can ping in a single issue. There appears to be a limit where I can only mention and ping 50 people at a time, but I don't know if that limit is per issue or per comment. #doing-science-sort-of. I'm looking into this because I n

[2021-05-14 15:05] mchowning commented on #3507
1. @enejb
2. @mattc6246
3. @cameronvoell
4. @chipsnyder

[2021-05-14 15:06] shiki commented on #3507
<img src="https://i.imgur.com/niHYD3m.jpg" width="400">

[2021-05-14 15:38] fluiddot commented on #2575
This task is completed although it won't be displayed to users until the reusable block is enabled in this [PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3490).

[2021-05-14 15:45] emilylaguna commented on #3507
<img src="https://media.giphy.com/media/CJ6namLBWqeAw/giphy.gif" />

[2021-05-14 16:32] #3507 closed, assigned to mchowning

[2021-05-17 10:08] hypest commented on #3435
Cool feature request, but looks like it's not mobile specific per se and a better place to triage it would be the Jetpack repo at https://github.com/Automattic/jetpack. @osullivanchris, what do you think about migrating the ticket there? I'll close the ticket here but, happy to reopen if this is indeed mobile specifc, no prob. Thanks!

[2021-05-17 10:08] #3435 closed, assigned to nobody

[2021-05-17 12:16] antonis opened #3510 "The editor Crashes when adding a Caption to a Gallery block"
**Describe the bug**
The editor Crashes when adding a Caption to a Gallery block

**To Reproduce**
Follow the steps on [TC003](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/gallery.md#tc003) or:
1. Add a Gallery block
2. Add some images from the device or media library
3. Tap on the gallery caption
4. **Notice** the the editor crashes

The **Crash** occurs both on

[2021-05-17 12:42] antonis opened #3511 "The Gallery Image Caption text formatting options disappear"
**Describe the bug**
The image gallery caption formatting toolbar disappears when moving focus between image captions

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Gallery block
2. Add some images to your gallery
3. Set some captions to the images
4. Move the focus between image gallery captions
5. **Notice** that the formatting toolbar disappears
6. Add a paragraph block
7. Move the

[2021-05-18 03:57] mkevins commented on #3510
I have reproduced this issue, and debugging it points to the removal of the `onFocusGalleryCaption` in this commit: https://github.com/WordPress/gutenberg/commit/9a6e3fcbc927791d7fb70f35ba88da1ef2d83acb, in this PR: https://github.com/WordPress/gutenberg/pull/31796. I have confirmed that after reverting those changes, I can no longer reproduce the crash.

[2021-05-18 03:58] mkevins commented on #3511
I have confirmed this as well, and noted also that after applying a revert described here: https://github.com/wordpress-mobile/gutenberg-mobile/issues/3510#issuecomment-842805942 that the same issue occurs on the gallery caption, when focus is changed.

[2021-05-18 08:14] #3169 closed, assigned to nobody

[2021-05-18 09:43] antonis commented on #3511
As pointed out by @mkevins after the issue is triggered with the gallery block image captions it persists on other rich text blocks (e.g. paragraph block or quote block).
If I create a new paragraph block at this point or focus on the title the toolbar is back.

|Paragraph Block|Quote block|
|---|---|
|![device-2021-05-18-123958](https://user-images.githubusercontent.com/304044/118629365-2f564780-

[2021-05-18 10:21] osullivanchris commented on #3435
Thanks for the tip @hypest . I logged it over here https://github.com/Automattic/jetpack/issues/19877

[2021-05-18 15:14] AmandaRiu commented on #3511
While [testing this PR that reverts the commit mentioned](https://github.com/WordPress/gutenberg/pull/31938) I can confirm the issues in this ticket still persist.

[2021-05-18 19:50] mdrockwell opened #3520 "Default to displaying Favicon.ico if No Site Icon is Present"
**Is your feature request related to a problem? Please describe.**
Some site owners upload their site's icon as a favicon.ico file in the root of the site instead of uploading it through the Customizer.

**Describe the solution you'd like**
If no Site Icon is found, display favicon.ico instead.

**Additional context**
 #3999833-zen

[2021-05-18 19:57] mdrockwell opened #3521 "Add Syntax Highlighting in Block Editor's HTML Mode"
When editing in the HTML mode, it would be nice to have syntax highlighting similar to what is available within the Classic Editor's HTML view.

In the classic Editor:
![IMG_0999](https://user-images.githubusercontent.com/42454301/118715516-b1079e80-b7f1-11eb-9960-8dbbb25f6b96.PNG)

No syntax highlighting in block editor:
![IMG_0998](https://user-images.githubusercontent.com/42454301/118715545-bf5

[2021-05-18 20:02] mdrockwell opened #3522 "Add Support for Custom Fields"
Custom Fields is a feature built-in to WordPress. The WordPress Mobile app should support them from the Post Settings screen.

**Additional context**
#3999833-zen

[2021-05-19 07:49] hypest commented on #3520
Thanks for the ticket @mdrockwell ! I wonder though, is this indeed related to something in the block editor or some app screen before it? Let's move the ticket to https://github.com/wordpress-mobile/WordPress-iOS/ if not related to the editor, thanks!

[2021-05-19 07:50] hypest commented on #708
Syntax highlighting also asked in #3999833-zen.

[2021-05-19 07:52] hypest commented on #3521
👋 @mdrockwell , I've [added the report to a ticket already opened](https://github.com/wordpress-mobile/gutenberg-mobile/issues/708#issuecomment-843841746) that includes the syntax highlighting feature request. I will close this new ticket now but please, let me know if there's more context that makes sense to keep this ticket open instead and we can reopen, thanks!

[2021-05-19 07:52] #3521 closed, assigned to nobody

[2021-05-19 13:54] hypest opened #3528 "Roll back any unneeded npm package forks introduced for JitPack builds"
With the [binary/composite Android build](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3262) in place, it's time to think about removing any of the npm package forks we've established for JitPack-based artifact builds.

This ticket serves as a placeholder for the relevant task.

[2021-05-19 16:19] guarani commented on #559
It looks like it isn't currently possible to support Shift+Enter on iOS, more info below.

After a bit of investigation and collaboration on the team, we found that iOS only provides a public API for Shift key events **when using an external (physical) keyboard** via the `pressesBegan` functions. This API doesn't work with the on-screen virtual keyboard. The iOS Notes app is likely using a private

[2021-05-19 20:16] jd-alexander opened #3530 "[Audio block] Unsupported url results in empty audio file UI"
**Describe the bug**
When you add an unsupported url to the Audio Block via the `Insert from URL` media upload action, the block does not present a warning, it shows an empty file.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Audio block.
2. Select `Insert from URL`.
3. Insert an URL like `http://www.mp3.com/music/`
4. Notice that an empty audio file is shown.

<img width="342" alt

[2021-05-20 14:28] #3510 closed, assigned to nobody

[2021-05-20 15:46] antonis commented on #3292
I did a couple more tests today:
* As mentioned above the [upload from mobile Safari](https://antonistest.wordpress.com/2021/05/20/test-upload/) works as expected.
* The **Take a Video** option seems to work since we are using [Kanvas that defaults to h264](https://github.com/tumblr/kanvas-ios/blob/f53e7f9b1254320c74bf5c91cce7ed610e3579ff/Classes/Recording/CameraSegmentHandler.swift#L500).
* What

[2021-05-20 23:20] guarani commented on #3425
I updated the title and description to include that this bug is present on Atomic sites as well.

[2021-05-21 06:24] #3433 closed, assigned to jd-alexander

[2021-05-21 06:41] #2620 closed, assigned to nobody

[2021-05-21 07:47] hypest commented on #3292
Headsup that I believe https://github.com/wordpress-mobile/WordPress-iOS/pull/16548 will address this issue.

[2021-05-21 13:11] guarani commented on #3201
Noting that the ability to edit authors has been added **on iOS only** on the soon-to-be-released WPiOS 17.4. Support on Android has not yet been added.

[2021-05-21 13:21] hypest commented on #3201
Thanks for the update @guarani ! Is that implemented on the native side or in gutenberg-mobile?

[2021-05-21 13:24] guarani commented on #3201
On the native side, it didn't touch gutenberg-mobile at all.

[2021-05-21 14:57] roundhill commented on #3292
It may be better to do a bit of API back-and-forth when uploading to a site using VideoPress, so that you can insert the h264 transcoded video into the block instead of the original file:

* After uploading, you'll get a media id, you could then hit `/sites/{site-url}/media/{media-id}`.
* In that media response there should be a `videopress_guid` property if the site is using VideoPress.
* You can

[2021-05-21 18:33] #3461 closed, assigned to guarani

[2021-05-21 19:13] dcalhoun commented on #3425
@Guarani I was testing a [1.53.1 release build](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3535#issuecomment-846156482), which does not include https://github.com/wordpress-mobile/WordPress-iOS/pull/16468, and noticed an oddity for the [TC004 test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported-block-editing.md#tc004) for Classic-enab

[2021-05-21 20:48] mdrockwell commented on #3520
@hypest, I guess I may have misunderstood the repo — I assumed it was for issues related to apps on both platforms. I can certainly add this to the app-specific repos if you'd like!

[2021-05-24 06:20] cameronvoell opened #3539 "Update react-native forked libs react-native-mirror from bintray to S3"
### Description
The following forked repos in wordpress-mobile repository need to be updated from sourcing react-native-mirror from bintry to S3:

- [x] [react-native-get-random-values](https://github.com/wordpress-mobile/react-native-get-random-values/blob/master/android/build.gradle#L46)
- [x] [react-native-slider](https://github.com/wordpress-mobile/react-native-slider/blob/feat/jitpack/src/and

[2021-05-24 11:06] hypest commented on #3520
Ah, I see. Yeah, this repo focuses on the block editor inside the apps. Sometimes we also keep a ticket here when it's still close to the editing experience and happens on both mobile platforms.

Yes, please. That will help bring the issues to the appropriate queues, thanks!

I will close this ticket at this point.

[2021-05-24 11:06] #3520 closed, assigned to nobody

[2021-05-24 19:19] guarani commented on #3425
Hi @dcalhoun 👋

Thanks for reporting! I could reproduce this as well.

Fixing this issue involves [removing the Unsupported Block Editor's dependency of the editor preference API](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3425#issuecomment-840416798) – so my hunch is that it may have the side-effect of fixing the bug you're reporting here. However, to make this gets addressed pro

[2021-05-24 19:36] dcalhoun opened #3544 "Editing unsupported blocks is not disallowed on Classic-enabled Atomic sites"
**Describe the bug**
Following the [TC004 test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported-block-editing.md#tc004) steps with an account registered _after December 2018_, presents the "Edit using web editor" button, even though the Classic editor is enabled and set as the default. Tapping the button loads an empty web view. The expectation is th

[2021-05-24 19:37] dcalhoun commented on #3425
@Guarani thank you! I have created #3544.

[2021-05-24 19:59] guarani commented on #3544
Thanks for creating the issue, @dcalhoun! I just updated it since the Audio block is no longer an unsupported block (I've made a PR for updating the test cases here: https://github.com/wordpress-mobile/test-cases/pull/78).

[2021-05-25 08:54] hypest commented on #1011
Reopening as it was [inadvertently closed by a PR merge](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1011#event-4619936829).

[2021-05-25 19:16] guarani commented on #3425
I've experimented with messaging on the Unsupported Block Editor loading screen. It consists of a prompt asking users to make sure the block editor is enabled on their site, along with a loading animation (borrowed from the My Site → People screen). The idea here is that in the unlikely scenario that a user _doesn't_ have the block editor enabled on their site, the message will be enough informati

[2021-05-26 07:56] hypest commented on #3425
Looks promising @guarani ! We probably need some form of timeout and reach an error view as I was there looking at the animation and thought that "ok, it's still trying" :). Perhaps adding a 10sec timeout for that and change the animation to a failure state. On the "loading" state, perhaps the copy can also inform "This will fail if the block editor is disabled on the site" to set better expectati

[2021-05-27 19:10] guarani commented on #3425
Yes, that's true. I'll show some sort of "Loading Failed Screen" in this case.

I'm not sure what you mean by "normally enabled". In the above video, I used a self-hosted site which came with the block editor enabled and it worked. If there's another scenario which you think I could check, please let me know and I'll verify it works there, too.

Sounds good! 🙇

[2021-05-31 14:47] jd-alexander commented on #3276
WIP https://github.com/WordPress/gutenberg/commits/rnmobile/embed-block-preview

This work branched from the WIP caption field branch.

<kbd><img src="https://user-images.githubusercontent.com/1509205/120210193-1ea1ca80-c1f5-11eb-9843-f67c0f72b971.png" width="320"></kbd>

[2021-05-31 21:55] guarani commented on #1257
👋 @iamthomasbishop, this issue came to mind when I was looking at potential HACK week issues. Do you think this would be something worth tackling? I'm curious to know if there's an existing design somewhere for this.

[2021-05-31 22:07] guarani commented on #3092
This was done in https://github.com/wordpress-mobile/WordPress-iOS/pull/15766 and https://github.com/wordpress-mobile/WordPress-Android/pull/14381.

[2021-05-31 22:07] #3092 closed, assigned to guarani

[2021-06-01 08:23] #3511 closed, assigned to nobody

[2021-06-01 11:01] fluiddot commented on #3510
This issue can be also reproduced in version `17.3.2`.

**Sentry issue ID:** 1509710590

[2021-06-01 11:57] SiobhyB opened #3569 "Android: Rotating the Device Prompts the Unsupported Block Editor to Refresh"
**Describe the bug**

While editing content in the unsupported block editor on an Android device, a device rotation will cause the screen to refresh and any edits to be lost.

**To Reproduce**

_**_Precondition:_** On a WordPress.com or Jetpack-connected site, add a post via the web, then add a block that's not yet supported on mobile (e.g. Embed at time of writing)._

Steps to reproduce the behav

[2021-06-01 16:55] AmandaRiu commented on #3073
Search block was implemented [in this final PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3210). Closing.

[2021-06-01 16:55] #3073 closed, assigned to AmandaRiu

[2021-06-01 23:41] AmandaRiu commented on #3510
NOTE: This crash was fixed in [this PR](https://github.com/WordPress/gutenberg/pull/31938) and included in the gutenberg-mobile `1.53.1` release which is bundled in the `17.4` release of the WordPress apps.

[2021-06-02 11:18] SiobhyB commented on #3425
👋 @hypest gave a hint that I might be working on the Android side of this PR in a 1:1. As I had a bit of time on my hands towards the end of last week, I began to experiment and came up with something that works, which can be found at https://github.com/WordPress/gutenberg/pull/32395. Even if I'm not officially assigned to this, I wanted to share just in case it's useful. :)

[2021-06-02 14:22] guarani commented on #3425
Thanks a lot for doing that, @SiobhyB! I looked at the screenshots and it looks great 💯

---

Looping back to the discussion about enabling the UBE on non-Jetpack self-hosted sites, it sounds from https://github.com/wordpress-mobile/gutenberg-mobile/issues/3425#issuecomment-848553448 that we have the all-clear for this, is that correct @hypest?
I want to link to https://github.com/wordpress-mobile

[2021-06-03 12:08] hypest commented on #3425
👋 @guarani !

Ah, I probably misread [your original report](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3425#issuecomment-848194586), indeed, you mention there that you tested on non-Jetpack-self-hosted site. No, wasn't meaning to bring up a different case so, all good 👍.

Have we tested the new approach (the timing-out loading screen) against Jetpack sites? Can we make sure it wor

[2021-06-03 13:24] #3434 closed, assigned to jd-alexander

[2021-06-03 15:53] guarani commented on #3425
Hi @hypest 👋

Yes, I've [tested the iOS PR on all the UBE test cases](https://github.com/wordpress-mobile/WordPress-iOS/pull/16586#issuecomment-849986556), which include self-hosted sites accessed via WP.com as well as via username/password. It also includes Atomic sites so I think that covers all the site types we support. Thanks for checking though 🙇.

[2021-06-03 20:42] enejb opened #3580 "Make vertical alignment options more easier to use"
**Describe the bug**
The current vertical and horizontal alignment work more like toggles buttons than a drop-down which can create some confusion.

It manifests itself in things like folks thinking that there are no options available since the default option looks very much like the selected option. And when we have more than two options available (full width and wide width) the default option of

[2021-06-03 20:47] enejb opened #3581 "Layout Grid: Can't interact with a grid with nested grids"
**Describe the bug**
Nesting the grid block within the grid doesn't work.

**To Reproduce**
Steps to reproduce the behaviour:

1. Add a Layout grid-block
2. Select a Column
3. Insert a Layout-grid in the column
4. Notice that you can't select the nested layout grid items.

**Expected behaviour**
Be able to nest the layout grid within the layout grid block
Or prevent the user from adding the layout

[2021-06-03 21:08] enejb opened #3582 "Layout Grid: Block Actions are not usable"
**Describe the bug**
Currently when you try to do the following action on the layout grid (the inner block) block. they do not work as expected.

Remove block, Copy block, Cut Block, Duplicate Block, Paste Block ()

**To Reproduce**
Steps to reproduce the behavior:

1. Add a Layout grid-block
2. Select a Column
3. Select `...`
4. Select Remove Block
5. Notice that the Block removed notice is prese

[2021-06-03 21:29] enejb opened #3583 "Layout Grid: Inserting a layout grid with in a grid column makes the column none functional"
**Describe the bug**
We show a user a blank inserter bottom sheet when they click selected the grid block and then try to insert a block.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a new layout grid block
2. Click on the bottom (+) icon
3. Notice the empty block inserter bottom sheet.

**Expected behaviour**
That the action is disabled. (This is what happens on the web)

**Screensh

[2021-06-03 22:05] enejb opened #3584 "Slash Inserter: You shouldn't be able to add the "more" block more then once"
**Describe the bug**
Currently, when you try to insert the "more" block you can't do it more than once on the page/post.
The new slash inserter makes it look like you can.

<img width="200" src="https://user-images.githubusercontent.com/115071/120717381-49ea1b00-c47c-11eb-9048-2e2d47b0ada3.png" />

<img width="200" src="https://user-images.githubusercontent.com/115071/120717402-52425600-c47c-11eb-

[2021-06-03 22:50] enejb commented on #3584
This is what it looks like on the web.
<img width="860" alt="Screen Shot 2021-06-03 at 3 49 20 PM" src="https://user-images.githubusercontent.com/115071/120721770-5756d380-c483-11eb-9e14-ab30cf7a1bae.png">

[2021-06-04 10:14] #3499 closed, assigned to geriux

[2021-06-04 16:14] hypest opened #3588 "Text disappearing on Enter at the text end on Android"
**Describe the bug**
Text is disappearing on Galaxy S7 when hitting Enter at the end of a paragraph block

**To Reproduce**
Steps to reproduce the behavior:
0. With an existing post having a paragraph block with some text, open the post on WPAndroid.
2. Tap at the end of the paragraph block to place the caret at the end.
3. Tap "Enter" on the virtual keyboard. Happens on the Samsung keyboard on my

[2021-06-04 16:37] dcalhoun commented on #3588
I was unable to reproduce this issue with the following environment:

* Device: Samsung Galaxy S20
* OS: Android 11
* Version: WPAndroid 17.4
* Keyboard:  Both default Samsung keyboard and Gboard.

https://user-images.githubusercontent.com/438664/120834661-f08bf580-c528-11eb-937c-9f8c5aa779aa.mp4

[2021-06-07 09:09] hypest commented on #3588
Since we can't reproduce on recent devices, I'll mark this as "Medium Priority". I'd file it as "Low prio" if it wasn't for content loss/removal.

[2021-06-09 13:44] SiobhyB commented on #3569
@mchowning, I don't think I made it clear enough in the issue's description, but this issue can lead to content loss, as any unsaved content added to the UBE will be lost if the user simply rotates their device while editing. If a significant amount of content is added then this has the potential for being quite a big pain point. Do you think this is perhaps worth a higher priority with that consi

[2021-06-09 13:48] mchowning commented on #3569
Makes sense to bump it up. I updated it to a medium, but feel free to go ahead and bump it to a high if you think that makes more sense.

[2021-06-09 13:51] SiobhyB commented on #3569
`Medium` seems right to me too, thank you!

[2021-06-09 15:25] guarani commented on #2943
Sorry for the late reply @iamthomasbishop.

Sounds good. This will be fixed once https://github.com/WordPress/gutenberg/issues/24425 is closed.

I agree with you that leaving things as-is makes it easier for users whose aim is to type a `@` character without inserting a mention.
However, I want to highlight that the comment, https://github.com/wordpress-mobile/WordPress-iOS/pull/15562#pullrequestr

[2021-06-09 22:18] #3581 closed, assigned to nobody

[2021-06-11 11:43] thehenrybyrd opened #3610 "Media blocks: Show error message for invalid URLs"
**Describe the bug**
When adding an invalid URL in an Audio block (via "Insert from URL"), it'd be nice to show on error message to let the user know they haven't typed a valid URL, before they tap "apply"
Currently, it shows an error after tapping "apply".
This means if someone typed the URL slightly wrong, they have to go back in an re-type the whole thing.

**To Reproduce**
Steps to reproduce t

[2021-06-14 17:04] startuptester opened #3615 "Reusable Blocks: App editor shows text color as default even though it is color on web and in preview."
### Expected behavior
Reported by @osullivanchris:
I set the text to pink on web. In the editor on web, the text is pink. In the app, the text is not pink in the editor, although it is in preview. I feel like we should be consistent on web/app in terms of what is WYSIWYG. Either it changes to look like the front end, or it has a neutral style in the editor. But it shouldn’t change between web edit

[2021-06-15 09:42] #3584 closed, assigned to geriux, mkevins

[2021-06-16 14:53] #3316 closed, assigned to mkevins

[2021-06-16 18:19] fluiddot commented on #3615
I think this issue is not totally really related to the reusable block as it can be reproduced with a regular Paragraph block.

**Steps:**
1. Add a Paragraph block to a post/page and set the font to any colour that isn't default
2. View on web preview, it's the color you chose
3. Edit the same post/page on the iOS app, the font is the default color in the editor
4. View in preview from the app and

[2021-06-17 12:57] osullivanchris commented on #3615
Spoke to @iamthomasbishop about this and he said its something planned to bring to Gutenberg in future, but expected behaviour today. So I think we can close this issue?

[2021-06-17 13:05] #3615 closed, assigned to nobody

[2021-06-17 13:20] hypest opened #3631 ""Error warning" with "Cannot update component while rendering a different component" on RN 0.64"
<details>
<summary>Full message</summary>
Warning: Cannot update a component (`BlockMobileToolbar`) while rendering a different component (`SlotComponent`). To locate the bad setState() call inside `SlotComponent`, follow the stack trace as described in https://reactjs.org/link/setstate-in-render
    in SlotComponent (at slot.js:91)
    in Slot (at slot-fill/index.native.js:16)
    in Slot (at slo

[2021-06-17 13:58] fluiddot commented on #3631
I also noticed this warning while adding an integration test for the reusable block in [this PR](https://github.com/WordPress/gutenberg/pull/32506), in fact, I already fixed it there so once I merge it this could be closed.

[2021-06-17 15:44] ceyhun opened #3633 "[Android] Audio Block: "Type a URL" dialog wrong button colors"
**Describe the bug**

Action buttons on the "Type a URL" Dialog are using a green color, whereas they should be using our primary color (blue 50 in light, blue 30 in dark)

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Audio block
2. Press "Add audio"
3. Select "Insert from URL"

**Expected behavior**
"Cancel" and "Apply" buttons should be blue

**Screenshots**
<img width="300" src="

[2021-06-18 12:18] ceyhun opened #3635 "[Android] Refactor React Native Aztec and remove deprecated functions"
Some functions became deprecated in [ReactAztecManager.java](https://github.com/WordPress/gutenberg/blob/bb0316221057feee9034acb094980246ee19e537/packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecManager.java) after the React Native 0.64 upgrade. We should remove those and refactor that file.

Related conversation: https://github.com/WordPress/gutenb

[2021-06-18 14:14] hypest opened #3636 "New-block indicator and newly added block is in the wrong position after selecting the Title"
After selecting the Title and then some other block, and then try to add a new block from the block picker, the blue line/indicator is at the wrong place.

**To Reproduce**
Steps to reproduce the behavior:
1. In the demo app
2. Tap on the Title
3. Then tap on a block a couple of blocks away
4. Then tap on the "+" toolbar button to add a new block from the picker
5. 💥 Notice that the new-block indi

[2021-06-18 14:18] hypest commented on #3636
From my debugging so far, looks like the the [editor settings memo](https://github.com/WordPress/gutenberg/blob/4edc47f5187e7f58dc1a9618ba8d732b5d072c00/packages/editor/src/components/provider/use-block-editor-settings.native.js#L35-L42) doesn't get triggered when the Title get unselected.

[2021-06-18 14:27] fluiddot commented on #3636
Looks like we have the same issue opened in Gutenberg:
https://github.com/WordPress/gutenberg/issues/32154

[2021-06-21 16:43] #3636 closed, assigned to dcalhoun

[2021-06-22 21:19] mchowning commented on #3635
We should also be able to remove the [`ReactTextInputShadowNodeFork`](https://github.com/WordPress/gutenberg/blob/trunk/packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactTextInputShadowNodeFork.java#L29-L33) because RN 0.64 includes [this change](https://github.com/facebook/react-native/blob/0.64-stable/ReactAndroid/src/main/java/com/facebook/react/views/

[2021-06-23 09:17] thabotswana commented on #3174
Another report here: 4080443-zen

[2021-06-23 10:19] hypest commented on #3425
Reopening to better reflect that not all platforms have been updated/fixed yet (the [Android side is ongoing](https://github.com/wordpress-mobile/WordPress-Android/pull/14762) at the time of writing).

[2021-06-23 14:10] guarani commented on #3425
Thanks for catching, @hypest! I didn't expect GitHub to close this issue when that PR was merge, ~~it looks like it might have been caused by the word "fixes" that I included in the parenthesis~~:

Update: It was caused by the commit message in https://github.com/wordpress-mobile/WordPress-iOS/commit/6e5fc656a35b0559f47660cc7eeaed5a8644fee7, oops!

[2021-06-24 11:21] hypest commented on #3171
Closing as non applying anymore since the site switcher [has been removed from inside the editor](https://github.com/wordpress-mobile/WordPress-iOS/pull/16158).

[2021-06-24 11:21] #3171 closed, assigned to nobody

[2021-06-24 11:31] hypest commented on #2338
Closing as I can't replicate on an iPhone 12 simulator running iOS 14.4, demo app from develop 9bf53198. Feel free to reopen if issue actually still persists.

[2021-06-24 11:31] #2338 closed

[2021-06-24 11:33] hypest commented on #1917
Closing as I can't replicate on an iPhone 12 simulator, iOS 14.4, demo app on develop 9bf53198. Similar with the Android demo app, can't replicate on a physical Pixel 2 XL. Please, feel free to reopen if issue still persists. Thanks!

[2021-06-24 11:33] #1917 closed

[2021-06-24 11:51] fluiddot commented on #1187
I tackled this issue as my HACK week project (June 2021), I only managed to integrate the iOS part but so far the tests I've run everything is working nice 🎊 .

Here goes a sneak peek 👀:
<img src=https://user-images.githubusercontent.com/14905380/123244535-4e867a00-d4e4-11eb-8ca0-a6bc725200cf.png>

In the following links you can find the different PRs with the implementation:
- [Gutenberg - [RNMob

[2021-06-24 13:17] ceyhun commented on #3160
Another report: internal reference p5T066-2lo-p2#comment-8763

[2021-06-24 14:14] hypest commented on #2483
Now that we have the intermediate [loading screen in place](https://github.com/wordpress-mobile/WordPress-iOS/pull/16586), I wonder if we could use it for notifying of no-network too. WDYT @guarani?

[2021-06-24 14:42] hypest commented on #3425
👋 @guarani , sorry, getting a bit confused and wanted to check with you to clear up: with the recent work here for the loading screen, have we indeed ended up enabling UBE for non-Jetpack self-hosted sites?

[2021-06-24 15:08] #3631 closed, assigned to fluiddot

[2021-06-25 05:23] reginabally commented on #2759
Another request here: 4091121-zd-woothemes

[2021-06-25 05:23] reginabally commented on #2760
Another request here: 4091121-zd-woothemes

[2021-06-25 05:25] reginabally commented on #2757
Another request in 4091121-zd-woothemes

[2021-06-25 05:25] reginabally commented on #1212
Another request in 4091121-zd-woothemes

[2021-06-25 15:37] guarani commented on #2482
👋 In a similar vein to @hypest's comment [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2483#issuecomment-867671753) regarding an offline experience for the UBE, this issue could also be a good follow-up.

The last we discussed about this was in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3425#issuecomment-853977071, I shared that I didn't see any blockers remai

[2021-06-25 15:48] guarani commented on #2483
👋 @hypest, I agree this makes sense now that we have the loading screen in place.

---

@SiobhyB regarding the implementation, on iOS I'd go with using WPiOS' existing offline screen. Given [our recent discussion](https://github.com/wordpress-mobile/WordPress-Android/pull/14762#issuecomment-865367856) about the differences between implementations on iOS and Android, I wanted to check that using th

[2021-06-25 15:54] fluiddot opened #3667 "[Integration test] Buttons block - Breakage case - Border radius changes are not being stored"
**PR where the breakage was fixed:** https://github.com/WordPress/gutenberg/pull/32717

## Tasks
1. Identify the block/component that is affected.
1. Add a test file for covering the breakage in the block/component folder.
1. Run the test and verify that it passes.
1. Revert the changes made for the fix.
1. Run the test again and verify that it fails.
1. _(Bonus)_ Add more test cases to the block/

[2021-06-25 15:56] guarani commented on #2482
| iOS | Android |
| - | - |
| <img width="250" src="https://user-images.githubusercontent.com/1898325/123451829-dbe0d180-d5ab-11eb-8f80-840654950193.jpeg" /> | <img width="250" src="https://user-images.githubusercontent.com/1898325/123451918-ee5b0b00-d5ab-11eb-8e25-2eba8d149683.jpg" /> |

These are the two offline screens I saw in the main app (they're not used everywhere though).

[2021-06-25 15:56] guarani commented on #2483
| iOS | Android |
| - | - |
| <img width="250" src="https://user-images.githubusercontent.com/1898325/123451829-dbe0d180-d5ab-11eb-8f80-840654950193.jpeg" /> | <img width="250" src="https://user-images.githubusercontent.com/1898325/123451918-ee5b0b00-d5ab-11eb-8e25-2eba8d149683.jpg" /> |

These are the two offline screens I saw in the main app (they're not used everywhere though).

[2021-06-25 15:57] fluiddot opened #3668 "[Integration test] Inserter logic - Breakage case - Fix incorrect block insertion point after blurring post title"
This issue is being addressed in [this PR](https://github.com/WordPress/gutenberg/pull/32944)

**PR where the breakage was fixed:** https://github.com/WordPress/gutenberg/pull/32831

## Tasks
1. Identify the block/component that is affected.
1. Add a test file for covering the breakage in the block/component folder.
1. Run the test and verify that it passes.
1. Revert the changes made for the fix.

[2021-06-25 15:58] fluiddot opened #3669 "[Integration test] Missing block - Fix missing title for some unsupported blocks"
**PR where the breakage was fixed:** https://github.com/WordPress/gutenberg/pull/31743

## Tasks
1. Identify the block/component that is affected.
1. Add a test file for covering the breakage in the block/component folder.
1. Run the test and verify that it passes.
1. Revert the changes made for the fix.
1. Run the test again and verify that it fails.
1. _(Bonus)_ Add more test cases to the block/

[2021-06-25 15:59] fluiddot opened #3670 "[Integration test] Gallery block - The editor Crashes when adding a Caption to a Gallery block"
**PR where the breakage was fixed:** https://github.com/wordpress-mobile/gutenberg-mobile/pull/3534

## Tasks
1. Identify the block/component that is affected.
1. Add a test file for covering the breakage in the block/component folder.
1. Run the test and verify that it passes.
1. Revert the changes made for the fix.
1. Run the test again and verify that it fails.
1. _(Bonus)_ Add more test cases

[2021-06-25 16:10] fluiddot opened #3671 "[Integration test] File block - Migrate UI test gutenberg-editor-file-@canary"
**UI test reference:** https://github.com/WordPress/gutenberg/blob/trunk/packages/react-native-editor/__device-tests__/gutenberg-editor-file-@canary.test.js

## Tasks
1. Identify the block/component that the UI test is covering.
1. Add a test file to the block/component folder, following the same flow as the UI test.
1. Run the test and verify that it passes.
1. Introduce a breakage to the block/c

[2021-06-25 16:11] fluiddot opened #3672 "[Integration test] Search block - Migrate UI test gutenberg-editor-search"
**UI test reference:** https://github.com/WordPress/gutenberg/blob/trunk/packages/react-native-editor/__device-tests__/gutenberg-editor-search.test.js

## Tasks
1. Identify the block/component that the UI test is covering.
1. Add a test file to the block/component folder, following the same flow as the UI test.
1. Run the test and verify that it passes.
1. Introduce a breakage to the block/compone

[2021-06-25 16:12] fluiddot opened #3673 "Enable integration tests in Gutenberg Mobile"
Take as reference the Jest configuration from Gutenberg: https://github.com/WordPress/gutenberg/blob/trunk/test/native/jest.config.js

[2021-06-25 16:25] fluiddot opened #3674 "Transform Sass files to CSS when running tests"
Currently, we have to explicitly add the style sheets that are used in render functions of the components we test in the [styleMock file](https://github.com/WordPress/gutenberg/blob/trunk/test/native/__mocks__/styleMock.js). The reason is that Jest doesn't import the Sass files that are referenced in the code, so it would be nice if we figure out a way to transform them to CSS when running the tes

[2021-06-25 21:41] pachlava opened #3677 "[Audio Block] `Apply` button in `Type a URL` dialog is enabled when there is no content."
**Describe the bug**
The `Apply` button in the `Insert from URL` dialog for `Audio` block is enabled when the URL input is empty.

**To Reproduce**
1. Add `Audio` block
2. Select `Insert from URL` ~> `Apply` button is enabled when there is no content entered.

**Expected behavior**
I would expect the `Apply` button to be disabled at least when there is no content. Ideally, also when the URL struct

[2021-06-25 22:14] iamthomasbishop commented on #2943
That sounds good, let's roll with your suggestion here @guarani

[2021-06-28 13:51] guarani commented on #2943
Sounds good @iamthomasbishop! I'm closing this issue as won't-fix as agreed upon in the above comments.

[2021-06-28 13:51] #2943 closed, assigned to nobody

[2021-06-28 14:12] guarani commented on #3425
@hypest sorry for the confusion. That's been put in a separate issue, https://github.com/wordpress-mobile/gutenberg-mobile/issues/2482. This was done to make sure this bug fix issue is addressed independently of any issues that might arise with enabling the UBE on non-Jetpack self-hosted sites.

[2021-06-28 14:56] thabotswana commented on #3174
Another report: 4097160-zen

[2021-06-29 11:54] #3163 closed, assigned to antonis, chipsnyder

[2021-06-29 13:09] mchowning commented on #3635
👋  @ceyhun ! Is the plan to do this in the immediate future, or is it more of a task we'll include in the future when we're making other changes to the `ReactAztecManager`?

[2021-06-29 18:20] enejb opened #3683 "Bug: We should only make xposts endpoint request for .com sites on iOS"
**Describe the bug**
Currently, we make an xpost request to the public-api endpoint for all sites.
This should only happen for .com sites since these sites are the ones that have that feature available.

**To Reproduce**
Steps to reproduce the behavior:
1. Look at requests that are being made from a device. I used Charles proxy for this.
2. Notice that a .org site was making the requests to the `p

[2021-06-29 19:33] guarani commented on #3683
I added the iOS label since the title mentions iOS only and I think this is iOS-specific.

[2021-06-29 21:50] eduardozulian commented on #924
@hypest is it possible to check if we had a regression here? This was [mentioned at least in the iOS forums](https://ios.forums.wordpress.org/topic/image-block-linking-to-media-file?replies=1).

The "Link To" field now shows only **Search or type URL**. Once tapped, I can only see a field to type my search for a custom URL. Here's an example from iOS:

<img src="https://user-images.githubuserconte

[2021-06-30 13:01] hypest commented on #924
👋 @mkevins , since you worked on the implementation, would you mind checking the report @eduardozulian brought up [above](https://github.com/wordpress-mobile/gutenberg-mobile/issues/924#issuecomment-870942491)? And oh, was the feature only implemented in Android perhaps, and it's not available yet on iOS?

[2021-06-30 13:59] hypest commented on #3425
Ah, I see, thanks for clarifying @guarani !

Fine by me for the separate ticket for non-Jetpack self hosted sites. In that case, and since [the Android side fix also landed](https://github.com/wordpress-mobile/WordPress-Android/pull/14762), can we close this ticket?

[2021-06-30 15:13] eduardozulian commented on #924
@hypest I also tested on Android and I don't see the above options as well, only the same "Search or type URL" field.

[2021-06-30 23:59] guarani commented on #3425
Good call, closing this issue now that both platforms have been addressed.

[2021-06-30 23:59] #3425 closed, assigned to guarani

[2021-07-01 01:35] mkevins commented on #924
I believe this issue may have been closed erroneously. The link picker integrated in #2841 adds the ability to link to existing content for image blocks, but does _not_ address the requirements of this issue. The desired behavior described in this issue had not previously existed for image blocks, and so is not a regression — perhaps the design mockups were confused for screenshots? Or it may be p

[2021-07-01 13:18] #3274 closed, assigned to ceyhun, fluiddot

[2021-07-02 15:17] #3282 closed, assigned to jd-alexander, fluiddot

[2021-07-05 08:56] swissspidy commented on #3466
Is this still an issue for you? The underlying parser was updated a while ago, so I'd expect this to be fixed in WP-CLI 2.5

[2021-07-05 12:02] fluiddot commented on #3466
Most likely not because we actually forcing use the last version of WP-CLI (2.5) on [this command](https://github.com/wordpress-mobile/gutenberg-mobile/blob/6eeb95f284360aadaa25f387e9cc0478e8f9e947/package.json#L72) but let me do a quick check before confirming it.

[2021-07-05 12:41] ceyhun commented on #3635
I think it's working fine as it is right now, so maybe more of a task we'll include in the future when we're making other changes to the ReactAztecManager.

[2021-07-05 16:20] fluiddot commented on #3466
I've just verified that the issue is no longer happening 🎊 , at least with the chain operator but I noticed that the parsing fails on files that contain the [fragment short syntax `<></>`](https://reactjs.org/docs/fragments.html#short-syntax). I'll open a new issue with this case, so we can close this one as it's already fixed.

## Missing strings

This issue has been fixed by using the last versi

[2021-07-05 16:20] #3466 closed, assigned to nobody

[2021-07-06 10:25] geriux opened #3699 "Improve Slash inserter E2E"
We are [disabling the Slash inserter E2E](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3698) due to flakiness, this ticket is to keep track of the work to improve it and enable it again, also to reference it in a comment [here](https://github.com/WordPress/gutenberg/pull/33197#discussion_r664194492).

[2021-07-06 14:24] fluiddot commented on #3284
I verified that the alignment options on the first version work as expected without including any implementation for the native version. However, I wouldn't close the issue because most likely this feature would require to be revisited once we implement the embed preview.

## Results

Here we can see the different alignment results with its preview:

### Align left (Twitter embed)
Editor|Preview
-

[2021-07-07 07:37] #2195 closed

[2021-07-07 16:43] enejb opened #3705 "Nested blocks should focus after being added."
Currently, when you insert a paragraph inside a layout grid, column or group block the paragraph is not focused. And the user has to perform another click in order to start typing.

**Describe the solution you'd like**
The paragraph textarea should be focused after the paragraph is inserted.

**Additional context**
This currently doesn't happen when the paragraph is not nested.
THis also happens t

[2021-07-07 16:57] enejb opened #3706 "Full Width Alignment blocks looks like the block is cut off"
Currently when a block supports full-width alignment. Such as the layout grid block, columns block or the group block. The blocks that are nested appear to be cut off.

See
<img width="976" alt="Screen Shot 2021-06-30 at 10 30 13" src="https://user-images.githubusercontent.com/115071/124799716-b2a83580-df09-11eb-8e52-ab9d18865367.png">

**Describe the solution you'd like**
Make it more clear that

[2021-07-07 17:19] enejb opened #3707 "Layour Grid: Allow for editing spans and offsets"
**Is your feature request related to a problem? Please describe.**
On the web the layout grid blocks allows for editing spans and offsets. Which lets the user create more specific grid layouts.

The current mobile implementation doesn't currently support that feature.

**Describe the solution you'd like**
We should allow for editing the spans and offsets with a nice preview.

**Additional context*

[2021-07-07 17:29] ceyhun opened #3708 "[Android] RN ActivityIndicator component is blank and does not show up unless explicit color prop is provided"
After RN 0.64 upgrade, on Android [ActivityIndicator](https://reactnative.dev/docs/activityindicator) is blank and does not show up unless explicit `color` prop is provided.

See https://github.com/facebook/react-native/pull/30057

A possible fix is already implemented in Embed block [here](https://github.com/WordPress/gutenberg/blob/rnmobile/embed-fetching-preview/packages/block-library/src/embed

[2021-07-07 18:39] #3285 closed, assigned to fluiddot

[2021-07-08 10:32] #3275 closed, assigned to ceyhun

[2021-07-09 20:07] dcalhoun commented on #3136
I debugged this some during Groundskeeping. I did not make it to a fix, but wanted to capture what I observed so far.

It would appear that two `EDIT_ENTITY_RECORD` actions are triggered when bolding a link, as opposed to one action when bolding a word that is not a link. From inspecting the meta data from the two actions, I noticed that the placement of the `<strong>` tag differs between to the e

[2021-07-09 21:31] dcalhoun commented on #2198
@donalirl thank you for reporting this issue! While exploring text editing using TalkBack, I definitely noticed aspects that are challenging.

It would appear that original Droplr link you shared now results in a 404 error. Would you be able to provide a new video (possibly uploaded directly in a GitHub comment [now that it is supported](https://github.blog/2021-05-13-video-uploads-available-githu

[2021-07-09 21:34] dcalhoun commented on #3122
@illusaen I am unable to reproduce this and I noticed https://github.com/Automattic/jetpack/pull/19367 claims to fix this issue. I am closing this issue, but please reopen if you believe we still need it. Thanks! 🙇🏻

[2021-07-09 21:34] #3122 closed, assigned to nobody

[2021-07-12 00:36] donalirl commented on #2198
Sorry about that! I didn't realize at the time that my droplr links were set to expire. I was able to locate the original video that demonstrates how I wasn't able to edit the paragraph block text:

https://user-images.githubusercontent.com/30727666/125214930-fe3d5380-e2fc-11eb-886d-ae21e36299d8.mp4

[2021-07-12 18:20] AmandaRiu commented on #2498
FYI: This is still an issue as of `1.57.0` (figured I'd make a note of it since I was already doing the writing flow testing for this release).

[2021-07-12 18:36] AmandaRiu commented on #3495
Tested on a physical Pixel 4 running Android 11 and Gboard. Issue appears [to have been fixed when this issue was fixed.](https://github.com/WordPress/gutenberg/issues/27690). Closing.

https://user-images.githubusercontent.com/5810477/125338646-7700d780-e31e-11eb-81ed-cd587e8dc832.mp4

[2021-07-12 18:36] #3495 closed, assigned to nobody

[2021-07-12 18:51] AmandaRiu commented on #2372
This appears to be fixed as of `1.57.0`. Tested on a physical Pixel 4 running android 11 with Gboard:

https://user-images.githubusercontent.com/5810477/125340557-97ca2c80-e320-11eb-8bd7-a93af1790112.mp4

closing 👍

[2021-07-12 18:51] #2372 closed

[2021-07-12 18:53] AmandaRiu commented on #2373
FYI: Still an issue as of `1.57.0`. Tested on a physical Pixel 4 running Android 11 and Gboard:

https://user-images.githubusercontent.com/5810477/125340835-f099c500-e320-11eb-8999-91aae738bb31.mp4

[2021-07-12 21:23] AmandaRiu commented on #2375
Verified still an issue as of `1.57.0`. Tested on a physical Android Pixel 4 running Android 11 w/ Gboard:

https://user-images.githubusercontent.com/5810477/125357648-e635f600-e335-11eb-9d9e-a6419ce86e0e.mp4

[2021-07-12 21:32] AmandaRiu commented on #303
FYI: Still an issue as of `1.57.0`. Tested on a physical Pixel 4 running Android 11 w/ Gboard:

https://user-images.githubusercontent.com/5810477/125358639-28ac0280-e337-11eb-8c58-99f634d7d72c.mp4

[2021-07-12 21:34] #3708 closed, assigned to dcalhoun

[2021-07-12 21:35] AmandaRiu commented on #2499
FYI: Still an issue as of `1.57.0`. Tested on a physical Pixel 4 running Android 11 w/ Gboard:

https://user-images.githubusercontent.com/5810477/125358814-6ad54400-e337-11eb-806d-15bb36cdf8d0.mp4

[2021-07-13 13:59] fluiddot commented on #3466
@swissspidy Heads-up that I opened a new issue because looks like we still have a high number of missing translation after the fixes:
https://github.com/WordPress/gutenberg/issues/33364

[2021-07-13 14:54] chipsnyder commented on #2531
Phase 1 of Layout grid was made available as part of https://github.com/wordpress-mobile/gutenberg-mobile/pull/3513

[2021-07-13 14:54] #2531 closed

[2021-07-13 16:11] #3286 closed, assigned to ceyhun

[2021-07-13 19:15] chipsnyder opened #3721 "Bottom Sheet bounces a bit when going from a caption to adding a block"
**Describe the bug**
While editing a caption in the Gallery, if you go from an open keyboard to add a new image the bottom sheet bounces up beyond its bounds then settles in place.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Media block or two
2. Add some images but leave at least one in a state where you can directly access the Choose media sheet.
    - For example you can add a g

[2021-07-13 19:34] #3667 closed, assigned to guarani

[2021-07-14 09:10] thehenrybyrd commented on #3721
I was able to reproduce on **Samsung Galaxy S21, Android 11, WPAndroid 17.8-rc-1**.
I was able to get it 100% of the time when editing the caption of the top-right gallery item, but less consistently with the other gallery items.

[2021-07-14 20:13] enejb commented on #3705
I think this issue has been address since I am not able to replicate it any more. Closing this for now.

[2021-07-14 20:13] #3705 closed, assigned to nobody

[2021-07-15 15:15] mchowning commented on #3721
Might this be related to any of the work you were doing @fluiddot ?

[2021-07-15 15:20] dcalhoun commented on #3721
For additional context, this may relate to/duplicate https://github.com/WordPress/gutenberg/issues/32012.

[2021-07-15 15:45] fluiddot commented on #3721
Yeah, probably it's related to the recent changes I did for adding the reusable bocks tab in the bottom sheet, as @dcalhoun pointed out, we already have [an open issue related to this](https://github.com/WordPress/gutenberg/issues/32012).

[2021-07-15 16:53] hypest commented on #2198
👋 all! Tried WPAndroid v17.8-rc-1 with Talkback enabled on a Pixel 2XL running Android 11 and seems that at this point, I'm able to edit paragraphs by double clicking the block.

Is the issue still happening for you in recent app versions @donalirl? Are there steps to reproduce perhaps? Thanks!

[2021-07-16 00:52] #3669 closed, assigned to guarani

[2021-07-16 06:35] donalirl commented on #2198
Hi @hypest . I tried to reproduce just now and couldn't. I could double tap the block to edit the text. It seems that the issue can be closed.

Interestingly, I noticed Samsung/Android has an updated voice assistant tool (now called Talkback) so maybe some update in the past year solved this issue. Thanks for looking!

[2021-07-16 06:35] #2198 closed

[2021-07-16 08:47] hypest commented on #3721
Thank you all for elaborating and triaging. Let's close this in favor of the one on Gutenberg as the context is already captured there, including videos and all.

[2021-07-16 08:47] #3721 closed, assigned to nobody

[2021-07-16 09:22] SiobhyB commented on #2199
I attempted to replicate this on an _iPhone XR_, _iOS 14.6_, and _version 17.8_ of the app.

I was able to edit a post following these steps with VoiceOver enabled:

* Double-tap through to _Blog Posts_ → _Add New_ within the app.
* Double-tap within a paragraph block in the editor and then begin typing.

This worked in the same way as the following steps, which the user seemed to indicate worked

[2021-07-16 09:33] hypest commented on #2199
Thanks for diving in @SiobhyB, the analysis and suggestion!

👋 @donalirl, I will close this ticket now but happy to reopen if we get more info about not working properly for users ❤️, thanks!

[2021-07-16 09:33] #2199 closed

[2021-07-20 11:28] #3539 closed, assigned to nobody

[2021-07-21 15:41] enejb opened #3742 "Throw error if submodules not installed"
**Is your feature request related to a problem? Please describe.**
Currently the build `npm install` fails without error if submodules are not installed.

**Describe the solution you'd like**
Show an error with the correct command to install the submodules if the folders are not present.

**Describe alternatives you've considered**
Anything else that would make it more clear why things are breakin

[2021-07-21 15:50] oguzkocer commented on #3742
@enejb When `block-experiments` is missing `npm install` actually works fine. However, when we run the demo app or WPAndroid composite build, metro throws an error because it can't setup block-experiments. Hope that clarification helps.

For the solution, if we are able to add a pre-check to `npm install`, I think that'd be a good place to add this because `npm install` is probably the first thing

[2021-07-21 16:58] fluiddot opened #3744 "[Embed block] Implement WP embed preview component"
### Description
- Implement the `WpEmbedPreview` component to preview content from WordPress.

**Code reference:** https://github.com/WordPress/gutenberg/blob/105dc1dfe41ed8fe85c147c1c3c204f9fb683990/packages/block-library/src/embed/embed-preview.js#L92-L93

[2021-07-22 10:45] thehenrybyrd opened #3747 "Custom Text Colors: Hard to get color-picker circle out of corners"
**Describe the bug**
When placed along any edge or in a corner of the color selection field, the color-picker circle can be a little tricky to retrieve. This seems to be because the boundaries of the field are very tightly defined. Users must tap and drag *inside* the color field in order to move the color-picker circle.

From beta testing:

**To Reproduce**
Steps to reproduce the behavior:
1. Cre

[2021-07-22 11:02] thehenrybyrd opened #3748 "Paragraph Block: Top and Bottom margins not equal"
**Describe the bug**
In a Paragraph block, the Top margin above text is slightly larger than the Bottom margin. Should this be the case?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a paragraph block
2. Add some text
3. Measure some pixels :)

**Screenshots**

<img src="https://user-images.githubusercontent.com/15107387/126629039-00b0ce6c-2702-4a22-8e70-d37b88282a1f.jpg" width="50%

[2021-07-22 12:33] chipsnyder commented on #2726
I'm going to close this issue out since we have a more extensive version of site creation in the works

[2021-07-22 12:33] #2726 closed, assigned to antonis, chipsnyder

[2021-07-22 12:35] chipsnyder commented on #2828
Closing this issue out after our discussions to not move forward with it as part of site creation as it stands today. We can reopen this later or clone it with details that would relate to any updates to the Choose a domain flow.

[2021-07-22 12:35] #2828 closed, assigned to antonis, chipsnyder

[2021-07-22 12:44] chipsnyder commented on #2905
Closing this out as I don't see any remaining instances and nothing came up in the site audit

[2021-07-22 12:44] #2905 closed, assigned to chipsnyder

[2021-07-22 22:00] #3683 closed, assigned to nobody

[2021-07-26 03:42] reginabally opened #3757 "Feature Request: Add an option to default the editing mode to HTML Mode"
**Is your feature request related to a problem? Please describe.**

Requested in 4165101-zd-woothemes:

<blockquote>
I have a self-hosted Wordpress blog where I use Markdown to format my posts. Sometimes, I need to indent code blocks with 4 spaces in the beginning of every line. This is normal formatting, in line with Markdown standards.

I have customised the web editor accordingly and it works f

[2021-07-26 10:04] hypest commented on #3757
Seems like a fairly custom use case. Besides, in a post without blocks, the app will open the "Classic" editor (Aztec), not the block editor. The classic editor is not currently the focus of attention but, feel free to open a ticket in the [Aztec Android](https://github.com/wordpress-mobile/aztecEditor-android) and [Aztec iOS](https://github.com/wordpress-mobile/AztecEditor-iOS/) repos.

That said

[2021-07-26 10:04] #3757 closed, assigned to nobody

[2021-07-27 14:33] ceyhun opened #3762 "Pasting GitHub URL in empty paragraph creates an Embed block in error state"
**To Reproduce**

1. Open the editor
2. Go to an empty paragraph block
3. Paste a GitHub URL, like: `https://github.com/wordpress-mobile/WordPress-Android/pull/15069#issuecomment-886490063`
4. Paragraph block is converted into an Embed block, shows loading view and fails later showing the error state of the Embed block
5. On WPiOS this only happens if you copy the URL from the paragraph block and

[2021-07-27 16:23] twstokes commented on #2707
So far in my testing of 17.9 on iOS and Android:

1. @-mentioning in the Gutenberg editor on iOS will re-fetch the profile photo across restarts of the app or if the app leaves the foreground and is brought back.
2. @-mentioning in the Gutenberg editor on Android will retain the originally fetched profile photo until the app is reinstalled or the its data is deleted. Clearing the cache only does n

[2021-07-28 14:58] guarani commented on #2707
Thanks for testing the latest versions, @twstokes!

On iOS, the difference between what I saw (having to reinstall the app) and what you're seeing now (having to simply restart the app) could be either due to an error on my part when reporting the issue or a change in more recent versions of the app. Either way, we can base what to do next on your most recent findings. Do you have any thoughts on

[2021-07-28 17:45] ChrissiePollock commented on #2579
Also reported on #30855177-hc.

[2021-07-28 18:13] twstokes commented on #2707
Hey @guarani! 👋

An update to this - I've now found I don't even have to restart WPiOS for it to fetch the latest icon. If the app leaves the foreground through switching to another app or locking the screen, returning to the app and doing an @-mention will cause a new request to fire and the latest icon to load.

**Note:** I've observed a delay of ~30 seconds sometimes before the Gravatar.com ser

[2021-07-28 19:12] guarani commented on #2707
Great, it sounds like there's nothing left to be done on the iOS side of things. I removed the iOS label from the issue.

Yeah, I feel the same way. I think it would be fine to look for an Android dev to tackle this, if you prefer.

[2021-07-28 21:38] iamthomasbishop opened #3766 "Improve footer copy on color picker BottomSheet"
**Describe the bug**

We've heard that some users assume that the "Select a color" label is an action button. I believe we should phrase this slightly more clearly and potentially change what is displayed depending on whether or not the user has a color selected.

**To Reproduce**

Steps to reproduce the behavior:
1. Add any block that supports colors (paragraph, button, group, etc)
2. Open the bl

[2021-07-30 07:20] #3762 closed, assigned to ceyhun

[2021-07-30 13:40] fluiddot opened #3773 "[Embed block] Add device's locale to preview content"
### Description
- Use the device's locale in the HTML generated for the embed preview

[2021-07-30 18:21] lromero16 opened #3775 "Fill In Color # in the Palette When Selecting Custom Color"
**Is your feature request related to a problem? Please describe.**
No, just user feedback on consistency of color selection.

**Describe the solution you'd like**
It would be great to be able to fill-in the color # in the palette when selecting a custom color. It is difficult to keep the colors consistent.

**Describe alternatives you've considered**
Unknown

**Additional context**
Thanks and let

[2021-07-30 19:44] ttahmouch commented on #3471
## (Stupid) Questions

+ Will offered block types need restriction based on account, site, page, post, story, etc.?
+ Presumably, this means that the block types available to select would be managed via an HTTP API; not just locally, right?
+ ![image](https://user-images.githubusercontent.com/3058263/127704102-49ce8c32-562e-4155-a81e-6d42e3a1a2bf.png)

[2021-08-02 11:39] fluiddot commented on #3471
Thanks @ttahmouch for asking these questions, here are the answers:

That's a good question and to be honest, I don't have a clear answer, from my POV, the offered blocks could be restricted by multiple variables but for the purpose of this task, I think it's out of the scope since we'll only provide the mechanism to restrict them and not the logic to determine the offered blocks.

It will depend

[2021-08-03 19:35] twstokes commented on #3677
I've gotten a chance to dive into this problem, and have some thoughts for a path forward:

The [package used to implement this prompt](https://github.com/shimohq/react-native-prompt-android) doesn't appear to support what we need to put the buttons in a disabled state (though I'd love for someone to double check behind me).

Semi-related, but I noticed that [we aren't passing in the options as an

[2021-08-03 21:21] cuemarie commented on #2579
This issue appears to be occurring here as well, though not exactly what was reported: 4192158-zd-woothemes

[2021-08-04 06:24] antonis opened #3792 "Add tests to cover the alignment functionality"
**Is your feature request related to a problem? Please describe.**
The mobile editor alignment functionality does not have automated testing in place

**Describe the solution you'd like**
Add integration and/or UI tests

**Additional context**
This issue was created after an [incoming breakage ](https://github.com/WordPress/gutenberg/pull/33847)that may have been prevented if tests were in place

[2021-08-05 03:20] AmandaRiu commented on #2373
I picked up this issue for Groundskeeping and did a bunch of debugging but haven't found a resolution yet.  It’s an issue that only seems to happen when swiping out words using **Gboard**. It doesn’t happen when swiping words out on the **Swiftkey keyboard**, or tapping words out on any of the keyboards I’ve tested including Gboard. I spent hours debugging different areas of the app by adding logg

[2021-08-05 06:04] mehov commented on #3757
Hello @hypest, @reginabally,

I'm afraid there was a misunderstanding. I sent you additional links for context, but that only confused you. Please ignore them then.

The functionality I want is already there in the current HTML Mode editor. Here it is:

![IMG_B4B886DA3296-1](https://user-images.githubusercontent.com/7813306/128298017-92a26ac6-6482-4c02-a474-7f05dc1b5c4d.jpeg)

the HTML Mode Editor

[2021-08-05 16:30] iamthomasbishop opened #3800 "Change style of `unit` label on `UnitControl` to the standard label color when `UnitControl` only has a single `unit` type"
A [recent PR](https://github.com/WordPress/gutenberg/pull/33641) on the web side fixed an issue with the native-mobile `UnitControl` component. The fix necessarily disables interactions with the `unit` part of the control, but the text label still maintains its active link/button style.

To avoid potential confusion, let's change the label color of the `unit` part of `UnitControl` to the standard

[2021-08-05 18:35] chipsnyder opened #3804 "Supported-blocks contain blocks that are conditionally enabled"
**Describe the bug**
Our [supported-blocks.json](https://github.com/wordpress-mobile/gutenberg-mobile/blob/d215136be2bec40b386dec39dca4f43a29e3b0e2/src/block-support/supported-blocks.json#L32-L35) file contains blocks that are conditionally supported based on the site settings and plugin availability.

This data is provided to the app to help filter out layouts that the current app version wouldn'

[2021-08-05 18:42] chipsnyder commented on #3804
We have a design `contact-with-info` that's currently marked beta only. This uses the `jetpack/contact-info` block. Once we solve this we can remove the beta flag from that design.

[2021-08-06 00:28] AmandaRiu commented on #2524
Tested on a Pixel 4 running Android 11 and WPAndroid v17.9. **Unable to reproduce crash**. I did some digging and the crash was last reported in Sentry for v15.7 of WPAndroid. With further digging I found this Aztec PR that implemented the fix: https://github.com/wordpress-mobile/AztecEditor-Android/pull/923

I've marked the associated Sentry events as resolved, and am closing this ticket.

[2021-08-06 00:28] #2524 closed

[2021-08-06 00:28] AmandaRiu commented on #2472
Tested on a Pixel 4 running Android 11 and WPAndroid v17.9. **Unable to reproduce crash**. I did some digging and the crash was last reported in Sentry for v15.7 of WPAndroid. With further digging I found this Aztec PR that implemented the fix: https://github.com/wordpress-mobile/AztecEditor-Android/pull/923

I've marked the associated Sentry events as resolved, and am closing this ticket.

[2021-08-06 00:28] #2472 closed

[2021-08-06 04:20] AmandaRiu commented on #2440
I've attempted to reproduce this issue using a local build of WPAndroid from the `develop` branch and using a local gutenberg-mobile build from the `develop` branch on the following physical devices:
- Pixel 4, Android 11
- Samsung G6 (SM-G920T), Android 7
- LG G5, Android 8

And didn't have any luck in reproducing it until I tried it on my **LG G5, Android 8** by opening **an existing post**. Som

[2021-08-06 09:54] hypest commented on #3800
@AmandaRiu will try to get through this one as part of groundskeeping. cc @mchowning

[2021-08-09 12:23] hypest commented on #2373
FWIW, issue doesn't happen to me if I manually press SPACE between the swiped words.

[2021-08-10 10:20] fluiddot opened #3816 "[Embed block] Enable inline preview only for the top 5 most-used providers"
Related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/3278.

### Description
- **Needs research:** Determine by looking into data the top 8 most-used ones.
- Add a static list of providers including the top 8 most-used and enable the inline preview for them. The rest of the providers will display the "preview coming soon" message.

**Most-used providers (list based on https://gith

[2021-08-10 16:49] twstokes opened #3819 "[Audio Block] Replace alert prompt with bottom sheet implementation"
### Description

Improve UX consistency by replacing the Audio Block URL prompt with a bottom sheet implementation. Furthermore, this will also [eliminate an extra dependency](https://github.com/wordpress-mobile/react-native-prompt-android).

<div>
<img width="250" src="https://user-images.githubusercontent.com/2092798/128899121-a391579f-6924-416d-9bc5-8a76b19f6bdf.gif" alt="Inserting URL on Andro

[2021-08-10 16:53] twstokes commented on #3819
Hi @iamthomasbishop 👋! @hypest and @fluiddot suggested I reach out to you and get your input. There were some past discussions about introducing buttons to the bottom sheet to make this flow less confusing for the user:

- Related Slack discussion: p1616784719015200-slack-C01MJT8JMCY

<img src="https://user-images.githubusercontent.com/2092798/128900053-86f07088-a295-4c76-a037-2a2b48e604f3.png" al

[2021-08-10 20:56] AmandaRiu commented on #3800
I had spoken to Matt C. last week about this and said if I didn't get to it during groundskeeping, I'd would during this week - so I'll be working on it this week 👍

[2021-08-11 09:22] fluiddot opened #3823 "[Embed block] Fix inline preview style issues"
# Description
Address style issues related to the inline preview for the following providers:

## Animotion
Example URL: `https://animoto.com/play/sbONyhv5XN2fn26GGA061A`

| Resize for smaller devices  | Native preview | Web preview | Post preview | Result |
| -- | -- | -- | -- | -- |
| Enabled  | <img width="426" alt="native-resize-on" src="https://user-images.githubusercontent.com/14905380/14096

[2021-08-11 14:19] jostnes commented on #2154
Was able to reproduce this during exploratory testing of WordPress iOS v18.0, found that after a typo and backspace to fix typo the formatting is no longer respected:

https://user-images.githubusercontent.com/17252150/129043653-50c249af-4ac7-4b09-b4d2-918862389220.MP4

[2021-08-11 15:38] #3276 closed, assigned to fluiddot

[2021-08-11 16:35] ceyhun commented on #3823
I think I've found another issue with the YouTube preview. The final web post/page preview seems to have an aspect ratio of 16:9, but the preview in the editor has much less height.

Editor Inline Preview | Web Post/Page Preview
-- | --
<img width="300" src="https://user-images.githubusercontent.com/1845482/129067755-6f01ca76-6c7d-44c0-8e70-95c0d0c70c36.png">|<img width="300" src="https://user-ima

[2021-08-11 16:54] ceyhun opened #3825 "Fetch `/wp/v2/themes` from native side via bridge instead of fetching directly from inside the editor"
**Is your feature request related to a problem? Please describe.**
For the Embed block settings we need to know, inside the editor (meaning JavaScript side), if the active theme supports responsive embeds.

**Describe the solution you'd like**
WPiOS and WPAndroid should call `/wp/v2/themes` and cache the result and Gutenberg Mobile should be able to get this result from JavaScript side using a bri

[2021-08-12 07:46] fluiddot commented on #3823
Yep, it's not preserving the 16:9 aspect ratio, we should investigate how apply the same format on the native version.

[2021-08-12 10:49] SiobhyB opened #3829 "[Image Block] Discussion: Which Settings Should Be Preserved or Reset Following Edit/Replace?"
**Describe the bug**

After going through the image block's **Edit** or **Replace** flows, some of the original image's settings are reset while some are preserved. The same settings are reset/preserved for both flows, as per [the `onSelectMediaUploadOption` function](https://github.com/WordPress/gutenberg/blob/4d1b2dcbf5b3ba78fd58c18c4a4b17e6c7b0011f/packages/block-library/src/image/edit.native.j

[2021-08-12 10:50] SiobhyB commented on #3829
I'd personally expect the following, differing behaviour for each flow:

<hr />

### Edit Flow

<ul><li><strong>Preserved:</strong> Alt text, link settings, featured setting, caption, custom size</li><li><strong>Reset:</strong> None.</li></ul>

<hr />

### Replace Flow

<ul><li><strong>Preserved:</strong> None.</li><li><strong style="font-size: 16px; color: initial;">Reset:</strong><span style="fo

[2021-08-12 12:03] hypest commented on #3829
Adding my thoughts, I feel like both editing and replacing the image via the nested "edit" button would make sense to preserve all block attributes, including the "featured" flag. To me, it feels like edit/replace only governs the "pixels" of the image and the rest of the state should be preserved. No strong feelings on this though. I can understand Siobhan's angle on the "Replace", where the repl

[2021-08-12 12:31] mchowning commented on #3825
Pinging @geriux in case he has any thoughts on this from his work on GSS.

[2021-08-12 12:32] mchowning commented on #3825
As I understand it this is a blocker for current embed block work, so marking this as high priority.

[2021-08-12 12:33] mchowning commented on #3825
Feel free to ping me if you'd like any help on the Android side of this.

[2021-08-12 13:16] geriux commented on #3825
To be honest I'd lean over adding that setting `responsive-embeds` in the block editor settings endpoint response. So we avoid calling the `themes` + `block-editor-settings` endpoint.

The only thing is that users will need to have the Gutenberg plugin version that has that endpoint change.

[2021-08-12 14:06] ceyhun commented on #3825
@mchowning We were able to fetch it in Embed block via `/wp/v2/themes` using `api-fetch` from the JS side ([reference](https://github.com/WordPress/gutenberg/pull/33654#discussion_r675609934)), so it's not a blocker for now.

[2021-08-12 18:27] ceyhun commented on #3819
I just wanted to share a feedback, received during testing around bottom sheets that have a URL field, like the one for the Embed block.
It’s that the field title remaining static taking priority over the link itself and if it would make sense to replace field title with the link? Field title being "Insert from URL" for this case.
<p style="clear:both;"><sup>Internal reference: p5T066-2wE-p2#comme

[2021-08-12 18:54] iamthomasbishop commented on #3819
👋 Thanks for the ping, @twstokes !

Good call. Do you think something like this would work?

<a href="https://user-images.githubusercontent.com/1200432/129252308-83eba9f5-4759-45a2-be5c-44a21a695235.png"><img src="https://user-images.githubusercontent.com/1200432/129252308-83eba9f5-4759-45a2-be5c-44a21a695235.png" width="839"></a>

I can't recall if we ever implemented inline validation errors, bu

[2021-08-13 16:26] #3283 closed, assigned to ceyhun

[2021-08-13 18:03] twstokes commented on #3819
I like that a lot @iamthomasbishop, thank you! @fluiddot and @ceyhun, since you're more familiar with the project, do you foresee any showstoppers in me trying to implement Thomas' UI?

[2021-08-16 16:46] fluiddot commented on #3819
I ❤️ the solution too. From my POV, it covers most of what I'd expect from this UI element so I don't foresee any showstopper at this point. The only thing I'd like to note is that applying the value could involve an asynchronous process in the background, so we might require a loading indicator.

[2021-08-16 17:29] twstokes commented on #3819
Thank you @fluiddot!

[2021-08-16 18:31] zwarm commented on #2440
Quick update
I can confirm Amanda's findings above. 🙇
I tested locally and although the error (see below) shows in the logs, the app does not crash.
The RN ticket is still open in a `triage` status.

The sentry ticket was resolved by @AmandaRiu. I am going to close this ticket with the assumption that Sentry will highlight it again if the issue resurfaces as a crash in future releases.

[code]

[2021-08-16 18:31] #2440 closed

[2021-08-17 15:06] tiagomar opened #3862 "UBE: Android text selection toolbar is blocking access to dropdown menus"
### Expected behavior
I expected the Android text selection toolbar to be dismissed after clicking the page menus so the results from the user's last action would be fully accessible.

### Actual behavior
Android text selection toolbar is not dismissed and blocks the access to the 'more settings' and to the 'options' dropdown lists.

### Steps to reproduce the behavior
1. Open a post with unsuppor

[2021-08-17 15:35] mchowning opened #3846 "Convert Manual Tests To Automated Tests"
We currently perform [a number of manual tests](https://github.com/wordpress-mobile/test-cases) each time we publish a gutenberg-mobile release. We need to convert as many of those as possible to automated tests.

[2021-08-17 16:41] enejb commented on #3775
This is a great suggestion! Thanks

[2021-08-17 16:52] enejb commented on #3766
Great work! I think this makes things cleared.

I wonder if we should display the value next to the colour and if the user clicks on it we can copy it to the clip board. With a little copied tooltip.

And if a user has a colour in the clipboard we could make the copied colour as of the colour that is available to be selected. (maybe even the first one)

I think that would help address some of the

[2021-08-19 06:58] #3766 closed, assigned to geriux

[2021-08-19 10:40] fluiddot commented on #3823
This issue is addressed in the ["[Embed block] Alignment options" PR](https://github.com/WordPress/gutenberg/pull/33851).

[2021-08-19 16:23] fluiddot opened #3855 "[Embed block] Fix issues related to content disappearing on Android"
On Android, the content of the preview disappears when doing any of the following actions
- Rotate the device ([this has been already addressed](https://github.com/WordPress/gutenberg/blob/9d143b1602c875923e558e954320c99a161e06b2/packages/components/src/sandbox/index.native.js#L129-L134) by listening to this action and recreating the WebView which is not an optimal solution)
- Switch between light

[2021-08-19 20:50] mchowning commented on #3862
Thanks for reporting this issue! 🙇

I can reproduce this on Android both within the app and accessing mobile web through Chrome. It is less of an issue on mobile web because it is displaying the entire post, so it is almost always going to be possible to scroll the post to move any blocking text selection toolbar out of the way.

On iOS, the issue doesn't exist because the text selection toolbar i

[2021-08-20 14:15] guarani commented on #3862
I haven't seen this issue before, @mchowning.

As you note, this is reproducible in Gutenberg (although less impactful). I'm not sure if the solution would be in WPAndroid web view native configuration code, or in Gutenberg itself.

Either way, it feels like this issue belongs in the Gutenberg Mobile repo, so we could transfer it there.

[2021-08-20 16:38] fluiddot commented on #3823
I noticed that on the web version this provider also has style issues:
<img width="400" alt="Screenshot 2021-08-20 at 18 32 48" src="https://user-images.githubusercontent.com/14905380/130265702-1254b584-3761-4b37-95a1-9b63d0e04c88.png">

I think the extra empty space is added by the provider itself (web version):
<img width="400" alt="Screenshot 2021-08-20 at 18 33 22" src="https://user-images.git

[2021-08-20 17:10] fluiddot commented on #3855
This issue will be addressed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/3859 but it would be nice to investigate the real culprit in the native side because we might be overlooking cases where this error might be reproduced.

[2021-08-23 09:29] hypest commented on #3823
Adding more context, we will try to prioritize having good working previews for the following popular services first: ~Twitter, YouTube, Facebook, Flickr, Instagram, Spotify, WordPress, Vimeo~. Update: based on the latest stats on what blocks are used on WPCOM, the (ordered) list now is: `youtube`, `twitter`, `wordpress`, `instagram`, `vimeo`.

[2021-08-23 09:58] hypest commented on #3862
Hmm, feels like we'll need some hack to fix this issue. A couple of avenues I can think of:
1. Try to add big margins in the content inside the UBE so scrolling can reveal the obscured menu items.
2. Try to suppress the contextual action bar (the popup menu Android shows when selecting text) when the chevron menu is triggered.

I'll do that now 👍

[2021-08-23 10:03] hypest commented on #3862
@guarani , you have some experience with the UBE, I wonder what are your thoughts on the level of "hackiness" of this avenue or how easy/hard this might be to perform in the UBE? While at it, pinging you @SiobhyB too since this might be a CSS-hack and you had some recent experience with CSS-hacking the UBE. Thanks!

[2021-08-23 14:30] antonis commented on #2940
Closing this in favour of https://github.com/wordpress-mobile/WordPress-iOS/issues/16954 and https://github.com/wordpress-mobile/WordPress-Android/issues/15014

[2021-08-23 14:30] #2940 closed, assigned to nobody

[2021-08-23 14:30] antonis commented on #2939
Closing this in favour of https://github.com/wordpress-mobile/WordPress-iOS/issues/16954 and https://github.com/wordpress-mobile/WordPress-Android/issues/15014

[2021-08-23 14:30] #2939 closed, assigned to nobody

[2021-08-23 14:30] antonis commented on #2938
Closing this in favour of https://github.com/wordpress-mobile/WordPress-iOS/issues/16954 and https://github.com/wordpress-mobile/WordPress-Android/issues/15014

[2021-08-23 14:30] #2938 closed, assigned to nobody

[2021-08-23 14:57] guarani commented on #3862
@hypest if I understand correctly, this would cause the editor to always have side-scroll, is that correct? I have it a quick try but wasn't able to locate the right element to add the spacing to. It does feel very hacky, but better alternatives are not clearly available.

Since the contextual action bar has a similar function to the "More" menu, I agree it would be nice to have a way to only show

[2021-08-23 17:08] hypest commented on #2440
Late reply but I'd go with closing the ticket, and since @zwarm already covered that, we're good 👍. We can always re-open if new info comes in.

[2021-08-24 22:35] SiobhyB commented on #3862
While testing this, I noticed that the text selection toolbar also persists when the `Show more settings` dropdown item is tapped, ending up with it overlaying the new window:

https://user-images.githubusercontent.com/2998162/130691752-f23c59b5-0336-4879-95ce-31b1ccfc5b95.mov

I don't believe there's a CSS hack that would solve the above case, so the second idea of finding a way to suppress the t

[2021-08-25 13:35] hypest commented on #3862
Interesting insights @SiobhyB , thanks for sharing! +1 for keep digging into this for a bit more, thanks!

[2021-08-25 20:03] guarani opened #3874 "Project issue: Port the Jetpack Tiled Gallery"
Port the Jetpack Tiled Gallery block to Gutenberg Mobile. This block is similar to the core Gallery block but offers distinct features including mosaic layouts and new image filters.

### Backlog

These are items we have on our radar but have not been added to a particular phase yet.

- Media selection: Verify that adding more images works as expected (e.g. after some images have been added, the u

[2021-08-27 08:53] mkevins opened #3883 "Link picker bottomsheet screen navigations are not transitioning properly"
**Describe the bug**
The transition between bottomsheet screens in the link picker are no longer transitioning smoothly, and in some cases, the UI is left in an unusable state.

**To Reproduce**
Steps to reproduce the behavior:
1. In a new post add some text to a paragraph block
2. Select that text and tap the link button on the format bar
3. Tap to search for a post or page to link to (expect to

[2021-08-27 14:35] hypest commented on #3816
Based on data from WPCOM usage, here's the top ones, in order of popularity, we shall look into enabling inline preview for: YouTube, Twitter, WordPress, Instagram, Vimeo.

And just to add more nuance, let's make sure we're able to individually enable inline preview for any of those, as soon as we're happy with each one's preview.

[2021-08-30 08:14] thehenrybyrd opened #3887 "Embed Block - Enhancement: include Link in Block Settings"
After creating an Embed, I may what to double-check what link I entered, or want to edit the link. I find myself frustrated when the link doesn't appear in the Block Settings.
To edit the link, I need to remember and tap the "edit" button - which I usually forget about despite testing the block editor frequently.

This is also the case for the Audio block if you embed via URL. However, for other b

[2021-08-30 08:29] thehenrybyrd opened #3888 "Block Settings: settings modal not preserved when switching screen orientation"
On an Android device, the Block Settings modal does not stay open when switching from landscape mode to portrait mode or vice versa. This is not the case on iOS.

**To Reproduce:**
1. In a Post or Page, add a block.
2. Tap the ⚙️ icon to open Block Settings while in portrait mode.
3. Rotate your device.
4. Note that Block Settings is no longer open. If you are editing a Page, note that the keyboar

[2021-08-30 08:54] thehenrybyrd opened #3889 "RTL: "+" icon not in view when paragraph block is focused"
**Describe the bug**
When I have tapped into a paragraph block, I expect to see the "+" icon, visible in order to add a new block. Instead, the "+" icon is scrolled off to the right so I cannot see it.
This happens when using the app in an RTL language, on Android only.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Me > App Settings > Interface Language and choose an RTL language suc

[2021-08-30 13:38] hypest commented on #3887
@kyleaparker , what do you think?

[2021-08-30 13:42] hypest commented on #3888
Added the "Medium" priority label as this is breaking the flow, while probably not in a critical way.

[2021-08-30 13:44] hypest commented on #3889
Added the "High" priority label as this is breaking a very fundamental flow, how to add a block to the content.

[2021-08-30 13:59] kyleaparker commented on #3887
@hypest sounds good to me, makes sense that we should add them the link to the block settings if this is the first place people go to look for it

[2021-08-30 22:43] dcalhoun commented on #3883
I looked into this a bit today, and wanted to share my findings thus far. The issues here do not appear related to the recent inserter search changes in https://github.com/WordPress/gutenberg/pull/34129.

I was unable to replicate the semi-transparent double screen Android issue. However, I was able to identify that the animations when closing the bottom sheet were removed for Android in https://g

[2021-08-31 09:05] hypest commented on #3292
Thanks for the analytical instructions @roundhill!

Do you think the same would be needed for Atomic sites? There's a [similar ticket on Android](https://github.com/wordpress-mobile/WordPress-Android/issues/13314) and I do see while testing that uploading to Atomic ends up in broken posts on the frontend ([example from a test site of mine](https://stefanosuserpremium665419515.wpcomstaging.com/2021

[2021-08-31 17:29] ceyhun opened #3893 "Embed Block - Instagram variant doesn't show block settings"
**Describe the bug**

For Instagram embed block on wpcom web editor we can open the settings and toggle the `Resize for smaller devices` but on mobile editor the settings icon is not shown in the block and this setting cannot be modified.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Embed block
2. Paste an Instagram link in the bottom sheet (e.g. `https://www.instagram.com/p/Bl6LgZ

[2021-08-31 21:30] mkevins commented on #3883
Thanks @dcalhoun for such a quick response to this! :tada:

I'll check out those PRs :+1:

[2021-09-01 10:03] fluiddot commented on #3816
Thanks @hypest for the usage insights ❤️ !

I'll open a PR to enable the inline preview by providers, this way we could focus on addressing potential issues for each provider and enable them one by one, once we're confident they're ready for usage.

[2021-09-01 10:59] fluiddot commented on #3816
Here is the [PR](https://github.com/WordPress/gutenberg/pull/34446) that enables the inline previews by providers, for now, I only included YouTube and Twitter.

[2021-09-01 17:07] #3284 closed, assigned to fluiddot

[2021-09-01 18:36] SiobhyB commented on #1961
👋 @mchowning, I've been looking into this and wondered whether you might be able to help with some questions that I have.

<hr />

Initial discovery and context for my questions:

I found that this issue was originally spun up following a discussion around [the implementation of `fetchRequest` in the Latest Posts block](https://github.com/WordPress/gutenberg/pull/20301/files#r382187027) to fetch c

[2021-09-01 19:30] guarani opened #3904 "Jetpack Tiled Gallery: Block registration"
Register the Jetpack Tiled Gallery block.

Related:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/3874

[2021-09-01 19:59] mchowning commented on #1961
Thanks for looking into this and giving a great description of what you've tried in your draft PR @SiobhyB !

You're absolutely right. The main point behind this ticket was to try to avoid there needing to be a type check every time we used `fetchRequest`. As you found, that problem has been solved! 🎉

It would still be nice to fix this to make the platforms consistent, but it is no longer really

[2021-09-01 22:55] guarani opened #3907 "Jetpack Tiled Gallery: Square layout in-editor preview"
Implement the square layout of the Jetpack Tiled Gallery.

Related:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/3874

[2021-09-02 08:45] fluiddot commented on #3887
If we add the URL edit to the block settings, perhaps we should also remove the Edit button from the toolbar (pencil icon) as it could be confusing, wdyt?

[2021-09-02 10:47] fluiddot commented on #3893
I noticed that on WPCom sites when using an Instagram URL, the embed is not using the Instagram variation but the generic one. Maybe this is related to why we have this mismatch between the web and native versions.

<img width="1008" alt="Screenshot 2021-09-02 at 12 45 47" src="https://user-images.githubusercontent.com/14905380/131830677-0dbc329f-3780-4e9e-8697-ad8949cd9571.png">

[2021-09-02 11:30] hypest opened #3908 "Offline support for Embeds blocks"
This is an umbrella ticket for the various tasks we want to capture for a better offline support around the embeds blocks.

- [ ] Don't try to fetch inline preview when offline
- [ ] When offline, embed preview placeholder should denote that device is offline so preview is not available
- [ ] Listen to connectivity changes and trigger fetching the preview when device gets online while in the edito

[2021-09-02 12:44] mchowning commented on #3907
I went ahead and marked this as in-progress and assigned you @guarani , but feel free to adjust that if something else makes sense.

[2021-09-02 14:18] guarani opened #3911 "Remove WP.com/Jetpack specific editor capability definitions from the Gutenberg repository"
We have WP.com and Jetpack references in https://github.com/wordpress/gutenberg which don't belong there.

These are the editor capability definitions for Jetpack Contact Info, Jetpack Story, Automattic Layout Grid, and soon Jetpack Tiled Gallery: iOS [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/react-native-bridge/ios/GutenbergBridgeDelegate.swift#L19-L21), Android [here](htt

[2021-09-02 15:06] SiobhyB commented on #3486
I'm closing as it looks like this was fixed in https://github.com/WordPress/gutenberg/pull/31759. 🎉 I confirmed I'm not able to replicate on the latest version of the Android app on a physical Pixel 5.

[2021-09-02 15:06] #3486 closed, assigned to mchowning

[2021-09-03 07:43] hypest commented on #3911
+1, thanks for opening this ticket Paul!

I'll take a look on the Android side.

[2021-09-03 09:27] hypest commented on #3887
I think I vaguely remember @iamthomasbishop mentioning once (perhaps in private chat) that having both options in place is not a bad idea (both the toolbar pencil and the entry in the block settings). Thomas, do you recall?

I'd say, it'd be interesting if the pencil actually triggers the block settings and automatically focuses the link input, but I wouldn't consider the auto-focus a hard require

[2021-09-03 16:30] #3744 closed, assigned to fluiddot

[2021-09-03 16:51] fluiddot commented on #3816
Heads up that the previews for WordPress embeds are now available ([related PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3853)) 🎊 .

[2021-09-06 03:43] jd-alexander commented on #3816
I created a PR that enables Instagram and Vimeo providers https://github.com/wordpress-mobile/gutenberg-mobile/pull/3918 I didn't notice any issues with the rendering of the embed preview.

[2021-09-06 11:57] SiobhyB commented on #1961
Thanks so much for this Matt! 🙇‍♀️ It sounds like I was on the right path with my initial explorations, which is reassuring, but I haven't been able to get this to work. I've gone over the suggested timebox of a few hours by quite a big margin, as this was my main focus of last week. I'd really love to get to the bottom of what I'm missing, given I've invested quite a lot of time into this already

[2021-09-07 11:13] hypest opened #3922 "Bottomsheet navigation arrows point wrong when RTL"
**Describe the bug**
When using an RTL locale (example: Hebrew), the navigation arrows on the bottomsheet are pointing to the opposite (wrong) direction.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch the device to an RLT language (like Hebrew)
2. On the demo app, scroll to and tap to select the "Gradient Button" button. You may have to tap again to select the button itself since it'

[2021-09-07 13:04] mchowning commented on #1961
👍  Definitely feel free to devote some more time than my suggested timebox on this if you're finding it interesting and a good opportunity for learning.

[2021-09-08 15:52] jd-alexander commented on #3908
Thanks for creating this issue @hypest While working on https://github.com/wordpress-mobile/gutenberg-mobile/pull/3921 I ran into related offline support cases. Should the functionality here be prioritized and implemented soon? Currently, I don't see any mechanisms within the editor for monitoring connectivity changes, so I am thinking that connectivity observers would have to be implemented in WP

[2021-09-09 00:25] kyleaparker commented on #3887
I think we could lose the pencil icon, there is currently only one other setting under the Settings menu and I think reducing the number of icons makes things clearer.

[2021-09-09 07:26] antonis opened #3936 "Button block gradient background is not updated"
**Describe the bug**
The button block gradient background is not updated in the editor until it is customised

**To Reproduce**
Steps to reproduce the behavior:
1. Add a button block
2. Open the editor settings
3. Open the background color
4. Set a gradient background from the predefined list
5. Notice that the change is not reflected in the editor

Note: the change is visible in preview mode and

[2021-09-09 11:54] #3855 closed, assigned to nobody

[2021-09-09 15:08] mdrockwell opened #3940 "Paragraph Block: Add Support for Underlining Text on WPCOM"
**Is your feature request related to a problem? Please describe.**
There is no built-in option for underlining text within the editor. It can be accomplished on iOS using the system's built-in options, but can't be done at all on Android.

[From @hypest] Scoped down the ticket to only be on WPCOM (see [Matt Chowning's comment below](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3940#

[2021-09-09 15:36] twstokes opened #3941 "Pre-populate default Post Format blocks on new Posts"
Currently on web using the Twenty Twenty-One theme (or any other theme that supports Post Formats), a user can do the following:

1. Go to Settings
2. Go to Writing
3. Set the Default Post Format (e.g. Quote)
4. Create a new Post
5. Observe that a pre-populated Quote Block is on the new Post

Mobile does not currently behave the same way - a new Post is empty regardless of a default Post Format. A

[2021-09-09 15:41] guarani opened #3942 "Proposal: Move integration tests for Jetpack blocks to the Jetpack repo"
**Is your feature request related to a problem? Please describe.**

We've began adding integration tests for Jetpack blocks and they're set to reside in this repo. Could we move these tests to the Jetpack repo instead?

**Describe the solution you'd like**
If we add integration tests to the Jetpack repo, there are some advantages I see:
- Integration tests can live alongside the block's code – whi

[2021-09-09 16:53] #3773 closed, assigned to fluiddot

[2021-09-09 17:25] mchowning commented on #3940
This is a bit of a spicy topic. 🙂

There's been discussion around this in https://github.com/wordpress-mobile/gutenberg-mobile/issues/562. My understanding from that thread and my brief testing is that underlining is not permitted in Gutenberg core, but wp.com has changes that permit it, and to this point we've decided to not deviate from Gutenberg core. Do you think it would be worth adding a com

[2021-09-09 17:27] mchowning commented on #3942
I'm not very familiar with the technical obstacles to this, but at a high level I agree that it feels like moving the tests to the Jetpack repo is the right long-term approach.

[2021-09-10 10:14] illusaen opened #3947 "Tiled Gallery columns and rounded corner settings for Square layout"
Add settings (BottomSheet) to the tiled gallery block..

Related:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/3874

[2021-09-10 11:52] thehenrybyrd opened #3948 "Block Inserter Search: Bottom Sheet fills screen before Search is tapped"
**Describe the bug**
In Android, the bottom sheet comes all the way up as soon as "+" is tapped.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the block editor, in either a post or page.
2. Tap the "+" icon to add a new block.
3. Note that the Block Inserter fills the whole screen and you can see nearly all the blocks.

**Expected behavior**
Based on screenshots in https://github.com/

[2021-09-10 14:16] antonis commented on #3936
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/15312

[2021-09-10 14:16] #3936 closed, assigned to antonis

[2021-09-10 16:17] #3889 closed, assigned to hypest

[2021-09-10 17:08] fluiddot commented on #3908
For iOS I saw that we use the method `ReachabilityUtils.isInternetReachable()` in different places to determine if the device is offline. Probably we could expose a function in the bridge to check if internet is reachable on both platforms.

[2021-09-10 17:51] jd-alexander commented on #3908
Thanks for checking @fluiddot similarly on Android, `NetworkUtils.isNetworkAvailable(WordPress.getContext())` is utilized across the codebase to check if the device is offline or not.

[2021-09-11 20:29] jd-alexander opened #3951 "[Embed block] Include Jetpack embed variants"
## Description

Jetpack has embed variants for some of the providers we support such as Facebook. The embed block should support all embed variants in Gutenberg and Jetpack.

- [Embed variants index](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/extended-blocks/core-embed/index.js)
- [Facebook variant](https://github.com/Automattic/jetpack/blob/edbb7f3197ff9

[2021-09-11 23:27] #3277 closed, assigned to nobody

[2021-09-13 20:16] jhnstn commented on #3948
Hi @thehenrybyrd, this is the expected behavior for Android. We ran into some animation issues with the inserter when the keyboard opens. Making the inserter menu fullscreen by default was the best workaround we found. There is a short discussion here https://github.com/wordpress-mobile/WordPress-Android/pull/15044#issuecomment-883750475 .

[2021-09-13 20:16] #3948 closed, assigned to nobody

[2021-09-13 22:33] jd-alexander commented on #688
I will be closing this issue since the Audio block has been built and shipped.

[2021-09-13 22:33] #688 closed

[2021-09-13 22:33] jd-alexander commented on #1059
I will be closing this issue since the File block has been built and shipped.

[2021-09-13 22:33] #1059 closed

[2021-09-14 10:53] hypest opened #3956 "Navigation icon in bottomsheet is too dark on Dark Mode"
**Describe the bug**
The "back button" in the navigation section on a nested page of the bottom sheet is too dark.

**To Reproduce**
Steps to reproduce the behavior:
1. On the demo app on a device with Dark Mode enabled
2. Add a paragraph block and tap on the cog icon to bring up the block settings
3. Tap on "Font Size" just to go deeper in the nav hierarchy
4. Notice the "back" button being too d

[2021-09-14 11:09] antonis commented on #3956
I confirm that the issue is not reproduced in the [`18.2-rc-3`](https://href.li/?https://github.com/wordpress-mobile/WordPress-Android/releases/tag/18.2-rc-3) available in Google Play.

|`18.2-rc-3`|`develop`|
|---|---|
|![device-2021-09-14-140541](https://user-images.githubusercontent.com/304044/133246827-ab591bd1-f77f-4df7-984f-25cf9533090b.png)|![device-2021-09-14-140558](https://user-images.gi

[2021-09-14 17:13] guarani commented on #3544
In fixing [Editing unsupported blocks is disabled on Jetpack and Atomic sites accessed via older WP.com accounts](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3425), we also fixed this issue, although the resolution is different to what you put down as expected behavior above, @dcalhoun. I think the difference can be explained, so let me summarize here.

We added an error screen tha

[2021-09-14 18:07] guarani commented on #3544
It's worth mentioning that [there's an enhancement issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2480) open that proposes finding a way to make the Unsupported Block Editor work even if the site is classic-enabled. I don't think there's a known way to achieve this at the moment, so it probably won't be possible to achieve it for the time being. In the mean time, the current me

[2021-09-14 18:31] guarani commented on #3544
If this issue can be closed, we can also update the test cases, and for that I've opened https://github.com/wordpress-mobile/test-cases/pull/87.

[2021-09-14 21:40] kbrown9 commented on #2594
A related performance problem is that block resizing sometimes significantly lags as text is typed. When this occurs, the author cannot see the new line of the text that they’re typing.

### Steps to reproduce:
1. In a post or page, add a new Paragraph block.
2. Type enough text to create multiple lines in the Paragraph block. On the device I used for testing, after the 3rd line of text, there is

[2021-09-15 08:29] hypest commented on #2594
I'm able to reproduce on my Android 8.0 Galaxy S7edge. Here's a video of the lag, which is not super bad (at least on my device) but still easily noticeable (se mostly around timestamp ~8secs in):

https://user-images.githubusercontent.com/1032913/133398504-20196e21-53a4-4916-bcb0-db741d911ebd.mp4

[2021-09-15 08:56] hypest commented on #3940
May I suggest re-purposing this ticket to be WPCOM only? We can rename the title and we'd add that to the backlog.

[2021-09-15 11:29] fluiddot commented on #3816
Previews for all top 5 most-used providers have been enabled 🎊 .

[2021-09-15 11:29] #3816 closed, assigned to jd-alexander, fluiddot

[2021-09-15 13:27] dcalhoun commented on #3544
@Guarani I agree we should close this, as the spirit of this issue was accomplished. Thank you for following up on this. 🙇🏻

[2021-09-15 13:27] #3544 closed, assigned to guarani

[2021-09-15 13:36] guarani commented on #3544
Thank you for filing the issue @dcalhoun! 👍

[2021-09-15 14:39] jd-alexander opened #3962 "[Picker] Add support for a description message below the Picker title"
### Picker Implementation of Description Prop

## Android

[Android](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/mobile/picker/index.android.js)'s `BottomSheet` utilizes the `PanelBody` component. Within the component we are rendering `Text` component with the `title` but there is no component for a `description`. Another `Text` component could be placed below that of

[2021-09-15 14:55] jd-alexander opened #3963 "[Embed block] Error BottomSheet - Display error message as the BottomSheet description"
For the Embed block's [Error bottom sheet](https://github.com/WordPress/gutenberg/pull/34604), we aren't able to show the `error message` below Embed options because the `Picker` component doesn't currently support it. Once the Picker's implementation has been updated https://github.com/wordpress-mobile/gutenberg-mobile/issues/3962 we should pass the error message to the `Picker` component.

<kbd>

[2021-09-15 15:54] fluiddot opened #3964 "[Embed block] Show a loading indicator until the preview is ready"
### Description

- **Needs research:** Identify when the preview content is ready, this means that the HTML of the WebView is the final version of the embed and that no script will transform it.
- Display a loading spinner until the preview is ready.

#### Caveats
- The WebView library (`react-native-webview`) notifies when the content is loaded via the [`onLoadEnd` prop](https://github.com/react-

[2021-09-15 16:07] fluiddot opened #3965 "[Embed block] Add help information to the inline previews"
### Description

- Add the `?` icon to the block, as we have in [the unavailable preview fallback](https://github.com/WordPress/gutenberg/pull/33266), when the inline preview is shown.
- Add BottomSheet to offer more context on what's displayed and add the following options:
    - Preview post: As in the coming soon case, this option will preview the post. This could be useful in case users would

[2021-09-15 16:09] fluiddot commented on #3965
@kyleaparker I'd appreciate it if you could take a look at the issue in case you have any design input, thanks 🙇 !

[2021-09-15 16:10] fluiddot commented on #3965
I'm wondering what message we would like to show in the BottomSheet, any idea?

[2021-09-15 16:23] fluiddot opened #3966 "[Embed block][Android] Keyboard is not opened automatically when setting a link"
**Describe the bug**
The keyboard should open automatically when setting a link in the Embed block, as well as when an Embed block is added.

**To Reproduce**
1. Add an Embed block.
2. Observe that the editing URL bottom sheet is displayed but the keyboard is not opened.

**Expected behavior**
The keyboard should open automatically.

**Screenshots**
N/A

**Smartphone (please complete the following

[2021-09-15 16:30] fluiddot opened #3967 "[Embed block] Prevent opening the keyboard if the embed link is autofilled when adding the block"
### Description

Usually, when the embed link is autofilled after adding the block, the user won't need to update it. For this reason, it would be an interesting enhancement to detect this case and prevent opening the keyboard when the user adds an Embed block and hasn't copied a link.

[2021-09-16 09:17] osullivanchris commented on #2108
I encountered a related issue testing v 18.2

- In app settings, I set the appearance to Dark
- Open editor, start drafting a post
- Exit editor, go back to app settings, set the appearance to Light
- The block inserter search field doesn't realise the appearance has changed, and the search bar is invisible

![image](https://user-images.githubusercontent.com/50576199/133585627-c9dede7d-003a-49c7-a

[2021-09-16 15:03] guarani commented on #3588
Just noting that I couldn't reproduce this either:

- Device: Samsung Galaxy S10
- OS: Android 11
- Version WPAndroid 18.2-rc-3
- Keyboard: Both default Samsung keyboard and Gboard

https://user-images.githubusercontent.com/1898325/133636424-6ae76609-fe15-4666-b63f-fe9e2c4e59bd.mp4

[2021-09-16 15:31] jd-alexander commented on #3158
I am closing this issue as the addition of this option is in relation to changes of the Post Settings screen within the Android app. If necessary, it can be reopened at a further time. The work to include this option will be tracked on this issue https://github.com/wordpress-mobile/WordPress-Android/issues/7953

[2021-09-16 15:31] #3158 closed

[2021-09-16 16:44] #3956 closed, assigned to hypest

[2021-09-16 17:24] mchowning commented on #3962
👋  @jd-alexander

Thanks for adding this issue. Is this needed for any pending work, or is this more of a nice-to-have?

[2021-09-16 18:56] guarani commented on #3152
I gave this a quick test and can't reproduce. While the user says that it will only find a maximum of three possible matches when searching for content to link to, I could see more than a dozen.

<img src="https://user-images.githubusercontent.com/1898325/133668511-45d23360-b2f7-437e-bba6-b7714b37d81b.jpeg" alt="" width="350">

I agree here. The keyboard that's displayed when searching (on iOS) do

[2021-09-16 19:27] guarani commented on #3089
Noting that since this issue doesn't appear on the Quote block (only on the Pull Quote block), any differences between the blocks might help pinpoint where the issue is.

[2021-09-16 19:39] guarani commented on #3081
I wasn't able to reproduce this issue on the latest versions of the apps. I tried both the Samsung Keyboard and the Gboard. Here's a video on WPAndroid 18.2-rc-3 where I fail to reproduce:

https://user-images.githubusercontent.com/1898325/133675119-0a2d6403-18b3-433c-9fd9-1a8849e1ad4d.mp4

I specifically tried reproducing by putting the cursor after an alphanumeric character. I'm not sure if the

[2021-09-16 20:21] guarani commented on #2774
Noting this is still reproducible on the latest Gutenberg `trunk`, https://github.com/WordPress/gutenberg/commit/50618d57b119fa89d9cbecd681b8f87725949cb5.

[2021-09-16 20:43] guarani commented on #2638
I couldn't reproduce this on WPAndroid 18.2-rc-3 and I tried using both the Gboard and the Samsung keyboards.

I don't see the cursor being placed at the beginning of the paragraph block when I style all the text in the block.

~~This implies that the bug only occurred if the cursor is manually positioned after applying styling. In my tests today, that's required because styling leaves selection h

[2021-09-16 21:12] jd-alexander commented on #3962
Thanks for the ping @mchowning It's nice-to-have as it's not really that blocking. It is needed for a description that needs to be shown in one of the bottomsheets in the Embed block project. https://github.com/wordpress-mobile/gutenberg-mobile/issues/3963
I added a "Medium" priority label to it, as it would be good to optimize the component so that we are able to match design specs as expected.

[2021-09-17 07:48] #3287 closed, assigned to jd-alexander

[2021-09-17 11:27] fluiddot opened #3979 "Exceptions thrown in `mapSelect` function of `useSelect` hook should be reported in Sentry"
**Describe the bug**
In a recently spotted [Sentry issue](https://sentry.io/share/issue/d938022fad2d47128867e9d4e5900708/), we've seen the following exception thrown in [this line of the inserter menu](https://github.com/WordPress/gutenberg/blob/b815cb53cec99fd3589242fdd6678601d394fb31/packages/block-editor/src/components/inserter/menu.native.js#L54):
[code]

Unfortunately, this exception doesn't

[2021-09-17 11:37] hypest commented on #3979
👋 @nerrad and @ellatrix ! Looks like [you worked](https://github.com/WordPress/gutenberg/blame/b815cb53cec99fd3589242fdd6678601d394fb31/packages/data/src/components/use-select/index.js#L133-L156) on implementing this try/catch, any idea perhaps how to improve here? Goal is to be able to better capture where the error is happening so it'd be easier to spot from looking at crash logging tools like S

[2021-09-17 12:01] nerrad commented on #3979
There's been a number of changes since I last worked on this and my memory is a bit fuzzy but from what I recall, originally the try/catch was added to work around some unique problems with a zombie/stale props issue due to the way React performs render calcs on children before parents (and thus any side-effects getting called in the children first). You can read more in the [original conversation

[2021-09-17 13:25] guarani commented on #3081
Thanks for confirming it's no longer reproducible, @mrfoxtalbot!

@mchowning do you agree we can close this? (I believe @designsimply is not actively working on this project.)

[2021-09-17 13:27] fluiddot commented on #3951
Heads up that there's a new variant being implemented in Jetpack to support Getty Images provider (more info in [this PR](https://github.com/Automattic/jetpack/pull/21101)), so it would be great to include it too.

[2021-09-17 14:02] fluiddot opened #3980 "[Embed block] Support dark mode in inline previews"
### Description

- **Needs research:** Investigate how to set the dark mode in the inline preview content.
- Detect editor light/dark mode and display the inline preview accordingly to the light/dark mode.

[2021-09-17 14:07] fluiddot commented on #3980
I've investigated how to enable dark mode on Twitter embeds and looks like the only option is by adding the argument `theme=dark` to the request to the `oEmbed` endpoint ([reference](https://developer.twitter.com/en/docs/twitter-for-websites/oembed-api)). However, as far as I checked, the [`oEmbed` endpoint in WordPress (this is the endpoint used in the editor) doesn't support extra arguments](htt

[2021-09-17 14:12] hypest commented on #3980
Oh no, now you got me thinking of webview hacks where we inject css/JS for it. I'll see my way out...

[2021-09-17 14:24] guarani commented on #2499
I'm no longer seeing this issue on WPiOS 18.1 (18.1.0.4). I am still seeing the issue occasionally on WPAndroid 18.2-rc-3 (2 out of 4 attempts).

[2021-09-17 14:30] guarani commented on #2375
Confirmed this is still an issue in WPAndroid 18.2-rc-3.

[2021-09-17 14:51] fluiddot opened #3981 "[Embed block] Enable the rest of the inline previews for more providers"
### Description
- Remove filtering inline preview by provider ([reference #1](https://github.com/WordPress/gutenberg/blob/86b2b8fa9adacf00f48da76ed657c10a9e991f14/packages/block-library/src/embed/edit.native.js#L36-L38), [reference #2](https://github.com/WordPress/gutenberg/blob/86b2b8fa9adacf00f48da76ed657c10a9e991f14/packages/block-library/src/embed/edit.native.js#L216-L219)).
- Test that [all s

[2021-09-17 15:21] guarani commented on #2204
I couldn't reproduce this on a Samsung S10 with Android 11, in both WPAndroid 18.2-rc-3 and Gutenberg demo app https://github.com/WordPress/gutenberg/commit/b815cb53cec99fd3589242fdd6678601d394fb31.

The things that have changed since https://github.com/wordpress-mobile/gutenberg-mobile/issues/2204#issuecomment-661380621 where I was able to reproduce are:
- Newer Gutenberg/WPAndroid versions
- New

[2021-09-17 15:29] mchowning commented on #3081
👍  Yes, let's close it!

[2021-09-17 15:29] #3081 closed, assigned to nobody

[2021-09-17 16:26] fluiddot opened #3983 "Embed block: Inline preview is enabled for Pinterest URLs and is not properly rendered"
**Describe the bug**
Pinterest provider is not supported in the Embed block so the inline preview shouldn't be enabled, however, since it's being rendered as a WordPress embed it's not being filtered out and therefore it's being displayed.

**Related code:**
https://github.com/WordPress/gutenberg/blob/aa6217fc2a81bdc71c2d545744b9735c7626385a/packages/block-library/src/embed/edit.native.js#L218-L21

[2021-09-17 18:42] guarani commented on #824
I couldn't reproduce this on WPAndroid 18.2, I tried using both the Gboard and Samsung Keyboard.

https://user-images.githubusercontent.com/1898325/133837778-62b11276-4479-471c-985b-92f2e64acae5.mp4

Since there hasn't been activity on this issue for over a year, and I can't reproduce, I'm going to go ahead and close. If anyone would like to re-test and confirm it's fixed, that would be great, but

[2021-09-17 18:42] #824 closed

[2021-09-17 20:02] guarani commented on #757
I can't reproduce on WPAndroid 18.2, but reading through the comments here, some had difficulty reproducing. So, I think it would be best to have another person confirm this issue is no longer reproducible. If it can't re reproduced, I think it's best to close this issue.

---

I think the above comment, https://github.com/wordpress-mobile/gutenberg-mobile/issues/757#issuecomment-717629028, deserv

[2021-09-18 01:30] twstokes opened #3987 "[Image Block] Frame settings (default, rounded) don't accurately portray effects on image"
**Description**

- In WPiOS 18.1 an image container will grow vertically until the image fills its maximum width.
- In WPiOS 18.2 an image container appears to have a constrained height, adding blank horizontal space for images that are elongated. The "Default" and "Rounded" image settings no longer accurately portray their effects on the image.

**To Reproduce**

Running WPiOS 18.2:
1. Create a n

[2021-09-20 00:32] reginabally opened #3988 "[Feature request] Allow copy pasting text when creating Story post"
**Is your feature request related to a problem? Please describe.**
Currently, when we create a Story post in the app with text, the text will have to be entered through the keyboard. We're not able to paste the text copied from another source.

**Describe the solution you'd like**
Allow copy-pasting text when creating a Story post in the app

**Additional context**
Originally requested here: 43094

[2021-09-20 08:46] hypest commented on #3988
👋 @aforcier ! Can you help triage this ticket? Thanks!

[2021-09-20 09:48] fluiddot commented on #3983
For now the inline preview will be disabled after merging this PR: https://github.com/wordpress-mobile/gutenberg-mobile/pull/3991

[2021-09-20 09:49] fluiddot commented on #3981
Heads up that when all providers are enabled, we will most likely have issues with Pinterest URLs, check further info in the following issue:
https://github.com/wordpress-mobile/gutenberg-mobile/issues/3983

[2021-09-20 10:59] fluiddot commented on #3278
I updated the title and description of this issue to match the list of most-used providers that was defined [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3816#issuecomment-907250152).

The list is composed of the following five providers:
- YouTube
- Twitter
- WordPress
- Instagram
- Vimeo

[2021-09-20 11:31] SiobhyB commented on #1961
As an update: Talked through some more options to explore with @fluiddot in our pair programming session, with converting the JSON to a map before passing it over the bridge seeming like the most promising way forward. I wasn't able to get this to work after spending a bit more time on it, however. I'd like to see this through as I feel pretty invested, but I also have other open PRs and tasks to

[2021-09-20 14:10] fluiddot opened #3993 "[Embed block][Only in Android] Oddly jumps when scrolling post with several embed blocks displaying inline preview"
**Describe the bug**
When adding several embed blocks that show the inline preview, the block list's scroll behaves oddly producing jumps when scrolling the content down and up.

**To Reproduce**
1. Create a post/page.
2. Add several embed blocks by pasting the following HTML code:
<details><summary>HTML code</summary>

[code]

</details>

3. Scroll to the bottom of the content.
4. Scroll slowly t

[2021-09-20 14:18] jd-alexander commented on #3993
@fluiddot is the height of the embed block previews predetermined in any way? Is there a minimum height? I am wondering if this occurs because as the scroll is taking place the content is still being rendered thus the scroll position is miscalculated. Just a thought.

[2021-09-20 14:30] fluiddot commented on #3993
There's a minimum height for the block but the block height is dynamic, so unfortunately when it's mounted we don't know the final height until the preview is fetched and loaded in the WebView. This and the fact that we use a virtualized list (`FlatList`) for the block list, is most likely the culprit of the scroll issues.

I was surprised that this couldn't be reproduced on iOS, since we're also

[2021-09-20 21:39] guarani opened #4000 "Jetpack Tiled Gallery: Inner blocks implementation"
Migrate the Jetpack Tiled Gallery block to use the [InnerBlocks API](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/inner-blocks/README.md).

Related:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/3874

[2021-09-20 21:42] guarani commented on #3904
With https://github.com/wordpress-mobile/gutenberg-mobile/pull/3903 merged, this issue is now resolved.

[2021-09-20 21:42] #3904 closed, assigned to guarani, illusaen

[2021-09-21 02:14] aforcier commented on #3988
Hi 👋 This seems to be an iOS only issue, and also related to the story creator (Kanvas) rather than Gutenberg mobile. Looks like we already have an open issue for it: https://github.com/tumblr/kanvas-ios/issues/52.

So, I think we can close this one out as a duplicate. cc @bjtitus in case I've missed any nuance.

[2021-09-21 02:15] #3988 closed, assigned to nobody

[2021-09-21 06:36] #3987 closed, assigned to iamthomasbishop

[2021-09-22 15:32] jhnstn opened #4006 "Filter Redux event firehose for relevant events"
We expect to receive more events than needed once we tap into the Gutenberg via Redux middleware.

We will need to filter those events before we forward them to the native analytics flow.

[2021-09-22 15:33] guarani commented on #4000
This issue was fixed by https://github.com/wordpress-mobile/gutenberg-mobile/pull/3999

[2021-09-22 15:33] #4000 closed, assigned to guarani, illusaen

[2021-09-22 15:36] jhnstn opened #4007 "Evaluate the Slot fill approach to inject tacking events"
Blocked by #4021

There are user interactions that we will likely want to track that do not have corresponding Redux events. In these cases the Redux middleware will not help. Instead we will need to use the slot fill approach to inject our tracking code.

References:
SlotFill https://developer.wordpress.org/block-editor/reference-guides/components/slot-fill/
Example from Calypso https://github.co

[2021-09-22 15:43] jhnstn opened #4009 "Set up Redux Middleware in Gutenberg Mobile"
To start tracking user interactions in Gutenberg, we will use Redux middleware to tap into Redux events.

The middleware will live in Gutenberg Mobile

[2021-09-22 15:44] guarani opened #4010 "Jetpack Tiled Gallery: Square layout aspect ratio"
When images are added to the Jetpack Tiled Gallery (and the square layout is selected *), display them as squares, similar how they're displayed on the web.

Related:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/3874

* At time of writing, the inner block implementation has just been merged (see https://github.com/wordpress-mobile/gutenberg-mobile/issues/4000), and we're only focu

[2021-09-22 15:46] jhnstn opened #4011 "Connect events captured in Gutenberg to the native analytics flow"
We will likely have analytic events from two sources: Redux middleware and SlotFill injections. We will need to connect these event to the native analytics flow so they are available in our analytics platform.

Tasks:

- [x] #4018
- [ ] #4019
- [ ] #4020

[2021-09-22 16:38] #3279 closed, assigned to ceyhun

[2021-09-22 18:24] mchowning commented on #2638
I'm seeing the same thing as you Paul. Thanks for testing this and seeing that we can close it.

[2021-09-22 18:24] #2638 closed, assigned to nobody

[2021-09-23 14:43] jhnstn opened #4018 "Send Analytic Events Over RN Bridge"
After tapping into the Redux events via middleware we will need to pass those events over the RN bridge for the host apps to pick up

[2021-09-23 14:43] jhnstn opened #4019 "Convert generic editor events into a typed data structure that will integrate into the host apps"
Analytic events are typed events in the editor host apps. Since we will be collecting these events in JavaScript we will need a new type in the native app languages to process the events.

Since we are likely to process many different events from the editor we are are proposing we create a generic type to handle each event.

[2021-09-23 14:43] jhnstn opened #4020 "Ensure the generic editor event type will work with the host apps analytics pipelines"

[2021-09-23 14:48] jhnstn opened #4021 "Explore conditional root node mobile editor"
We will need to render jsx in Gutenberg mobile to provide access to the slots in Gutenberg.

One possible way to do that is to inject a root node to the mobile editor from Gutenberg Mobile.

This task is to explore the best solution, currently the two main options are:
1. Hoist the root node out of mobile editor package in Gutenberg into Gutenberg Mobile
2. Use dependency injection in the mobile e

[2021-09-23 21:42] jhnstn opened #4025 "Add ability to generate a specific event type in the host apps from raw event data."
As a first success metric for the project we will focus on moving one specific analytic event from Gutenberg to the the host apps analytics pipeline.

To do this we the host apps will need to consume the raw event data from the react native bridge and determine what native type event to create.

- [x] #4026
- [x] #4027

[2021-09-23 21:43] jhnstn opened #4026 "Process Gutenberg Events in Android"
Events passed from Gutenberg will have a name and an optional dictionary of properties.

We will need to create a predefined WPAnalyticsEvent from the data received over the bridge.

[2021-09-23 21:43] jhnstn opened #4027 "Process Gutenberg Events in iOS"
Events passed from Gutenberg will have a name and an optional dictionary of properties.

We will need to create a predefined `WPAnalyticsEvent` from the data received over the bridge.

[2021-09-23 21:47] jhnstn opened #4028 "Create a specific event type in host apps for a Gutenberg event"
This will serve as a template to add future events.
The specific event is TBD

[2021-09-24 19:15] twstokes opened #4030 "Help view does not respect notch after rotation"
**Describe the bug**
When the Help view (which is a full screen sheet) is rotated from portrait to landscape and back to portrait, its top does not return to its original location under the device's notch. Instead, the view's top equals the top of the device's screen.

**To Reproduce**
Steps to reproduce the behavior:
1. In the portrait orientation, open the block editor in WPiOS by creating a new

[2021-09-25 16:42] kbrown9 commented on #2594
The lag is also reproducible on this newer device:

Device: Samsung A11
OS: Android 10
WPAndroid: 18.1

[2021-09-27 04:38] jd-alexander commented on #3280
Hi @fluiddot So I started working on this task. I haven't created a PR as yet but so far this is where my exploration has led me.

### Web

On the web, it seems that embeddable URLs are detected within the `Paragraph` blocks via the `RichText` component and then converted to an Embed block. The mechanisms for this detection are as follows:

1. The `RichText` component is passed a prop of [__unstab

[2021-09-27 05:06] reginabally opened #4034 "Feature Request: Add support to featured image settings to the Latest Posts block"
**Is your feature request related to a problem? Please describe.**
It was requested in 4326230-zd-woothemes to add support to featured image settings for the Latest Posts block.

**Describe the solution you'd like**
Add the support of "Featured image settings" to the Latest Posts block settings in the app according to Calypso's options: https://wordpress.com/support/wordpress-editor/blocks/latest-

[2021-09-27 23:27] kyleaparker opened #4039 "Embed block: disabled link input field"
**Describe the bug**
Follow up ticket from the Android 18.3 CFT.

I had a really hard time pasting a link into the embed link field and after tapping enough times the field was no longer editable. This happened when I had an existing link, deleted it, then wanted to paste a new one. I wasn’t able to tap the field at all and the cursor stopped showing up.

**To Reproduce**
Steps to reproduce the be

[2021-09-28 03:43] jd-alexander commented on #4039
Hi @kyleaparker would you be able to provide a video of this issue? I am working on reproducing it and a video would give me more clues as to how the error manifests in your environment. I tried reproducing it on my Pixel 4 XL but I haven't been able to as yet.

[2021-09-28 06:08] malinajirka opened #4040 "Sharing text from other apps results in infinite loading"
**Describe the bug**
When I share any text (even short) from other apps to the WordPress for Android, gutenberg editor never finishes loading (I waited for about a minute and I was able to reproduce the issue) - when I try to leave the editor using the back button a saving dialog is shown and it doesn't get dismissed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open other app
2. Write so

[2021-09-28 10:38] fluiddot commented on #4039
There's a video referenced in the CfT but it would be great to include it here too.

**Internal reference:** p5T066-2G1-p2#comment-10112

[2021-09-28 12:35] dcalhoun commented on #4040
This may be related to https://github.com/wordpress-mobile/WordPress-Android/issues/15025 and https://github.com/wordpress-mobile/WordPress-Android/issues/14972. My impression was that we addressed the former in https://github.com/wordpress-mobile/WordPress-Android/pull/15027. I suppose we have not completely addressed it or it was reintroduced.

cc/ @antonis

[2021-09-28 13:12] antonis commented on #4040
Thank you for the ping @dcalhoun. The applied [fix](https://github.com/wordpress-mobile/WordPress-Android/pull/15027) only covered the create page with template workflow. I added this to the backlog to be investigated further ASAP.

[2021-09-28 14:02] jd-alexander commented on #4039
Ah thanks! I will utilize that!

[2021-09-28 18:13] fluiddot commented on #3280
I couldn't follow the trace once the execution reaches [this point](https://github.com/WordPress/gutenberg/blob/cddb04629216056789e268e100793c7e30120667/packages/block-editor/src/components/rich-text/use-paste-handler.js#L182-L188) and calls `pasteHandler` 😞 .

From what I see in the `pasteHandler` logic, I think the magic happens in the [`shortcodeConverter`](https://github.com/WordPress/gutenber

[2021-09-29 04:43] jd-alexander commented on #3280
Thanks for these thoughts @fluiddot they were very helpful in filling the gaps in what I had encountered during my exploration. I have a WIP PR here https://github.com/WordPress/gutenberg/pull/35204  I will be cross-referencing this comment for behavior verification and alignment.

[2021-09-29 15:57] jhnstn commented on #4011
SlotFill is out of scope for this first iteration of the project making this issue redundant.

[2021-09-29 15:57] #4011 closed, assigned to nobody

[2021-09-29 16:01] jhnstn commented on #4006
The work required for this is minimal and will be captured in #4009
Also, since we are holding on the generic event type in the host apps, there is no need to spend time on all the redux events we need to filter now. The pattern will be set for the first event and will allow for filtering additional events.

[2021-09-29 16:01] #4006 closed, assigned to nobody

[2021-09-29 18:10] jhnstn opened #4052 "Add Editor Block Inserted Event to WPiOS"

[2021-09-29 18:10] jhnstn opened #4053 "Add Editor Block Inserted Event to WPAndroid"

[2021-09-29 18:11] #4028 closed, assigned to nobody

[2021-09-30 09:52] antonis opened #4058 "Require user action to add a link to a block using a URL from the clipboard"
**Is your feature request related to a problem? Please describe.**

Whenever the user opens the settings for a block that can be linked to a URL (Image, Button), the URL in the clipboard is pasted automatically in the `Link to` field. In order to remove that automatically link, they need to tap `Link to` and then request a removal. This behavior is unexpected for the user and has the potential to

[2021-09-30 10:08] hypest commented on #4058
Just sharing the ticket relevant to the current behavior: https://github.com/wordpress-mobile/gutenberg-mobile/issues/680

[2021-09-30 10:14] hypest commented on #4058
I'm personally +1 to the idea of moving away from a fully automatic filling in of the URL from the clipboard. When pasting is what I want to do, the auto-paste works like magic, but not when I actually don't want to paste but the clipboard happens to have a URL from a previous copy operation.

If I can share an idea about an alternative UI, I'd consider adding an extra line to the Link To cell, si

[2021-09-30 10:26] antonis commented on #4058
I think we should not change the text link behavior at all since it works really well imho (e.g. highlighting text and pressing the link). What I think needs tweaking is how the `Link to` works on the Image and Button blocks. In that case the user action that triggers the addition of the link is opening the block settings and the user may not see the added link at all if it scrolled out of the scr

[2021-09-30 11:51] #3278 closed, assigned to fluiddot

[2021-09-30 11:58] fluiddot opened #4059 "Embed block: Inline preview cut-off when editing URL"
**Describe the bug**
After creating an Embed block and only depending on the provider used, editing the URL with one from a different provider can lead to a cut-off of the inline preview.

**To Reproduce**
1. Add an Embed block.
2. Set a YouTube URL (example: https://www.youtube.com/watch?v=ssfHW5lwFZg).
3. Tap on the pencil icon button, located in the toolbar, to edit the URL.
4. Set an Instagram

[2021-09-30 13:55] fluiddot commented on #4058
I like the idea, I also experienced the case of having an unexpected link pasted automatically from the clipboard 😅.

I'm wondering if we could also explore how to deal with this in other cases like setting the URL on an Embed block, which doesn't display the inner screen for setting the link:

<img width="500" alt="Screenshot 2021-09-30 at 15 52 52" src="https://user-images.githubusercontent.com/

[2021-09-30 14:16] fluiddot commented on #4059
I compared the HTML produced by this case and creating an Instagram embed from scratch and looks like, in the first case, it's adding extra attributes that might be leading to the cut-off, specifically the following ones:
- `"responsive":true`
- `"className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"`

**HTML of setting Instagram URL to YouTube embed:**
[code]

**HTML of Instagram embed:**
[code]

[2021-09-30 14:58] guarani commented on #3199
Removing myself as assignee since I'm not working on this at the moment.
@mchowning given this is High Priority, should I or someone else be looking at this, or is it ok to leave unassigned?

[2021-09-30 14:58] guarani commented on #1998
Removing myself as assignee since I'm not working on this at the moment.

[2021-10-01 06:48] reginabally opened #4063 "H2 heading block text changed to bold"
**Describe the bug**
It was reported in 4340849-zd-woothemes that the H2 heading block text was changed to bold when editing the content on WPiOS 18.2.1. This was reported on an Atomic site using the Seedlet theme. I was able to reproduce this on a Simple site with the same theme but the outcome isn't consistent.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate the "Seedlet" theme on

[2021-10-01 09:47] hypest commented on #4063
👋 @antonis , could this perhaps be relevant to GSS work?

[2021-10-01 13:07] mchowning commented on #3199
Thanks for the ping Paul. I think it's ok to leave unassigned since we have no indications that there is an issue with how Gutenberg opt-in rolled out on Android, but I'll leave it as high priority because I still think we need to look into what is causing this to ensure there's no issue.

[2021-10-01 15:30] antonis commented on #4063
Thank you for reporting this @reginabally and thank you for the ping @hypest 🙇
I confirm that I was able to reproduce this on iOS only (on Android it works fine) 😵‍💫
When I right `I'm` manually it seems to work as expected. When I do it using the suggestions it turns to strong 💪

https://user-images.githubusercontent.com/304044/135646550-5b1945da-1825-4c1c-bcf6-d306373b1009.mov

I'm tempted to say

[2021-10-02 03:01] twstokes commented on #4063
I wonder if it's related to the issue [this PR dealt with](https://github.com/WordPress/gutenberg/pull/13763).

Adding the `tagsToEliminate={ [ 'strong' ] }` [prop here](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/heading/edit.js#L58) cleared it up for me in my quick tests.

[2021-10-02 20:42] mdrockwell opened #4069 "Editor Doesn't Scroll When Typing Text Into Paragraph Block on iOS"
**Describe the bug**
When typing text into the paragraph block, the cursor can go behind the keyboard and out of the field of view. The editor should automatically scroll so that you can see what is being typed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the editor.
2. Insert content and position a paragraph block near the bottom of the field of view (just above the keyboard).
3. T

[2021-10-04 07:14] antonis commented on #4069
I quickly tested this with two old installations on my device and I was able to reproduce this behaviour in [version `17.6`](https://github.com/wordpress-mobile/WordPress-iOS/releases/tag/17.6) but but not [in `16.8`](https://github.com/wordpress-mobile/WordPress-iOS/releases/tag/16.8).
The issue is not reproduced on the latest Android version.

[2021-10-04 07:54] hypest commented on #4063
Thanks for checking this out @antonis , and nice find @twstokes ! Tanner, want to go ahead and prepare PRs with that solution so we can test it out? Thanks!

[2021-10-04 08:51] reginabally commented on #2537
Mentioned in [1-star app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOE1Yw9cXFOeRit3w9FnFkBp9r5qVfMLsFnCh42lFrbeCVXl1LwKu5nWfC5jsFhNmJn6yo50MM5DfiSWbQ&corpus=PUBLIC_REVIEWS).

[2021-10-04 14:18] twstokes commented on #4063
Sure @hypest - will do.

[2021-10-04 14:22] fluiddot commented on #4039
@jd-alexander did you manage to reproduce the issue? Let me know if you're still investigating it, otherwise I could take over it and try to fix it before the next release 👍 .

[2021-10-04 19:57] twstokes commented on #4063
After digging into this deeper I've determined that the solution I proposed above doesn't quite get us there. It will block bold styles on headings when it happens unintentionally as in this case, but also when the user intentionally tries to make heading text bold. We wouldn't want to strip that ability away. It worked for the [original PR](https://github.com/WordPress/gutenberg/pull/13763) becau

[2021-10-05 01:10] guarani commented on #2773
👋 I'm removing myself as assignee since I'm not working on this and it also has another assignee.

[2021-10-05 04:04] jd-alexander commented on #4039
I managed to reproduce it but I wasn't able to track what exactly is causing the issue. What's interesting is when the input field is disabled, once you type it becomes active again. You can take a look. I was digging into the link-settings component and the bottom-sheet component to see if it was related.

[2021-10-05 11:10] hypest commented on #4063
Hmm, right, striping the `strong` can't be the solution for every case, thanks for verifying @twstokes.

Regarding working on it, I'm concerned by the fact that the output html is affected so, I consider that both a writing flow issue and a content issue. I'll take you on your offer to dig deeper to fix it on the Aztec (perhaps) side @twstokes , thanks. But, let's start with a tight timebox for it

[2021-10-05 13:04] twstokes commented on #4063
Sounds good @hypest, I'll report back.

[2021-10-05 17:24] guarani commented on #4010
👋 Hi @SiobhyB, I just realized this is assigned to me but based on your work in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4017, I changed the assignment to you. Please let me know if you think otherwise 👍

[2021-10-05 17:42] guarani opened #4075 "Implement the Tiled Gallery's `save` function for the Square layout"
Implement the Square layout's `save` function which has the following criteria:
- The block must render correctly within the editor when loaded from a post.
- When the block's content and settings are changed and saved within the editor, the block's attributes must be updated accordingly in the post.
- Given the same content and settings, the block must produce on mobile the same post content the

[2021-10-06 06:12] antonis commented on #4058
I think that makes sense @fluiddot. Maybe if this get's too complex we can handle the embed block on a separate issue.

I like @hypest's alternative approach to this too. Wdyt @iamthomasbishop?

[2021-10-06 08:33] #4059 closed, assigned to fluiddot

[2021-10-06 09:21] antonis commented on #4069
I tested [on `17.5`](https://github.com/wordpress-mobile/WordPress-iOS/releases/tag/17.5) and wasn't able to reproduce the issue.
Thus this was [introduced with `17.6`](https://github.com/wordpress-mobile/WordPress-iOS/releases/tag/17.6).
I did a quick investigation and I don't see something obviously suspicious in the changes introduced in this release on the [native iOS](https://github.com/wordp

[2021-10-06 13:57] guarani opened #4079 "Unwanted popup shown in Unsupported Block Editor"
**Describe the bug**
When editing an unsupported block, a "Welcome to WordPress!" popup is shown, which shouldn't appear.

**To Reproduce**
_This may be only reproducible on a new site, since the popup might only be shown once._

1. Locate a post that contains an unsupported block (e.g. Calendar at time of writing)
2. Open the post and expect to see the block rendered as a placeholder with the tex

[2021-10-06 14:20] guarani opened #4080 "Bottom sheet animation is sometimes jumpy on WPAndroid"
**Describe the bug**

When using the editor in the WPAndroid app, I see the bottom sheet (that's shown for things like block settings), animate up too far sometimes, revealing a gap under the sheet which looks odd

**To Reproduce**

I don't have solid steps to reproduce, most of the time the bottom sheet animation looks normal, but sometimes it appears to jump up too far.

**Expected behavior**
Th

[2021-10-06 14:23] dcalhoun commented on #4080
This may be related to https://github.com/WordPress/gutenberg/issues/32012.

[2021-10-06 14:31] guarani commented on #4080
Thanks! I forgot to check Gutenberg for issues. I couldn't reproduce in the Gutenberg demo app, only in the main apps, but the issue is hard to reproduce.

I confident it's the exact same issue, so I'm going to close this issue so we can focus on the single issue.

[2021-10-06 14:31] #4080 closed, assigned to nobody

[2021-10-06 15:42] antonis opened #4081 "Unselected Column placeholder is NOT stretched to content in nested structure"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Follow the steps in [columns/tc017](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/columns.md#tc017) or the following steps:
1. Add a columns block with two columns
2. Click on the first column and add a columns block with two columns
3. Rotate the device
4. **Notice** that th

[2021-10-06 16:37] #3951 closed, assigned to fluiddot

[2021-10-06 16:56] fluiddot commented on #4039
I found out that just by swiping horizontally the link field this can be easily reproduced. However, I'd like to highlight that the issue is not related to disabling the input field (although it gives that impression), it only hides the placeholder and the caret but, as @jd-alexander mentioned, once you type it becomes active again.

[2021-10-06 18:09] fluiddot commented on #3893
Closing this issue as it has been addressed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4008.

[2021-10-06 18:09] #3893 closed, assigned to fluiddot

[2021-10-07 11:55] fluiddot opened #4085 "[Embed block] Add Embed block to `initial-html` file"
### Description

Add the embed block HTML to the [initial-html.js](https://github.com/WordPress/gutenberg/blob/915a40f95379d9b64c286bd2af2fcd11f609e7d0/packages/react-native-editor/src/initial-html.js) file, this way the block will be checked on the E2E tests run in Gutenberg.

**HTML:**
[code]

[2021-10-07 12:01] fluiddot opened #4086 "[Embed block] Add integration tests"
### Description

The integration tests should cover all the user flows implemented for the block:

- [x] Add Generic Embed from block inserter @fluiddot
    - [x] Set URL upon block insertion
    - [x] Set URL by tapping on the block
- [x] Add the top 5 specific Embed from block inserter ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3278)) @fluiddot
- [x] Paste URL to cr

[2021-10-07 12:04] fluiddot opened #4087 "[Embed block] Add E2E tests"
### Description

Add E2E tests for covering the user flows or components that we won't be able to implement with integration tests ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4086)), as well as the native components like the WebView.

[2021-10-07 12:09] fluiddot opened #4088 "[Embed block] Add remaining tests to the manual test suites"
### Description

The remaining tests that can't be automated after adding the [integration](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4086) and [E2E](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4087) tests will require to be introduced into the [manual test suites](https://github.com/wordpress-mobile/test-cases/tree/trunk/test-suites/gutenberg).

#### Test cases
-

[2021-10-07 14:38] osullivanchris opened #4090 "Let me know when embed block is converted"
Steps:
- Copy a link to a YouTube video
- Go to Gutenberg editor and add a Twitter block
- It is prepopulated with the YouTube content

My confusion:
- Is this still a twitter block?
- why does it work with YouTube?

What I have learned is happening, is the block is automatically converted. This was not clear to me.

Suggestion:
- Have some success message saying 'block changed from Twitter to You

[2021-10-08 10:34] fluiddot commented on #4039
I verified that this issue is not specific to the embed block but to the `TextControl` component as it can be reproduced in other places like the Link Rel field of the Image block (see attached video).

<details><summary>Click here to display video</summary>

<video src=https://user-images.githubusercontent.com/14905380/136539932-ad49fb5b-5ddf-40f0-ba83-c089638b16aa.mp4>

</details>

I tried to mo

[2021-10-08 11:02] fluiddot opened #4093 "[Embed block] Can't set URL after dismissing the edit URL bottom sheet with empty value"
**Describe the bug**
On an empty embed block, the edit URL bottom sheet is no longer displayed if it was previously dismissed with an empty URL, leaving the block unusable.

This issue was introduced in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4002.

**To Reproduce**
1. Add an embed block via the block picker
2. Observe that the edit URL bottom sheet is automatically displayed
3.

[2021-10-08 12:19] fluiddot commented on #4093
I noticed that this issue can be also reproduced when dismissing using an invalid URL.

**Steps:**
1. Dismissing with invalid URL
1. Add an embed block via the block picker
1. Observe that the edit URL bottom sheet is automatically displayed
1. Dismiss the bottom sheet
1. Tap on the embed block
1. Observe that the edit URL bottom sheet is displayed
1. Set an invalid URL (example: `http://?`)
1. Di

[2021-10-08 15:21] jd-alexander commented on #4039
Good find! Thanks for reproducing and finding the root cause of this issue @fluiddot. Since this issue isn't easily reproducible by the user, should we add a low priority label here from a triage standpoint?

[2021-10-08 15:23] fluiddot commented on #4039
Yeah I agree, I'll add a low priority label 👍 .

[2021-10-08 15:42] #3862 closed, assigned to SiobhyB

[2021-10-11 01:22] reginabally opened #4097 "Accessibility: iOS Dynamic Type not being applied on the editor"
**Describe the bug**
It was reported in 4363115-zd-woothemes that enlarging the text size using iOS's Dynamic Type is not being applied on the app's editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to iOS Settings > Display & Brightness > Text Size, change the text size to a larger font size.
2. Open the WordPress mobile app > My Site > Blog Posts and select a post to edit.
3. Noti

[2021-10-11 10:05] SiobhyB opened #4098 "Enable third-party styles to be passed to the image block's `shapeStyle` prop."

[2021-10-11 10:06] #4098 closed, assigned to nobody

[2021-10-11 19:58] dcalhoun opened #4100 "Help view erroneously reveals parent screen when navigating to child sheet"
**Describe the bug**
While in landscape orientation or on a larger screen device, when navigating to a sub-sheet within the Help view the parent sheet is visible rather than being appropriately obscured.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the block editor in landscape orientation.
2. Tap the three-dot menu in the top-right corner.
3. Tap "Help & Support."
4. Tap one of the

[2021-10-11 20:04] guarani opened #4101 "Run our full automation test suite on all new changes to the develop branch"
**Is your feature request related to a problem? Please describe.**

We found in the 1.63.0 release that Dependabot caught an incoming Gutenberg breakage after the fact (i.e. after a previous PR had update the Gutenberg submodule ref). Dependabot was able to catch the breakage while the previous PR did not, because Dependabot [runs optional tests by default](https://github.com/wordpress-mobile/gute

[2021-10-11 20:14] dcalhoun opened #4104 "Help view does missing modal backdrop overlay on Android devices"
**Describe the bug**
When viewing the Help screen on landscape Android devices, the modal is missing the backdrop overlay, which causes all the content below to be visible.

**To Reproduce**
Steps to reproduce the behavior:

1. Launch the block editor on Android in landscape orientation.
2. Tap the three-dot button the top-right of the screen.
3. Tap "Help & Support."
4. 💥 The Help modal is displa

[2021-10-12 02:14] twstokes commented on #4063
I have a [WIP PR here](https://github.com/wordpress-mobile/AztecEditor-iOS/pull/1334) that appears to solve the problem, but I don't have the highest confidence that it's the best solution.

In my troubleshooting I found that when invoking autocorrect (or any other OS level string update like double-tapping the spacebar), the string inserted into Aztec was missing heading attributes that we rely o