[2020-11-23 04:46] ghost commented on #2814
Alright, I think I'm done building out the functionality here! I'll update the later-two PRs to point at `Wordpress/gutenberg` once the first one lands. (Lemme know if there's another way you all would prefer I handle the stacked changes.)

In the [last PR](https://github.com/blixt-io/gutenberg/pull/2) on this list, I went ahead and enabled all block-to-block transformations. It was so straightfor

[2020-11-23 15:02] chipsnyder opened #2828 "[Home Page Picker] Add Skip option to “Choose a Domain” screen"
## Description
As part of the project for adding a Home Page Picker to the site creation flow, we'd like to tweak the design of the existing "Choose a Domain" to add a Skip option to this screen as mentioned in https://github.com/wordpress-mobile/WordPress-iOS/pull/15231#issuecomment-724965218

## Goals
- Add a Skip option to the Choose a Domain screen

## Additional context

<details>
<summary>De

[2020-11-23 15:04] chipsnyder commented on #2828
From the linked [PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/15231#issuecomment-724965218) in the description:

I had done an initial research that this seems feasible at least from the web side. I took a brief look into from the mobile side and currently have to following questions:
- I see [evidence](https://github.com/wordpress-mobile/WordPress-iOS/blob/2f53a276895c669e9028e27c7d

[2020-11-24 00:09] rezzap opened #2831 "Reader: Paragraph block with light color background shows white text in Dark Mode"
### Expected behavior

If I'm using dark mode and my paragraph block has a light colored background assigned to it, the text would show dark.

### Actual behavior

The text shows white over the light colored background in the reader making it difficult to read.

### Steps to reproduce the behavior

1. Create a post with a paragraph block from the browser and assign a light colored background to it

[2020-11-24 00:20] khaykov opened #2850 "Hide a video block in editor from P2 sites"
There is limited support for video on P2 sites available to the general public, so we need to hide the Video Block from the editor if the site is P2.

[2020-11-24 03:15] designsimply opened #2832 "Cannot preview changes made to homepage mobile starter content generated with the homepage picker"
Steps to reproduce:

1. Go to My Sites > + > Create a new WordPress.com site and complete the site creation flow.
1. Go to My Site > Pages > Home and select any layout from the "Choose a design" modal.
1. Edit your home page content.
1. Tap "Preview".
1. Try editing different pages created by headstart and try previewing changes to those pages.

**Result:** I expected to be able to preview changes

[2020-11-24 05:31] ghost commented on #2814
@iamthomasbishop @Tug There are two options here:
1.  I'm 100% willing-and-able to just restrict my change here to be "enabling paragraph to transform to a select set of other blocks" - following the letter-of-the-law of this ticket.
2. However, thanks to the excellent `getPossibleBlockTransformations` function, it's trivial to enable all block transformations! I've got that implemented in [this P

[2020-11-24 14:13] antonis commented on #2832
I was able to reproduce the issue both on Android and iOS. It seems that this behaviour derives from the fact that on the site's homepage the preview parameters (`preview`, `preview_id` and `preview_nonce`) are ignored and the actual homepage is shown. Thus any change is visible only if the homepage has been updated.

I noticed the following:

* If you test any page with a **slug** in the url the

[2020-11-24 15:26] chipsnyder commented on #2814
Hey @blixt-io

@iamthomasbishop will have some limited availability this week so jumping in here. The web support for blocks and the mobile support are pretty out of sync right now so I think having an allow list for supported transformations would still be a good a plan. Having a framework in place to maintain this list would be helpful as well in case we find any problematic transformations.

Ma

[2020-11-25 10:30] Tug commented on #1635
Seems like the outcome of this issue was decided, closing as wontfix.

[2020-11-25 10:30] #1635 closed

[2020-11-25 20:46] antonis commented on #2828
I did a preliminary research on Android but I couldn't find an evidence of a skip button on the domain screen.
There seems to be a [removed Skip button](https://github.com/wordpress-mobile/WordPress-Android/pull/11460/commits/8dbbe483f163ebcd7525bfe9b17420dc669249d8) in the parent `Activity` but the `siteName` parameter in the api call [was `@NonNull` since it was introduced](https://github.com/wo

[2020-11-26 00:17] designsimply commented on #2850
Please notify the Mobile Guild when this ships since it's a tricky case for the apps in terms of support and knowing when and where video uploads are and aren't allowed.

[2020-11-26 15:00] antonis commented on #2722
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15324 and https://github.com/wordpress-mobile/WordPress-Android/pull/13424

[2020-11-26 15:00] #2722 closed, assigned to antonis, chipsnyder

[2020-11-26 15:02] antonis commented on #2720
Fixed with https://github.com/wordpress-mobile/WordPress-iOS/pull/15293 and https://github.com/wordpress-mobile/WordPress-Android/pull/13399

[2020-11-26 15:02] #2720 closed, assigned to antonis, chipsnyder

[2020-11-26 15:14] antonis commented on #2447
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13190 and https://github.com/wordpress-mobile/WordPress-iOS/pull/15138

[2020-11-26 15:14] #2447 closed

[2020-11-27 05:01] mkevins commented on #2832
Nice sleuthing Antonis! I've reproduced this issue as well, and afterwards confirmed that the preview URL persisted to the local database for the home page does not have the slug:

<img width="980" alt="preview-url-query" src="https://user-images.githubusercontent.com/8507675/100412602-de845280-30c0-11eb-8387-4263ba9966e3.png">

I'm not sure why the `preview` parameter has no effect in that case.

[2020-11-27 07:05] mkevins commented on #1655
Hi @iamthomasbishop :wave: :smile:

One thing I noticed in https://cloudup.com/crdQkgbOzXR is that the link input on web for RichText seems to be missing a way to edit `rel` attribute, whereas for the Image block, it is there :thinking: .

I've drafted a PR (https://github.com/WordPress/gutenberg/pull/27292) which enables support for the link picker within Image block. It does not yet include chan

[2020-11-27 12:06] hypest commented on #2850
👋 @khaykov, is this Android only? If not platform specific, may I suggest we move the ticket to the gutenberg-mobile repo?

[2020-11-27 12:35] antonis commented on #2832
Checking the functionality on the web it seems that the preview url does not contain the slug. That means that what differentiates the behaviour between the web and mobile is the preview generation/upload process
![Screenshot 2020-11-27 at 2 26 30 PM](https://user-images.githubusercontent.com/304044/100456337-da5c3300-30c8-11eb-9f11-c1dc23ba9888.png)

[2020-11-27 19:58] antonis commented on #2832
Hey @guarani, @aerych 👋
I've seen that you recently worked on the preview mechanism on iOS (nice retrospective btw). I wonder if you came across this issue or you have feedback based on your experience on how the preview mechanism works.

I've drafted a workaround for this ([Android only for now](https://github.com/wordpress-mobile/WordPress-Android/pull/13486)) by appending the page slug to the p

[2020-11-27 20:45] khaykov commented on #2850
@designsimply will do!

@hypest Yes, this is a cross-platform feature, so I don't mind if it'll be in gutenberg-mobile repo :)

[2020-11-30 14:26] guarani commented on #2832
Hi @antonis! From what I read above, this issue relates to the preview failing to pick up changes to pages, and instead showing the original page. I didn't run into this issue while helping out with the preview mechanism work with @aerych — in all my tests, the post/page draft preview (which is most similar to this issue) worked well.

I'm not familiar with the `slug` or `home` parts of the URL pa

[2020-12-01 18:56] chipsnyder commented on #2828
@kyleaparker I did some more investigation on this and added in a skip button. When we make the API request without selecting a domain I get the error:

[code]

So we might need to do some investigation on the backend. @enejb I would be interested in learning more about how we would go about adding support for this if you find time to investigate.

[2020-12-01 22:54] aerych commented on #2832
Hey @antonis 👋

Only the gist of it.  I'd need a refresher on how it all works before trying to talk too much about it. 😬  One bit I _think_ i remember correctly is that preview=true is what tells the site to show an autosave of a published post/page rather than the published content. (But I doubt my memory so take that with a grain of salt.)

That sounds reasonable to me actually.  I'm not too su

[2020-12-01 23:40] enejb commented on #2828
I am not 100% sure but I think there is a `find_available_url` url parameter that if set to true would help with creating a finding an avaialve url and using it so that you wouldn't have to pass one in. See https://github.com/Automattic/wp-calypso/blob/05c40beca783ea09b73ac269b048f847086a9600/packages/data-stores/src/site/actions.ts#L43

Would that help? I haven't tried it yet but I think it would

[2020-12-02 05:37] reginabally opened #2862 "Problem displaying block on Video block when the video was uploaded from Calypso"
### Expected behavior
I would expect to be able to view the video thumbnail in the app for videos that were uploaded from Calypso, using a Video block.

### Actual behavior
The Video block that was added from Calypso displays the error "Problem displaying block".

![videoblock](https://user-images.githubusercontent.com/40906847/100832056-0baa7980-34a2-11eb-8730-af0c52ea35b7.jpg)

### Steps to repr

[2020-12-02 08:29] #2637 closed, assigned to geriux

[2020-12-02 12:26] antonis commented on #2832
Thank you for the for the feedback @aerych and @guarani 👍  I really appreciate this 🙇
I guess the workaround is a valid approach for now :)

[2020-12-02 14:35] chipsnyder commented on #2828
Thanks for finding this @enejb
Just including that didn't help but I may have made some progress. Your link led me to https://github.com/Automattic/wp-calypso/blob/e1372f44049ce54068b16380ca7ef16503dfdb13/client/lib/signup/step-actions/index.js#L209-L215

It looks like we're supplying the username as the tool to create the site. That doesn't yet close the gap though because I already have a site w

[2020-12-02 15:26] lukewalczak commented on #1935
After initial investigation I was suspecting the issue is related to our structure and nesting `InnerBlock` within other `InnerBlock` which under the hood is react-native `FlatList` component.

It was a blind shot since I replaced nested `FlatList`s in favour of regular `View` with the map over the items inside. Also I tried `FlatList` from the `react-native-gesture-handler` - effect was the same.

[2020-12-03 04:57] iamthomasbishop commented on #1655
@mkevins I think it's worth a try, but if it ends up being trickier than expected, my suggestion would be that we only conditionally show the `open in new...` cell on the [main sheet](https://cloudup.com/cKZdYc8Z5KE) if a link is applied on the `link to` cell. But as described in my original proposal, it seems like combining all link-specific things into a single view will simplify by bringing som

[2020-12-03 19:06] designsimply commented on #2862
Tested and confirmed that video blocks added from the web do not work in the WPAndroid app with a message saying "Problem displaying block".

Video added using the web|Video added from the app
---|---
<img src="https://user-images.githubusercontent.com/1119271/101075504-55a56500-355f-11eb-98ad-cc1e5625d3f4.png" width="270" alt="Screenshot_20201203-115055">|<img src="https://user-images.githubuserc

[2020-12-03 19:08] designsimply commented on #2862
@hypest this bug is for one user report so far, but I know it also something similar came up in Slack not too long ago and that other users have probably run into this but not a huge percentage overall. Can you help me set priority for this one? I think it deserves at least immediate triage with an estimate for how long it might take to fix even if it cannot be fixed for the next release. In other

[2020-12-03 22:44] designsimply opened #2863 "Heading Block: cannot highlight and replace content or highlight and press backspace to add new text to a heading when it is inside a cover block"
**Describe the bug**
When I try to replace text in a heading, the heading is unexpectedly removed instead of allowing me to either delete and add new text or highlight and replace text.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post and add a cover block with a heading and a paragraph inside it and add text to each.
1. Save the post as a draft.
1. Exit the editor.
1. Re-op

[2020-12-04 11:40] hypest commented on #2401
Just adding a note that I found this library https://github.com/Astrocoders/react-native-selectable-text that might be useful to use or extend for our purpose here.

[2020-12-04 12:19] hypest commented on #2862
👋 all. This looks related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/1152.

There is no current plan to remedy this from the mobile apps side but, I'd like to get something moving. I'll comment on the ticket above too.

In the meantime, let's keep this ticket open too since it focuses on the web-to-mobile flow a bit more. WDYT?

[2020-12-04 12:21] hypest commented on #1152
👋 @chipsnyder, can you expand on the options discussed, or link me to related convos? I'm thinking, now that we have the ability to separate .com from .org code, maybe we can address this by incorporating the "Jetpack" side block too.

[2020-12-04 12:55] rachelmcr commented on #2431
I just ran into this while beta testing and using the Columns block in depth for the first time. I'll admit it didn't even occur to me to use the Undo button to try to recover that lost content until I read the comments on this issue. (That said, I have no idea if any end users have the same confusion I did or if the Undo button is usually clear to users in this case.)

[2020-12-04 14:22] chipsnyder commented on #2863
@geriux and I had a side conversation on this so sharing the results of that here:

@geriux pointed out that this may be related to https://github.com/wordpress-mobile/AztecEditor-Android/pull/928 which was a fix for wordpress-mobile/gutenberg-mobile#1663 and wordpress-mobile/gutenberg-mobile#1524. The underlying issue there was that there is a zero space white-space character that is added to the

[2020-12-04 14:34] chipsnyder commented on #1152
Hey @hypest. I think there are some internal documents that capture parts of these options but I'm failing to uncover a combined explanation.

1. Make some changes to apply the `guid` formatting to the generated block more details here: `pafL3P-pg#comment-1719`
1. Add support for `jetpack/vaultpress`
    - This seems like the best option now that we have started added Jetpack Support in GBM
    -

[2020-12-04 14:46] chipsnyder commented on #1152
Ps. There is worked started that seems to be going down the path of (3) mentioned [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1152#issuecomment-738817171) however that work seems to have stalled. Here is the PR and Issue I'm referring to:

- https://github.com/Automattic/jetpack/issues/12358
- https://github.com/WordPress/gutenberg/pull/15674

[2020-12-04 15:12] antonis commented on #2832
A server side fix has been applied

[2020-12-04 15:12] #2832 closed, assigned to antonis

[2020-12-04 15:16] chipsnyder commented on #2832
Summarizing the server-side fix for future reference: The Autosave endpoint was returning an invalid preview URL. As part of the preview URL it was including:
`https://{{domain}}.wordpress.com/?preview=true&preview_id={{auto_save_id}}&preview_nonce={{nonce}}`

Replacing this format with solves the issue.
`https://{{domain}}.wordpress.com/?preview=true&preview_id={{page_id}}&preview_nonce={{nonce}}

[2020-12-04 16:01] designsimply commented on #2832
<sup>(internal reference: D53752-code)</sup>

[2020-12-04 16:49] Tug opened #2867 "Add image editing options to fullscreen view"
**Is your feature request related to a problem? Please describe.**
When tapping on an image in the editor the image is opened in fullscreen, swiping in any direction will bring you back to the editor. Having options to edit the image in place would improve the user experience

**Describe the solution you'd like**
From @designsimply pbMoDN-1A9-p2#comment-3366

**Describe alternatives you've conside

[2020-12-07 13:53] ceyhun opened #2871 "Code block: Some special characters are not escaped when converting to HTML"
**Describe the bug**

On web special characters typed inside code block are escaped when converting to HTML. For example:
- `<` doesn't get converted to `&lt;`
- `[` doesn't get converted to `&#91;`

This doesn't happen on mobile. And if you try to upload a post with a code block that contains these characters it's not uploaded and the block seems empty on web.

**To Reproduce**
Steps to reproduce

[2020-12-07 13:57] ceyhun commented on #822
Some other issues are:
- Some special characters are not escaped when converting to HTML: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2871
- Use newlines characters instead of `<br>` tags for new lines in pre-based blocks: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2193

[2020-12-08 21:48] enejb opened #2878 "Background color switcher: Smoother background colour switching on the button block."
**Describe the bug**
When you have a gradient selected then switch to the background pallet is not as smooth as it could be since the "Customize Gradient" field show up and moved everything about a it.

**To Reproduce**
Steps to reproduce the behavior:
1. Add buttont block.  go to settings.
2. Change the background to a gradiant.
3. Swich to solid background colour and back to gradiant selection.

[2020-12-08 21:54] enejb opened #2879 "Button Link Settings: Toggling off the new tab toggle removes any custom text in rel link field"
**Describe the bug**
Toggling off the new tab toggle ("Open in new tab") removes any custom text in the rel link field.

**To Reproduce**
1. Add a new button.
2. Go to settings.
3. Toggle the new tab toggle. Notice that the rel text field gets populated.
4. Change the rel link field.
5. Toggle off the new tab toggle.
6. Notice that the rel link text filed is now empty.

**Expected behavior**
I exp

[2020-12-08 21:59] enejb opened #2880 "Gallery: Can't change the gallery image size."
**Describe the bug**
When I am in the gallery block settings. I am not able to update the image size setting.

**To Reproduce**
1. Insert the gallery block.
2. Add a few images to the block.
3. Open up the gallery settings.
4. Notice that after selecting the gallery image size. That the UI doesn't get updated.

**Expected behavior**
I expected to be able to change the gallery size via the settings

[2020-12-08 22:14] enejb opened #2881 "Group Block: When nesting more then 2 group blocks within each other. No visual indocator of where you are in the hierarchy"
**Describe the bug**
When you have more then two group blocks nested. It is isn't possible to tell how many blocks there are. You end up tabbing into the group but there is no feedback since the UI stays exactly the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Group block.
2. Add 2 more nested group blocks win. (Always one block within the other block)
3. Notice that it is imp

[2020-12-08 22:47] enejb opened #2882 "Button: Background colour not animating to the selected colour."
**Describe the bug**
Currently when you have a background colour selected other then the custom background colour, If you go back into the colour selection, the UI doesn't scroll into to show what you have selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a button block, got the settings of the block.
2. Choose the very last background colour before custom.
3. Exit the background

[2020-12-09 18:39] guarani commented on #2880
When I change the "Image size" setting, the images themselves do appear to change in the editor (best seen when changing to the Thumbnail size). However, the label to the right of "Image size" does not update to reflect the selected size.

Also, when publishing the post from the app, I do see some change in size between Thumbnail and "Full Size", but it's not significant.

I also noticed that this

[2020-12-09 20:29] guarani commented on #2880
Testing again with WPiOS 16.2, I see that the URLs of the images in the final published post does change when I switch image size:
- Thumbnail: https://pschrottkyicloud.files.wordpress.com/2020/12/img_9817.jpg?w=300
- Medium: https://pschrottkyicloud.files.wordpress.com/2020/12/img_9817.jpg?w=600
- Large or "Full Size": https://pschrottkyicloud.files.wordpress.com/2020/12/img_9817.jpg

So I think

[2020-12-09 22:03] startuptester opened #2886 "Crash when deleting block from page template"
**Describe the bug**
When I create a page using a template and then delete a block, the app crashes - and not very gracefully.

**To Reproduce**
Steps to reproduce the behavior:
1. In the app, create a new page using a template for a site with Jetpack installed. - I can only repro this on JP sites so far
2. In the editor, delete a pre-set block
Crash
https://cloudup.com/ctvbVn5iqHn

**Expected beh

[2020-12-10 09:56] mkevins commented on #1655
Hello again @iamthomasbishop :wave: :smiley:  Circling back to this, I've updated the draft PR to autohide the "Open in new..." and "rel" settings unless a link is actually set. I generated a [test apk here](https://86916-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-13576-build-86916.apk), if you want to play around with it. The auto-hide behavior is enabled for button block and image

[2020-12-10 18:58] guarani opened #2889 "Unable to Redo deletion of Paragraph blocks with certain content"
**Describe the bug**

I'm unable to redo the action of deleting Paragraph blocks when they contain non-breaking spaces (i.e. `&nbsp;`).

**To Reproduce**
1. Open the mobile editor
2. Add two Paragraph blocks, each containing the text "Hello world"
3. Switch to HTML mode and replace the space in the first block with `&nbsp;`, return to the Visual editor
4. Delete the two blocks
5. Tap the Undo butt

[2020-12-10 20:11] guarani commented on #2889
Closing in favor of https://github.com/WordPress/gutenberg/issues/27656.

[2020-12-10 20:11] #2889 closed, assigned to nobody

[2020-12-11 10:16] hypest commented on #2879
Which app version is that on Enej? I don't see the "rel link" field on WPAndroid v16.3-rc-1 (gb-mobile v1.42).

[2020-12-11 17:34] #2886 closed, assigned to geriux

[2020-12-11 18:00] dillh commented on #2566
Please make this happen. As a copywriter I want to be able to control the order, not have it dictated by Wordpress. What the order needs to be on mobile depends on the nature of the text that goes with it.

[2020-12-11 23:37] enejb commented on #2879
Do you see in on the button component?

[2020-12-12 01:27] guarani commented on #2886
Just noting that I could reproduce this on a Simple WP.com site too

[2020-12-14 09:33] hypest commented on #2879
Ah, replicated now 👍, I was only looking in the normal links, not buttons 🤦 . Can we rename the ticket title to include "Button"?

[2020-12-14 15:29] guarani opened #2901 "Remove Gutenberg rollout logic"
The Gutenberg rollout in the WordPress apps, which opted-in users to the new editor, is complete.

After disabling the block editor informative popup (https://github.com/wordpress-mobile/WordPress-iOS/pull/15492 and https://github.com/wordpress-mobile/WordPress-Android/pull/13593), we need to remove the associated logic that showed the popup, as well as the rest of the Gutenberg rollout code on bo

[2020-12-14 16:10] mzorz commented on #2200
I tried the same as @develric  with what I had available to make a closes match possible:
- WPAndroid 13.9 downloaded from https://github.com/wordpress-mobile/WordPress-Android/releases/tag/13.9
- Samsung J2 Core (that's what I have)
- low battery (1% but connected, the screenshot from the user report shows 6% and plugged)
- changed the keyboard to use Portuguese as per what the screenshot shows
-

[2020-12-14 17:53] antonis commented on #2828
Hello @kyleaparker @iamthomasbishop 👋
We have started checking the implementation details of this.Regarding the design and UX should we just add a **skip** button at the top right of the screen similar to the *Choose design* screen? Note that after this step the site creation is triggered.

[2020-12-14 18:12] antonis commented on #2726
Hello @kyleaparker @iamthomasbishop 👋
Choosing a domain first (option B) would require changing the action buttons of the screens. A straight forward approach for this can be:
* Domain Screen: *Create Site* => *Choose*
* Design Screen: *Choose* => *Create Site*
* Design Screen: *Skip*: Should we leave skip as is or change it since the action will trigger site creation ([similar to this](https://gi

[2020-12-14 22:21] #2879 closed, assigned to nobody

[2020-12-14 22:21] enejb commented on #2879
Done update to say Button Link Settings :)

[2020-12-15 13:13] rossanafmenezes commented on #2594
Another report here 3554112-zen

Samsung Galaxy Tab S2 8.0
Android Version 7.0
WP version 16.2

[2020-12-15 22:57] iamthomasbishop commented on #1655
@mkevins Thanks for the new build! The auto-hide feels nicer, so I'd be okay with shipping that as an iteration and attacking the other more complex task (consolidation) in a separate ticket. One request though, if we're going to go with this approach for now, can we do an audit of the various places we're using links to make sure the same approach is applied? For instance, RichText and Social Ico

[2020-12-16 00:10] designsimply commented on #1212
<sup>(internal reference: play-store-previewId=gp%3AAOqpTOH2dMydCrGTXQncnRPNt80mMZ34UJ0NAiwQ0KPd-QbYlHHQIxVf2p3KMIJUfGmHJ3W3QANkJOxi8D3Q3spn&corpus=BETA_FEEDBACK)</sup>

[2020-12-16 00:25] kyleaparker commented on #2828
Yes the Skip button would be in the same place as the Choose design screen :)

[2020-12-16 00:29] kyleaparker commented on #2726
Another option would be to change both _Choose_ and _Create site_ with _Continue_ . Then the action is always the same and I don't think it really matters that it doesn't explicitly say "Create site". What do you think @iamthomasbishop ?

[2020-12-16 02:28] iamthomasbishop opened #2905 "Swap instances of Button block on Starter Page Templates/Layouts to use Buttons block instead"
When we introduced Starter Page Templates (aka Layouts), we had not yet introduced the Buttons block. As a result, all of these templates use the individual Button block.

Now that the Button block has been replaced by Buttons, let's swap out all instances of the Button block for Buttons on our starter page templates.

**Instances**

Note: Please add to the list if any are missing.

- [ ] About 1

[2020-12-16 11:25] mkevins commented on #1655
Thanks for taking a look and trying it out @iamthomasbishop !

Sure! Here is an analysis of our current usages:

Block | Link settings component | Link picker enabled | Auto-hide enabled
-|-|-|-
Paragraph | Rich text link settings | :heavy_check_mark: | :heavy_check_mark: (enabled with [`cd662f2`](https://github.com/WordPress/gutenberg/pull/27292/commits/cd662f243096b315befad0496c3a7553081b44b9))

[2020-12-16 11:53] hypest commented on #2901
Yes, let's remove this logic when we'll work on removing the editor switch from the settings.

[2020-12-16 20:03] chipsnyder commented on #2863
This went as part of GB-mobile 1.43.0

[2020-12-16 20:03] #2863 closed, assigned to chipsnyder, geriux

[2020-12-16 21:47] mchowning commented on #1896
User report of a similar sounding issue:

3580046-zd-woothemes

[2020-12-16 23:22] designsimply opened #2910 "File Block: file uploads fail with a generic error for file types I don't have permissions to upload and then the post cannot be published"
Steps to reproduce:

1. Open a WordPress.com Free site (no plan) in the app.
2. Go to My Site > Blog Posts > + > Blog post.
3. Add a file block and choose an mp3 file from the device ([or any file type that requires a plan](https://wordpress.com/support/accepted-filetypes/)).
4. Observe that the block now shows "( ! ) Error" in red text.
5. Observe that if you leave and re-open the post the error

[2020-12-16 23:30] jd-alexander commented on #2910
Thanks for reporting @designsimply in this case would it have been better if an error was shown pertaining to the fact that your plan doesn't support file uploads of that type?

I think this is the expected behavior because, in theory, the upload failed so the post contains a File Block that has failed content attached to it. So to preview or publish the post you would need to fix the file by eith

[2020-12-16 23:40] designsimply commented on #2910
Yes, it would be awesome if the error could say something like, "You do not have permission to upload this file type. Please check which file types are allowed by your plan." … or just the first sentence if that works better, but my wish (if possible!) would be to have the error be really specific in this case because it's a clear problem we can probably detect.

Okay, if it's the expected behavio

[2020-12-17 00:00] jd-alexander commented on #2910
I will check this out. The error behavior here is tied to the behavior that has existed within the app for other media blocks such as Image & Video. I will verify this and report here with my findings.

[2020-12-17 00:09] designsimply opened #2911 "Heading Block: cannot swipe to replace all text in a heading block"
Steps to reproduce:

1. Create a new post and add a heading and a paragraph.
1. Select all of the text in the paragraph block.
1. Swipe new text to replace the old text and observe that it works.
1. Select all of the text in the heading block.
1. Swipe new text to replace the old text and observe that it does not work.

**Result:** if I highlight all the existing text in a heading block and then s

[2020-12-17 07:36] jd-alexander commented on #2910
This error seems to be present for other media blocks as well. Once an upload has failed and the preview button is pressed then the "Saving..." dialog doesn't get dismissed.

This seems to be the expected behavior here.

[2020-12-17 07:52] #2880 closed, assigned to nobody

[2020-12-17 14:13] chipsnyder commented on #2911
I'll take a look and see where we can slot this in. Thanks @designsimply!

[2020-12-17 22:04] mchowning commented on #2901
:wave: @hypest ! So we want to remove the logic that checks the backend for the default mobile-editor and, instead, the app will now always use Gutenberg as the default mobile editor? I believe this means that the Aztec editor will only be used when opening a post that was edited with the classic editor on the web. Related to this, should we continue to update the mobile-editor default on the back

[2020-12-18 14:30] hypest commented on #2901
👋 @mchowning, I think the scope of this ticket is about the logic for migrating the default to Gutenberg from Classic/Aztec. That's the part we should cleanup. The remaining logic that governs which editor is shown and when will need to be consolidated with all the various cases (for example, whether the site has Classic as default on the web), and is part of the mini-project we'll embark soon ("r

[2020-12-18 14:51] mchowning commented on #2901
That makes sense @hypest . I was just trying to see if we had a clear goal on this such that it might be something I could start doing a bit of work on. It sounds like perhaps we haven't clearly defined the desired behavior yet though?

[2020-12-21 09:13] hypest commented on #924
Implemented with https://github.com/wordpress-mobile/gutenberg-mobile/pull/2841

[2020-12-21 09:17] hypest commented on #2259
Nowadays it seems that tapping around the caption doesn't popup the image preview, but it still doesn't focus the caption itself so, I'd still consider it an issue of small hit target.

[2020-12-21 11:30] hypest commented on #2901
Removing some logic now is of lower priority and it's best to just work on this as part of the "remove the editor switch" project, that's pretty much it 😄

[2020-12-22 02:30] mkevins opened #2922 "api-fetch query parameters are dropped"
**Describe the bug**
Because `URL` is only partially implemented on mobile, in certain cases, query parameters are dropped prior to invocation of api-fetch. This results in incorrect behavior, since the API request is missing parameters. In link picker, it manifests as omitting the `search` parameter, which results in the same results (a "blank" search) being returned in all cases.

**To Reproduce

[2020-12-24 00:32] #1191 closed

[2020-12-24 20:25] guarani opened #2932 "Refactor suggestions to reduce code duplication"
This issue tracks a few refactoring improvements to suggestions on WPiOS:

- There's room here to reduce code duplication and improve naming between `SuggestionService` and `SiteSuggestionService` in the WPiOS implementation of Suggestions.
- Suggestions are persisted in Core Data which means that a `NSFetchedResultsController` could be used to display the suggestions in the table view that's used

[2020-12-25 19:02] guarani commented on #2922
Hi @mkevins 👋 It looks like you've done some work on this. Do you know which project board this issue should be added to?

[2020-12-28 09:49] fluiddot opened #2935 "Text with emojis is not properly aligned with the bullet point in List block"
**Describe the bug**
Add emoji characters to List block pushes the text lines some pixels down.

**To Reproduce**
1. Go to a post/page.
2. Add a List block.
3. Add text with at least one emoji character.

**Expected behavior**
Text lines should be  aligned with the bullet point.

**Screenshots**
<video src=https://user-images.githubusercontent.com/14905380/103205772-a27c2180-48fa-11eb-934c-59763d6

[2020-12-28 10:04] fluiddot commented on #2935
This issue can be reproduced in the Paragraph block too so most likely is related to how emojis are rendered.

[2020-12-28 12:14] geriux opened #2936 "Remove old Page Layout Picker"
After the release of the new native page layout picker that's built-in in the WordPress apps, the previous picker in Gutenberg is no longer used and should be removed.

Old picker | New picker
-|-
<kbd><img src="https://user-images.githubusercontent.com/4885740/103213606-7d91a980-490e-11eb-8d34-c2650681cef2.PNG" width="250" /></kbd> | <kbd><img src="https://user-images.githubusercontent.com/488574

[2020-12-28 12:53] fluiddot commented on #2935
As far as I investigated the issue looks like it's coming from Aztec, actually I managed to reproduce it when switching to classic editor.

<img src=https://user-images.githubusercontent.com/14905380/103215578-0c54f500-4914-11eb-9cde-92d3563e99b9.jpeg width=300>

[2020-12-28 14:00] antonis opened #2937 "[Layout Switching] Tweaks to pages list"
## Description
The pages list is enhanced to:
* List the Homepage first
* Show icons for homepage and posts page

![Pages - Option 1](https://user-images.githubusercontent.com/304044/103219080-6b6f3580-4925-11eb-8f7c-54bb2064acd9.png)

## Goals
* The list of pages always starts with the Home page whenever the site has a homepage and the homepage is part of that list.
* When no homepage is selected

[2020-12-28 14:23] antonis opened #2938 "[Layout Switching] Activate Theme Modal Layout Chooser"
## Description
The Activate theme action should show a new bottom sheet modal layout. This screen adds the ability to keep the current homepage layout by offering the user two options:
* Use the new theme’s homepage layout
* Keep current homepage layout (default - initially selected)
* The selected option is manifested by a checkmark next to the textual option.
The button actions will be implement

[2020-12-28 14:57] antonis opened #2939 "[Layout Switching] Activate Theme Preview Button functionality"
## Description
A preview button shows a preview of the page layout reusing the existing page preview screen.

**This will reuse the HPP preview implementation.**

## Goals
* Pressing on the preview button shows the preview screen
* Keep current homepage layout selected and user taps on Preview => show a preview of the current homepage.
* Use <New Theme>'s homepage layout selected and user taps on

[2020-12-28 15:01] antonis opened #2940 "[Layout Switching] Activate Theme: Activate Button functionality"
## Description
An activate button applies the user selection.
* Use the new theme’s homepage layout
* Keep current homepage layout (default - initially selected)

**An enhancement in the theme activation api call to offer the ability to keep the current homepage layout is needed**

## Goals
* Pressing the Activate button from the modal should:
  * Keep current homepage layout selected and user tap

[2020-12-29 00:46] guarani commented on #2935
I can reproduce this on WPiOS all the way back to 15.8. It could be present in earlier versions but that's the oldest version I could find on TestFlight. I checked WPAndroid and issue is not there.

I tested the [example app](https://github.com/wordpress-mobile/AztecEditor-iOS#running-the-example-app) that comes with Aztec and **couldn't reproduce the issue** (there's a Carthage issue that breaks

[2020-12-29 10:58] fluiddot commented on #2935
Thanks @guarani for checking it 👍 !

I'm going to check it too in the example app and investigate further, by the way after testing it in the WordPress app I managed to produce a fix, you can check the [PR](https://github.com/wordpress-mobile/AztecEditor-iOS/pull/1315) 😃 .

[2020-12-29 11:16] fluiddot commented on #2935
I spotted that the font family is different in the example, maybe that's why the issue can't be reproduced there.

Besides the height of the text looks different in each case:
**WordPress app:**
<img width="121" alt="Screenshot 2020-12-29 at 12 14 09" src="https://user-images.githubusercontent.com/14905380/103280006-91511480-49cf-11eb-9172-94af4c463170.png">

**Aztec example:**
<img width="101" al

[2020-12-29 11:38] fluiddot commented on #2935
I tried to change the font family of the example and it confirm that the issue can be reproduced.

<img width="217" alt="Screenshot 2020-12-29 at 12 39 48" src="https://user-images.githubusercontent.com/14905380/103281391-f6f2d000-49d2-11eb-9e49-5ae9b76267e2.png">

You can try it by changing line the default content font in:
https://github.com/wordpress-mobile/AztecEditor-iOS/blob/develop/Example/

[2020-12-29 13:32] rezzap commented on #1212
4 star app review (internal link: https://play.google.com/console/u/0/developer/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOHLoTPa_66lZBHW7EvAx8bspkXvfPEH066IKzsZQVJrGmh_eaj1rggQGIgcrWDjzgohpD4OcdeMgb0G2g&corpus=PUBLIC_REVIEWS)

[2020-12-29 14:07] rezzap commented on #1212
3 star beta tester feedback (internal link: https://play.google.com/console/u/0/developer/7957760354032996428/app/4973361825681449040/user-feedback/beta-feedback-details?reviewId=gp%3AAOqpTOGsfO5xpQxwErWB4BOj7gcQhc_DSaqfWjQQ0AAVOLM2XhvF4Yom8ehkNawvxYLD5OAB5NT6v0NzXeyeNODM&corpus=BETA_FEEDBACK)

[2020-12-29 14:08] rezzap commented on #2537
3 star beta tester app review (internal link: https://play.google.com/console/u/0/developer/7957760354032996428/app/4973361825681449040/user-feedback/beta-feedback-details?reviewId=gp%3AAOqpTOGsfO5xpQxwErWB4BOj7gcQhc_DSaqfWjQQ0AAVOLM2XhvF4Yom8ehkNawvxYLD5OAB5NT6v0NzXeyeNODM&corpus=BETA_FEEDBACK)

[2020-12-29 16:09] guarani opened #2942 "Xposts UI shown momentarily on sites that don't support Xpost suggestions"
**Describe the bug**
There are a number of scenarios where Xpost suggestion UI is shown on sites that don't support Xposts (e.g. non-P2 sites):
- After typing `+`, the suggestion UI flashes for a moment while the network request loads (first reported in https://github.com/wordpress-mobile/WordPress-iOS/pull/15139#discussion_r548485770)
- The editor `@` toolbar button incorrectly allows the long-pr

[2020-12-29 18:08] guarani opened #2943 "Deleting suggestion trigger character doesn't remove character from post"
**Describe the bug**
After typing `+` or `@` in Gutenberg to trigger the suggestions UI, backspacing only deletes the symbol from the suggestions input field, and fails to delete the character from the post content itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a post in WPiOS or WPAndroid
2. Type `+` or `@` in a Paragraph block to trigger the suggestions UI
3. Hit backspace on

[2020-12-29 21:08] guarani opened #2944 "In development, WPiOS freezes for up to one minute when trying to open the block editor"
**Describe the bug**

This is a non-user facing bug that only affects the developer workflow on physical devices.

When opening the block editor from within WPiOS, it often happens that the editor freezes for one minute before loading. I think this issue has been around for over a year and has something to do with React Native waiting to find a running packager. In this scenario, there is no runni

[2020-12-29 22:08] dcalhoun commented on #1816
@iamthomasbishop I am beginning work on this issue. I had a few questions that I'd like your input on please. I plan to move forward with the presumptions I outline, but please let me know if I am mistaken. Thanks!

## Accessing Heading Anchor Controls

Do we envision accessing the controls to set the heading anchor within the toolbar atop the keyboard (i.e. matching heading level button) or a but

[2020-12-29 23:36] guarani commented on #2577
Closed by https://github.com/wordpress-mobile/WordPress-iOS/pull/14743.

[2020-12-29 23:38] guarani commented on #2577
Closed by https://github.com/wordpress-mobile/WordPress-iOS/pull/14743.

[2020-12-29 23:38] #2577 closed, assigned to nobody

[2020-12-29 23:43] guarani commented on #2602
Closed by https://github.com/wordpress-mobile/WordPress-iOS/pull/15139 (iOS) and https://github.com/wordpress-mobile/WordPress-Android/pull/13184 (Android).

[2020-12-29 23:43] #2602 closed, assigned to nobody

[2020-12-29 23:48] guarani commented on #2612
This was done in https://github.com/WordPress/gutenberg/pull/26211 (or to be more specific, commit https://github.com/WordPress/gutenberg/pull/26211/commits/e730f2e6c45ce8ddb33ffae10babefd5c16cb530 and https://github.com/WordPress/gutenberg/pull/26211/commits/7e3662a3ec8e50e7f3eb05775e09ff3747ef5067).

These changes were then brought into the WordPress apps via https://github.com/wordpress-mobile/

[2020-12-29 23:48] #2612 closed, assigned to nobody

[2020-12-30 00:31] guarani commented on #2609
I tested the latest version of WPiOS, 16.3, and this issue is no longer present so closing this issue.
We can track the need to improve the messaging around the suggestions UI on WPiOS app in https://github.com/wordpress-mobile/WordPress-iOS/issues/15148.

[2020-12-30 00:31] #2609 closed, assigned to nobody

[2020-12-30 00:45] guarani commented on #2601
Closing this with an short summary of where things stand with regard to which types of sites are supported by @-mentions and Xposts.

#### WP.com sites

This was indeed a bug and was fixed in https://github.com/wordpress-mobile/WordPress-iOS/pull/15317.

#### Jetpack connected self-hosted sites

Yes, we do now support Mentions and Xposts on Jetpack-connected self-hosted sites on both platforms.

#

[2020-12-30 00:45] #2601 closed, assigned to nobody

[2020-12-30 18:22] #2767 closed, assigned to dratwas

[2020-12-31 19:40] guarani opened #2950 "Image size and rounding options missing on images in starter page templates"
**Describe the bug**

Image block is missing Size and Default/Rounded options on images found in Starter Page Templates.

**To Reproduce**
1. Open the WPiOS or WPAndroid apps
2. Go to My Site → create a new Page → Choose a template with images (e.g. the Jeffrey Klein template under "Home pages")
3. Tap Create Page
4. Scroll down to the first image
5. Tap the image until the Gear icon appears
6. Ta

[2020-12-31 20:11] guarani commented on #2950
Pinging you here @chipsnyder for your insights.

[2021-01-03 23:31] mchowning commented on #2943
This might be desirable behavior. If we removed the character when you backed out of the suggestions UI, I'm not sure there would be a good way to just add the @ character if that was what you wanted (i.e., because every time you tried to enter the character you would get the suggestions UI, and backing out of the suggestions UI would remove the character you just tried to enter).

cc:  @iamthomas

[2021-01-04 07:20] hypest commented on #2950
FWIW, here's what I noticed from my testing:
1. No issue when starting a page with the "blank page" option and adding an image block.
2. When using the "" starter page template, the images in the "Qatar" and "Greece" parts don't have the size option, but the one in the "Thailand" part **has it**.

Tested on:
* iPhone 6s
* iOS v13.5.1
* WPiOS v16.3

[2021-01-04 10:04] hypest commented on #2944
👋 Paul, not sure, which build would that be though? I understand is off the `develop` branch but it's not clear if that's a release build or a debug build.

Debug builds should prioritize using the packager since that's the expected developer flow. Perhaps what we can explore is to reduce the timeout so the app looks for the embedded bundle sooner?

[2021-01-04 10:10] hypest commented on #2922
Added it to the Gutenpages project board since most of the people working on this are in Manakin anyway.

[2021-01-04 10:37] hypest commented on #2140
Does that mean we can close this ticket @lukewalczak?

[2021-01-04 14:05] chipsnyder commented on #2950
Thanks @guarani and @hypest for the research here.

It seems to me we should approach this from two sides.

1. To get a more immediate fix we can update the layout on the backend. This will prevent any new issues from popping up.
2. We probably want to set a default value for when these values aren't set.

@enejb I'm sure how much you have on your plate right now, but can you take a look at this?

[2021-01-04 14:19] guarani commented on #2943
That's true, I'd missed that fact while writing this issue, thanks for noticing!

One thing I want to keep in mind here now that we're on the topic is whether we should use space – instead of backspace – to cancel the suggestions UI.
While our setup is a bit different to others (we have a separate input for filtering suggestions, unlike Google Docs or Instagram) I like the way it's done in Google

[2021-01-04 14:32] dratwas opened #2954 "[Performance] - Check all blocks toolbar and settings"
Sometimes we render the `Toolbar` or block settings even if they are not selected. I.e in the button block we have color and link settings that should be rendered only if the button block is selected.

https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/button/edit.native.js#L400-L414

We should add the check `isSelected`.

I recommend going through each block and add che

[2021-01-04 15:13] dratwas opened #2955 "[Performance] Revisit contexts"
Sometimes is really easy to force unnecessary renders when using context. Each component that uses context will be re-rendered when the value is a new reference. I believe it is worth to check if we do not create a new reference in each render as we do in the case of https://github.com/WordPress/gutenberg/blob/master/packages/block-editor/src/components/block-list/block.native.js#L55-L60

I believ

[2021-01-04 16:57] guarani commented on #2944
It's on the Debug build (I edited the issue above to specify this now).

Yeah, I think so too. There's some [suggestion of just using a release build](https://stackoverflow.com/a/44835285/1305067), but I don't think that's the solution.

IIRC, the app hangs until this network request that checks for a running packager times out (taken from `Pods/React-Core/Default/RCTBundleURLProvider.m`:
[code]

[2021-01-04 17:01] enejb commented on #2950
Looking into this now.

[2021-01-04 17:18] guarani commented on #2950
Just that to get this into the 16.5 apps release, the fix for this will be merged in after the 1.44.0 release is cut today which is fine (preferably early in the week). However, if this was high priority and needed to make it to the 16.4 apps release, that would require a editor betafix.

Could you share @chipsnyder in which release you think this will need to land in?

[2021-01-04 18:07] enejb commented on #2950
I think I understand the issue better now. The only difference between the image that comes with the template and the once that gets instead is that the one in with the template doesn't live with in the media library.

The html stucture is the same
[code]

The reason why the images are not displaying the rounded and the size attributes is because the images don't currently live on the main site bu

[2021-01-04 18:34] chipsnyder commented on #2950
Thanks @enejb, for sharing your findings. It sounds like the defaults are already there then and the path forward is that backend fix you mentioned @enejb.

@guarani I think we can move forward with the editor release and we'll explore the backend fix.

[2021-01-04 19:26] guarani commented on #2910
Just removing the milestone because we normally only add them to PRs, not issues. Let me know if that's incorrect and we can revert.

[2021-01-04 20:49] chipsnyder opened #2956 "Gallery Block failing to upload images"
**Describe the bug**
Images are failing to upload sometimes when uploading the image and closing the editor.

**To Reproduce**
- Gallery block - Close/Re-open post with an ongoing image upload - [steps](https://github.com/wordpress-mobile/test-cases/blob/master/test-cases/gutenberg/gallery.md#tc001)
- Gallery block - Try adding same images from WP Media library and moving the images around - [step

[2021-01-04 22:39] designsimply commented on #1888
In 3608700-zen a user reported:

* Reported on December 29, 2020 18:47
* WordPress - 16.3 - Version code: 968
* Android device name: Samsung SM-G960F
* The attached image they refer to shows an ANR (application not responding) error.

The app logs show something similar to what Rachel mentioned in https://github.com/wordpress-mobile/gutenberg-mobile/issues/1888#issuecomment-585722367 starting with

[2021-01-04 23:14] iamthomasbishop commented on #2726
@kyleaparker I think that'd work great!

[2021-01-05 09:52] mkevins commented on #2956
I've begun looking into this, and managed to reproduce it. At first I was unable to reproduce it, since it seems that the upload completion was handled correctly if the editor was opened prior to the upload completing. I reproduced it reliably by leaving the editor closed when the upload completed. I also noticed that there was an error message associated with the failed media upon opening the edi

[2021-01-05 10:26] dratwas opened #2961 "[Performance] Investigate the VirtualizedList implementation (keyboard open/hide)"
I found that blocks are unmounted/mounted when the keyboard shows/hides. This happens because of VirtualizedList implementation.

There is the `onLayout` function (in VirtualizedList implementation) that is called when the keyboard is being open and because of that part of blocks is unmounted. When the keyboard is being closed the `onLayout` function is called again and these blocks are mounted. I

[2021-01-05 10:42] dratwas opened #2962 "[Performance] blockWidth in block and block-list-item"
I checked the` blockWidth` that is set in the state of each block and seems like this is the same for most of the blocks. The `blockWidth` is different only for nested blocks like Column, Button etc. I’m wondering if we could measure the width at the top and then pass it to the bottom by a prop. Then set the passed value from props as a default value in state and set the width one more time only i

[2021-01-05 13:23] mchowning commented on #2814
Related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2525

[2021-01-05 13:43] guarani commented on #2950
Thanks for checking @enejb and @chipsnyder!

[2021-01-06 04:11] jhnstn opened #2967 "[RNmobile] Multiline Pullquote using break instead of p tag"
**Describe the bug**
On Android only, new lines with out trailing whitespace on Pullquotes use `<br>` to separate the lines when it should use a `<p>` tag

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new Pullquote block
2. Start typing and make sure there are no trailing whitespace characters
3. Press enter to create a new line
4. Add a second line of text
5. Switch to HTML view and

[2021-01-06 09:37] antonis commented on #2937
Hello @kyleaparker, @iamthomasbishop 👋
while implementing the page sorting on [iOS](https://github.com/wordpress-mobile/WordPress-iOS/pull/15575) I realised that I [missed](https://github.com/wordpress-mobile/WordPress-Android/pull/13691) the case where the the **homepage is not at top level**.
<image width="360" src="https://user-images.githubusercontent.com/304044/103751934-b0742580-5011-11eb-98

[2021-01-06 10:02] mkevins commented on #2956
I'm not sure what changed since yesterday, but I haven't been able to reproduce this today. I re-tried everything I had tried yesterday, but every time the image upload completed successfully, and the URL was updated properly. I tried several times with different "timings" of when I re-opened the editor (after upload finished, right before it finished, long before it finished, etc.) and nothing se

[2021-01-06 13:12] guarani commented on #2967
Thanks for filing this @jhnstn. Could this be moved to the Gutenberg repo itself?
The general guideline I'm aware of is to reserve this repo for Jetpack/WP.com specific issues and PRs, and file all other issues in Gutenberg. The "Mobile App Android/iOS" label is used in the Gutenberg repo on both issues and PRs to identify them as related to the React Native project.

[2021-01-06 17:52] jhnstn commented on #2967
Absolutely @guarani , I'll move it over there now. Thanks!

[2021-01-06 17:56] #2967 closed, assigned to nobody

[2021-01-06 18:08] chipsnyder commented on #2956
Hey @mkevins

I was able to repro this still although not reliably.

Here's a video of when I was able to reproduce it. (It took a couple of tries) https://cldup.com/MPtxCuUn1b.mov

In this attempt, I added to a gallery block, closed the editor, opened the editor, closed and opened again. Although the original report was that they were moving images around. I haven't been able to reproduce with th

[2021-01-06 21:28] chipsnyder commented on #2937
That seems really weird that we allow Homepages to be nested but that's probably out of our control to change 😄

I think I would want to avoid this option because I could see the rules becoming confusing depending on where the page is. I just imagine a user setting this up with it being three levels deep with multiple pages at each level. How would we sort it then and would that be clear?

My pref

[2021-01-07 03:17] mokagio opened #2971 "Publish Android react-native-gutenberg-bridge to Bintray only when gutenberg updates"
To get to an earliest testable version quickly, the first attempt of publishing react-native-gutenberg-bridge to Bintray runs on every commit on every PR.

That's obviously wasteful; we should publish a new AAR only when the `gutenberg` code changes.

I don't think CircleCI exposes that sort of information from the GitHub PR, but it should be relatively easy to do a `curl` of the GitHub APIs to fi

[2021-01-07 03:34] mokagio opened #2972 "Android react-native-gutenberg-bridge Bintray upload fails to build due to npx"
As you can see from #2945, when attempting to build the AAR to publish to Bintray, via the `assembleRelease` task, we get a failure due to `npx` failing under the hood.

As far as I can tell, the sub task that's failing is `app:bundleReleaseJsAndAssets`. I've run the build twice. The [first time](https://app.circleci.com/pipelines/github/wordpress-mobile/gutenberg-mobile/9720/workflows/3688f362-78

[2021-01-07 03:35] mokagio commented on #2972
As far as I understand from [this comment in the code](https://github.com/WordPress/gutenberg/blob/62e074b3d6a57e06d017a94c1d38c1cef16b2e93/packages/react-native-editor/android/app/build.gradle#L6-L9), `bundleReleaseJsAndAssets` is something that the React Native build systems adds.

[2021-01-07 05:21] mokagio opened #2973 "Embedded Hermes library is not big enough"
As @mchowning points out, the hermes library embedded in the AAR is only 22 bytes.

If I rename it to be a ZIP and try to uncompress it, macOS tells me the archive is empty.

The hermes AAR should be [in the 4-5 MB size range](https://github.com/wordpress-mobile/WordPress-Android/pull/13642/files#diff-499f624a899cf6b561dd4062c8f8a3faac5fe70edba80426a723894e0c8c5268).

This is not a blocker because

[2021-01-07 05:21] mokagio commented on #2973
cc @oguzkocer

[2021-01-07 05:22] mokagio commented on #2972
cc @oguzkocer

[2021-01-07 05:22] mokagio commented on #2971
cc @oguzkocer

[2021-01-07 11:51] antonis commented on #2937
I agree Chip. This should be more clear for the user and simpler to implement.
I proceeded with this approach since the [already merged Android PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13691) introduced a [bug](https://github.com/wordpress-mobile/WordPress-Android/pull/13720).
If needed I can tweak this further in the next iteration.

[2021-01-07 14:29] fluiddot opened #2976 "Visual glitch when loading multiple paragraph blocks within a Reusable block"
**Describe the bug**
Having multiple paragraph blocks in a Reusable block produces a visual glitch the first time the block is loaded.

**This bug will be introduced when merging the PR: [[RNMobile] Add support Reusable blocks](https://github.com/WordPress/gutenberg/pull/25265) and registering the Reusable block type.**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post in the web

[2021-01-07 15:25] chipsnyder commented on #2950
There does seem to be some larger considerations that need to be tackled regarding the server-side fix. Enej was able to get a client-side fix in place https://github.com/WordPress/gutenberg/pull/28006

@guarani what are your thoughts on including this in the release? (Note this is more a new feature than a regression technically speaking but probably more of a bug from the user's perspective.

[2021-01-07 17:21] antonis opened #2977 "[Layout Switching] Add Tablet and Desktop mode in HPP Preview"
## Description
A desktop icon (the same used in site/page preview) will be added on the top bar (right on Android and left on iOS in order not to affect the rest of the design). This should present a small popup with “Desktop”, “Tablet”, “Phone” options and act the same way with the site/page preview screens.
The preview screen should preserve the setting that's currently set on the [HPP design](h

[2021-01-07 17:24] antonis opened #2978 "[Layout Switching] Add mobile/tablet/desktop thumbnails in HPP design selection screen"
## Description
The HPP design selection screen should be enhanced by adding the ability to select between mobile(default) and desktop thumbnails.
The HPP API call should be enhanced to provide the mobile and tablet thumbnail urls.

<image width="360" src="https://user-images.githubusercontent.com/304044/103789359-96096e80-5048-11eb-84aa-4450a608ed15.png"/>

## Goals
* The HPP design selection scre

[2021-01-07 17:26] antonis opened #2979 "[Layout Switching] Add mobile/tablet/desktop thumbnails in MLP layout selection screen"
## Description
The MLP design selection screen should be enhanced adding the ability to select between mobile(default) and desktop thumbnails. The design might be similar with https://github.com/wordpress-mobile/gutenberg-mobile/issues/2978

The MLP API call should be enhanced to provide the mobile/tablet thumbnail urls.

## Goals
* The MLP design selection screen displays a thumbnail mode icon.
*

[2021-01-07 18:38] iamthomasbishop commented on #1816
@dcalhoun I would say the latter as well — let's add a settings sheet to the Heading block, which (as you mentioned) will means we'll have to add the settings icon to the inline block controls and a bottomSheet that contains the block settings (a text input cell titled "HTML anchor").

<a href="https://user-images.githubusercontent.com/1200432/103590519-ab00c900-4eb3-11eb-920c-fb6d3458d7bf.png"><i

[2021-01-07 19:02] dcalhoun commented on #1816
@iamthomasbishop thanks for the guidance. I'll update the section heading and placeholder value in WordPress/gutenberg#27935, and we should be ready for PR review.

[2021-01-07 19:47] guarani commented on #2950
Just noting we've now included this in https://github.com/wordpress-mobile/gutenberg-mobile/pull/2957 as per our offline discussion.

[2021-01-07 20:37] chipsnyder commented on #2977
Just an idea I had when looking at other pages. This would be awesome if we could preserve the setting that's currently set on the HPP screen and vice-versa.

[2021-01-07 20:41] chipsnyder opened #2980 "Convert Starter Page previews to use the web view implementations from Home Page Picker"
**Is your feature request related to a problem? Please describe.**
When implementing the new [Starter Page Picker](https://github.com/wordpress-mobile/gutenberg-mobile/issues?q=is%3Aissue+is%3Aclosed+%5BModal+Layout+Picker%5D) we decided to replicate the preview functionality that was currently in place in the Gutenberg Editor (ie a read-only view of the editor). During that project, we updated th

[2021-01-07 20:55] chipsnyder commented on #2980
cc @enejb Would you be able to take a look at the backend components of this? (I think you've done research into this already)

[2021-01-07 22:28] #2942 closed, assigned to nobody

[2021-01-08 00:40] #2922 closed, assigned to nobody

[2021-01-08 03:35] guarani opened #2982 "Sites with malformed blavatar URLs break Xposts"
**Describe the bug**
Some sites may have blavatar URLs returned by the xpost endpoint that are malformed, e.g. are wrapped in an `<img>` tag.

**To Reproduce**
1. Find a site that can Xpost to another site that has a blavatar URL that contains an `<img>` tag
2. Notice that Xposts fail to load on those sites

**Expected behavior**
We should handle these situations gracefully and display a placehold

[2021-01-08 03:59] mokagio commented on #2972
I added a `--debug` flag to `./gradlew assembleRelease` and the extra information to points indeed to an out of memory error:

[code]

Full build on CircleCI [here](https://app.circleci.com/pipelines/github/wordpress-mobile/gutenberg-mobile/9814/workflows/bb85c901-a739-4edb-8d5a-b2078cfdb5cc/jobs/51992).

Now... 🤔 Why is it running out of memory? What can I tweak in the setup? Why isn't it happeni

[2021-01-08 04:09] oguzkocer commented on #2972
@mokagio It looks like we don't have a `gradle.properties` file being copied for this task, I assume it was never setup for this repo. This doesn't seem like a typical Gradle memory error but rather one on the React native side, so maybe it's unrelated. However, copying the `gradle.properties` is fairly easy, so I'd give that a try.

For WPAndroid, we do the `gradle.properties` copy [here](https:/

[2021-01-08 06:22] hypest commented on #2956
Only reports so far are on iOS so, adding the [iOS] label.

[2021-01-08 06:45] mkevins commented on #2956
I've found steps to reliably reproduce this on iOS, and those same steps do not exhibit the issue on Android. These steps _do_ exhibit the issue in a prior version of iOS (16.3).

#### Steps

* Add a Gallery block to a post
* Add media from device (a single image is enough)
* While media is uploading, exit the editor (saving / updating post when prompted)
* Observe the upload progress on the post

[2021-01-08 07:44] hypest commented on #1888
Hey @designsimply! The `[TOO BIG formatValueCalls XYZ exceeded limit of 200]` messages seem to be a non-issue by itself, and attributed to excess logging.

This looks like a different kind of performance-impacting issue so, may I suggest putting it in its own ticket? Thanks!

[2021-01-08 11:42] fluiddot commented on #2597
👋 @iamthomasbishop

I'm starting to review the next step for the support of Reusable blocks and I'd like to know if you have any design input regarding the edition of this type of blocks.
Thanks!

[2021-01-08 11:45] mkevins commented on #2956
I spent some more time debugging this, and I've confirmed that the processors are not running after the steps listed above (even after leaving the editor). At first I had a theory that the events are deferred properly (i.e. responsibility for updating the image ids and URLs is "handed off" to the RN editor), but if we close the editor before the queue can be processed, the editor closes without sa

[2021-01-08 11:56] antonis commented on #2977
That's a good idea Chip 👍
I'm adding it to the issue description.

[2021-01-08 12:03] mkevins commented on #2956
#### Some more info on the debugging

I added some logs for the while loop that flushes the event queue, and when I leave the editor, and then reopen it allowing a successful completion, I get the following:

[code]

Note that there is almost no delay between the two deferred events (I think this rules out the possibility that the first event, `updateCapabilities`, was blocking things).

However,

[2021-01-08 12:58] antonis opened #2984 "[Layout Switching] Display “Try another layout” banner"
## Description
A new banner component should appear at the top of the editor screen with the “Try another layout” action. The banner will appear only when the user has not changed the content of the homepage. When you click into a block to edit, the banner will slide up and out of view to indicate that the layout can’t be changed after this point.

When the user clicks on the banner a new layout s

[2021-01-08 13:02] antonis opened #2985 "[Layout Switching] Display “Change layout” screen"
## Description
When the user presses the “Try another layout” action the change layout screen should appear. The design of this screen is the same with the HPP screen and may reuse or customize the same implementation.

Initially the active layout is selected. The active layout is also highlighted with a bottom ribbon as depicted in the screenshots. In that state the (only) bottom action button is

[2021-01-08 13:06] antonis opened #2986 "[Layout Switching] “Change Layout” action implementation"
## Description
When the user presses the “Change Layout” action the layout change is triggered and the editor opens with the new layout. A bottom notification appears informing the user that the “Homepage layout changed” with an “Undo” action. The undo action should trigger a fallback to the previous layout.

Since no user editing has occurred the “Try another layout” banner is available and will

[2021-01-08 13:18] #2936 closed, assigned to geriux

[2021-01-08 16:08] iamthomasbishop commented on #1655
Thanks for the analysis, @mkevins! Glad to see this work will bring consistency (almost) across the board. I think we can improve/iterate on Social Icons at a later time, as that one seems like it could be a bit tricky.

[2021-01-08 16:12] kyleaparker commented on #2937
Agreed with this approach 👍

[2021-01-08 22:05] chipsnyder commented on #2956
Thank you for these updates @snapfractalpop!

I agree, based on the repro steps and these logs; this seems like it's the area we need to investigate.

Dropping this to medium as the steps here seem to need precise timing, although I would like us to keep investigating.

[2021-01-08 22:22] iamthomasbishop commented on #2943
@Guarani Thanks for surfacing this! I think it's great that we allow spaces in the middle of the query, so I'd prefer not to lose that ability, but it might be a good idea (as you mentioned) to hide the UI when a space is typed immediately after the `@` symbol. That'd benefit the user if they are simply trying to type `@` with a space after it (something like "The show is @ 4:30").

In terms of th

[2021-01-11 02:55] reginabally commented on #559
Another request in an app review on Google Play:

[2021-01-11 14:05] hypest opened #2991 "Crash when opening a post with fontSize set to a paragraph"
**Describe the bug**
The editor is crashing when opening a post that has a custom font size set in a paragraph.

**To Reproduce**
Steps to reproduce the behavior:
1. On the web, create a simple post with a single paragraph block and set its "Font Size" in the Typography section (see screenshot)
2. Save the post as draft or publish it
3. Go to the WPAndroid and open the post
4. 💥

**Expected behavi

[2021-01-11 15:55] geriux commented on #2463
Closing since the rest of the blocks have support now, https://github.com/WordPress/gutenberg/pull/25184 and https://github.com/WordPress/gutenberg/pull/25621

[2021-01-11 15:55] #2463 closed

[2021-01-11 23:02] cameronvoell commented on #2991
Looks like the  final error is:
`E unknown:ReactNative: com.facebook.react.bridge.JSApplicationIllegalArgumentException: Error while updating property 'fontSize' in shadow node of type: RCTAztecView`
with Exception:
` E unknown:ViewManager: java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Double`

I believe [this line](https://github.com/WordPress/gutenberg/blob/4dace92fa

[2021-01-12 01:41] cameronvoell commented on #2991
I reproduced this crash on WPiOS by running latest `develop` branch build (commit [83342a51db1f6e4d9610641287d151c9f461e7b2](https://github.com/wordpress-mobile/WordPress-iOS/commit/83342a51db1f6e4d9610641287d151c9f461e7b2))  locally with latest gutenberg-mobile locally (same steps as description).

This is interesting because WPiOS 16.4 from the App Store seems to be working fine for me.

See scr

[2021-01-12 04:01] mokagio opened #2994 "Add assets currently symlinked by WordPress Android to React Native bridge"
See https://github.com/wordpress-mobile/WordPress-Android/issues/13747.

This can be done via https://github.com/mokagio/gutenberg/commit/b33e58925975011c664dddc80b1fc338c9046341 and https://github.com/mokagio/gutenberg/commit/3f6eaaf4fd0c4789fadc724ef68e36a3634b0b78.

[2021-01-12 10:40] mkevins commented on #2956
I spent a small amount of time today doing some further debugging, and discovered two things of interest. One is that it seems the observer [here](https://github.com/wordpress-mobile/WordPress-iOS/blob/03742949c43ea54fa8262270d44d734bb719a78c/WordPress/Classes/Services/PostCoordinator.swift#L156) does not get called for the media upon completion in the failure case.

The second thing I noticed is

[2021-01-12 12:16] dratwas opened #2997 "[Performance] Check settings toolbars for blocks"
Sometimes toolbars are rendered even if it is not needed. I started playing with the border-radius of the Button block and observed that each time I change the radius, the ColorEdit, LinkSettings, etc are rendered.

I played a bit with the button and there are results

Before | After
--- | ---
![image](https://user-images.githubusercontent.com/16336501/103545549-02963900-4ea2-11eb-8601-7b7e94498d4

[2021-01-13 17:06] chipsnyder commented on #2956
That seems odd that we aren't calling the observer there. It feels like we test out what happens if we add that completion call back there.

This seems likely and maybe the editor is getting "mixed signals" from the state of different observers.

One thing I find strange is that we lazy load `mediaPickerHelper`and `mediaInserterHelper` but then also set them when we set the Post. I wonder if this

[2021-01-14 06:02] antonis commented on #2937
Fixed with:
* Android: https://github.com/wordpress-mobile/WordPress-Android/pull/13691 and https://github.com/wordpress-mobile/WordPress-Android/pull/13720
* iOS: https://github.com/wordpress-mobile/WordPress-iOS/pull/15575

[2021-01-14 06:02] #2937 closed, assigned to antonis

[2021-01-14 15:33] fluiddot commented on #2597
After doing a spike on adding support for editing Reusable blocks, I found the following topics that should be reviewed.

# Edit flow

## Current flow

The current flow for editing a Reusable block in the web version is:

1. Click on the block
2. Click on Edit button
3. Edit the content and/or the title of the block
4. Click Save button

<details><summary><strong>Web version - Current flow</strong

[2021-01-14 15:56] fluiddot opened #3005 "Project issue: Reusable blocks"
# Description

Epic issue: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2497

[Reusable blocks](https://en.support.wordpress.com/wordpress-editor/blocks/reusable-block/) allow users to quickly re-use blocks, without needing to remember specific formatting or settings. This type of blocks are currently unsupported in the app so it would be nice to add them.

# Testing builds

- iOS:

[2021-01-14 17:25] fluiddot commented on #1609
As far as I checked, it would be enough just by passing the caption value that is already being fetched when selecting the image to Gutenberg.

## Implementation on each platform
### iOS
In this case we could just add the caption field when creating the `MediaInfo` object in [WordPress/Classes/ViewRelated/Gutenberg/Utils/GutenbergStockPhotos.swift](https://github.com/wordpress-mobile/WordPress-iOS

[2021-01-14 18:19] #2991 closed, assigned to cameronvoell

[2021-01-14 23:20] dcalhoun commented on #1816
@iamthomasbishop after [receiving code review](https://github.com/WordPress/gutenberg/pull/27935#issuecomment-759884719), I have come to realize two things:

1. There is opportunity to share more code with the web (which we likely should attempt to do).
2. The architecture of the HTML anchor feature for web is built so that almost any block can have an anchor set, not just headings.

Is the desire

[2021-01-15 09:41] antonis opened #3009 "Enhance post/page and site previews with tablet mode"
## Description
Enhance the post/page and site previews with [tablet mode introduced in HPP](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2977)

|Screenshot from the home page picker preview|
|---|
|<image width="360" src="https://user-images.githubusercontent.com/304044/104584480-586d9c80-566b-11eb-8075-bd82e9dd95ba.png"/>|

[2021-01-15 17:20] dcalhoun commented on #1816
To follow up, after receiving some feedback from Stefanos, I moved forward with enabling setting anchors for _heading blocks only_ to keep momentum for the project. Happy to revisit enabling anchors for all blocks later once we have a decision on what the section heading should be.

[2021-01-16 03:35] reginabally commented on #575
Platform: Google Play Store
Date of review: Jan 15, 2021, 23:29
App version name: 16.4

[2021-01-18 00:04] mkevins commented on #2956
On further investigation, it turns out the steps to reproduce the issue are simpler than I originally thought. The timing does not have to be so precise, so I resumed investigating as a higher priority.

It seems that the underlying cause is that the processors are invoked from the save mechanism when leaving the editor, but not when the user does not save. When the media is added initially, the p

[2021-01-18 21:23] chipsnyder opened #3017 "Add clear button by default to text input controls."
**Is your feature request related to a problem? Please describe.**
As part of a recent empathy challenge, it was pointed out that it would be nice to add a clear button available by default for the focused state on all text input outside of the editor's canvas.

**Describe the solution you'd like**
I think a simple X in the text field or a clear button at the bottom would be nice maybe something s

[2021-01-18 21:45] chipsnyder opened #3018 "Updating a Published Page/Post notifies "Page Published" instead of updated"
**Describe the bug**
Updating a Published Page/Post notifies "Page Published" instead of "Page Updated."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a published Page / Post
2. Make a change
3. Save the change
4. The toast says, “Page Published”; however, “Page Updated” is more accurate to the action taken.

**Expected behavior**
Update the toast to say, “Page Updated.”

**Screensho

[2021-01-18 21:59] chipsnyder opened #3019 "[Home Page Picker] Add a sample URL to the Choose a Domain Screen"
**Is your feature request related to a problem? Please describe.**
As part of our recent site creation empathy challenge @geriux mentioned it would be nice to include a sample URL to our "Choose a Domain" screen. The web has something similar:

<kbd><a href="https://user-images.githubusercontent.com/3384451/104966150-326b3380-59ae-11eb-909b-b862b0569582.png"><img width="500" src="https://user-imag

[2021-01-18 23:19] iamthomasbishop commented on #3019
@chipsnyder I think we do already show the browser frame on the final step of the site creation flow, so perhaps we could add that on the domain selection step. Theoretically, we could position the text input so that it appears "inside" the device frame or bump the browser frame downward a bit below the domain search input (and fade it out or change its form once the search results start coming in

[2021-01-18 23:24] iamthomasbishop commented on #3019
I misread the original proposal @chipsnyder 😆 What you proposed is a bit simpler, and my mind took it to a more dynamic thing where when you type in the input, the placeholder text would become what you typed. What you were asking for would be more straight forward, just the frame of the browser w/ `https://example.com` in it, but regardless what I mentioned about the transition might still be a b

[2021-01-18 23:48] iamthomasbishop commented on #2597
Hey @fluiddot — apologies for the delay. I started to sketch out some ideas for the editing UX for these last week but haven't had a chance to finish. I'll try to answer some of your questions now so I'm not blocking you on all of it 😄.

Thanks for sharing the updated flow, I had missed that! I don't think we'll easily be able to replicate the web's "new" approach (because we don't have the same t

[2021-01-19 10:02] hypest commented on #1816
I updated the ticket description to include the bit about the progress on the heading block but not other blocks yet.

[2021-01-19 10:14] antonis opened #3024 "[iOS] Heading Block: When the alignment actionsheet appears the block scrolls down outside the screen"
**Describe the bug**
When the alignment actionsheet appears on a heading block the block is scrolled outside the screen

**To Reproduce**
Steps to reproduce the behavior:
1. Open a post/page for editing
2. Focus on a heading block that is near the bottom of the screen
3. Notice that the heading block scrolls up to become visible above the keyboard
4. Press the alignement button
5. Notice that the

[2021-01-19 10:45] antonis opened #3025 "Add analytics to track the thumbnail/preview mode (mobile, tablet, desktop) selection"
## Description
Track the[ thumbnails mode](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2978) and the [preview mode](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2977) in the home page design picker

|Thumbnails mode|Preview mode|
|---|---|
|![mobile](https://user-images.githubusercontent.com/304044/104484591-1e03f100-55d2-11eb-9ea2-582a0b2d3cf0.png)|![tablet](https:/

[2021-01-19 15:07] fluiddot commented on #2597
Thanks @iamthomasbishop for your input an answering the questions, I know you're quite busy so I really appreciate your help in this 😊 !

In the mean time, I'll apply some changes following your answers in the prototype version I'm currently working on, let me know if I can help you with anything else.

[2021-01-19 16:25] antonis opened #3026 "Cover Block: Updating a post with a cover block containing a media causes a Problem displaying block"
**Describe the bug**
When a page including a cover block with an image or video is updated a **Problem displaying block** occurs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post
2. Add a cover block
3. Add an image or video
4. Press **Update**
5. Notice the **Problem displaying block** error
6. Close the editor
7. Reopen the page
8. Notice that the block is rendered correctly
9

[2021-01-19 16:50] antonis opened #3027 "Gallery block: Link to Attachment Page is not working for self-hosted site"
**Describe the bug**
Link to Attachment Page is not working for self-hosted site

**To Reproduce**
Steps to reproduce the behavior:
1. Follow [test case](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/gallery.md#tc012)
2. Notice that Link to Attachment Page is not working

**Expected behavior**
The Link to Attachment Page is working

**Smartphone (please complete th

[2021-01-19 23:04] iamthomasbishop commented on #1816
Agreed w/ y'all, only Heading for now. Afaik this is only supported on Heading blocks on the web, and while I think there's a good case in the future to be made for expanding the scope, but let's just roll w/ that for now.

[2021-01-20 01:40] kyleaparker commented on #3019
Do you mean we could change the "Search domains" placeholder text to a sample domain instead? I think that could work 👍

[2021-01-20 19:37] dcalhoun commented on #1816
@iamthomasbishop from my research, the web block editor allows setting anchors on 25 block different block types. I have created WordPress/gutenberg#28363 to allow us to continue the conversation of when/how we might add wider support for anchors on mobile.

Any input you (or others) have on the subject is welcome. Thanks! 😄

[2021-01-20 23:43] chipsnyder commented on #3019
Yeah I think a really quick/simple change would be to change `Search Domains` to `https://example.com` or change the prompt from `This is where people will find you on the internet.` to something like:
`This is where people will find you on the internet. Like https://example.com`

[2021-01-21 01:32] kyleaparker commented on #3019
Do we know people are confused or unsure what to search on this screen?

I think the prompt becomes a bit too long and complicated if try to include it there. My preference would be to change the placeholder but I do like that it includes the action right now telling people what to do.

[2021-01-21 02:15] chipsnyder commented on #3019
The only touch point I have is It was something that came out of the recent site creation empathy challenge. A relative doing the exercise asked "what's a domain?"

[2021-01-21 06:52] antonis commented on #3027
This duplicates https://github.com/WordPress/gutenberg/issues/23576

[2021-01-21 07:07] #3027 closed, assigned to nobody

[2021-01-21 10:53] fluiddot opened #3034 "Pasting a text with text styles applied generates a exception"
**Describe the bug**
Pasting a text with text styles (bold or italic) applied generates a JS exception. However pasting regular text works ok, looks like only happens when the text has any text style.

**~~This breakage is coming in the following Gutenberg version bump:
https://github.com/wordpress-mobile/gutenberg-mobile/pull/3032~~ This breakage is already in `develop` because Gutenberg submodul

[2021-01-21 11:48] fluiddot commented on #3034
The problem is caused by an update done in a recent [PR](https://github.com/WordPress/gutenberg/pull/28371/files#diff-f5b815f5537029d1dd43e9f88d1464e8dc9fa90d59c1d32d3d2f3f079364563cR22) that changed the function to iterate over the HTML nodes in the `htmlToBlocks` function, previously it was using `map` and now `flatMap`.

As far as I checked the function `flatMap` is [not 100% supported](https:/

[2021-01-21 13:07] antonis commented on #3026
Resolved by an API fix (`D55431-code`)

[2021-01-21 13:07] #3026 closed, assigned to nobody

[2021-01-22 07:23] reginabally commented on #559
Requested in 3642791-zen.

Adressing this "feature" before, I was told a workaround by going to HTML-modus and filling in <br> at the wanted position. Which of course is very anoying, doing this lots of times in a posting.

[2021-01-22 10:23] #3034 closed, assigned to fluiddot

[2021-01-22 13:21] kyleaparker commented on #3019
A couple of ideas:

Update the placeholder text so that it's more relatable and prompts people to search:
![Domains 2](https://user-images.githubusercontent.com/712873/105494615-0ccd7b00-5c89-11eb-8b5d-b943edb8a644.png)

Include an illustration in the empty space to help explain the concept of domains:
![Domains 1](https://user-images.githubusercontent.com/712873/105495793-9467b980-5c8a-11eb-9994-

[2021-01-22 18:20] iamthomasbishop commented on #1816
@dcalhoun Ah, I totally missed that! In any case, agreed that we should set aside broader support for next. And when we do that, we can probably align more closely w/ the web by adding an "Advanced" section, where the anchor cell would live across all of those supported blocks' settings sheets.

[2021-01-22 20:16] eduardozulian opened #3047 "Content: "Link To" shows always the same list of posts and pages"
The option to link a text is currently showing the same results over and over when you try to search for a published post or page.

### Expected behavior
To see results related to what I typed.

### Actual behavior
I see always the same posts and pages. In my case, two posts and one page.

It's apparently impossible to search for published posts or pages.

### Steps to reproduce the behavior
1. St

[2021-01-23 00:30] #1156 closed

[2021-01-25 10:00] antonis opened #3045 "Home Page Picker: Bowen design rendering issue"
**Describe the bug**
The **Bowen** design breaks in some viewport sizes (width ~ 750)

**To Reproduce**

## With WPAndroid or WPiOS
1. Start the site creation flow (e.g. Choose site > Add button)
1. Select the Create WordPress.com site option
1. Select the **Bowen** design (check first screenshot)
1. Select preview
1. Rotate the device and scroll in the preview
1. Notice the header rendering issue

[2021-01-25 10:28] antonis commented on #3045
This has already been reported [here](https://github.com/Automattic/themes/issues/1901).
Leaving this open to recheck the preview issue on mobile when a theme fix is ready.

[2021-01-25 14:48] #2962 closed, assigned to lukewalczak

[2021-01-25 16:00] lukewalczak commented on #3024
Should be fixed via: https://github.com/WordPress/gutenberg/pull/28352

[2021-01-25 16:00] #3024 closed, assigned to lukewalczak

[2021-01-25 16:06] lukewalczak commented on #2140
Since [radial gradient](https://github.com/WordPress/gutenberg/pull/22493) is supported in the app we can close that issue

[2021-01-25 16:06] #2140 closed

[2021-01-25 19:02] iamthomasbishop commented on #3017
@chipsnyder Agree that we should probably implement a “clear” button here (probably on the focused state, but I need to look at other examples to see what approach is most common), but also pretty much across the board on the focused states of text inputs (excluding RichText on the editor canvas, obviously). Would it make more sense to attack this on the component-level or only for this case speci

[2021-01-25 19:12] designsimply commented on #3047
Tested and confirmed. It appears that the search option in the link editor is always returning the latest three published posts instead of returning related search results. ([57s](https://user-images.githubusercontent.com/1119271/105753712-5aa2e700-5f06-11eb-9d3b-95ff8c36c48b.mp4))

![incorrect-link-search-results-wpandroid-16 5-rc-3](https://user-images.githubusercontent.com/1119271/105753742-642

[2021-01-25 19:18] iamthomasbishop commented on #3019
@kyleaparker I like aspects of both of your examples. I like the copy in the first example, and prefer the second one visually. On the second, I wonder if we can either re-use the browser frame from the last step of the site creation flow or make the mock browser window taller to make it look more like a phone’s aspect ratio in portrait-mode? (obviously that’d mean it’s partially out-of-viewport b

[2021-01-25 20:34] guarani opened #3048 "Remove the switch to Classic editor from within the Block editor"
https://github.com/wordpress-mobile/gutenberg-mobile/issues/3092 tracks the need to remove the "Use block editor" switch from site settings. This issue addresses the need to remove the "Switch to classic editor" option from the block editor itself as well, for all site types.

**Describe the solution you'd like**

The screenshot below shows the setting which we're considering removing.

<img src="

[2021-01-25 20:39] guarani commented on #1911
This issue will likely no longer be applicable after we eventually remove the "Switch to Classic editor" option, tracked in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3048.

[2021-01-26 11:48] hypest commented on #3047
I understand @mkevins probably has good context in this to have a look so, adding the ticket to the Gutenpages project board.

[2021-01-26 14:19] chipsnyder commented on #3017
Component level sounds better to me! I'll update the ticket to reflect that.

[2021-01-26 15:37] antonis opened #3053 "Align "Your site has been created!" between Android and iOS"
## Description
The final site creation screen differ between iOS and Android in the following:
* iOS has no subtitle
* The button text is different (`OK` vs `Done`)
* The header font is different

## Screenshot

![Screenshot 2021-01-26 at 4 48 56 PM](https://user-images.githubusercontent.com/304044/105866366-94eeb000-5ffc-11eb-80ae-6c782b5c9157.png)

[2021-01-26 15:41] antonis commented on #3053
Hello @kyleaparker, @iamthomasbishop 👋
we noticed the above minor differences between the two platforms and thought would be good to align them.
Those are legacy differences since we haven't tweaked this part in the HPP project.
Do you think we should align and if yes which is the right approach?
cc @chipsnyder

[2021-01-26 16:43] AmandaRiu opened #3055 "Show notice when user taps a disabled block option"
**Describe the solution you'd like**
Add either a Snackbar or Compact notice when the user tries to tap a disabled block option as [requested in this PR](https://github.com/WordPress/gutenberg/pull/28339). This would give the user some feedback as to why this option is disabled. The message could be something along the lines of  "Only one Read More block is allowed on a [post/page]".

[2021-01-26 20:01] iamthomasbishop commented on #3053
Good call, @antonis. My first thought was that a descriptive subtitle (like on Android) is fine, but that specific copy doesn't make as much sense to me now that we have a more visual theme/layout driven process prior to that point. If we can come up something a bit more contextually relevant there — such as a message of encouragement or congrats — I'd apply it across both platforms.

Regarding th

[2021-01-26 22:11] chipsnyder opened #3056 "Autofill URLs aren't updated if a new URL is copied"
**Describe the bug**
Selecting new text does not update the autofill for links

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new post or page
2. Type some text
3. Leave the app to copy a URL
4. Highlight some text and open the link picker.
5. Notice the URL has been auto-populated
6. Leave the app to copy a different URL
7. Highlight some new text and open the link picker.
8. Notic

[2021-01-26 22:21] AmandaRiu commented on #2344
Hey @iamthomasbishop 👋 I'm working on this task item and have found that the current version of the app now includes icons for these options and both the "Add to [beginning|end]" and "Add block [before|after]" options share the same icons:

Beginning / End | Before / After
-- | --
![Screenshot_1611692523](https://user-images.githubusercontent.com/5810477/105913441-d5e5c500-5ffa-11eb-92f9-a53091929

[2021-01-26 22:32] chipsnyder opened #3057 "Adding a link to text is inconsistent with where the cursor moves to at the end."
**Describe the bug**
Depending on how you dismiss the link settings box: you could run into a situation where either the selected text will remain selected, or the cursor will move to the end of the text, which causes a confusing user experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post
2. Add some text to the paragraph block.
3. Go add a URL to your clipboard (if it

[2021-01-26 22:47] chipsnyder opened #3058 "Underline the selected text as soon as a link is added to the "link to" input"
**Describe the solution you'd like**
In text-based input fields where you can apply a link, it would be nice to underline the text as soon as the `Link To` field is populated and the "Remove link" button appears.

With a URL in the clipboard:
1. Select text
2. Open the link picker
3. The link will be auto-populated
4. **Requested Change:** The linked text should be underlined

Without a URL in the

[2021-01-27 03:16] mokagio commented on #2973
https://github.com/WordPress/gutenberg/pull/28502 addresses this.

[2021-01-27 04:37] mkevins commented on #3047
I believe this is caused by this issue: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2922. Good news is that [a fix has been merged](https://github.com/WordPress/gutenberg/pull/27867) and is already in 16.6. Closing for now, but feel free to re-open if you encounter the issue in 16.6.

[2021-01-27 04:37] #3047 closed, assigned to nobody

[2021-01-27 05:40] mokagio commented on #2994
Done via https://github.com/WordPress/gutenberg/pull/28216.

[2021-01-27 05:40] #2994 closed, assigned to mokagio

[2021-01-27 12:33] fluiddot opened #3061 "Reusable blocks can't be edited through UBE"
**Describe the bug**
Due to [recent changes in the editing flow on the web version](https://github.com/WordPress/gutenberg/pull/27887), editing Reusable blocks through UBE is not working.

The main change is that saving the content is now done in the publish process so there's no longer the `Edit/Save` buttons in the block UI to apply the changes as we had previously.

<details><summary><strong>Ne

[2021-01-27 17:39] SiobhyB opened #3062 "Documentation: Note for Android Studio/Xcode Configurations"
Android Studio is listed as a prerequisite in the README.md but there isn't any note about the fact some changes are needed to the default set up in order to get the demo app working correctly with it. I ended up falling down a bit of a rabbit hole with this as I had Android Studio already and had been successfully using it for app development, but couldn't figure out why I couldn't get the demo a

[2021-01-27 18:09] kyleaparker commented on #3019
Here are a couple of options. The browser frame matches the one on the last step of the flow. The third option includes the drop shadow (it's not quite right, I'd need to get the correct values if we want to include this)

<img width="1211" alt="Screen Shot 2021-01-27 at 1 07 37 PM" src="https://user-images.githubusercontent.com/712873/106034333-ca4cd980-60a0-11eb-8a81-cca335fe3c72.png">

I prefer

[2021-01-27 19:33] iamthomasbishop commented on #3019
@kyleaparker Awesome! Very much a personal opinions below, but I prefer the second because of the skeleton UI — nice subtle detail. I don't dislike the third one either, and agree the shadow is a bit strong but I think it could work if we were to reduce the opacity on the shadow to a very low value — just enough that it's visible but not strong.

One other thing, it also be worth rounding the corn

[2021-01-27 19:52] kyleaparker commented on #3053
We are working on adding a browser frame in the empty state of the [choose a domain screen](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3019#issuecomment-768472634). It would be nice if the frame was the same on both of these screens, and we could also update the header to match the other screens during site creation. Here are a couple of examples:

Flat
![Flat](https://user-images

[2021-01-28 00:22] illusaen opened #3064 "Contact Info Block is Missing Inner Blocks"
**Describe the bug**
When inserting a contact info block, inner blocks (address, email, phone, etc) that normally come with it are gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to post, open block inserter.
2. Click on 'Contact Info'
3. See blank block inserted instead of block with address/email/phone inner blocks.

**Expected behavior**
Contact info blocks should come with inner

[2021-01-28 18:35] iamthomasbishop commented on #2344
@AmandaRiu For now, let's use those existing icons (with the lines on top/bottom) for the beginning/end and use the the (+) icon (aka `plusCircle` for both above and below. Example:

![image](https://user-images.githubusercontent.com/1200432/106181962-da79bd00-6163-11eb-80bf-d17871e92a91.jpeg)

As for the long-term, we might want to add custom icons for above/below — something like this, for examp

[2021-01-28 21:06] designsimply commented on #3062
omg thank you!

[2021-01-28 21:50] mkevins commented on #2978
Closing as resolved, since both Android and iOS implementations are merged.

[2021-01-28 21:50] #2978 closed, assigned to antonis

[2021-01-28 21:51] mkevins commented on #2977
Closing as resolved, since both Android and iOS implementations are merged.

[2021-01-28 21:51] #2977 closed, assigned to antonis

[2021-01-29 09:08] hypest commented on #3064
👋 @illusaen , looks like you have a PR on going to fix this, thanks!

Judging from you fix PR, is it fair to say that https://github.com/WordPress/gutenberg/pull/28489 is the change that broke the Contact Info block?

I wonder, can we add a simple test (UI/snapshot or other) to capture the basic rendering of the Contact Info block to avoid this type of basic breakage?

[2021-01-29 10:57] mzorz commented on #3064
👋 Just chiming in to say I can confirm setting the gutenberg hash to https://github.com/WordPress/gutenberg/commit/a596309b088b0de2b36507fc04488b02ca99e698 which is the commit just previous to https://github.com/WordPress/gutenberg/commit/ce37b6bff504198dc263eed7058318e0fb9d6cdb (the merge commit for WordPress/gutenberg#28489), shows the Contact Info block rendering correctly so yes, the changes i

[2021-01-29 11:05] illusaen commented on #3064
@hypest It was actually [commit 1e90244](https://github.com/WordPress/gutenberg/commit/1e90244af08459a56c84c8d083ba159f52ce9039) that broke the inner blocks for Contact Info. Hrmm, I think a UI test would work best as the inner blocks are technically still there; they're just not rendered so I'm not sure a snapshot would capture the issue.

[2021-01-29 11:13] mzorz commented on #3064
Oh wow that commit belongs to a previous PR - I wonder why my tests narrowed it down to https://github.com/WordPress/gutenberg/pull/28489 (in my checks, the commit right before the merge of this later PR shows the Contact Info block rendering correctly).

Nevermind, glad you were able to pinpoint that one and have a fix for it @illusaen ! 😄

[2021-01-29 11:17] illusaen commented on #3064
@mzorz Huh, that is interesting, hehe. I'm not sure; I can see how that would also cause the issue (adding `isRootList` to the if statement) would cause the `blockWidth` to not get set to `layoutWidth`. I wonder if it broke, got fixed, broke again, and now got fixed again haha.

[2021-01-29 11:32] hypest commented on #3064
Fine by me 👍, whichever test type can guard the super basic functionality of rendering the block fully and correctly. Go ahead with either opening a follow up ticket to include such a test, or add a checklist item in this ticket, which ever works better for you. Either way, I feel it makes sense for us to work on it right after the fix PR.

[2021-01-29 11:57] fluiddot commented on #3056
👋 @chipsnyder I see this issue is assigned to `1.46` milestone, since we're cutting the release I'll bump this to `1.47`. Please let me know if you think it needs to be included in this release, thanks!.

[2021-01-29 11:58] fluiddot commented on #3057
👋 @chipsnyder I see this issue is assigned to `1.46` milestone, since we're cutting the release I'll bump this to `1.47`. Please let me know if you think it needs to be included in this release, thanks!.

[2021-01-29 12:09] geriux commented on #3056
Hey @chipsnyder 👋

I'm not sure if I'm following the steps correctly but I'm unable to reproduce this issue, I tried with both iOS and Android versions on production.

https://user-images.githubusercontent.com/4885740/106272866-06fc0a80-6232-11eb-90e3-995f7cc6eb8c.mov

(The video I recorded it using the iOS simulator)

Can you please let me know what am I missing? Thanks!

[2021-01-29 13:06] kyleaparker commented on #3019
I've gone ahead and rounded the corners and added a more subtle shadow to the second option:

<img width="957" alt="Screen Shot 2021-01-29 at 8 03 37 AM" src="https://user-images.githubusercontent.com/712873/106278341-9260a600-6208-11eb-899c-40a028ffb5aa.png">

I proposed some updates to the [site created screen](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3053) which should be con

[2021-01-29 13:23] chipsnyder commented on #3056
Hey @geriux I see the difference I should have called out that these steps need to be done in the same block.

https://user-images.githubusercontent.com/3384451/106279846-16b42880-620b-11eb-8438-6a4467b299db.mov

[2021-01-29 13:27] antonis commented on #3053
Hey @kyleaparker 👋
I like your proposals. I will start working on this along the choose domain screen.

Ok. I'll try the `Start editing` and review this in the PR for possible changes.

[2021-01-29 13:31] geriux commented on #3056
My bad 😅 I'll check it out, thanks!

[2021-01-29 18:00] iamthomasbishop commented on #3019
Sounds good @kyleaparker, let's roll with that! Nice work!

[2021-01-29 19:24] illusaen commented on #3064
@hypest Makes sense haha. Adding UI test to the gutenberg-mobile PR connected to this one.

[2021-01-29 20:06] #2197 closed

[2021-01-29 20:34] chipsnyder commented on #682
@mchowning @hypest Should we move this to the `Mobile Gutenberg` board since I think the embeds project is being taken care of by one of your teams.

[2021-01-29 20:39] chipsnyder commented on #1767
Closing this as we've updated to use a stepper now. So this issue no longer applies

[2021-01-29 20:39] #1767 closed

[2021-01-29 21:03] #1884 closed

[2021-01-29 22:33] AmandaRiu opened #3073 "Add support for Search Block"
## Description
Add support for the search block to the mobile platform. The **Search block** returns results from the titles and the bodies of posts and pages, and from media titles, alt text, file names, and single image captions. It will not return results from widgets, comments, categories, gallery captions or other text, or tags.

Also, note that the search results will display posts with the

[2021-01-29 22:37] AmandaRiu commented on #3073
@iamthomasbishop @kyleaparker  - Any design considerations for this project?

[2021-01-30 20:11] iamthomasbishop commented on #3073
@AmandaRiu We haven't done any design work on the Search block quite yet. It's in our next set of projects, so realistically it'll probably be 2-3 weeks until we can focus any meaningful amount of time on it. However, if it's ready to be worked on on your side, in the meantime we (@kyleaparker or I) can probably do a quick pass at discovery in order to analyze the web flow and make note of any pot

[2021-01-31 17:39] mrfoxtalbot opened #3081 "Pressing enter while writing the post title will add a new line in the title"
Pressing enter while editing the title will add a "line break" inside the title, instead of jumping to the content and adding a new block right under the title.

### Expected behavior
I expected to be able to move from the post/page title to the very first block in the post/page, similarly to the way the editor works in the desktop/browser version.

### Actual behavior
Instead of taking me to the

[2021-02-01 00:58] #2956 closed, assigned to mkevins

[2021-02-01 13:19] #3062 closed, assigned to SiobhyB

[2021-02-01 14:18] dcalhoun commented on #1816
Closing as this was addressed within WordPress/gutenberg#27935.

[2021-02-01 14:18] #1816 closed

[2021-02-01 18:03] #3056 closed, assigned to geriux

[2021-02-01 18:56] designsimply commented on #3081
Thanks for reporting this @mrfoxtalbot!

Appears to be a regression of https://github.com/wordpress-mobile/gutenberg-mobile/pull/1057. @jhnstn would it be possible to fit this one in as part of your maintenance rotation this week?

[2021-02-01 22:09] #3064 closed, assigned to illusaen

[2021-02-02 08:34] reginabally opened #3085 "App review: Unable to focus on a block for editing"
Date of review on App Store Connect: Jan 18, 2021
Reported on the WPiOS app version 16,4

[2021-02-02 09:00] fluiddot opened #3086 "Unsupported block UI test fails after supporting Audio block"
**Describe the bug**
The [unsupported block UI test](https://github.com/WordPress/gutenberg/blob/master/packages/react-native-editor/__device-tests__/helpers/test-data.js#L102-L105) uses the Audio block as an unsupported block, however this block is recently supported so the test fails.

**CircleCI test failures:**
- [Test iOS on Device - Scheduled
](https://app.circleci.com/pipelines/github/wordp

[2021-02-02 09:56] #3086 closed, assigned to nobody

[2021-02-02 16:11] ceyhun opened #3089 "Tapping backspace to merge a paragraph into pullquote block dismisses keyboard"
**Describe the bug**

When merging back an empty paragraph block into pullquote block the keyboard is dismissed instead of cursor moving back to the pullquote block.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a pullquote block
1. Add quote
1. Add citation
1. Tap enter to create a new paragraph block
1. Tap backspace to merge the paragraph into pullquote block
1. Keyboard is dismisse

[2021-02-02 20:09] iamthomasbishop commented on #2976
@fluiddot Do we have the ability to estimate what the final dimensions of the block will be (after load)? If we're unable to fix the "flickering", perhaps we could add some sort of overlay on top of the block while it is loading, with some sort of loader/spinner icon, or alternatively some sort of "skeleton" UI like the UI that shows while the editor itself is loading.

[2021-02-02 21:48] guarani opened #3092 "Remove mobile editor preference on Simple sites"
**Description**

There is a mobile editor preference switch ("Use block editor" toggle switch in My Site → Settings) that allows site administrators to make the classic editor the default for all new content on that site. This issue tracks the need to remove that switch on Simple WP.com sites, and by doing so, make the block editor the default on this type of site.
The exception to this is for the

[2021-02-02 22:52] AmandaRiu commented on #3073
@iamthomasbishop I have started the project so if you or @kyleaparker can do a quick pass that would be great. It's still an onboarding project for me so it's likely to be a while till I need actual designs so don't rush, but it'd be good to have something before I get too deep into the project. Thanks!

[2021-02-03 10:12] fluiddot opened #3096 "Text flickering when removing a line on some multiline blocks"
**Describe the bug**
When a line is deleted in some multiline blocks, specifically the Quote, Preformatted and Verse, the text lines position moves some pixels down for a frame and then goes back to the original position.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a post/page.
2. Add  a Quote block.
3. Write some text and tap the `Enter` button.
4. Tap on `Backspace` button to rem

[2021-02-03 10:26] fluiddot opened #3097 "Colors segmented controls crash when switching quick"
**Describe the bug**
When switching between the gradient and solid colour really quick the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a post/page.
2. Add Buttons block.
3. Tap on the gear button.
4. Tap on `Background Color` options.
5. Switch several times between Solid and Gradient segments.
6. Observe that if the switch is done quickly the app crashes.

**Expected

[2021-02-03 13:05] fluiddot commented on #2976
I'd need to check but when I did the first research I didn't find a way to be notified when the final dimensions are calculated. In fact I think this issue about rendering the blocks with a greater size is related to that part because adding more text lines increases the initial size.

I like the idea of adding a loader/spinner or even a "skeleton", the only problem is that we don't know when the

[2021-02-03 14:47] antonis commented on #3053
As reported in https://github.com/wordpress-mobile/WordPress-Android/issues/13925 we can also enhance this screen to keep the selected preview mode
Internal ref `p5T066-1K5#comment-6952`

[2021-02-03 16:24] hypest commented on #3085
👋 @reginabally , thanks for opening the ticket! I wonder, any info around reproduction steps or what your tests have shown so far if you did any? Thanks!

[2021-02-03 16:25] hypest commented on #3085
In the meantime, can you take a quick look @dcalhoun to see if you perhaps reproduce? Thanks!

[2021-02-03 17:16] #3097 closed, assigned to lukewalczak

[2021-02-03 18:22] SiobhyB commented on #1011
Just making a note of the relevant open issue for the web here: https://github.com/WordPress/gutenberg/issues/13795

@iamthomasbishop, it's mentioned in the comments of that issue that a common error around featured images comes from themes defining specific sizes:

![85016737-5294f480-b138-11ea-85e2-04583dc5795f (1)](https://user-images.githubusercontent.com/2998162/106791157-787df380-664c-11eb-9

[2021-02-03 21:29] dcalhoun commented on #3085
@hypest @reginabally in 16.4, I was able to create a scenario where swapping focus from one block to another would cause the scroll position to be incorrectly set so that the _previously focused block_ would be in view. This resulted in the cursor and any keyboard input to be in the _correct_ block, but it would not be visible as the _incorrect_ block was scrolled into view.

I do not know if this

[2021-02-04 10:21] rezzap opened #3101 "Media Gallery Block on iOS image size affects linked file"
**Describe the bug**

It appears that when creating a gallery block on iOS and selecting an image size then the option to link to Media File, the linked to file is using the selected Image Size option instead of the original file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new post and create a gallery block.
2. Click on add media and select some images to add to the gallery fro

[2021-02-04 10:53] hypest commented on #3085
Thanks for the thoroughness in trying to reproduce the various issues mentioned in the user review!

About the auto-scrolling issue, good news that it's fixed in 16.6. The recommendation there @reginabally would be to inform the user that 16.6 has a fix that may address that part of their report and it's advised to update the app if possible.

The way I read it it sounds like the messed up auto-sc

[2021-02-04 10:59] fluiddot opened #3103 "Update Dark Mode - Test Cases - TC003 screenshot"
## Description
During the [sanity check testing](https://github.com/wordpress-mobile/gutenberg-mobile/pull/3078#issuecomment-772092411) for release `1.46.0` we spotted that one of screenshot of a test case doesn't reflect recent changes.

Specifically [Dark Mode - Test Cases - TC003 - MediaText Block - Check if in DarkMode all components gets proper colors](https://github.com/wordpress-mobile/test

[2021-02-04 11:23] fluiddot opened #3104 "Switching from Solid to Gradient doesn't scroll to end when having customised gradient"
**Describe the bug**
Related to test case: [Color Settings - Test Cases - TC003 - Scroll color palette to the end](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/color-settings.md#scroll-color-palette-to-the-end).

When having a customised gradient, switching from Solid to Gradient doesn't scroll the colors list to the end.

**To Reproduce**
Steps to reproduce the b

[2021-02-04 13:53] guarani opened #3105 "Characters are misplaced when pressing enter within Pullquote or Quote block text"
**Describe the bug**

When you create a Pullquote or Quote and you press enter multiple times in the middle of the block's content it starts moving the cursor a character forward and then it puts that character on a new line.

First reported by @jd-alexander [here](https://github.com/wordpress-mobile/gutenberg-mobile/pull/2874#issuecomment-742236687).

**To Reproduce**
1. Add a Quote block to the

[2021-02-04 14:46] fluiddot commented on #3105
👋 I think this issue might be duplicated because I was checking the [Multiline components - Test Cases](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/writing-flow/multiline-components.md#multiline-components---test-cases) and I spotted that @jd-alexander already created an [issue](https://github.com/WordPress/gutenberg/issues/27690) for this.

[2021-02-04 14:52] fluiddot commented on #3105
I'm not sure if it's related to the device but I can't manage to reproduce it on my device, here is a video capture:

https://user-images.githubusercontent.com/14905380/106909551-b2103680-6700-11eb-9008-d17e36df4d69.mp4

**Smartphone (please complete the following information):**
- Device: Samsung Galaxy S20 FE 5G
- OS: Android 10
- Version: WordPress for Android - Pre alpha - Build 94309

[2021-02-04 15:28] guarani commented on #3105
Silly me, I'd only checked the Gutenberg Mobile repo and not the Gutenberg repo. Thanks for flagging this as a dupe, closing.

[2021-02-04 15:28] #3105 closed, assigned to nobody

[2021-02-04 15:29] guarani commented on #3105
I could reproduce this today on 16.6-rc-2, but maybe you could add that comment to the other issue for better visibility.

[2021-02-04 15:46] fluiddot opened #3106 "Heading block stops being rendered as a header when deleting the first word"
**Describe the bug**
While testing the writing flow, specifically the test case ["Splitting and merging - TC002 - Merge after selection"](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/writing-flow/splitting-merging.md#tc002), I spotted that selecting and deleting the first word, the block stops being rendered as a header, instead it looks like a regular paragraph.

[2021-02-04 16:31] fluiddot opened #3107 "Audio block - Audio files are disabled in Other apps picker if the site is not fully refreshed"
**Describe the bug**
I bumped into this randomly while testing a release, I'm not sure if it's 100% related to not having the site fully refreshed but at least that's what it looks like.

As described in the steps to reproduce it, entering on a site before the sites list has finished refreshing leads to having the audio files disabled when adding an Audio block and try to add files via the `Other

[2021-02-04 17:42] geriux commented on #3057
For the android behavior, I created a [new issue](https://github.com/WordPress/gutenberg/issues/28748) since its not related to the link selection.

[2021-02-04 17:58] guarani commented on #2901
I've updated the issue title and description to include removing all Gutenberg rollout code, since that process is over.

[2021-02-05 03:30] reginabally commented on #3085
Hi @hypest, Sorry I didn't test this out because I was checking the app reviews for the monthly stats post and noticed this one that worth reporting. I've edited the app review response and let the user know this will be fixed in 16.6. I've also encouraged them to reach out to us so we can gather more information for troubleshooting.

And of course, thank you @dcalhoun for the thorough test result

[2021-02-05 06:09] mkevins commented on #3025
We should probably also register the new tracks events, and update the ones where additional properties have been added. I can wrangle that after these new events have propagated from our testing.

[2021-02-05 06:57] #2344 closed

[2021-02-05 20:49] jd-alexander commented on #1011
At @SiobhyB @iamthomasbishop I am looking at the flow here and I have some questions I wanted to ask both of you so I can be on the same page as I will be doing a pair programming session with @SiobhyB to navigate this task. My questions are as follows:

1. Would the "Set as featured image" button would be dynamic? Meaning would it contain the text "Clear featured image" or "Remove featured image"

[2021-02-08 09:07] #2699 closed, assigned to lukewalczak

[2021-02-08 17:43] jhnstn commented on #3081
I've dug into this but haven't been able to pin point the issue (I've run into a local debugging issue). What I found so far is that
[this](https://github.com/WordPress/gutenberg/blob/7532a485b400f86638145b71f94f6f717e5add25/packages/react-native-aztec/android/src/main/java/org/wordpress/mobile/ReactNativeAztec/ReactAztecText.java#L111) `onEnterKey` callback is not fired when the character precedi

[2021-02-09 08:38] #3057 closed, assigned to geriux

[2021-02-09 12:18] dratwas commented on #3106
I think that there is a fix for that:
https://github.com/WordPress/gutenberg/pull/28505

[2021-02-09 20:53] #2166 closed

[2021-02-09 22:04] illusaen opened #3122 "Nested Inner Block with Block Group Results in Unhideable Keyboard"
**Describe the bug**
When adding a block group as a nested inner block, as in Address block in Contact Info block, and then selecting and deselecting the block, the keyboard becomes stuck open.

This seems to only happen once you type something into Address block field, i.e. Street Address; the cursor then gets stuck there even when the focus is removed from the block.

**To Reproduce**
Steps to r

[2021-02-10 08:03] antonis commented on #3018
iOS PR is still open https://github.com/wordpress-mobile/WordPress-iOS/pull/15759

[2021-02-10 16:18] lukewalczak commented on #3106
Hello @fluiddot, after the initial investigation I can say it's related not only with the header but generally with rich text (aztec).

Please notice that first backspace press removes only the selected text style and then second press removes the selected text. The same happens in paragraph when you try to remove first styled word (bold or italic), however it doesn't remove the style layer visual

[2021-02-10 16:36] hypest commented on #3106
Reminds me of Aztec level issues indeed (see [this one ](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1873)and [this one](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2638) for instance) where the issue stems from how Aztec-Android uses Spans to implement the rich-text functionality, deleting markup in the process when hitting backspace(s).

We need to "go back to Azt

[2021-02-10 16:40] chipsnyder commented on #3106
Thanks for that analysis @lukewalczak. There is a lot of history on the heading block and deleting text at the start. I'll add dump of the related issues and PRs

There have been a few issues in this area that might be related to why this one is occurring:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/1663
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/1524
- https:/

[2021-02-10 17:58] chipsnyder commented on #1711
I'm going through and reviewing some of the open issues on our boards to make sure I understand the current state.

@dratwas Now that we've updated to 0.62 what would be the ideal change needed to resolve this task? It seems like it would be to switch something to `blurField` or `focusField` but I'm not sure I understand what or why without digging deeper.

[2021-02-10 17:59] chipsnyder commented on #2129
I'm going through and reviewing some of the open issues on our boards to make sure I understand the current state.

@lukewalczak With the work we've done on Columns since this issue was created, I'm wondering if this is still relevant or can it be safely closed?

[2021-02-10 18:05] chipsnyder commented on #1942
I'm going through and reviewing some of the open issues on our boards to make sure I understand the current state.

@iamthomasbishop Is this still desired (although I assume a lower priority)? If so I can move it to another project or close it if we aren't focused on it anymore.

[2021-02-10 18:49] chipsnyder commented on #2417
@enej would this be to help customize the content of the placeholder content of our page layouts? And would this have any impact on our screenshot mechanisms?

[2021-02-10 18:50] chipsnyder commented on #2416
Closing this as this is now supported in the endpoint

[2021-02-10 18:50] #2416 closed

[2021-02-10 18:57] chipsnyder commented on #2425
Retested this today and it now appears that you can no longer add more than 6 unless you add them through the code editor.

@iamthomasbishop @kyleaparker any objections to limiting the number of columns to 6?

[2021-02-10 19:11] iamthomasbishop commented on #2425
@chipsnyder I wonder if we have any data on this, but I would be _very_ surprised if there are many cases of 6+. In any case, if web is limiting to 6, I feel pretty comfortable doing the same on mobile. 👍

[2021-02-10 19:31] iamthomasbishop commented on #1942
@chipsnyder most definitely, and now(ish) would be a great time because I'd like to use it for block transforms (of which @illusaen is working on a v1). 😄

[2021-02-10 20:02] enejb opened #3125 "Initial design picker screen: add categories"
### Why are we doing this?

We want to make it easier for our users to find the design that they are looking for by presenting them in a categorized list. Since we are planning to add a lot more designs in the future.

### Goals

- Update the current design picker to behave in the same way as the current categorized page picker (Starter Page Template Picker).
- The user should be able to select a

[2021-02-10 20:41] chipsnyder commented on #1942
Awesome, thanks @iamthomasbishop, that sounds good to me.

@illusaen @mchowning Would it make sense to combine this with the block transform project then?

[2021-02-10 21:01] chipsnyder commented on #2430
I would have to agree with this statement. I was also thinking about the use case this would be solving for. By returning to the original state we are assuming that they selected: Replace > A media source (like device) > a piece of media and then decided they wanted to maintain the original.

For me, if they are selecting to cancel at that point, my assumption would be they accidentally tapped the

[2021-02-10 21:09] chipsnyder commented on #2431
@iamthomasbishop @kyleaparker Do either of you have a preference here? I would agree with @pinarol and rely on the undo button but wanted to get other votes before first.

If we do a prompt I think it should apply to all blocks or maybe all blocks that have child blocks.

[2021-02-10 21:14] chipsnyder commented on #2516
@enejb I'm not sure I understand the ask on this issue. Can you elaborate more on what the goal would be here?

[2021-02-10 21:31] chipsnyder commented on #2735
Tested in WP 16.7 this seems to be resolved now

[2021-02-10 21:31] #2735 closed, assigned to nobody

[2021-02-10 21:42] chipsnyder commented on #2737
Hi @NoHopeRadio I pulled up this issue but I think I might be missing a step. When I look at the definition for the [gallery block](https://wordpress.org/support/article/gallery-block/) I don't see a reference to the `animation option from the Gallery Block settings on browser` that you mention. Can you provide some guidance on what animation settings you're using?

[2021-02-10 21:46] chipsnyder commented on #2761
Tested this on WP 16.7 the editor will restrict the input to be 500 px. If you change it in the code editor it will still display but will reset to 500 if you try to edit it visually again.

[2021-02-10 21:46] #2761 closed, assigned to nobody

[2021-02-10 21:49] chipsnyder commented on #2814
@mchowning @illusaen I added this to the Mobile Gutenberg board since @illusaen is working on it. Feel free to move it back to Gutenpages if needed

[2021-02-10 21:57] chipsnyder commented on #2878
To add: here is a video recording of the behavior. Pay close attention to the bottom bar

https://user-images.githubusercontent.com/3384451/107577811-e6806880-6bc0-11eb-8280-ba9575f385a5.mov

[2021-02-10 22:03] chipsnyder commented on #3104
Related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2882

[2021-02-10 22:03] chipsnyder commented on #2882
Related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/3104

[2021-02-10 22:16] illusaen commented on #1942
@chipsnyder Just to confirm, this is to show a non-pressable icon on the quick toolbar that tells users which block is currently selected, right?

[2021-02-10 22:16] illusaen commented on #1942
@iamthomasbishop I gotta admit I'm a little confused on how this is related to transforms :) Should pressing this button bring up the transform menu? In that case, would it be confusing since some blocks wouldn't have transforms?

[2021-02-10 23:37] iamthomasbishop commented on #2431
Based on what I've seen in usability tests, most users are able to find the undo button pretty easily, but as @rachelmcr mentioned that doesn't help when they don't think to look for it. With that said, it is a bit harder to accidentally delete a column because it's a more explicit action (you either have to tap the `•••` menu and tap `Remove block` (very obvious) or tap the `(-)` button in the bl

[2021-02-10 23:53] iamthomasbishop commented on #1942
@illusaen Sorry, I should've been clearer. This would be a toolbar button that when tapped would trigger the transform UI that you're working on — essentially the same thing as the web UI, and it would replace the button in the `•••` menu which I believe is what you currently have. This little thingy:

<a href="https://user-images.githubusercontent.com/1200432/107588175-cbb1f200-6bc8-11eb-8118-409

[2021-02-11 02:27] NoHopeRadio commented on #2737
Looking more closely, I see that the animation feature is an add-on from the CoBlocks plugin built in to Atomic sites, though that plugin also adds photo filters (grayscale, sepia, etc.) which, when applied, do not create this same behavior.

[2021-02-11 05:01] illusaen commented on #1942
@iamthomasbishop I see, that makes sense! So if there were no transforms available for the selected block, would the button still be there but be disabled?

[2021-02-11 09:54] #3018 closed, assigned to antonis

[2021-02-11 10:12] lukewalczak commented on #2129
Hello @chipsnyder, thanks for _kicking back_ that issue. I think it's still worth to investigate it and to introduce the mobile equivalent of `useViewportMatch` [hook](https://github.com/WordPress/gutenberg/blob/master/packages/compose/src/hooks/use-viewport-match/index.js). During the work over full width columns I crafted small utility [function](https://github.com/WordPress/gutenberg/blob/maste

[2021-02-11 12:40] kyleaparker commented on #2431
I'd be in favour of Option 3 here but I think it could be simplified more to say something like:
Remove Column
Removing a column will also remove its contents. Are you sure you want to remove this column?
Cancel | Remove

[2021-02-11 13:15] chipsnyder commented on #2737
Thank you for confirming @NoHopeRadio! I see the option now and was able to recreate it. I'll remove the iOS flag as this seems to be an issue on the ReactNative side.

[2021-02-11 13:18] chipsnyder commented on #1674
As we chip away at these issues it might be worth while to take on https://github.com/wordpress-mobile/gutenberg-mobile/issues/2737 as well

[2021-02-11 13:25] chipsnyder commented on #2950
Image size still has some dependencies with Hot-linked images to where those menu options aren't appearing. However, we are now consistent with the web experience.

[2021-02-11 13:31] chipsnyder commented on #3025
@antonis @mkevins Can this issue be safely closed now?

[2021-02-11 13:44] antonis commented on #3025
Yes. It is now closed by:
- https://github.com/wordpress-mobile/WordPress-Android/pull/13831
- https://github.com/wordpress-mobile/WordPress-iOS/pull/15808
and the registration of the tracks events.

[2021-02-11 13:44] #3025 closed, assigned to antonis

[2021-02-11 13:50] #2410 closed

[2021-02-11 13:54] antonis commented on #3009
Fixed with:
* https://github.com/wordpress-mobile/WordPress-Android/pull/13787
* https://github.com/wordpress-mobile/WordPress-iOS/pull/15688
* https://github.com/wordpress-mobile/WordPress-iOS/pull/15758

[2021-02-11 13:54] #3009 closed, assigned to antonis

[2021-02-11 13:58] iamthomasbishop commented on #2431
@kyleaparker  that copy makes sense to me, definitely clear and more succinct 🙂

[2021-02-11 14:36] chipsnyder commented on #2431
Option 3 sounds good to me 👍 I'll add this to our Maintenance board thank you both

[2021-02-11 14:46] iamthomasbishop commented on #2431
Thanks, @chipsnyder !

[2021-02-11 16:45] dratwas commented on #1711
@chipsnyder

Unfortunately, we are still on 0.61.5 ;( https://github.com/WordPress/gutenberg/blob/master/package.json#L193

I believe that this comment should help :) https://github.com/wordpress-mobile/gutenberg-mobile/pull/1702#issuecomment-567831623
Unfortunately, some of the links are outdated because of the migration to monorepo, however, the main thought remains the same.

[2021-02-11 17:03] chipsnyder commented on #1711
😅 oops I must have gotten confused by looking at the bump to 0.63 work never mind

I actually got a bit lost in that comment's description and what the goal would be once we update to 0.63.

If the desired state is to delete those two lines can we go ahead and do that?
-Or-
If the desired state is to switch to using `blurField` or `focusField`?

[2021-02-11 18:56] dratwas commented on #1711
-Or-
If the desired state is to switch to using blurField or focusField?

The desired state is
AztecView function |0.62 | 0.63
---| --- | ---
[_onFocus](https://github.com/WordPress/gutenberg/blob/master/packages/react-native-aztec/src/AztecView.js#L117) | [focusField(textFieldID: ?number)](https://github.com/facebook/react-native/blob/0.62-stable/Libraries/Components/TextInput/TextInputState.js#L

[2021-02-11 18:59] chipsnyder commented on #1711
I think I understand now. Thank you @dratwas for summarizing it again!

[2021-02-11 20:24] chipsnyder opened #3130 "Add Analytics event to capture when a category filter is selected"
## Description
When selecting a category in the Starter Page Picker, or the Home Page Picker (after https://github.com/wordpress-mobile/gutenberg-mobile/issues/3125) we'd like to fire an analytics event to track the engagement.

## Details

~- Event Name`filter_changed`~
~- Properties~
    ~- `location` = `site_creation` or `page_picker`~
    ~- `filter` = the selected filter(s) comma seperated~

[2021-02-11 20:44] iamthomasbishop commented on #1942
@illusaen I think the general idea was that we should include an affordance like a dropdown arrow/icon that would give a hint of a dropdown menu. Then we could exclude the icon in cases where no transforms are available for a block.

[2021-02-12 09:35] fluiddot opened #3133 "Test plan for 16.7 Beta version of WordPress Android app"
Due to the recent issue regarding the merged [PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13699) into `WordPress-Android` repository, we have to execute a specific test plan to ensure that it didn't break anything.

**This plan will be executed only on Android.**

- [x] [Writing flow tests](https://github.com/wordpress-mobile/test-cases/tree/trunk/test-cases/gutenberg/writing-fl

[2021-02-12 11:20] ceyhun commented on #3133
### Android Sanity Tests 🟡

WPAndroid 16.7-rc1, Huawei P20 Lite, Android 10

Gallery-1

- [x] Gallery block - Close/Re-open post with an ongoing image upload - [steps](https://github.com/wordpress-mobile/test-cases/blob/master/test-cases/gutenberg/gallery.md#tc001)

MediaText-1

- [x] Media Text block - Insert image from device (failing) - [steps](https://github.com/wordpress-mobile/test-cases/blo

[2021-02-12 11:27] fluiddot commented on #3133
### Android: Writing Flow checklist 🟡

**Tested on Samsung Galaxy S20 FE 5G, Android 10 - Version 16.7-rc-1**

#### General
- [x] TC001 - Block insertion flow
- [x] TC001 - Paste formatted text copied from website
- [x] TC001 - Multiline components 🟡
    - **Text flickering when removing a line on some multiline blocks** - #3096
    - **Pullquote Block - Wrong cursor position when merging back** -

[2021-02-12 11:47] fluiddot opened #3134 "Link button - Remove link when the word is selected doesn't remove it"
**Describe the bug**
Link is not removed by tapping on `Remove link` when the word was previously selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a a rich-text based component with content (Paragraph, Heading, Quote, Media Caption, etc...).
2. Write a word and select it.
3. Press the link format button.
4. Fill the options and dismiss to add a link.
5. Select the word.
6. Press

[2021-02-12 12:15] fluiddot opened #3135 "Splitting paragraph block - Deleting the first word after selecting it requires tapping backspace two times"
**Describe the bug**
After splitting a paragraph, selecting the first word (it also happens just selecting the first letter) requires tapping backspace two times to delete it.

I spotted that we have other issues on Android for different blocks that involves deleting the first character. As an example we already have a similar [issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/310

[2021-02-12 12:25] fluiddot opened #3136 "Undo/redo - Apply text format to a link breaks the undo functionality"
**Describe the bug**
After applying any text format (bold, italic or strikethrough) on a previously created link, the undo action stops working.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a a rich-text based component with content (Paragraph, Heading, Quote, Media Caption, etc...).
2. Write a word and select it.
3. Press the link format button.
4. Fill the options and dismiss to add

[2021-02-12 12:37] fluiddot commented on #3133
### Android: Smoke test checklist 🟡

**Tested on Samsung Galaxy S20 FE 5G, Android 10 - Version 16.7-rc-1**

- [x] Entering exiting the editor
- [x] Rotate the device in various cases
    - [x] Rotate with no block selected
    - [x] Rotate with a block selected
    - [x] Rotate with the keyboard opened 🟡
      - **Keyboard window is dismissed on second rotation** - #3137
    - [x] Rotate with the

[2021-02-12 12:38] hypest commented on #3136
👋 Carlos!

Judging from the video, it looks like we can add a No8 step with: "8. Nothing happens"?, right? Kinda a nit but, it's better to have that last step "spelled out" to describe what's the behavior the tester should see when following the reproduction steps, thanks!

[2021-02-12 14:58] chipsnyder commented on #3053
We are currently scoping out a project (ref `pb3aDo-NT#comment-1454`) that might end up replacing this screen. So putting this on hold for now.

[2021-02-12 15:44] chipsnyder commented on #1256
The reason for this change seems to be tied to the HAUL exploration. Since that is no longer on the radar I'm going to close this and we can reopen it later if needed.

[2021-02-12 15:44] #1256 closed

[2021-02-12 16:23] fluiddot opened #3137 "Keyboard window is dismissed on second rotation"
**Describe the bug**
When editing text the device's keyboard is shown, the first rotation keeps the keyboard visible (from portrait to landscape and landscape to portrait). However in the second rotation it gets dismissed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a paragraph block.
2. Tap on the block for adding some text.
3. The device's keyboard is shown.
4. Rotate the device

[2021-02-12 18:01] #3133 closed, assigned to nobody

[2021-02-12 18:35] elibud commented on #3158
@hypest do we have support for sticky posts in Gutenberg? If so please close this issue, if not please open one specific for Gutenberg and close this one too.

[2021-02-12 21:09] guarani opened #3140 "Editor crash on column block with empty width attribute"
**Describe the bug**
Both WordPress for iOS and WordPress for Android crash when opening this post: http://yomi20201224.com/consultation/

**To Reproduce**
1. Open the above post in the block editor
2. App crashes

**Expected behavior**
The app shouldn't crash.

**Screenshots**
https://d.pr/free/i/JaXJN6

**Smartphone (please complete the following information):**
 - Device: iPhone 11 or Samsung S

[2021-02-15 04:01] erricgunawan commented on #562
Just got feedback from 3736130-zen:

I couldn't find where else to report this for now (or if it's still needed to be reported).

Happy to be redirected to the more appropriate place.

[2021-02-15 11:22] hypest commented on #3137
Looks like a definite annoyance. Mitigation is to tap in the block again so, I'll assign a lower priority on this and put it in the backlog.

[2021-02-15 11:29] hypest commented on #3136
Added the "[Prio] High" label since this breaks a core flow (undo/redo). @fluiddot please plan to have a deeper look into this, thanks!

[2021-02-15 11:31] hypest commented on #3135
Annoying to have to backspace twice, but since it works eventually I'll add the "[Pio] Medium" label.

[2021-02-15 11:39] hypest commented on #3134
Seems to  happen when the end of the selection is after the last character, working in the other cases. I'll add the "[Prio] Medium" label to it.

[2021-02-15 15:24] fluiddot commented on #3056
👋 I'm moving this to `1.46.1` milestone because it's going to be included in the beta fix.

Long story short, a PR was merged into the WordPress Android app after the `1.46.0` release was cut and due to the `gutenberg-mobile` submodule update these changes were included too.

Let me know if there's any concern about including in the beta fix, thanks!

[2021-02-15 15:30] antonis opened #3146 "Tapping the empty space below the blocks inserts a paragraph block at the begging"
**Describe the bug**
When tapping on the empty space below the blocks a new paragraph block is inserted at the begging

**To Reproduce**
Steps to reproduce the behavior:
1. Create a paragraph with some content
2. Tap on empty space below the paragraph
3. Notice that a new paragraph block is inserted at the begging

**Expected behavior**
When tapping on the empty space below the blocks a new paragr

[2021-02-15 17:51] fluiddot opened #3148 "Test plan for Beta fix 1.46.1 (iOS only)"
This plan describes the steps to be executed to ensure that the beta fix `1.46.1` is safe to be released in WordPress version `16.7`.

**This plan will be executed only on iOS because Android was already tested in a beta version that included the same changes, the results can be checked in the [issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3133).**

- [x] [Writing flow tests](

[2021-02-15 18:17] #1741 closed

[2021-02-15 18:51] ceyhun commented on #3148
### Writing Flow checklist 🟢

#### General
- [x] TC001 - Paste formatted text copied from website
- [x] TC001 - Multiline components
#### Rich Text Format
  - [x] TC001 - Bold, Italic, strikethrough buttons
  - [x] TC002 - Alignment buttons
  - [x] TC003 - Alignment Split
  - [x] TC004 - Link button works without selection
  - [x] TC005 - Link button works with a selected word
  - [x] TC006 - Addi

[2021-02-15 19:09] antonis opened #3149 "Inserting Gallery, Media-Text or Audio block crashes the app"
**Describe the bug**
Inserting Gallery, Media-Text or Audio block crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. Open the editor
2. Add a Gallery, Media-Text or Audio block
3. Notice that the app crashes

**Expected behavior**
Inserting Gallery, Media-Text or Audio block does not crash the app

**Screenshots**

<img width="360" src="https://user-images.githubusercontent.com/

[2021-02-15 22:41] guarani commented on #3140
The minimum reproducible example that crashes the editor is this (note the `{"width":""}`):
[code]

The crash is:
[code]

And the exception happens when `getValueAndUnit` returns `undefined`:

<img width="677" alt="Screen Shot 2021-02-15 at 18 58 29" src="https://user-images.githubusercontent.com/1898325/107999334-ed92e680-6fc5-11eb-9c39-45df578ff54a.png">

It looks like the app isn't handling the

[2021-02-16 01:00] guarani commented on #3140
Closing in favor of https://github.com/WordPress/gutenberg/issues/29017 since this ended up not being an issue related to Jetpack blocks.

[2021-02-16 01:00] #3140 closed, assigned to guarani

[2021-02-16 01:40] reginabally opened #3152 "Feature Request: Show full list of content in "Link To""
**Is your feature request related to a problem? Please describe.**

It was requested in 37075490-zen to bring back the feature to show the full list of content on the site for the "Link To" option.

Please add an option to use a list (as previously available) versus search-only to the requested features list, due to these limitations.

**Describe the solution you'd like**

The user would like to b

[2021-02-16 08:53] fluiddot commented on #3148
### Sanity Tests 🟡

WPiOS 16.7 - build 42258, iPhone 11 - iOS 14.2

Gallery-1

- [x] Gallery block - Close/Re-open post with an ongoing image upload - [steps](https://github.com/wordpress-mobile/test-cases/blob/master/test-cases/gutenberg/gallery.md#tc001)

MediaText-1

- [x] Media Text block - Insert image from device (failing) - [steps](https://github.com/wordpress-mobile/test-cases/blob/master/

[2021-02-16 09:09] #3149 closed, assigned to nobody

[2021-02-16 10:54] #3146 closed, assigned to antonis

[2021-02-16 16:22] fluiddot commented on #3148
### iOS: Smoke test checklist 🟡

**WPiOS 16.7 - build 42258, iPhone 11 - iOS 14.2**

- [x] Entering exiting the editor
- [x] Rotate the device in various cases
    - [x] Rotate with no block selected
    - [x] Rotate with a block selected
    - [x] Rotate with the keyboard opened 🟡
      - **On landscape, tapping on a paragraph with text doesn't position the view properly**
    - [x] Rotate with t

[2021-02-16 16:31] fluiddot commented on #3148
I've tried to reproduce the spotted issues so far on the current version of the AppStore (version `16.6.1`) and I managed to reproduce all of them so they're not new regressions.

[2021-02-16 17:14] antonis opened #3157 "Selecting a Gradient style crashes the App"
**Describe the bug**
When the user selects a gradient style (e.g. for the background of a button or cover block) the app crashes

**To Reproduce**

## Button block
1. Add a button block
2. Open the block settings
3. Select background color
4. Choose gradient from the segmented control
5. Tap on any gradient style
6. Notice that the app crashes

## Cover block
1. Add a cover block
2. Tap on any col

[2021-02-16 17:19] hypest commented on #3158
No sticky post support on the block editor currently so, will move the post to gutenberg-mobile, re-title it and pull the design proposal up into the ticket description.

[2021-02-16 18:24] guarani commented on #2910
Just checked with @jd-alexander and this issue is Android-specific, so added the android label above.

[2021-02-16 18:56] startuptester opened #3160 "Audio Block: can’t play the files by pressing “Open” while in the editor"
**Describe the bug**
Reported by @thehenrybyrd
From within Gutenberg, I can’t play the files by pressing “Open”. The files were an .mp3, .m4a, .wav, and an .ogg. This is in contrast with the Video Block, where I can press play and the file opens and plays.

**To Reproduce**
Steps to reproduce the behavior:
1. While in the editor, open an audio block
2. Add an Audio file to the block
3. Tap "open"

[2021-02-16 18:59] jd-alexander commented on #3160
Thanks for reporting and triaging @startuptester @thehenrybyrd . We will check this out.

[2021-02-17 08:30] #3148 closed, assigned to ceyhun, fluiddot

[2021-02-17 08:42] geriux opened #3163 "[Global Styles] Implement Global Styles endpoint"
## Description

Once the new Global styles API endpoint (https://github.com/WordPress/gutenberg/issues/29063) is added in Gutenberg, it needs to be implemented in the main WordPress iOS and Android apps.

As a reference, this work is very similar to the one done before about [theme colors](https://github.com/wordpress-mobile/WordPress-iOS/pull/14085). Where the main apps would handle fetching the

[2021-02-17 09:57] hypest commented on #3160
👋 @startuptester ! It's not too clear to me what happens after pressing on the "open" button: the audio won't play at all even after pressing some additional button perhaps? So, there's a deadend and the file is not playable, or does the user need to tap on more things to make it play?

[2021-02-17 10:07] thehenrybyrd opened #3165 "Audio Block: Unable to add .ogg file from WPiOS"
**Describe the bug**
It’s not possible to add a .ogg file to the Audio Block in WPiOS.

**To Reproduce**
First, get a .ogg file and get it onto your iPhone. I found one from WikiMedia and Airdropped it to myself, saving it in iOS Files.
Add this same file to your Media Library as well, from a web browser (this is [not possible from iOS](https://github.com/wordpress-mobile/WordPress-iOS/issues/1590

[2021-02-17 11:33] thehenrybyrd commented on #3160
@hypest to clarify: there is a deadend and the file is not playable.
In each case, the file looks like it's loading (there's a small spinner just above the controls), but it never loads and never plays. Pressing the pause/play button changes nothing on the screen and does not play the file, nor does pressing the +15 seconds button.

[2021-02-17 13:26] hypest commented on #3160
Thanks for confirming @thehenrybyrd ! Another question that came to mind is, using the same file on the same site, does an audio post created on the desktop web play OK in the mobile browser? (One way to try that is to publish a post from the desktop and then find it in the app Reader and view it. Asking since from some convo with @jd-alexander , this could be an issue with the _browser_, not the

[2021-02-17 14:16] #3157 closed, assigned to antonis

[2021-02-17 15:03] thehenrybyrd opened #3167 "Audio Block: Having no audio files results in "You don't have any media" message"
**Describe the bug**
When tapping Add Audio > WordPress Media Library in the Audio Block, if I have no audio files, I get a message stating "You don't have any media".

**To Reproduce**
1. Choose a site where you have not uploaded any audio files, but have other media such as images.
2. Create a post and add the Audio Block.
3. Tap Add Audio > WordPress Media Library

**Expected behavior**
I expec

[2021-02-17 16:17] designsimply commented on #953
👋  I added "flicker" to the title because whenever I go to search for this issue I keep not finding it and forget the phrase "focus loop". Hopefully it will help others find this report more easily if they find additional cases to note.

[2021-02-17 17:43] jd-alexander opened #3169 "Add help behavior to the SwitchCell component"
## Description

The `help` behavior should be added to the `SwitchCell` component. The use case for this at the moment is with the Video & Audio Block that requires the user to be informed about the usability implications that will be experienced by users if the `autoplay` attribute is enabled on the block in question.

## Screenshots

### Web
<img width="289" alt="autoplay" src="https://user-imag

[2021-02-17 20:17] startuptester commented on #3160
@thehenrybyrd I am unable to repro this on iPhone 12 Pro, 14.4 running WPiOS 16.7.0.1

When I am in the Gutenberg editor, either a newly created page//post or editing a published one, pressing open does play the audio for an mp3 and wav

Am I missing a step?

[2021-02-17 20:54] chipsnyder commented on #2905
I reviewed all of the layouts that were tagged `is_mobile` and the change to buttons on each one. Although the list that needed updating didn't really align with the list in their post. @iamthomasbishop When you get some time and confirm if I hit your goal or not.

## Updated:
✅ `hever`
✅ `morden`
✅ `shawburn`
✅ `about-6`
✅ `alves-2`
✅ `leven-2`
✅ `twenty-twenty`

cc @enejb

[2021-02-17 23:41] dcalhoun opened #3171 "Switching sites within block editor on iOS does not update Audio block availability"
**Describe the bug**
When switching sites using the in-editor select menu for iOS, the Audio block availability is not updated.

**To Reproduce**
1. Launch iOS app.
2. Create a new post in a paid/self-hosted site.
3. Verify Audio block is available.
4. Switch to a free site _from within the block editor_ by tapping the site title atop the editor.

**Expected behavior**
The Audio block should not b

[2021-02-18 09:11] rezzap opened #3174 "Adding the option to keep homepage content when switching theme"
**Describe the bug**

When activating a new theme, the content of the Home Page I had been editing is completely re-written and replaced with the themes homepage layout. Your existing page is moved to draft mode, but it's not clear at all to users that this is happening.

When switching themes on Desktop, a pop-up appears to give you the option and a similar thing should also appear in the app.

*

[2021-02-18 13:41] eduardozulian commented on #3174
Related discussion (for Calypso) in https://github.com/Automattic/wp-calypso/issues/36378

[2021-02-18 14:10] dcalhoun commented on #2154
For additional context, here is a video of what I believe to be the same issue.

https://user-images.githubusercontent.com/438664/108368917-9ad14e80-71c0-11eb-8401-1472e28a1fe4.MP4

[2021-02-18 14:39] #2733 closed, assigned to chipsnyder

[2021-02-18 14:40] #3058 closed, assigned to nobody

[2021-02-18 15:13] #2961 closed, assigned to nobody

[2021-02-18 15:38] thehenrybyrd commented on #3160
This is turning out to be tricky to reproduce on my end as well.
The initial post still has the issue and I'm unable to play the files by tapping "open".

However, creating a new post and uploading the mp3, I am able to play it. Creating another new post and uploading the mp3, I'm not able to play it. All on the same site. I haven't experienced this issue on any other sites I've been testing with

[2021-02-18 20:03] chipsnyder commented on #3101
@rezzap Are you able to recreate this in a later build?

Tested on WPiOS 16.7 on an iPhone running iOS 14.4 and I wasn't able to recreate this issue.

[2021-02-18 20:56] cameronvoell opened #3177 "Post updates lost when exiting very long post - WPAndroid"
**Describe the bug**
When editing a very large post, it is possible to edit the post, exit the editor, and have recent edits not be saved to the post as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Load a large post in the editor. Example: https://upm59krakatit.wordpress.com/2021/02/08/long-post/
2. Edit the title
3. Wait 5 seconds
4. Exit editor
5. Notice changes are not shown

[2021-02-18 22:54] mchowning commented on #3177
Thanks for investigating this and figuring out the steps to reproduce @cameronvoell ! 🙇

How consistently does this bug occur?

Based on the gif, it looks like the "fallback save" is being triggered when you exit the editor, but it is not actually saving the latest content for some reason. Is that your understanding?

Does this mean that the bug only occurs if you wait 5 seconds 😱 , or is there a

[2021-02-18 23:34] mchowning commented on #3160
I'll mark this as low priority for now, but let's update that if it turns out this is more common.

[2021-02-18 23:36] mchowning commented on #3169
:wave: @jd-alexander ! I think you're more familiar with this feature request than I am. Would you mind selecting a priority label that you think is appropriate for this?

[2021-02-19 00:04] jd-alexander commented on #3169
Sure @mchowning I will do that. Should I put a priority label on all issues I create?

[2021-02-19 01:02] mchowning commented on #3169
Thanks @jd-alexander ! 🙇

If you have a sense for what the priority should be, that would definitely be helpful since you'll probably have the most context around the issue. If you don't add a priority, then whoever triages new issues will assign a priority.

[2021-02-19 01:18] jd-alexander commented on #3169
Understood. Thanks for clearing that up 🙏🏾

[2021-02-19 09:53] rezzap commented on #3101
@chipsnyder I'm still replicating the issue in 16.7.

On a WordPress.com simple site, I did need to disable the lightbox option though from the media settings on the site to see this. I can send you a link to my site if needed.

Looks like the app maybe adding the size to the image file. See link here: https://personallybreakingkz.files.wordpress.com/2021/02/img_9262.jpg?w=225

[2021-02-19 12:00] rezzap commented on #3158
From a 4 star app review:

[2021-02-19 16:21] ceyhun commented on #3160
For me it works fine on self-hosted sites and a wpcom business plan atomic site, both in editor and the in-app browser.
On a wpcom site with premium plan it doesn't work at first when I add it and try to play inside the editor. But if I try to preview and play inside the in-app browser, it plays fine. Then if I close the preview it starts working in the editor as well. After that, if I close and r

[2021-02-19 17:49] cameronvoell commented on #3177
Based on the gif, it looks like the "fallback save" is being triggered when you exit the editor, but it is not actually saving the latest content for some reason. Is that your understanding?

From my testing so far, it looks like likelihood of save failure is a factor of post length, device performance, and how long you wait after the last edit. I'll add a comment here with some more data points t

[2021-02-19 18:21] chipsnyder commented on #3101
I was able to reproduce this now but there seems to be a deeper issue at play here.

I created the same post one on mobile the other on desktop. I selected the same images for each. When I inspected the results via the HTML editor they were exactly the same except the web had `alt="" ` on the images. Which wouldn't contribute to the issue we're exploring.

I think this will need more digging than

[2021-02-19 19:47] dcalhoun commented on #3085
Leaving a note that WordPress/gutenberg#28004 appears to capture the issue mentioned in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3085#issuecomment-772836828 that results in erroneous scrolling to the _previously focused_ block instead of the _currently focused_ block.

[2021-02-22 13:06] fluiddot opened #3185 "Support for POST requests"
## Motivation
POST requests are not currently supported in the React native Gutenberg bridge and they're required by the Reusable block for updating its content.

## Solution
As we do for GET requests, we could follow a similar approach by having specific logic for managing this type of request.

### Changes in the bridge
For helping understanding the changes that would involve handle POST request

[2021-02-22 14:25] fluiddot commented on #3185
# How to test POST requests
Since the only part that requires this type for requests for now is the Reusable block, I added a basic flow for editing them through an edit/save button embedded in the block.

The changes can be found in a branch in Gutenberg repository named `rnmobile/try/reusable-block-post-requests`.

## How to apply it
The easiest way to apply the changes for testing is by cherry-

[2021-02-23 02:04] iamgabrielma commented on #3174
Another case at 3764582-zen

[2021-02-23 14:11] chipsnyder commented on #3125
@antonis @mkevins

After chatting with Eli she suggested switching this requirement so that iOS gets the new `single-page` layouts and Android has the old. The thinking is by having it on iOS we'll be able to get more internal beta testers. Can we make that happen?

Follow up on that ^
@enejb what will be the behavior if we don't pass a value for `group`? I see I left a question mark in the descri

[2021-02-23 19:26] chipsnyder commented on #3174
This was discussed in `pb3aDo-HW-p2`

[2021-02-23 19:42] enejb commented on #3125
I think we should be more intentional with the groups that we pass in, maybe having groups that describe what
Maybe instead of passing in groups that describe the content. We should pass in something else?

Currently we still have some designs that are there to support versions of the apps that use the "blog, business, portfolio, professional" selections even though we don't use the designs anymor

[2021-02-23 20:08] dcalhoun commented on #953
I am able to recreate a focus loop/flicker in WordPress iOS 16.7 by quickly tapping between two paragraphs. Arrived here from related #3085.

**Device:** iPhone 11 Pro
**App Version:** 16.7
**OS:** iOS 14.4

https://user-images.githubusercontent.com/438664/108901333-5e4a8c00-75e0-11eb-9cf7-f299e0c4ff12.MP4

[2021-02-23 20:08] chipsnyder commented on #3125
I'm thinking of the `group` variable as more of an A/B test scenario for instances where we decide we want to check the effectiveness of a new set of layouts.

So no parameter would be the control, and `A` then with a value would be `B` if we decide that `B` was effective, we would want to roll it out to all users like we would for an A/B test.

This way, we can add new designs without making a co

[2021-02-23 20:26] dcalhoun commented on #3085
Here is a summary of the reported issues. There is still potential that I have misinterpreted the users description, but below is my best mapping of my understanding of the user reports to existing issues from my attempts to reproduce.

| Name | Reproduced | Resolved in 16.7 | Related Issues | User Description |
| ---| --- | --- | --- | --- |
| Incorrect Focus Scrolling | ✅ | ✅ | Possibly duplicat

[2021-02-23 23:28] mchowning commented on #3177
I'll mark this as a high priority now because it involves data loss. It might be enough of an edge case though that it can be treated as a medium. Basically, I don't feel super-strongly.

[2021-02-24 00:09] enejb commented on #3125
There are a couple of problems that I am trying to solve.
1. Make the api return the expected results.
2. Make it easier to make updates in the future.

One issue that I want to avoid is that return designs that might not be compatible with the version of the app but still have things be generic enough that we don't have to manage the designs for each version.

In the future as editor will have mo

[2021-02-24 03:07] reginabally opened #3190 "App Review Feature Request: Add image through URL"
App review date: Feb 23, 2021, 12:00
Device: Device: Google Pixel 4
Android version (SDK): Android 11 (SDK 30)
App version name: 14.6.1
App Review ID on Google Play Store: play-store-previewId=gp%3AAOqpTOEsio6S6I-0X99uo2eI8cDMGsRwGhrMh9w_l7uA1ZMPeZwSzM6NcZmlQ5QBFSYOd9RciXn_9caJOvwHKQ

Calypso and the Image block supports adding an image through the URL but it's not supported in the app yet.

[2021-02-24 03:22] reginabally commented on #1212
1-star app review (https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOGouzo7pwaGh6nciQhMtbGyoGCLPTgi9YmX910QGv0iQskh1c8MPW0sYXPQcNrRJ1UPNRsafr2gVCuUCw&corpus=PUBLIC_REVIEWS)

[2021-02-24 13:10] hypest commented on #3085
Thanks for the summary David, awesome work there!

I don't think it we'll prioritize it more than it currently is.

All in all, What I'd suggest at this stage is to move the last issue into its own ticket to investigate there, and close this one as it's too general to be practical. David, can you create the new ticket, ping folks in that one, and close this one? Thanks!

[2021-02-24 14:39] chipsnyder commented on #3125
Thank you for the explanation @enejb that helps me get into your frame of mind. I agree it sounds like we're approaching the same goals but from different angles.

It sounds like you were thinking of treating `group` as a long-running entity that we'll continue to maintain which will be used to solve the problem of us adding templates in the future that use an unsupported block type. `jetpack/layo

[2021-02-24 16:42] dcalhoun commented on #3085
Closing in favor of newly created WordPress/gutenberg#29304 and pre-existing issues mentioned in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3085#issuecomment-784487428.

[2021-02-24 16:42] #3085 closed, assigned to nobody

[2021-02-24 17:53] #3019 closed, assigned to antonis, chipsnyder

[2021-02-25 02:07] enejb commented on #3125
Thanks for your thoughtful response. I think I understand the `group` as a short-running entry better now.

Just to clarify

**Releasing new layouts**
If we go with the group scenario and we want to increase the number of single-page layouts, some use `jetpack/layout-grid` but not all of the new ones, and we'd like to add them to the starter page (new page) screen as well. Our goal for this new pr

[2021-02-25 08:26] cameronvoell commented on #3177
Noting that the steps in the description seem to reproducible just about 100% of the time on my Samsung Galaxy S10 running Android 11 with this [97k word post](https://gist.github.com/cameronvoell/4d1129e7fa7dfe3f69106e83cb15e160)

If I drop down to a [24k word post](https://gist.github.com/cameronvoell/a53e2b02cbf03451b35b5a392535dbd7), I was able to get it maybe 1/5 times, and never got it in a

[2021-02-25 17:03] chipsnyder commented on #3125
Thank you for the response @enejb

This is the step that I was hoping to avoid by using the supported blocks parameter. Although a code change would be trivial I would like to be able to set up a system in the future that doesn't require developer input to "activate" new layouts.

I agree with this. Taking on the unsupported blocks problem right now is probably added complexity. My main focus was

[2021-02-25 18:19] enejb commented on #3125
I think you are right that the group query parameter is probably not the best way to capture the if a design is supported by the editor or now.

Lets remove the 'original' part for now it for now and return the 'original' group by default.

[2021-02-25 18:22] antonis commented on #3125
Thank you @enejb and @chipsnyder for sorting this out 🙇

Just to make sure that we are all in the same page:
* The iOS app will just pass the `single-page` group
* The Android app will pass no group at all

Correct? cc @mkevins

[2021-02-25 18:38] enejb commented on #3125
Yes that is correct.

Now that the api endpoint returns all the designs when no group is passed. You will also see the single-page designs but once the fix is in place that will not be the case.
Will try to work on the the fix for that soon.

[2021-02-25 18:43] chipsnyder commented on #3125
Awesome thank you @enejb and @antonis and thank you for your time @enejb to hash that out 🙇

One (hopefully) small request from my testing of the iOS build.
@enejb while we're working on the fix would it be possible to group the `single-page` designs at the top of the list when they're included?

[2021-02-25 19:27] enejb commented on #3125
Yes we can definitely make that happen. :)

[2021-02-26 01:30] enejb commented on #3125
After tying to implement the changes and chatting with @mkevins .

I think if we are passing in groups that we should list all the groups out. So instead of just passing in `single-page` we would also pass in the `original`. Which we are planning to rename to `stable` which plays well with the intend of having things be final.

so to clarify again ( sorry )

Android: Will not pass a group at all.

[2021-02-26 14:22] mchowning opened #3199 "Android Analytics for Auto Opt-In To Gutenberg Are Incorrect"
**Describe the bug**
On Android, the analytics showing that users are being automatically opted into Gutenberg appear to be firing _way_ too often. Even though we shouldn't still be auto-opting in very many people, they've stayed relatively steady ever since we started opting people in automatically. iOS's numbers, by contrast declined as expected and are now about 1/200th of the numbers Android i

[2021-02-26 14:22] mchowning commented on #3199
It feels like this is almost certainly an analytics bug, but there is a chance that something could not be working as we expect with the Android rollout code for Gutenberg.

It looks like around 75% of these events are coming from site creation, and 25% are coming on opening a block post.

[2021-02-26 15:44] chipsnyder commented on #3125
This sounds good to me. I think `stable` is a good name as well thankyou @enejb

[2021-02-26 16:12] #2701 closed, assigned to nobody

[2021-02-26 19:38] enejb commented on #3125
Just a quick note that D57724-code has been deployed.

[2021-03-01 06:44] reginabally opened #3201 "Feature Request: Ability to choose the Author"
**Is your feature request related to a problem? Please describe.**

It was requested in 3766580-zen to support choosing the author of a post in the app.

**Describe the solution you'd like**

Add an option in the Post/Page Settings to allow choosing and changing of the content author.

[2021-03-01 11:30] hypest commented on #3199
Looks like the platforms started diverting (in terms of uniques fired) late in March 2020, although they were aligned for (most of) March 2020.

[2021-03-01 11:42] hypest commented on #3201
Although the post settings flow is actually implemented in the main apps, will keep it in this repo to make sure we do it for both platforms, ideally in unison.

[2021-03-02 17:11] guarani opened #3209 "Notify users of upcoming classic editor removal"
This issue tracks the need to display an in-app message in the WordPress apps notifying users that the classic editor is deprecated. After this notice has been added to the apps, we will wait a period of time (e.g. one or two months) before removing the editor preference switch (https://github.com/wordpress-mobile/WordPress-iOS/issues/14864 and https://github.com/wordpress-mobile/WordPress-Android

[2021-03-02 17:15] fluiddot commented on #2597
I've added a section about the implementation to the description of the issue, the idea is to provide all the needed context for implementing this feature.

[2021-03-02 17:16] guarani commented on #3209
There are two options currently under consideration (texts and style for illustration purposes only 🙂) :

| Option 1: Simple messaging | Option 2: Custom messaging w/ option to update editor preference |
| - | - |
| <img src="https://user-images.githubusercontent.com/1898325/109684907-7f225c80-7b5f-11eb-92a0-a4c6a6a66f82.png" alt="Option 1" width="350"> | <img width="300" alt="Option 2" src="https

[2021-03-03 01:06] adelineyaw commented on #2862
Another case to report: 28137303-hc
It appears on all blog posts that contain the video block.

- Site URL: https://unrealisticfaith.com/
- Phone model: Samsung Galaxy Note 20 Ultra 5G
- App version: Version 16.7
- Screenshot: https://d.pr/i/fAPnTp
- Follow up: 37882230-zen

[2021-03-03 02:49] reginabally commented on #2862
Another report in 3788147-zen.

[2021-03-03 05:49] reginabally opened #3226 "Toolbar stuck in the middle of editing screen"
It was reported in 3788477-zd-woothemes that when the user was editing a post on the iPad, the toolbar stays in the middle of the screen and they weren't able to focus on a new paragraph block to type.

### Expected behavior

It was expected that the toolbar moved to the bottom of the screen when the on-screen keyboard isn't active.

### Actual behavior

The toolbar stays in the middle of the scre

[2021-03-03 16:38] fluiddot commented on #2574
For creating a reusable block from multiple blocks, we would require first to implement the feature of selecting multiple blocks which is not currently available and probably would be quite complex.

My idea for this task is to split it into two parts:
1. Create a reusable block from a single block
2. Create a reusable block from multiple blocks

Since there are no blockers for the first part, we

[2021-03-03 16:55] enejb commented on #2980
@chipsnyder sorry I missed this.

Yes, I did some research here. It is kind of summarized in pb3aDo-sq-p2.

The main take away is that we can make it work so that it displays nicely for a set of themes but to make it look great for any site is a much harder problem that requires significantly more time to do right. It would mean that we we would be creating previews of content that doesn't exist o

[2021-03-03 20:50] startuptester commented on #3226
Thanks, @reginabally! I was not able to repro this on an iPad Air either. I'll wait for user details. 😄

[2021-03-03 23:09] #3125 closed, assigned to antonis, mkevins

[2021-03-04 04:55] kosiew commented on #2862
[I tested adding video via wp-admin new post and video plays correctly.
](https://wpstore101.wpcomstaging.com/test-video-again/)

[2021-03-04 12:24] antonis opened #3217 "Remove Preview mode from Gutenberg editor"
## Description
The [editor preview mode introduced for the layout picker preview functionality]( https://github.com/wordpress-mobile/gutenberg-mobile/issues/2452) should be removed since it is being [replaced with a webview implementation](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2980).

### Solution
The changes introduced with the following PRs should be reverted
* https://gith

[2021-03-04 17:17] guarani commented on #2574
I think the option to select multiple blocks would be very useful, since we can't "select all" and select all blocks at once, deleting multiple blocks is tedious at the moment. (Of course here it would be useful for reusable blocks like you mention.)

[2021-03-04 17:40] fluiddot commented on #2574
I totally agree, the multi-selection feature would be an awesome improvement. I'm going to check if we already have an issue for this topic, if not I'll create it because I have some ideas that would be interesting to discuss 😊 .

[2021-03-04 17:41] iamthomasbishop opened #3218 "Proposal: Add justification controls to various blocks"
**Is your feature request related to a problem? Please describe.**

Core has recently started adding content-justification controls to the Block Toolbar for some blocks, which seem to be pretty useful in a variety of cases. Based on a quick search, I'm seeing them on Buttons and Social Icons but there may be more [^1]). Because these controls seem pretty useful in a variety of cases, let's explore

[2021-03-05 06:41] skim1220 commented on #2862
- The user came back with the feedback that the workaround suggested by @kosiew doesn't work for him: [3788223-zen](https://woothemes.zendesk.com/agent/tickets/3788223).
- The suggested workaround works on my Android phone though (Samsung Galaxy S10; Android version 11; WP App version 16.7)
- However, when I check [the user's current post](https://unrealisticfaith.com/2021/03/02/the-lord-never-kne

[2021-03-05 14:41] antonis commented on #2980
The `editor_session_template_preview` event (as introduced [here](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2454)) has been replaced with the following new events that match the Home Page Picker implementation: `layout_picker_preview_mode_changed`, `layout_picker_thumbnail_mode_button_tapped`, `layout_picker_preview_mode_button_tapped`, `layout_picker_preview_loading`, `layout_pi

[2021-03-05 14:55] antonis commented on #3130
The new `filter_changed` event should be registered in tracks as part of this issue.

[2021-03-05 15:14] kyleaparker opened #3222 "[Android] Remove Cancel button in bottom sheets"
I came across several places where we're showing a "Cancel" button in popups from the bottom sheet on Android. @iamthomasbishop had mentioned that this shouldn't be the case.

The blocks include (from left to right): Video, Gallery, Latest Posts, and File
<img width="1063" alt="Screen Shot 2021-03-05 at 10 12 27 AM" src="https://user-images.githubusercontent.com/712873/110134389-55557980-7d9b-11eb

[2021-03-05 17:38] antonis commented on #3130
Pending iOS and registering tracks events

[2021-03-05 17:39] antonis commented on #2980
Pending iOS and registering new tracks events.

[2021-03-05 19:23] AmandaRiu commented on #3222
I'll take this one. Need something small to give my brain a little break from troubleshooting more complex code.

[2021-03-05 23:52] #3209 closed, assigned to guarani

[2021-03-08 06:34] SiobhyB commented on #922
I'd like to give this a try for HACK week. :)

[2021-03-08 10:48] hypest commented on #1389
For the case where the app's version is ahead of the backend's, one idea we recently dropped on the table is to have some subtle but persistent notice to the user while editing. It could be per block (say, when a block requires a newer version of WP or Gutenberg on the backend) or the whole post.

We'll probably need to be able to have the backend version number handy and also add a definition per

[2021-03-08 12:18] hypest commented on #3226
FWIW, tried WPiOS v16.7.1 on an iPad Air 3rd gen, iPad OS v14.4 and couldn't reproduce the issue.

I do remember seeing a similar issue in the past but can't find a ticket for it. While waiting for more details, I'll move this ticket to the gutenberg-mobile repo for more specialized tracking, as it definitely looks like an issue well inside the block editor.

[2021-03-08 14:52] hypest opened #3228 "[Analytics] Sessions reporting having unsupported blocks differ a lot between Android and iOS"
I took a look at the number of editor sessions that report having unsupported blocks and looks like there's a huge difference between Android and iOS, to the degree that doesn't make sense to me on first look, hinting to a possible bug at reporting.

Here's a short capture of the data on a weekly basis:

Week (2021) | Session counts Android | With unsupported Android | | Session count iOS | With u

[2021-03-08 15:03] chipsnyder commented on #3130
Still pending: registering tracks events

[2021-03-08 15:14] hypest commented on #2862
👋 @skim1220 , thanks for the extra info! The bit about the video not showing OK in the frontend (in the post as rendered for a visitor of the post on a web browser) makes me wonder if the user actually does any edits to the post on the app or not. Here's the thing: even if the block doesn't display OK **inside the editor in the app**, the html markup itself won't be touched by the app so it should

[2021-03-08 15:31] ashleyleia opened #3234 "Arbitrary link added when inserting media from library"
When adding an image to a draft post from the Wordpress media library, an arbitrary link is attached to the image.  In particular, the app is adding a link to a Youtube video that I have embedded elsewhere on my site.

This is consistent across multiple images and multiple draft posts.  Tested on iPhone 8, iOS 14.4, WPiOS 16.7.1.

![IMG_2645](https://user-images.githubusercontent.com/77593027/1103

[2021-03-08 17:01] AtrumGeost commented on #3226
The user provided us with more details:

**1) What is the model of the iPad?**

Model is 5 th generation ipad

**2) Can you share with us the iOS version of your iPad?**

Software version is 14.4

**3) If you edit the post on portrait mode, do you experience the same issue?**

Yes

---

I also asked them to try reinstalling the app. They said they'll try that

[2021-03-08 20:03] guarani commented on #1632
Noting that as we remove the editor preference switch (https://github.com/wordpress-mobile/gutenberg-mobile/issues/3092) – something we're first addressing on Simple sites, then Atomic, etc – this issue will become less impactful.

[2021-03-08 20:22] guarani commented on #2207
I notice you're assigned here @mkevins, but I just gave this a test and was unable to reproduce on iOS. It looks like this was an iOS-only issue (based on the labels), but wanted to check if you think this can be closed or needs more investigation?

[2021-03-08 21:41] illusaen commented on #1887
Closed because could not reproduce on iOS 14, WPiOS 16.8, iPhone 12 Mini.

<details>
  <summary>GIF</summary>

  ![issue](https://user-images.githubusercontent.com/13263478/110385577-b643b280-8024-11eb-81f2-11d0f544e041.gif)
</details>

[2021-03-08 21:42] #1887 closed

[2021-03-09 00:26] kaitohm commented on #3226
User returned in 28273980-hc saying reinstalling the app didn't work. I am having them try accessing their site in a browser instead of the app.

[2021-03-09 05:40] galakhyati commented on #2862
Asked the user to follow the steps shared above and check what happens. Ticket: 3788223-zen.

[2021-03-09 09:23] hypest commented on #3234
Thanks for reporting @ashleyleia !

I think what happens there is that the URL (to a YouTube video in this case) happens to be in the clipboard and is picked up automatically by the image block. I replicated the issue on WPiOS v16.8 on my end.

Steps to reproduce:
1. Go to a browser on the device visit a site and copy its URL
2. Return to WPiOS, create a new post and add a new image block
3. Selec

[2021-03-09 09:33] fluiddot commented on #2661
An alternative for now is to fetch the maximum items per page which is 100 but maybe in the future this is not enough, depending on the resource we want to fetch.

This alternative should be reviewed because on Android it's producing a crash if the site has more than 27 reusable blocks (the crash was fixed in this [PR](https://github.com/WordPress/gutenberg/pull/29626)).

[2021-03-09 13:21] SiobhyB commented on #922
I've gone ahead to create an initial PR for review in #3236 and added some code-related questions as a comment [here](https://github.com/WordPress/gutenberg/pull/29670#issuecomment-793885334) on the Gutenberg PR (https://github.com/WordPress/gutenberg/pull/29670).

[2021-03-09 16:00] oguzkocer opened #3238 "Move 'publish-aztec-and-bridge' script from Gutenberg to this project"
We have a script that will publish the `react-native-aztec` and `react-native-bridge` artifacts to Bintray: `gutenberg/packages/react-native-bridge/android/publish-aztec-and-bridge.sh`. We'd like to move this script to this repo. [#](https://github.com/WordPress/gutenberg/pull/29488#discussion_r589822831)

[2021-03-10 12:17] ceyhun commented on #3226
I couldn't reproduce either, tried with an iPad Air 4, iPadOS 14.4.

[2021-03-10 12:31] fluiddot opened #3243 "Story block - Blocks are removed when adding media (only iOS)"
**Describe the bug**

After adding media to a Story block, it removes all the blocks from the post.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some blocks to a post.
1. Add a Story block.
1. Add a media item.
1. Tap on the right arrow button to continue.
1. Observe that the previous added blocks are removed.

**Expected behavior**
The Story block shouldn't remove or modify the block

[2021-03-10 12:39] fluiddot opened #3244 "Story block - Crash after discarding a media item selected from the device media library (only iOS)"
**Describe the bug**

After discarding a media item selected from the device media library, trying to add a media item from the device on any block produces the crash.

I managed to reproduce this issue on TestFlight builds of versions `16.8` and `16.9`, on those versions the app doesn't crash but the flow for adding media items in any block stops working.

**Sentry issue:** https://sentry.io/orga

[2021-03-10 12:50] geriux commented on #3243
I couldn't reproduce this on Android so it is only for **iOS**.

[2021-03-10 16:58] SiobhyB commented on #3226
From watching the user's video, I noticed a few things I didn't fully understand and wasn't able to reproduce using an iPad Mini (5th generation) simulator:

* `0:12`: The image block is selected (as evidenced by the blue border surrounding it) but the cursor is flashing in the empty paragraph block just beneath it.
* `0:45`: The user's able to successfully select the empty paragraph block but the

[2021-03-10 17:06] SiobhyB commented on #3226
Just noting that I've included a link to the post from the screen recording in this Slack thread, for anyone who may find it useful to test using the actual post being shown in it: p1615374200215100-slack-C6UJ0KRKQ

[2021-03-10 19:40] lakellie commented on #2862
The user shared:

"I added a video in a post from WordPress.com > My Sites > Posts on the desktop web.
I checked if the video plays OK while previewing on the desktop web. And Yes, It Played OK.
I Opened the post in the app's editor, and made no changes and exited the editor. I Did Not Change The Post.
I previewed the post on the desktop web and It Was Still OK."

Based on this, would this still b

[2021-03-10 22:14] mkevins commented on #2207
I test as well, and it seems to have been resolved! Thanks for the ping! Closing.

[2021-03-11 01:08] reginabally commented on #3226
Thanks, @SiobhyB. I've requested this from the user.

[2021-03-11 01:35] bjtitus commented on #3244
This is an assertion which will not fire in non-debug builds and is due to a Core Data managed object context mismatch. I don't think this warrants a Hot Fix at this time, but will be investigated for the next release (16.9 or later depending on timing).

[2021-03-11 13:29] guarani commented on #2207
Thanks @mkevins!

[2021-03-11 20:18] illusaen commented on #3122
Note: Leaving until can get some expert help.

This seems to be a race condition that happens when typing in the inner block (i.e. Address Line) and then immediately clicking over to the outer field (i.e. email).

So far I've tried explicitly dismissing keyboard if focus was on an inner block and moving out, but unfortunately that doesn't fix the race condition; all that happened was that the keyb

[2021-03-11 21:08] eduardozulian commented on #3174
Another report: 3811999-zen

[2021-03-11 21:34] #3222 closed, assigned to AmandaRiu

[2021-03-12 01:15] mchowning commented on #3228
@guarani is planning to take a look at this soon.

[2021-03-12 12:12] hypest commented on #3226
👋 @SiobhyB, just adding that I think I see the user tapping on the OS's keyboard "hide keyboard" button on the bottom right corner. The button gets highlighted white for a split second.

[2021-03-12 12:20] SiobhyB commented on #3226
@hypest, ah, good spot! So, the toolbar doesn't react to that and, for some reason, the image block still remains selected when they successfully tap into the paragraph block at `1:46`. 🤔

[2021-03-12 12:33] hypest commented on #3243
Fixed with https://github.com/wordpress-mobile/gutenberg-mobile/pull/3246

[2021-03-12 12:33] #3243 closed, assigned to nobody

[2021-03-12 14:30] eduardozulian commented on #3158
Also in 3813375-zen

[2021-03-15 18:37] designsimply opened #3259 "User roles without rights to upload images or files can see options for the image and file blocks"
Steps to reproduce:

1. Log in to the app and switch to a site where you have the role of contributor.
1. Add an image block and try to upload an image.
1. Add a file block and try to upload a file.

**Result:** when logged in as a contributor, I am shown options for things like image and file uploads even though I am not allowed to complete those actions.

<img src="https://user-images.githubuser

[2021-03-15 19:32] guarani commented on #3092
I removed this line from the issue since this "switch to classic" option will be removed in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3048.

[2021-03-15 19:36] guarani opened #3260 "Remove mobile editor preference switch on Atomic WP.com sites"
**Description**

There is a mobile editor preference switch ("Use block editor" toggle switch in My Site → Settings) that allows site administrators to make the classic editor the default for all new content on that site. This issue tracks the need to remove that switch on Atomic WP.com sites, and by doing so, make the block editor the default on this type of site.
The exception to this is for the

[2021-03-15 19:37] guarani commented on #3092
I've updated this issue to be Simple site specific and created [a separate issue for Atomic sites](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3260) since these will be shipped separately.

[2021-03-15 19:43] guarani opened #3261 "Remove the switch to Classic editor from within the Block editor on Atomic WP.com sites"
https://github.com/wordpress-mobile/gutenberg-mobile/issues/3092 tracks the need to remove the "Use block editor" switch from site settings. This issue addresses the need to remove the "Switch to classic editor" option from the block editor itself as well, for Atomic sites.

**Describe the solution you'd like**

The above mentioned issues discuss which site types are affected by the site settings

[2021-03-15 19:44] guarani commented on #3048
I've made this issue Simple site specific and created a separate issue for Atomic sites since they'll be shipped separately. I also removed the Needs Discussion label since this is now decided.

[2021-03-15 21:09] mchowning commented on #1886
👋  @guarani ! Should we close this issue (and maybe creating new issues for things [like indentation](https://github.com/wordpress-mobile/gutenberg-mobile/issues/1886#issuecomment-658138281)) or do you think we would be better off leaving this issue open?

[2021-03-15 23:52] bjtitus commented on #3244
The assertion was the cause of the crash but the media issue was the other reported problem here.

[Hot Fix 16.8.1](https://github.com/wordpress-mobile/WordPress-iOS/pull/16059) fixed this bug with the following change:
https://github.com/wordpress-mobile/WordPress-iOS/pull/16059/commits/46a07401997bed37c6ff5eebe7c055214981291d

[2021-03-15 23:52] #3244 closed, assigned to nobody

[2021-03-16 11:26] mchowning commented on #1396
A similar issue [also appears to be occurring with pullquote blocks](https://github.com/WordPress/gutenberg/issues/29862).

[2021-03-16 21:05] guarani opened #3269 "Translations broken in the block picker"
**Describe the bug**

**This is a bug affecting the current 1.48.1 release (WPiOS 16.9), not 1.47.x (WPiOS 16.8).**

The block inserter isn't displaying block names in the device language (e.g. German).

**To Reproduce**
Steps to reproduce the behavior:
1. Download the 16.9 beta from TestFlight
2. Switch your device over to German (or any other supported non-English language)
3. Open the block edi

[2021-03-17 09:28] hypest commented on #3226
Noticed now that in the [screengrab video from the user](https://d.pr/v/pnZVq2/iBYv6N8BtS), the toolbar is stuck from the beginning of the video already (and never collapses or moves for that matter) so, can't be sure what are the steps or the circumstances that _led_ to the issue.

I will move this ticket to the backlog since we don't have a reliable clue yet on how to reproduce and our attempts

[2021-03-17 09:41] hypest commented on #3269
Added the "Pri High" label as this is about a core feature: i18n.

[2021-03-17 11:02] fluiddot commented on #2661
I opened this [issue](https://github.com/WordPress/gutenberg/issues/29928) with the insights after investigating further this problem.

[2021-03-17 13:28] mchowning commented on #3269
Related issue: [Strings from Jetpack are not included in the bundle](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2615)

[2021-03-17 14:41] ceyhun opened #3272 "[Embed block] Show generic Embed Block in block list in DEV mode"
### Description
- Show the generic Embed Block in block list in dev mode
- Do not show the specific ones yet (like Youtube, Twitter, etc.)
- Rendering an Embed Block in dev mode shouldn't crash

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111485768-3362dc00-8737-11eb-9091-40627bd6fc43.jpg">

[2021-03-17 14:46] ceyhun opened #3273 "[Embed block] Implement Generic Embed Block placeholder UI"
### Description
- Implement Generic Embed Block placeholder UI
- Bottom sheet will be implemented in a separate issue
- When a block placeholder is added, bottom sheet is automatically opened. Therefore any `onPress` prop should be triggered in this case.

### Screenshot

<img width="300" src="https://user-images.githubusercontent.com/1845482/111486240-9bb1bd80-8737-11eb-8817-8b7c1a936b4e.jpg">

[2021-03-17 14:54] ceyhun opened #3274 "[Embed block] Implement Bottom Sheet to set a link"
### Description
- Implement Bottom Sheet to set a link for Embed block
- When a block placeholder is added, bottom sheet is automatically opened
- Link field is auto-focused (labeled “Embed link”)
- If there is a link in the clipboard it is auto-pasted
- Can type a link if empty
- Can close before typing and re-open by pressing on the embed block placeholder
- Can open by pressing the pen icon in

[2021-03-17 15:00] ceyhun opened #3275 "[Embed block] Fetching embed preview and loading UI"
### Description
- Fetch embed preview if a valid link is set and the preview is not yet fetched
- Loading UI is shown while embed preview is being fetched

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111488742-d0267900-8739-11eb-988d-64788f6078f8.jpg">

[2021-03-17 15:04] ceyhun opened #3276 "[Embed block] Implement specific Embed preview"
### Description

- **Needs Research:** Render a specific Embed block's preview (like Youtube, Twitter, etc.)

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111489332-517e0b80-873a-11eb-8038-fa191cabf5fa.jpg">

[2021-03-17 15:07] ceyhun opened #3277 "[Embed block] Implement generic “No Preview” Embed preview UI"
### Description
- Implement “No Preview” Embed preview UI when an embed is successful, but we're unable to show an inline preview

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111489774-ba658380-873a-11eb-8299-50856a4909ba.jpg">

[2021-03-17 15:11] ceyhun opened #3278 "[Embed block] Add the top 5 specific embed blocks to the Block inserter list"
### Description
- Add the top 5 specific embed blocks to the Block inserter list:
    - YouTube
    - Twitter
    - WordPress
    - Instagram
    - Vimeo

- ~~Will use colored versions of icons~~ We finally decided to not use the colored versions of the icons ([internal reference](p1632907802004300-slack-C01MTUVN9T3)).

- ~~**Needs research**: These are not necessarily the ones in the screenshot,

[2021-03-17 15:12] ceyhun commented on #682
Closing in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/3278 and https://github.com/wordpress-mobile/gutenberg-mobile/issues/3276

[2021-03-17 15:12] #682 closed

[2021-03-17 15:16] ceyhun opened #3279 "[Embed block] Update placeholder and bottom sheet UIs to show specific embed icon and label"
### Description
- Update placeholder and bottom sheet UIs to show specific embed icon and label (like Youtube, Twitter, etc.)

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111491416-22689980-873c-11eb-81aa-2218a896197b.jpg">

[2021-03-17 15:23] ceyhun opened #3280 "[Embed block] Detect when an embeddable URL is pasted into an empty paragraph"
### Description
- Detect when an embeddable URL is pasted into an empty paragraph (including a paragraph inside a Media & Text block)
- Trigger a bottom sheet to open when a paste is detected (bottom sheet functions will be implemented in another issue)
- Should not to trigger when pasting in the middle of a text

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/18454

[2021-03-17 15:29] ceyhun opened #3281 "[Embed block] Implement a bottom sheet that can create an embed block or a link"
### Description
- Has 2 options "Created embed", "Create link"
- Make embed block focus and load it’s preview when created this way
- Implement converting the pasted URL text in the paragraph to a link

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111493077-863f9200-873d-11eb-893b-a6c7d20b6a81.png">

[2021-03-17 15:32] ceyhun opened #3282 "[Embed block] Implement caption field"
### Description
- Implement caption field for Embed block
- Caption field isn't visible if it is empty and embed block is not selected
- Typing into the caption field, adding rich text should be possible

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111493735-23022f80-873e-11eb-8eaf-c3c107f9f845.jpg">

[2021-03-17 15:36] ceyhun opened #3283 "[Embed block] Block settings"
### Description
- Settings bottom sheet opens when pressing the gear icon in the block
- Implement setting for “Resize for smaller devices.” toggle

[2021-03-17 15:38] ceyhun opened #3284 "[Embed block] Alignment options"
### Description
- Enable alignment options and implement block styling based on selected option

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111494917-29dd7200-873f-11eb-8b2e-123580606939.jpg">

[2021-03-17 15:40] ceyhun opened #3285 "[Embed block] Enable replace option"
### Description
- Enable replace option to show in toolbar and implement replace action

[2021-03-17 15:44] ceyhun opened #3286 "[Embed block] Error UI"
### Description
- Implement error UI for Embed block
- Same UI for networking related (eg. no internet) or backend errors (eg. unsupported URL)

### Screenshot
<img width="300" src="https://user-images.githubusercontent.com/1845482/111495546-c738a600-873f-11eb-8871-4addbdc39e4b.jpg">

[2021-03-17 15:51] ceyhun opened #3287 "[Embed block] Error bottom sheet"
### Description

- Implement error bottom sheet for different cases

#### For network related errors while fetching the preview (timeout, no internet connection)

- Bottom shows error message and **only** the option to retry
- When pressed try to load the preview for the same embed URL again

#### For backend errors while fetching the preview (unsupported embed URL, or cases where a retry wouldn't

[2021-03-17 15:59] ceyhun opened #3288 "[Embed block] Testing"
### Description

- [x] https://github.com/wordpress-mobile/gutenberg-mobile/issues/4085 - ⏸️  POSTPONED
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/issues/4086
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/issues/4087  - ⏸️  POSTPONED
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/issues/4088

[2021-03-17 18:13] chipsnyder commented on #3234
Yes, thank you for calling this out. It does seem to be related to that fix and we should only be setting the text when taking the explicit action of opening the link settings. I'll get this in the pipeline to fix.

[2021-03-18 08:21] rezzap opened #3292 "Video doesn't play in browser when uploaded from the app."
**Describe the bug**

When I create a new video block from the app and then try to view this post in a web browser on desktop (Firefox), I only get the audio. The video portion doesn't play.

I've tested this on Personal and Premium plan sites, private or public and receive the same issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My Sites > Blog Posts > Add New post.
2. Click on

[2021-03-18 12:46] hypest commented on #2862
Since the app doesn't break the block and the block continues to render OK **in the frontend of the site**, then there's no new issue here.

So, the only issue is the known one captured in https://github.com/wordpress-mobile/gutenberg-mobile/issues/1152. Will close this ticket in favor of the older one. Please add a comment to possibly re-open if I missed something and there's actually new issues

[2021-03-18 12:47] hypest commented on #1152
I wonder, now that we have the Unsupported Block Editor in place, perhaps we could enable it for the video block by somehow detecting the situation with the Calypso treatment of the video block? Pinging @guarani in case you have some thoughts on this since you've worked on the UBE in the past.

[2021-03-18 13:47] #2862 closed, assigned to nobody

[2021-03-18 15:33] chipsnyder commented on #2986
Closing this issue as we decided to explore a different approach

[2021-03-18 15:33] #2986 closed, assigned to nobody

[2021-03-18 15:35] chipsnyder commented on #2985
Closing this issue as we decided to explore a different approach

[2021-03-18 15:35] #2985 closed, assigned to nobody

[2021-03-18 15:35] chipsnyder commented on #2984
Closing this issue as we decided to explore a different approach

[2021-03-18 15:35] #2984 closed, assigned to nobody

[2021-03-18 17:56] mdrockwell commented on #559
3827600-zen

[2021-03-18 18:57] guarani commented on #3048
After offline discussion with @kyleaparker, we determine that its best to remove the "Switch to classic editor" from within the block editor now, on all types of sites. Once a user is using the block editor, switching back to classic need not be a prominent option.

Also, given that [the notice we're now displaying in the classic editor](https://github.com/wordpress-mobile/gutenberg-mobile/issues/

[2021-03-18 20:24] mchowning commented on #3048
Once we removed the "Switch to classic editor" button would it be possible to switch back to classic? I thought the answer would be no, but wanted to see if I might be missing something in light of the word "prominent". Not second guessing, just checking my understanding.

[2021-03-18 20:31] jd-alexander commented on #3048
This is a good question. I am also interested in this answer as I wanted to work on adding [the block editor tests](https://github.com/wordpress-mobile/WordPress-Android/issues/14228) to Android this groundskeeping. Currently the test enables the block editor within Site Settings and then it opens the block editor and switches to the classic editor.  Is it that the logic to toggle the classic edit

[2021-03-19 01:15] guarani commented on #1152
I did a quick test and was able to reproduce this issue. Looking at the UBE, it might work to allow users to edit these video blocks that have been edited on the web, but unless we also update the UI to assure users that the Video block is not "unsupported", this could lead to user confusion. So as-is, the UBE doesn't feel like a drop-in temporary solution, unless we modify it for this use case.

[2021-03-19 01:17] guarani commented on #1886
This was mostly for tracking the effort needed to ship the first block, so I agree we could close this and add issues for the pending items. I'll do this soon, thanks for flagging this 👍

[2021-03-19 10:02] antonis commented on #3130
Track events merged:
* https://github.com/Automattic/tracks-events-registration/pull/463
* https://github.com/Automattic/tracks-events-registration/pull/464
* https://github.com/Automattic/tracks-events-registration/pull/465
* https://github.com/Automattic/tracks-events-registration/pull/466

[2021-03-19 10:02] #3130 closed, assigned to antonis, chipsnyder

[2021-03-19 10:05] antonis commented on #2979
Fixed with:
* https://github.com/wordpress-mobile/WordPress-Android/pull/14040
* https://github.com/wordpress-mobile/WordPress-iOS/pull/16019

[2021-03-19 10:05] #2979 closed, assigned to antonis

[2021-03-19 10:09] antonis commented on #2727
Features is now enabled on both platforms. Additional cleanup on Android was performed with https://github.com/wordpress-mobile/WordPress-Android/pull/14269

[2021-03-19 10:09] #2727 closed, assigned to antonis, chipsnyder

[2021-03-19 10:17] hypest commented on #3292
Couldn't replicate on my side.

Device: iPhone 6s, iOS v14.3 (also tested on iOS v14.4.1)
App: WPiOS v16.9 from Testflight (not published to App Store at the time of writing.
Site plan: Premium on WPCOM
Desktop browsers: Firefox v86.0.1, Safari v14.0.3, Chrome v89.0.4389.90
Desktop OS: macos v11.2.1 Big Sur

[2021-03-19 10:23] antonis commented on #3292
I wasn't able to replicate this either.
Device: iPhone SE 2020, iOS 14.2
App Version: 16.9
Site plan: premium
Test post: https://antonistest.wordpress.com/2021/03/19/video-test/

I will update my device to 14.4 and try this again.