[2021-10-12 12:29] guarani commented on #4101
Dependabot might not be the right tool to achieve the goal of running optional tests on every update to `develop`, since this task won't involve updating dependencies.

[2021-10-12 17:28] #4100 closed, assigned to dcalhoun

[2021-10-12 17:53] mchowning commented on #4101
👍 I like this idea!

[2021-10-13 00:19] #4104 closed, assigned to dcalhoun

[2021-10-13 11:23] #4093 closed, assigned to fluiddot

[2021-10-13 13:24] geriux opened #4112 "Global styles - Font size - Heading and Preformatted block"
**Describe the bug**
After implementing font size support, an issue was found on **iOS** where the `Heading` and `Preformatted` block won't change their default font size.

The Header [formatter (On Aztec)](https://github.com/wordpress-mobile/AztecEditor-iOS/tree/develop/Aztec/Classes/Formatters/Implementations) should use the font size that the default font has set but it's using the one from the

[2021-10-13 16:51] fluiddot commented on #4086
@jd-alexander heads up that I appended more cases that we initially didn't cover.

[2021-10-13 16:54] jd-alexander commented on #4086
Thanks for doing that! 🙇🏾

[2021-10-13 20:57] dcalhoun commented on #4130
Do not have a fix yet, but capturing what I found so far.

From debugging, this appears to related to the auto-save functionality within the _web editor_, and not directly related to the native editor. The issue can be recreated with the following steps on _both Android and iOS_:

1. Save or publish a post in the web block editor that contains an unsupported block by the native editor, e.g. Tiled

[2021-10-13 22:10] #3280 closed, assigned to jd-alexander

[2021-10-14 08:22] hypest opened #4120 "Quote block still exists after deleting from post via backspacing"
**Describe the bug**
After deleting a quote block and exiting the editor (or switching to HTML view) the quote block seems to still be there when opening the post again.

I've verified it both on WPAndroid, WPiOS, as well as the demo app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the demo app or WPAndroid (tested on v18.4-rc-3)
2. Insert a new Quote block
3. Focus the Quote block

[2021-10-14 08:23] hypest commented on #4120
Marking this as `[Pri] High` as it involves a content fault.

[2021-10-14 09:23] fluiddot commented on #4120
I noticed that this can be reproduced with any block if it's added as the first item of the block list. After checking older versions, I confirm this began to happen in version `1.61.0 (18.2)`.

[2021-10-14 10:01] fluiddot commented on #4120
As mentioned in [this comment](https://github.com/WordPress/gutenberg/issues/35624#issuecomment-943202860), this looks like a breakage from a change in Gutenberg.

[2021-10-14 10:08] hypest commented on #4120
I'll go ahead and close this ticket for now and we can reopen if for any reason it turns out to only happen on native mobile.

[2021-10-14 10:08] #4120 closed, assigned to nobody

[2021-10-14 21:31] guarani commented on #4101
👋 Hey @mchowning, I've updated the issue now that I think a solution to this involves CircleCI, not Dependabot. I've also added you as a reviewer here: https://github.com/wordpress-mobile/gutenberg-mobile/pull/4114
We could definitely discuss this as a team before moving ahead with it (since it's a change that affects our shared workflow), but I'm keen to hear what you think at this early stage.

[2021-10-15 08:20] fluiddot commented on #4088
I'm thinking to include a manual test for verifying that the inline previews of all providers don't produce style issues, as this verification is visual.

[2021-10-15 09:40] fluiddot commented on #4088
Another potential manual test case is verifying that the alignment options are properly aligning the inline preview.

[2021-10-15 20:32] guarani commented on #4130
👋 @dcalhoun I could also reproduce this on Android and iOS. Since this affects both platforms, would it make sense to transfer this issue to https://github.com/wordpress-mobile/gutenberg-mobile?

[2021-10-15 20:40] dcalhoun commented on #4130
Yes, that makes sense to me. I will do so now.

[2021-10-15 20:44] guarani commented on #4130
Just in case this info helps: while the UBE currently supports only WP.com and Jetpack-connected self-hosted sites, there's plans to allow it on self-hosted sites (see https://github.com/wordpress-mobile/gutenberg-mobile/issues/2482).

[2021-10-15 21:16] guarani commented on #2482
I think the next steps here would be:
- Enable the UBE on all site types (change could be to return `true` [here](https://github.com/wordpress-mobile/WordPress-iOS/blob/e40791485a907319782f2536a0e941ba4312909d/WordPress/Classes/ViewRelated/Gutenberg/GutenbergViewController.swift#L1147) on iOS, similar on Android)
- Add test cases to https://github.com/wordpress-mobile/test-cases/blob/trunk/test-ca

[2021-10-18 09:36] hypest commented on #4088
Just to be sure, are you referring to the "Top 5" perhaps? If yes, better to refer as such in the manual test for clarity.

[2021-10-18 09:44] fluiddot commented on #4088
Right, it should be the top 5 most-used indeed, I'll add this item to the issue's description for clarity.

[2021-10-20 18:41] illusaen opened #4136 "Jetpack Tiled Gallery: Link To differences between Web and Mobile"
There are differences between the web's implementation of "Link To" setting (has options attachment, media, and none) and the mobile implementation of "Link To" (pulls up a modal URL search sheet where you can add a URL that opens a browser window/tab when block is clicked.)

We need to figure out which one of these we want for JTG and implement it.

Related:
- https://github.com/wordpress-mobile/

[2021-10-20 18:45] illusaen opened #4137 "Jetpack Tiled Gallery: Workaround used for `save` functionality"
We're currently using a workaround to get `save` functionality and loading from that serialized HTML working correctly. Using this workaround allows us to be unblocked and work on other parts; however, we should revisit this at some point.

Note: test if core blocks also display a different path when the `save` function is called from `getSaveContent` vs the serialization code.  See [this Google d

[2021-10-20 19:20] illusaen opened #4138 "Jetpack Tiled Gallery: Max Columns"
Do we want to set the maximum columns in the settings to the static number (which we have 8 atm to match with gallery block) or do we want to set it to the number of images?

We can see both ways:
* If we set it to the static number:
    * Less presses for the user if they can set it to 8 even if they only have 2 images right now; when adding more they don't have to keep changing the maximum.

[2021-10-20 20:29] guarani opened #4142 "Tiled Gallery doesn't serialize correctly when multiple rows are used"
**Describe the bug**

The block doesn't serialize properly when the number of columns in its output HTML is less than its number of images, i.e. it breaks when it has multiple rows in its output HTML.

After further investigation, we've found that the issue with multiple rows is a structural issue (i.e. having multiple `<div row><div col></div></div>` is failing. The attribute differences are a se

[2021-10-21 08:47] fluiddot opened #4145 "Unhandled JS Exception: TypeError: undefined is not an object (evaluating 't._parentNode=null')"
**Sentry issue:** https://sentry.io/share/issue/83edfe1cf6ea4b7fbb2bdc853e6201eb/

Here is the desymbolyzed JS stacktrace for version WPiOS 18.4 (GB-mobile 1.63.0):
[code]

A quick exploration of the stacktrace tells that the issue is most likely related to pasting content from MS Word/MS Word Online that can't be parsed in the native version:

- [gutenberg-mobile/gutenberg/packages/rich-text/src/

[2021-10-21 16:34] #4030 closed, assigned to twstokes

[2021-10-21 18:44] twstokes commented on #4145
I was able to reproduce the following error:

[code]

with these steps:

1. Run a debug build of WPiOS from Xcode on the Simulator (I used latest `develop`)
2. In Word for Mac, create an unordered list with the following format:
   1. Start a new unordered list
   2. Next to the first bullet, press space
   3. Copy the list and paste into a Paragraph block in the Simulator
3. Observe the error abo

[2021-10-21 18:48] guarani commented on #4145
I can also reproduce this crash, even when pasting in a single bullet point from the MS Word app.

[2021-10-21 19:37] guarani opened #4147 "The Tiled Gallery's visible columns in the editor don't adjust to fit available space"
Similar to the behavior of similar blocks, e.g. core Gallery, the Tiled Gallery block should display enough columns to fit available space in the editor. In portrait mode, this will often be two columns in portrait mode and four in landscape, but this should be dynamically calculated according to screen size, just as the core Gallery block does.

The following screenshots show how the core Gallery

[2021-10-21 22:16] twstokes commented on #4145
I was able to dig into this a little more. In the case where a single bullet point was pasted from Word for Mac, adding a [breakpoint here](https://github.com/WordPress/gutenberg/blob/bf867e9812996cbae99841ec52a6ba1789234593/packages/blocks/src/api/raw-handling/ms-list-converter.js#L55) and outputting `node.innerHTML` gives us a structure like this:

`
<span style="font-family:Symbol;mso-fareast-f

[2021-10-22 01:05] twstokes opened #4150 "BottomSheet safe area insets are not set to expected values"
## Describe the bug
The `onSafeAreaInsetsUpdate` [callback in the BottomSheet component](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/mobile/bottom-sheet/index.native.js#L226) does not receive the expected values when a full screen sheet is rotated from portrait -> landscape -> portrait.

## To Reproduce

_Prerequisites:_
- iOS device with a notch
- Remove the SafeArea

[2021-10-22 10:22] hypest commented on #4145
Since it's reproducible on iOS but @twstokes's analysis shows a possible logic error, can you also check if it happens on Android? Thanks!

[2021-10-22 14:20] twstokes commented on #4145
I'll test this and report back @hypest.

[2021-10-22 19:53] twstokes commented on #4145
I had a different experience on Android. It seems that the HTML markup doesn't match iOS when `msListConverter` is called, and no `mso-list` style property is included.

**_Note:_** I used Word for Mac pasting to the Android Emulator (which may not be the most realistic test), as well as Word on Android pasting into WPAndroid. Both exhibited the same behavior, but I only inspected values with brea

[2021-10-23 08:19] Robertght opened #4155 "Paragraph block: Highlight color disappears after you access the post/page from the mobile app (Android)"
This is a replica of this issue:  https://github.com/Automattic/wp-calypso/issues/57061

---

### Quick summary

If you add a **paragraph block** and set each word to a different color from a browser like this:

<img width="532" alt="Screen Shot 2021-10-15 at 7 13 03 AM" src="https://user-images.githubusercontent.com/30724184/137479934-6c6298c2-e1a3-4a5d-8b12-28055356b4ed.png">

and then you acces

[2021-10-25 06:45] antonis commented on #4155
Thank you for reporting this @Robertght 🙇

This bug seems to derive from the fact that the web functionality introduced with https://github.com/WordPress/gutenberg/pull/16014 is not yet supported on mobile. The mobile implementation is currently in progress / cc @geriux

[2021-10-25 13:18] guarani commented on #4136
In offline conversation, @kyleaparker said it would be fine to implement the Jetpack Tiled Gallery's the same "Link to" functionality found currently in the Image block. That's to say, it should open the "Link to" modal allowing the user to enter a URL or search for a post, page, etc.

[2021-10-25 13:24] guarani opened #4156 "Jetpack Tiled Gallery's Link To implementation"
In https://github.com/wordpress-mobile/gutenberg-mobile/issues/4136#issuecomment-952021071, it was concluded that the Jetpack Tiled Gallery's "Link To" functionality (found in its settings bottom sheet) should be implemented to match the web's link to options ("Media File" and "Attachment Page"). These options apply at a gallery-level (i.e. link to functionality won't be found in individual blocks

[2021-10-25 13:25] guarani commented on #4136
I created https://github.com/wordpress-mobile/gutenberg-mobile/issues/4156 to capture the requirements for the block's "Link To" functionality and will close this issue now that we've reached a decision on what to implement.

[2021-10-25 13:35] guarani commented on #3947
👋 @illusaen, I'm wondering if we should close this issue or leave it open, but I'm not sure of its scope. If we just look at the Square layout, the only part left-over was the "Link To" functionality, for which I've created a new issue in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4156.

So in short, if this issue is specific to the Square Layout, I think it can be closed. If howe

[2021-10-25 14:20] guarani opened #4157 "Fix the save function when a single column is used"

[2021-10-25 14:22] guarani commented on #4157
Closed as duplicate of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4142.

[2021-10-25 14:22] #4157 closed, assigned to nobody

[2021-10-25 14:51] guarani opened #4158 "Tiled Gallery uses incorrect icon color"
**Describe the bug**

The Tiled Gallery's icon color is not the same as other blocks.

**To Reproduce**
1. Open the block inserter
2. Locate the Tiled Gallery block and notice its icon color is different to that of other blocks.

**Expected behavior**
The Tiled Gallery's icon color should match other blocks.

**Screenshots**

| <img width="300" alt="Screenshot showing incorrect icon color on the T

[2021-10-25 16:08] hypest commented on #4145
Aha, interesting, thanks for sharing @twstokes . Looks like there's some difference in the logic/implementation/codepath between the platforms and it's not clear to me yet what's going on. Would you mind devoting some additional time to it to see if we can get to the bottom of this? For example, why the different behaviour between the platforms? Is it the input data (from the clipboards) that's di

[2021-10-25 16:13] dcalhoun commented on #4130
Closing this issue as it was addressed in https://github.com/WordPress/gutenberg/pull/35639. However, because of the nature of the issue and the architecture of the Unsupported Block Editor (UBE), the fix will only be delivered when the site edited with the UBE receives the fix through a Gutenberg update — via plugin or core update.

To elaborate, the UBE loads a web view of the remote WordPress s

[2021-10-25 16:13] #4130 closed, assigned to dcalhoun

[2021-10-25 16:14] twstokes commented on #4145
Will do @hypest. 👍

[2021-10-25 18:20] guarani commented on #4138
@illusaen, I'd go with the second option above. I think it makes sense to default to the web's Tiled Gallery implementation here to give a consistent user experience across web and mobile. Regarding the Square Layout, here's what I think we should implement based on the web's behavior:

#### The columns setting's upper limit is equal to the number of images

In my testing, unlike the core Gallery

[2021-10-25 18:40] guarani commented on #4130
Makes sense @dcalhoun, thanks for explaining that here 🙇

[2021-10-25 19:52] guarani commented on #4136
@illusaen, one aspect of this I hadn't considered previously was compatibility with the web. If we borrow the Image block's behavior, users will be able to set a custom link on mobile, however on web they will still only see the "Media File", and "Attachment Page" options, so there could be a compatibility issue.

Looking at the Image block, its options are Media File, Attachment Page _and_ custom

[2021-10-25 22:53] illusaen commented on #3947
@guarani I agree, I think closing this makes sense. We can make separate issues for the other layouts.

[2021-10-25 22:53] #3947 closed, assigned to illusaen

[2021-10-26 02:57] twstokes commented on #4145
From what I can tell, it appears to be that the data from the system's clipboard is different. If I understand the stack correctly, ReactNativeAztec receives the clipboard event and data from the OS and then pushes that data to the editor.

Here's what I observed by using the Mobile Gutenberg demo app:

**iOS**

1. A list from Word containing an empty item is pasted.
2. [RCTAztecView:paste()](http

[2021-10-26 09:58] SiobhyB commented on #4136
To make sure I understand correctly: would the custom URL option make every image in the gallery link to the same place?

If yes, I'm not certain whether this option would be that widely used with the Tiled Gallery block. I could see users wanting to edit _individual_ images in a gallery with a custom URL, but am having a harder time imagining the need for _all_ images in a gallery to link to the

[2021-10-26 11:24] hypest commented on #4145
Aha, thanks for drilling down @twstokes ! Can you continue working on this on the iOS side, to try and come up with a fix for the crash? We can reel in someone for the Android side if the iOS fix doesn't fit for both. Thanks!

[2021-10-26 12:46] twstokes commented on #4145
Sounds good @hypest I'll check it out. 👍

[2021-10-26 14:04] kyleaparker commented on #4136
@guarani out of the options you presented, I think it makes sense to go with either:

or

It may be best to start without link support, and then work on shipping https://github.com/WordPress/gutenberg/pull/34846 so that it doesn't delay the release of the block.

[2021-10-26 14:18] mchowning commented on #4156
I'm not really sure whether the Enhancement label makes sense here. Feel free to remove/replace it.

[2021-10-26 14:52] guarani commented on #4136
Yes, I understood the offline conversation mentioned in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4136#issuecomment-950921297 (internal link p1634839508035800-slack-C6UJ0KRKQ) to mean every image in the gallery has the same link, but I might have misunderstood. I do agree with you here @SiobhyB that setting a custom link for all images might be of limited use to the user.

FWIW,

[2021-10-26 15:42] #4155 closed, assigned to nobody

[2021-10-27 07:28] illusaen commented on #2375
Quick update: when doing alpha writing flow tests for release 18.6 (1.65), swiping a word does still indeed break. However, it only breaks if you *don't* insert a space after the swiped word. If you do, it seems to recognize it fine.

[2021-10-27 08:59] illusaen opened #4168 "Tiled Gallery `save` workaround: Unit test seeing infinite recursion when rendering the block"
See details in the [gbm PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4143). Note: remove the added `.skip` for the unit test when fixed!

[2021-10-27 19:45] #4009 closed, assigned to dcalhoun

[2021-10-27 19:45] twstokes commented on #4145
I understand this better now. On the RN side, we appear to be pulling in the `jsdom-jscore-rn` package to manipulate DOM structures. From what I can tell, [this fork / trimmed version](https://github.com/iamcco/jsdom-jscore-rn#a562f3d57c27c13e5bfc8cf82d496e69a3ba2800) of jsdom doesn't include the `firstElementChild` property.

Web has this property so the tests pass and no exception is thrown. jsd

[2021-10-27 20:25] #4018 closed, assigned to dcalhoun, mchowning

[2021-10-28 02:14] #4026 closed, assigned to dcalhoun

[2021-10-28 02:14] #4053 closed, assigned to dcalhoun

[2021-10-28 02:30] #4027 closed, assigned to dcalhoun

[2021-10-28 02:30] #4052 closed, assigned to dcalhoun

[2021-10-28 02:40] reginabally commented on #559
Feedback from a user in 4410487-zd-woothemes:

[2021-10-28 15:32] SiobhyB commented on #4136
Thanks for clarifying Paul, and what you've outlined for the next steps seems good to me!

[2021-10-28 18:44] illusaen commented on #4142
Looking at the HTML that the web produces, I found two things:
1. The attributes for the `save` workaround that I changed are in a different form on the web; I have a suspicion that when a user makes a post with a JTG on the web and then tries to load it on the phone, there will be a PDB error. The workaround, ofc, makes it so that saving a post on mobile and then loading it should work; however,

[2021-10-28 19:28] illusaen commented on #4142
Note:
- PDB = Problem Displaying Block
- JTG = Jetpack Tiled Gallery

[2021-10-28 20:14] kyleaparker commented on #4136
@guarani yes that sounds right to me!

[2021-10-28 20:16] guarani commented on #4142
I've updated the issue to capture our most recent finding which is that this issue affects the block when it has multiple rows in its output HTML.

[2021-10-28 20:45] guarani commented on #4156
I like this idea because easily filtering a project's issues vs bugs seems useful.

[2021-10-29 09:00] hypest commented on #4145
Aha, it's good to explore option 1 as a perhaps faster way to resolve this for now, but also wonder if we should give some effort on trying to add the missing API, which is something we've done in the past in similar cases (see https://github.com/WordPress/gutenberg/blob/trunk/packages/react-native-editor/src/jsdom-patches.js). I wouldn't prioritize this extra effort too much, but such work has be

[2021-10-29 13:02] guarani commented on #4136
I've updated https://github.com/wordpress-mobile/gutenberg-mobile/issues/4156 with the Link To requirements we've decided on above and am closing this issue. Please feel free to re-open if needed.

[2021-10-29 13:02] #4136 closed, assigned to nobody

[2021-10-29 18:43] ttahmouch commented on #4058
I was just playing around with leveraging the existing `LinkSuggestionItemCell` component. This isn't the final code. I'm just POCing at the moment.

[code]

It prompted me to wonder if we should be consistent with the `title` and `summary` styles that we have for the other types of `LinkSuggestionItemCell`s. The mocks above show the URL as the `summary`; not the `title`.

WDYT?
Cc, @iamthomasbish

[2021-10-30 13:54] rezzap opened #4185 "Highlighted text shows HTML in block editor on WordPress App"
**Describe the bug**
If you create a post from the WordPress editor which uses the 'highlight' inline text formatting option, when opened in the WordPress app editor this text displays as `[MARK]`. If the app is set to Chinese, it displays with a Question Mark (?) making it confusing for the user to understand how to edit this text.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a ne

[2021-11-01 07:52] antonis commented on #4185
Thank you for reporting @rezzap 🙇
This is already fixed in the upcoming `18.6` release with https://github.com/WordPress/gutenberg/pull/35956

[2021-11-01 07:52] #4185 closed, assigned to nobody

[2021-11-02 01:51] reginabally commented on #1526
Hi @hypest 👋 We have a new report about this issue in 4420244-zd-woothemes. The user shared with us a video recording and I've added my observations in the ticket as a private note (not sharing here because they may contain private information).

Device: Samsung SM-N986B
App version: 18.4

[2021-11-02 11:14] SiobhyB opened #4190 "Jetpack Tiled Gallery: Remove/Hide Image Settings and Caption"
**Describe the bug**

Images are pulled into the Jetpack Tiled Gallery block via [the inner blocks API](https://developer.wordpress.org/block-editor/how-to-guides/block-tutorial/nested-blocks-inner-blocks/). As a result of this implementation, all of the image block's settings are available by default, including its settings tab and editable caption field.

For the purpose of the Tiled Gallery blo

[2021-11-02 11:37] hypest opened #4191 "Add line spacing and font matching the frontend"
Some feature requests (mentioned in an App review):

* Add the line spacing setting, like in the website version
* Match the in-editor font the the one on the frontend (theme)

[2021-11-02 11:42] antonis commented on #4191
That is something we will try to approach in the upcoming Global Styles: Font families project.

[2021-11-02 11:53] hypest commented on #4086
👋 all, I notice that the subcases listed in the description are all marked as "checked" at this point. Does this mean we can close this ticket as "done"? WDYT @fluiddot ?

[2021-11-02 11:54] geriux commented on #4191
This is already under a development flag and will be available once we ship our current global styles project.

[2021-11-02 12:00] fluiddot commented on #4086
I was thinking to close it automatically when the PR that introduces the integration tests is merged.

[2021-11-02 14:19] guarani opened #4192 "Implement basic Circle Layout for Tiled Gallery block's preview"
**Is your feature request related to a problem? Please describe.**

Allow users of the Tiled Gallery to change the block's layout to Circles. The criteria of done here is that the block's output (as seen when previewing a post in the main app) should match the web. The output should be equal when comparing the HTML generated on mobile and web, and should also be visually the same (i.e. the styles

[2021-11-02 15:18] #4010 closed, assigned to SiobhyB

[2021-11-02 17:23] SiobhyB opened #4195 "Tiled Gallery: Update block's placeholder text"
At the moment, the Tiled Gallery block's placeholder text reads "ADD IMAGE".

It'd be preferable to remain consistent with the Gallery block, which uses "ADD MEDIA" as its placeholder text.

**Smartphone (please complete the following information):**
 - Device: Pixel 5
 - OS: Android 12
 - Version: Demo app

[2021-11-03 11:13] #4195 closed, assigned to SiobhyB

[2021-11-03 11:56] #924 closed

[2021-11-03 16:01] fluiddot commented on #4087
Until we figure out a way to mock network requests in the Gutenberg demo app, adding E2E tests for the embed block won't really help us on identifying potential breakages. For this reason, this task will be on hold until that time.

[2021-11-03 16:02] fluiddot commented on #4085
Similar as stated in [this comment for the E2E tests](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4087#issuecomment-959560161), adding the embed block to the `initial-html` file won't really help us on identifying potential breakages. For this reason, this task will be on hold until that time.

[2021-11-03 22:42] guarani commented on #4192
Sharing some thoughts on the implementation:

### Layouts are implemented using block styles

On the web, the Tiled Gallery [registers four block styles](https://github.com/Automattic/jetpack/blob/4fe0df95dd0af0b1d61ac6f184f0ca12fd71cd9f/projects/plugins/jetpack/extensions/blocks/tiled-gallery/index.js#L225): "Tiled Mosaic", "Circles", "Square tiles", and "Tiled columns"

It's my understanding tha

[2021-11-04 06:22] jd-alexander opened #4203 "[Embed block] Paragraph block does not detect embeddable link that is pasted from Gboard"
**Describe the bug**

When the Gboard, Google Keyboard is utilized as the default Keyboard on Android and the clipboard content is channeled via Google Keyboard's clipboard the Paragraph does not detect that the content is being pasted, therefore the Embed block Bottom Sheet is not triggered.

**To Reproduce**

1. Ensure Google Keyboard is set as your default keyboard.
2. Copy an embeddable link t

[2021-11-04 06:43] jd-alexander commented on #4203
Based on my investigation this issue occurs because the clipboard content that is shown to the user as a suggestion on Gboard is actually typed in as text, and is not actually pasted. I verified this by utilizing the following troubleshooting steps below.

1. I put a `console.log` within the `onSelectionChange` of the `rich-text` component. ([function reference](https://github.com/WordPress/gutenb

[2021-11-04 09:19] #3281 closed, assigned to jd-alexander

[2021-11-04 09:22] fluiddot commented on #4088
This task will be addressed when merging https://github.com/wordpress-mobile/test-cases/pull/93.

[2021-11-04 09:39] #4086 closed, assigned to jd-alexander, fluiddot

[2021-11-04 12:25] pachlava opened #4204 "Leading/Trailing spaces display in `Search` block button is not consistent between edit and preview modes."
Worth noting that I started positing this as a bug, hence the description structure typical for the bug, but it's more an enhancement, since it has a very low impact.

**Describe the bug**
Leading and trailing spaces defined by the user for the `Search` button (in the block of the same name) are persistent between post saves, however the spaces are not shown in the Preview (video for Android, but

[2021-11-04 14:15] illusaen commented on #4138
@guarani I think matching functionalities makes sense; however, this does then bring up the question of how we want to handle the editor's preview. If, for example, the user has 8 columns set, do we want to then show 8 columns on the mobile screen? Or do we want to decouple columns _settings_ from columns previewed?

[2021-11-04 17:19] #4088 closed, assigned to nobody

[2021-11-04 17:19] #3288 closed, assigned to jd-alexander, fluiddot

[2021-11-04 18:46] illusaen opened #4206 "Check Photonizer's URL that we've currently added a Platform check to in the main app; especially regarding resizes"
Double check that the main apps have the resize attribute on the urls when inserting real pictures as opposed to the URLs we get in the demo app.

See [#21643](https://github.com/Automattic/jetpack/pull/21643)

[2021-11-04 18:51] twstokes opened #4207 "Disable auto correct for inserter search"
**Is your feature request related to a problem? Please describe.**
Is auto correcting keyboard input in the inserter search text input necessary, or could it be removed to free up more vertical space?

**Describe the solution you'd like**
If it's determined that auto correct isn't needed, more vertical screen real estate could be utilized for the block selector.

<div>
<img src="https://user-image

[2021-11-04 19:47] guarani opened #4208 "Add Square layout test for deserializing block from HTML"
As a follow-up to the Tiled Gallery test added in https://github.com/wordpress-mobile/gutenberg-mobile/pull/3903, a test should be added that loads the Tiled Gallery from its HTML representation. It could be implemented as a group of tests that cover the Square layout in various distinct configurations. For example:
- Load HTML of single row Tiled Gallery into the editor and verify it loads correc

[2021-11-05 07:30] jd-alexander commented on #4203
@fluiddot I want to hear your thoughts on a potential solution for this issue. Thanks in advance 🙇🏾

## Potential ideas

### Preferred solution

1. **Introduce Gboard detection logic within the RichText component** - We could modify the `oonSelectionChangeFromAztec` function ([reference](https://github.com/WordPress/gutenberg/blob/f64da2b69c789ec6b62532ba43c814dc5c2bb9c0/packages/rich-text/src/com

[2021-11-05 10:31] hypest commented on #4203
👋 I had a super quick look at the case where GBoard inserts the copied text as text change event (instead of Paste event) and I think we can probably tap into the [onTextUpdate()](https://github.com/WordPress/gutenberg/blob/trunk/packages/rich-text/src/component/index.native.js#L301-L321) function and detect the URL from there. The only "fear" I have is of a case where GBoard won't insert the text

[2021-11-05 11:13] fluiddot commented on #4203
I'd like to highlight that this issue also affects other pasting features like creating blocks when pasting HTML, so I'd lean towards finding a way to detect when the Gboard is being used and somehow detect when the content is pasted.

Not sure if it will work but maybe we could check in the `onTextChanged` function ([reference](https://github.com/WordPress/gutenberg/blob/3da717b8d0ac7d7821fc6d047

[2021-11-05 11:27] fluiddot commented on #4203
Good point, to be honest, I'm not sure how critical we should consider the issue but, as I commented in the [previous comment](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4203#issuecomment-961808844), all the functionality we do when pasting content in the `RichText` component is not executed when pasting from the Gboard keyboard, not just the one for the embed block. Not sure how

[2021-11-05 13:32] guarani commented on #4190
Hi @SiobhyB, do you agree we could close https://github.com/wordpress-mobile/gutenberg-mobile/issues/3907 now that the aspect ratio issue (https://github.com/wordpress-mobile/gutenberg-mobile/issues/4010) is resolved and this issue tracks hiding inner image block settings and captions?

Also, while this issue suggests using block contexts to solve the problem of hiding this functionality, we've re

[2021-11-05 13:42] guarani opened #4212 "Verify Tiled Gallery's media selection UX"
**Is your feature request related to a problem? Please describe.**

The Tiled Gallery block's media selection UX should be similar to that of the core Gallery block.

**Describe the solution you'd like**

- Verify that adding more images works as expected (e.g. after some images have been added, the user should be able to add additional images without having to select all images again) and check o

[2021-11-05 13:47] guarani commented on #3874
I'm closing this issue as we've moved away from a project issue in favor of the GitHub projects (beta) board. I've created issues for any of the above bullet points that were not yet tracked as separate issues.

cc @illusaen @SiobhyB

[2021-11-05 13:47] #3874 closed, assigned to guarani, SiobhyB, illusaen

[2021-11-05 14:25] guarani commented on #4138
I'm just responding here based on what we discussed offline yesterday.

I think this issue covers the actual columns setting's limits (e.g. min and max value) and the question of how many columns will be rendered in the in-editor preview is tracked separately in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4147.

[2021-11-05 15:07] SiobhyB commented on #4190
@guarani, I agree it makes sense to close https://github.com/wordpress-mobile/gutenberg-mobile/issues/3907 now, I'll go ahead to do that. :)

Great point! I'll update the issue to reflect our most recent conversations.

[2021-11-05 15:09] SiobhyB commented on #3907
Closing, as per the conversation at https://github.com/wordpress-mobile/gutenberg-mobile/issues/4190#issuecomment-961897741. We recently shipped the square layout's aspect ratio, as part of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4010. The remaining "piece" left to the square layout's in-editor preview is to remove settings/caption options, and that is being tracked in that sep

[2021-11-05 15:09] #3907 closed, assigned to guarani

[2021-11-05 16:46] #4158 closed, assigned to SiobhyB

[2021-11-05 16:51] SiobhyB commented on #4190
Sounds good, I'll see how far I'm able to get with the CSS approach and create a second ticket for revisiting if I'm able to get something merged out of it 👍

[2021-11-08 19:44] jd-alexander commented on #4203
I went ahead and tried using a modified version of the onPaste function (to pick up the text property from the nativeEvent) which kinda worked. It detected the URL but I didn't see the bottomsheet popup. I feel there's some potential there though.

Thanks for chiming in 🙇🏾 I agree that the text being broken down into separate insertion events would be something to look out for as it would impact t

[2021-11-08 22:56] jd-alexander opened #4219 "Upgrade React Native Clipboard to React Native Community's Clipboard before depreciation"
**Describe the bug**

The `Clipboard` module within `react-native` will be removed in a future release so it will need upgrading. Since [react-native-clipboard/clipboard](https://github.com/react-native-clipboard/clipboard) is readily available for the transition the process should be straight forward.
[code]
**Next steps**
The effort would involve:
1. Replace all usages of the `Clipboard` from `r

[2021-11-09 15:46] iamthomasbishop commented on #4058
Absolutely! Let's align with the existing for consistency, esp in terms of content arrangement — my mock was a quick/crude sketch so it may have been an oversight.

From a css/style perspective, I think we should be using a slightly-dimmer secondary text color for `summary` labels on "stacked" cells, which as far as I know is only used here and on the font-size selection sheet that @enejb worked o

[2021-11-09 16:31] ttahmouch commented on #4058
I appreciate you chiming in, @iamthomasbishop . ❤️ 🙏

A few more questions if you have a moment:

+ Does the copy text seem reasonable as `From clipboard`, or would something like `Add this link from clipboard` make more sense to keep it consistent with `Add this link` from the search field?
+ Do you have a particular SVG you'd like to use for the `📋`? I grabbed an MIT licensed one from a Google I

[2021-11-10 13:47] #4101 closed, assigned to nobody

[2021-11-10 17:31] fluiddot opened #4226 "Release checklist for v1.66.0 (scheduled)"
# Release Checklist
This checklist is for the scheduled release v1.66.0.

 **Release date:** 2021-11-11

## Pre release

- [x] Clone or update the [release toolkit](https://href.li/?https://github.com/wordpress-mobile/release-toolkit-gutenberg-mobile) and review the [release script instructions](https://github.com/wordpress-mobile/release-toolkit-gutenberg-mobile/blob/develop/Releasing.md).
- [x]

[2021-11-10 17:43] fluiddot commented on #4226
Pre release smoke testing was done in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4220 ✅ .

[2021-11-10 17:56] #4145 closed, assigned to twstokes

[2021-11-10 22:43] guarani commented on #4192
After https://github.com/Automattic/jetpack/pull/21686, what's left to do to resolve this issue is:
- Implement visual previews for each layout
- Implement a grid layout for visual previews (currently a single row is used)
- Add an icon next to the current layout's name
- Use the correct font size for current layout's name

[2021-11-10 22:49] guarani opened #4228 "Implement basic Mosaic Layout for Tiled Gallery block's preview"
**Is your feature request related to a problem? Please describe.**

Allow users of the Tiled Gallery to change the block's layout to Mosaic. The criteria of done here is that the block's output (as seen when previewing a post in the main app) should match the web. The output should be equal when comparing the HTML generated on mobile and web, and should also be visually the same (i.e. the styles s

[2021-11-11 10:15] fluiddot commented on #4226
Issue updated:

- Added Aztec Release Checklist

[2021-11-11 10:42] frosty opened #4229 "Scroll a block into view when editing its settings"
**Is your feature request related to a problem? Please describe.**
When editing settings for a block that's low down in a post, it's possible that the bottom sheet will cover the block. This is annoying because you can't see the effect your changes are having unless you dismiss the sheet.

https://user-images.githubusercontent.com/4780/141284282-9d7ebfd3-45fe-4b46-9257-33a12f2d128a.mov

**Describe

[2021-11-11 21:23] mchowning commented on #4226
Would be great if the script that generates this issue could also add it to the `Mobile Gutenberg` project's "in progress" column.

[2021-11-12 02:42] reginabally opened #4236 ""Unable to embed media" when pasting text and URL to the editor"
**Describe the bug**
Originally reported in 4446003-zd-woothemes.

This may not be a bug but an improvement request to the editor when the user is pasting text and URL (in two separate paragraphs) to the editor. The URL will be automatically converted into an Embed block (which is expected since [version 18.5](https://github.com/wordpress-mobile/WordPress-iOS/releases/tag/18.5)) but it shows the "

[2021-11-12 03:44] jd-alexander opened #4237 "[Embed block] Add Embed options that supports multiple pasted urls"
**Describe the bug**
When the user pastes multiple URLs in the editor, they are automatically converted to Embed blocks. The Embed options picker that is presented when a single link is pasted is not activated.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the editor.
2. Paste multiple links within a paragraph eg. `https://www.youtube.com/watch?v=ssfHW5lwFZg`,
`https://youtu.be/6wPWFW

[2021-11-12 03:57] jd-alexander commented on #4236
Thanks for sharing this detailed report @reginabally 🙇🏾

Understood! Currently, this is the behavior of our Paragraph and Embed blocks, where once a link is pasted into a Paragraph block on the web and within the mobile app, we present the Embed options. In this case, we don't support showing the prompt, therefore this will require further exploration.

This is something we should consider. WDYT @

[2021-11-12 09:24] hypest commented on #4236
I think that would be a bit confusing since it will not be clear why that link didn't automatically transform as other links. It will need extra UI to denote what went wrong and what the user can do next.

[2021-11-12 09:37] hypest commented on #4236
I agree that there's a mismatch of behavior here and since we ask to convert when pasting a URL, we should ask when pasting "some test + URL" as well instead if directly converting it.

I think that it should be safe to go with presenting the question to embed or not instead of automatically not embedding or adding an option. In that sense @reginabally , what do you think about converting this tic

[2021-11-12 11:43] fluiddot commented on #4226
I did a quick check on the GitHub API documentation for creating an issue ([reference](https://docs.github.com/en/rest/reference/issues#create-an-issue)) and didn't find a parameter to link it to a project, probably there's a different endpoint to achieve this 🤔 .

[2021-11-12 16:23] #3887 closed, assigned to jd-alexander, fluiddot

[2021-11-12 17:12] mchowning commented on #4226
Thanks for taking a look @fluiddot 🙇

In theory it seems like we should be able to use the projects endpoints to accomplish this [by creating a new card](https://docs.github.com/en/rest/reference/projects#cards) that is associated to the issue. I tried testing this out, and it kept rejecting me as unauthorized even though I gave the access token pretty much every permission I have. I'm probably do

[2021-11-12 17:54] fluiddot commented on #2759
This issue was addressed in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3278.

[2021-11-12 17:54] #2759 closed, assigned to nobody

[2021-11-12 17:54] fluiddot commented on #2760
This issue was addressed in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3951.

[2021-11-12 17:54] #2760 closed, assigned to nobody

[2021-11-12 20:13] jhnstn commented on #4226
I've been using `gh api /some/endpoint` which simplifies making authorized calls. It will prompt you to request write access if you don't have it already.

I played around with this as well but I kept running into 422 errors. I was able to create a new card on a board with api calls but when I tried adding an existing issue I would get messages like "Could not resolve to a node with the global id

[2021-11-12 22:14] dcalhoun commented on #4219
FYI I committed https://github.com/WordPress/gutenberg/pull/36328/commits/d6cf5d735593c7c1f9209912d7d315e78e0dc81b, which resolves this in the React Native 0.66 upgrade. So, we could await PR merge or cherry pick the commit, if desired.

[2021-11-12 23:56] iamthomasbishop commented on #4058
Good questions @ttahmouch !

I think the "from clipboard" text is okay because it's concise, but if we want to be a little more verbose, we could go with something like "Add link from clipboard".

I was going to suggest we use an icon from the [WP icon set,](https://wordpress.github.io/gutenberg/?path=/story/icons-icon--library) but it looks like we don't have one for "clipboard" so let's just use

[2021-11-13 11:24] iamgabrielma commented on #4236
Adding some user feedback, 4446003-zen :

not.

[2021-11-15 11:46] hypest commented on #4236
Ah, interesting. That's something not currently offered by the mobile nor the web block editor so, that alone can be taken out into a separate enhancement ticket on [the Gutenberg repo](https://github.com/WordPress/gutenberg).

Edit: this [undo to remove Embed issue](https://github.com/WordPress/gutenberg/issues/35335) seems related.

[2021-11-15 15:30] ttahmouch commented on #4058
Thanks for taking the time to address these questions, @iamthomasbishop . I appreciate it. :)

[2021-11-15 22:42] guarani commented on #4137
Resolved by https://github.com/Automattic/jetpack/pull/21643.

[2021-11-15 22:42] #4137 closed, assigned to illusaen

[2021-11-15 22:45] guarani opened #4244 "Verify that the Mosaic layout works across all supported site types"
We need to verify whether the block works on different site types. It's only necessary to perform a smoke test using the default (Mosaic) layout, since the purpose of this issue is to test different site types, not test each layout.

Test scenarios
- Jetpack site with Photon on and off
- WordPress.com Simple
- WordPress.com Atomic with Photon on and off
- ~~Verify that the Tiled Gallery works when

[2021-11-15 22:46] guarani commented on #4075
Closing now in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4244 which tracks checking the HTML in the main apps.

[2021-11-15 22:46] #4075 closed, assigned to guarani, illusaen

[2021-11-16 06:40] reginabally commented on #4236
Hi @hypest Yes, it makes sense to me! Thanks!

[2021-11-16 11:43] fluiddot commented on #4226
# 🟢  Test the Release - iOS

**Device:** iPhone 11 (iOS 15.1)
**Build:** 18.7.0.0

## 🟢 New changes in the release
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/pull/3971
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/pull/4174
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/pull/4215

## 🟡  Writing Flow
#### General
- [x] TC001 - Block insertion
- [x] TC001 - P

[2021-11-16 11:48] SiobhyB opened #4245 "Jetpack Tiled Gallery: Add Alignment Options"
The alignment options for the Tiled Gallery block on native should match what we see on the web.

As you can see from the following video of the web's functionality, it's possible to access the block's alignment options by either selecting the block as a whole or by selecting an individual image:

https://user-images.githubusercontent.com/2998162/141979219-0ce24f4d-0ac5-413f-936a-d3d7f6512f09.mov

[2021-11-16 13:27] hypest opened #4247 "Media & Text block: Excess "failure" notification"
**Describe the bug**
On WPAndroid, when trying to upload an image or a video in the Media & Text block while offline, there are 2 different failure notifications going on: one at the bottom and one at the top. See screenshot:

<img width="300px" src="https://user-images.githubusercontent.com/1032913/141989776-ca567fc9-d0f5-47e8-a827-14b6a73ad59c.png"/>

**To Reproduce**
Steps to reproduce the beha

[2021-11-16 16:21] jhnstn commented on #4226
# Test the Release - Android

**Device:** Pixel 5 (Android 12.0)
**Build:** 18.7.0.0

##  New changes in the release
- [x] https://github.com/wordpress-mobile/gutenberg-mobile/pull/3971
- [ ] https://github.com/wordpress-mobile/gutenberg-mobile/pull/4174
- [ ] ~https://github.com/wordpress-mobile/gutenberg-mobile/pull/4215~ (iOS only)

## Writing Flow
#### General
- [x] TC001 - Block insertion
- [

[2021-11-16 17:25] ttahmouch commented on #4058
I published some videos and screenshots in [the Draft PR](https://github.com/WordPress/gutenberg/pull/35972) if you would be so kind and take a look, @iamthomasbishop , and others. 🙏

[2021-11-16 18:53] SiobhyB commented on #4245
The alignment options for the block as a whole appear to work out of the box for me. As the video shows, I'm able to set the _none_, _wide_, _full_, and _center_ alignment options. I confirmed the HTML updates in the same way as I see it update on the web, also:

https://user-images.githubusercontent.com/2998162/142047256-a10cb0ac-6228-4123-88dc-f8270c75892a.mov

I'll address the alignment options

[2021-11-16 19:21] SiobhyB commented on #4245
The alignment options were hidden from individual images in https://github.com/Automattic/jetpack/pull/21694, as part of the efforts to hide the image block's settings.

Prior to that change, all of the image block's alignment options were available i.e. _none_, _wide_, _full_, _center_, _left_, and _right_. If we decide to bring the options back to individual images, we'd need to figure out the f

[2021-11-16 22:22] guarani commented on #4245
Thanks for summarizing the options here, @SiobhyB!

I vote for the first option, too. It's my understanding that alignment options on the web appear when you select images because there is nothing else to select but the block itself. Clicking an image effectively selects the whole Tiled Gallery block, thus showing the block's settings sidebar.

It sounds like no PRs will be needed on this issue an

[2021-11-17 11:22] SiobhyB commented on #4245
Perfect, thanks for confirming Paul! I'll go ahead to close this 🥳

[2021-11-17 11:22] #4245 closed, assigned to SiobhyB

[2021-11-18 19:54] fluiddot commented on #4226
Release `v1.66.0` finished 🎊 !

[2021-11-18 19:54] #4226 closed, assigned to jhnstn, fluiddot

[2021-11-18 22:55] #4190 closed, assigned to SiobhyB

[2021-11-18 23:37] guarani commented on #3829
I personally would go with @hypest's preference of preserving the attributes in both edit and replace scenarios, it feels like the safer option. Especially since captions are rich text and can be long, users could put a lot of work into them before replacing an image. I could imagine a user having multiple similar images in their camera reel, and after setting an image, its caption, and attributes

[2021-11-19 15:49] hypest opened #4261 "Broken window: missing side padding on extra block options bottomsheet"
**Describe the bug**
The text button options offered by the 3-dot block settings bottom sheet do not have padding on the left and right side, making them look "off" when tapped on. The space left and right of the text buttons is not too big anyway so I don't think there's a usability issue due to the missing padding, and that's why I'd consider this a (visual) broken window.

**To Reproduce**
Step

[2021-11-19 17:08] SiobhyB opened #4262 "Jetpack Tiled Gallery: Block's initial HTML should match the web"
**Describe the bug**

The initial HTML that's loaded when adding the Tiled Gallery block is currently different to the across native and web.

When added via the web, the HTML is as follows: ``

While on native, the HTML currently includes `columns` and `ids` attributes: ``

This needs to be updated on native to match the web.

**To Reproduce**

Steps to reproduce the behavior:

1. With the Tiled

[2021-11-22 15:30] fluiddot commented on #3136
Thanks @dcalhoun for capturing all these useful findings ❤️ !

I've debugged the issue too but focused on the native side of Aztec. I confirm that this is coming from Aztec-Android and is actually related to the https://github.com/wordpress-mobile/WordPress-Android/issues/13169#issuecomment-876582553 comment.

Aztec-Android can perform modifications in the HTML provided by the `RichText` component

[2021-11-22 17:39] illusaen commented on #4142
Resolved with PR https://github.com/Automattic/jetpack/pull/21597

[2021-11-22 17:39] #4142 closed, assigned to illusaen

[2021-11-22 17:51] illusaen commented on #4212
Note: Use the tiled gallery block in the main app like a user to make sure that the initial UX doesn't break and works as a general building block to be polished in Phase 2.

[2021-11-22 17:56] illusaen opened #4267 "Verify that Tiled Column layout works"
Verify that Tiled Column layout correctly sets the HTML so that it can be seen in Preview Post.

Note: Do after Mosaic layout is done as we surmise that most of the work for this is shared with Mosaic layout.

[2021-11-22 18:05] illusaen opened #4268 "Merge Jetpack Phase 1B feature branch into master"
Merge `rnmobile/add/tiled-gallery-block` into Jetpack `master` and merge its linked PRs into their respective main branches. We're keeping the Tiled Gallery behind a dev-only flag on the mobile apps, so it's not going to be put in production yet.

[2021-11-22 18:09] hypest opened #4269 "Gallery block: Media selection bottom sheet automatically opens on self-hosted but not Simple sites"
**Describe the bug**
Upon adding a Gallery block from the Inserter, the media selection bottom sheet ("Choose from device", "Take a photo", etc..) opens automatically when on a self-hosted site, but doesn't seem to open on WPCOM Simple sites.

**To Reproduce**
Steps to reproduce the behavior:
1. On a self-hosted site, via WPAndroid or WPiOS,
2. Add a Gallery block to an empty post
3. Notice that m

[2021-11-22 18:10] hypest commented on #4269
👋 @jd-alexander , I think you worked in the past on automatically opening the media selection bottom sheet, can you take a look on this one? It's a weird misalignment between the site types. Thanks!

[2021-11-22 18:14] guarani opened #4270 "Make a media processor for the Tiled Gallery block"
Media processors are used to make sure media uploads work after the user exits the editor.

[2021-11-22 18:21] jd-alexander commented on #4269
I will take a look. 🙇🏾

[2021-11-22 19:43] #4058 closed, assigned to ttahmouch

[2021-11-22 20:08] guarani opened #4274 "Tiled Gallery layout selection UI should show layout previews"
**Describe the bug**

When the user chooses a layout in the Tiled Gallery's settings, the app should display an image preview of the layout but currently just shows the layout's name.

| Expected | Actual |
| - | - |
| <img width="200" alt="Screen Shot 2021-11-22 at 18 21 35" src="https://user-images.githubusercontent.com/1898325/142937167-810985c3-b672-48cd-b6d2-2cc95a3aa159.png"> | <img width="3

[2021-11-22 21:47] guarani commented on #4274
👋 @kyleaparker, for the Tiled Gallery's layout picker, would it make sense to use static images for each layout's preview? While the web dynamically creates each layout's preview using six sample images bundled with the block, that approach would be difficult to pull of on mobile. Do you think we could use the below sample images to compose each layout's preview into a single static preview image?

[2021-11-22 21:56] guarani opened #4275 "Tiled Gallery layout selection UI does not render on multiple rows"
**Describe the bug**

When the user chooses a layout in the Tiled Gallery's settings, the app should display the layout previews in a multi-row grid. Instead, the app displays the layout previews in a single, scrollable row.

| Expected | Actual |
| - | - |
| <img width="300" alt="Screen Shot 2021-11-22 at 18 21 35" src="https://user-images.githubusercontent.com/1898325/142940567-eb8accd5-d4e4-467

[2021-11-22 22:06] guarani opened #4276 "Tiled Gallery bottom sheet layout selection style fixes"
**Describe the bug**

When the user chooses a layout in the Tiled Gallery's settings, the app should display an image preview of the layout but currently just shows the layout's name.

| Expected | Actual |
| - | - |
| <img width="564" alt="Screen Shot 2021-11-22 at 19 01 54" src="https://user-images.githubusercontent.com/1898325/142941870-2ffac15c-8a92-4ca3-9b5f-9e3282cec891.png"> | <img width="4

[2021-11-22 22:08] guarani commented on #4192
@illusaen, @SiobhyB, as we discussed offline, I'm closing this issue in favor of the following issues. The motivation was that this issue addressed the Circle Layout specifically, while these remaining bugs affect all layouts, so should be addressed separately.

https://github.com/wordpress-mobile/gutenberg-mobile/issues/4274

https://github.com/wordpress-mobile/gutenberg-mobile/issues/4275

https

[2021-11-22 22:10] #4192 closed, assigned to guarani

[2021-11-23 11:45] fluiddot commented on #3136
I've just opened the following PRs that addresses the issue:
- https://github.com/wordpress-mobile/AztecEditor-Android/pull/944
- https://github.com/WordPress/gutenberg/pull/36766

Additionally, I gathered further investigations in https://github.com/WordPress/gutenberg/pull/36766 regarding the modifications that Aztec-Android does related to the links.

@hypest @dcalhoun I'd appreciate it if you

[2021-11-23 16:11] SiobhyB commented on #4063
Just noting that another way this bug emerges is when splitting a heading block that has some words that have been autocorrected. The difference in bolded words become visible as soon as a block is split.

Originally reported at https://github.com/WordPress/gutenberg/issues/36784 (but closed due to being a dupe).

[2021-11-23 17:32] fluiddot commented on #2373
I continued the investigations on this issue (thanks @AmandaRiu for such detailed debugging, it really helped me out on getting easily the context 🙇 !). In this case, I decided to explore and debug the native side and Aztec-Android , as the React Native side was already covered in previous comments.

As mentioned previously, when swiping out words using Gboard, splitting words produces an odd beha

[2021-11-23 17:37] fluiddot commented on #2373
Yep, I experienced the same behavior. I debugged both cases and the main difference is that when adding words by swiping, Android calls the method `deleteSurroundingText` ([reference](https://developer.android.com/reference/android/view/inputmethod/BaseInputConnection#deleteSurroundingText(int,%20int))) when splitting words, which produces all text changes mentioned in https://github.com/wordpress

[2021-11-23 18:52] guarani opened #4281 "Remove the "Link to" option from the Tiled Gallery's bottom sheet"
The Tiled Gallery block on the web doesn't support custom URLs in the "Link To" setting. Since we're holding off implementing any Link To functionality for now (see https://github.com/wordpress-mobile/gutenberg-mobile/issues/4156), we should remove the Link To section from the bottom sheet.

| <img src="https://user-images.githubusercontent.com/1898325/143086658-35742a29-406f-452b-9597-9f94bfb7275

[2021-11-23 18:59] kyleaparker commented on #4274
Yes I think that's OK and the images proposed look good 👍

[2021-11-23 21:28] guarani commented on #4274
@kyleaparker, sounds good! 👍

Could you provide us with the final four images (one for each layout) when you get a chance please?

[2021-11-24 00:55] #4269 closed, assigned to nobody

[2021-11-24 16:50] illusaen opened #4285 "Tiled Gallery UX change to match Gallery - Columns"
Change tiled gallery columns to match gallery:
* Right now, tiled gallery columns is WYSWYG -- the columns shown in settings is what is shown in the preview
* Gallery, however, separates preview from settings; it shows a set 1-2 columns for portrait, 1-4 for landscape.
* Also, make sure to match web's HTML when there are no images; don't set columns attribute.

[2021-11-24 17:03] guarani opened #4286 "Verify that the Tiled Gallery works when used in Reusable Blocks"
The aim here is to verify that the Tiled Gallery works as expected when used inside a reusable block.

[2021-11-24 19:02] fluiddot commented on #2373
I tried to figure out a way to address this issue but no luck so far. I'd like to leave here some notes in case we revisit it in the future:

### Gboard changes the text in multiple steps

I tested the Gboard on other apps and I noticed that the words added by swiping are treated as a single item when being modified. For example, when pressing the backspace key, instead of deleting one character i

[2021-11-24 23:52] guarani commented on #4190
👋 @SiobhyB, when testing the Gutenberg Mobile feature branch, `add/tiled-gallery-block`, the captions are still visible on the Tiled Gallery inner Image blocks. It looks like the PRs that closed this issue target the repo's main branches instead of our feature branches.

It looks like the best way to fix this is to simply update our feature branches with the latest from their repo's main branches,

[2021-11-25 11:47] SiobhyB commented on #4190
Thanks for the ping @guarani! You're right that I intentionally targeted the main branches of the repos with the others PRs, but forgot to update our feature branches. 🤦‍♀️  Updated the branches now!

[2021-11-25 13:04] guarani commented on #4190
Gotcha, makes sense. Thanks for updating the feature branches!

[2021-11-25 16:41] #3136 closed, assigned to fluiddot

[2021-11-25 17:02] fluiddot commented on #3048
@guarani Looks like the PR https://github.com/wordpress-mobile/WordPress-Android/pull/14334 already addressed the issue, as I no longer see the "Switch to Classic editor" option in the block editor, so we can close this issue.

Android|iOS
--|--
![Screenshot_20211125-180012_WordPress](https://user-images.githubusercontent.com/14905380/143480131-7e48682b-0462-4770-b9a7-aaeaabae0430.jpg)|![IMG_B45A1

[2021-11-25 17:19] fluiddot commented on #3260
@guarani if we remove the switch, we would need to force enable the block editor for those users that previously disabled it, right?

I see that at least on iOS, this value is persisted in the device ([reference](https://github.com/wordpress-mobile/WordPress-iOS/blob/3675ad4ed9bc44dd374a2b2b10c1fdf6efb587d1/WordPress/Classes/Utility/Editor/GutenbergSettings.swift#L50-L65)), so I guess we could als

[2021-11-25 17:31] guarani commented on #3260
Thanks for asking, @fluiddot! I should have included more context here, but in short, we paused work on removing the switch for Atomic sites. This was because Atomic users use the Classic editor more than Simple site users do.

After we removed access to the Classic editor on Simple sites for all new posts (WPiOS PR [here](https://github.com/wordpress-mobile/WordPress-iOS/pull/15766)), we decided

[2021-11-25 17:39] guarani commented on #3048
Thanks for catching this issue @fluiddot, I agree it should be closed.

FWIW I think this was a case of one WPAndroid PR and one WPiOS PR both addressing this issue (using the "addresses" keyword in their PR descriptions, as neither wanted to close this issue before the other 😅), so when both PRs were merged, we forgot to go back and close this issue.

[2021-11-25 17:39] #3048 closed, assigned to nobody

[2021-11-25 17:42] fluiddot commented on #3260
Thanks @guarani for the clarification 🙇 !

I was thinking to tackle this as part of the groundskeeping rotation, if this is on hold for now, I'll pick other issues.

[2021-11-25 17:44] guarani commented on #3260
Makes sense 🙇

[2021-11-25 17:46] fluiddot commented on #3048
Awesome, thanks for checking and closing it 🙇 .

NOTE: I've just seen the related [WordPress-iOS PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/16131) 😅 .

[2021-11-25 18:19] kyleaparker commented on #4274
Let's try these 4:

https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/tiled-gallery/tiled-gallery_example-2.jpg

https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/tiled-gallery/tiled-gallery_example-4.jpg

https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/extensions/blocks/tiled-gallery/t

[2021-11-25 18:45] SiobhyB opened #4293 "Contributors are able to upload via Gallery block"
**Describe the bug**

It shouldn't be possible for users with the contributor role to upload media to a site, but it's currently possible for them to do so via the Gallery block in the Android and iOS apps.

As reported separately in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3259, it also _appears_ like contributors are able to upload media via the Image block, up until they see

[2021-11-25 18:52] SiobhyB commented on #4212
I tested the block and confirmed the following:

* It's possible to select multiple images when adding to the gallery, even if some images have already been added.
* Editing an image selection works the same way as it does on the web (i.e. after adding four images, you can still remove any of those individually.). It's also possible to change the position of images within the gallery via the image

[2021-11-25 19:52] guarani commented on #4267
Good news is that after the Mosaic layout was implemented in https://github.com/Automattic/jetpack/pull/21767, the Tiled Columns layout's basic functionality appears to be working. The following video shows a preview of a post containing a Tiled Columns block created in the mobile editor.

https://user-images.githubusercontent.com/1898325/143494373-6ec58392-55c2-4c68-b43d-1d9a7f5a3522.mov

[2021-11-26 08:33] derekblank commented on #3017
@iamthomasbishop @chipsnyder I'll be taking a look at this one! 👋  I'll outline some thoughts on how we might get started:

There are ways to implement a native clear button in a text field for iOS and Android, but due to a limitation with React Native, only the iOS solution is supported. Fortunately, it can be handled in Javascript, however. (I discuss this a bit more generally in _pbMoDN-34o-p2_

[2021-11-26 09:24] thabotswana commented on #559
3-star iOS app review

[2021-11-26 09:53] fluiddot commented on #3017
This step is a good start, as you commented, most of the use cases of `TextInput` component fall into the `BottomSheet` area, so adding a clear button there would satisfy plenty of cases.

Not sure if we should expand the use of the `BottomSheet.Cell` component outside the `BottomSheet` area, as it was created to be a sub-component, which probably means that part of its behavior is ad-hoc to the `

[2021-11-26 12:47] fluiddot commented on #4069
I investigated this issue further and debugged the `react-native-keyboard-aware-scroll-view` package, as the `KeyboardAwareFlatList` component is the one involved in scrolling the content by the position of the caret ([reference](https://github.com/WordPress/gutenberg/blob/96a0dafa1c06d3785e5616a775e82df0c07403ad/packages/components/src/mobile/keyboard-aware-flat-list/index.ios.js#L70-L80)).

As f

[2021-11-26 12:47] SiobhyB commented on #1011
I'm closing this as the new button was added to iOS in https://github.com/wordpress-mobile/gutenberg-mobile/pull/3449 and to Android in https://github.com/WordPress/gutenberg/pull/31705. There are a few outstanding enhancements, but those are tracked in separate issues.

[2021-11-26 12:47] #1011 closed

[2021-11-26 12:54] guarani commented on #4212
Thank you for verifying the Tiled Gallery's behavior here, @SiobhyB!

It sounds like apart from the media upload bug, no other issues were uncovered. I'd agree then that this issue can be closed since our media selection UX appears to be in good shape.

[2021-11-26 12:55] SiobhyB commented on #4212
Perfect, thank you!

[2021-11-26 12:55] #4212 closed, assigned to SiobhyB

[2021-11-26 13:10] hypest opened #4298 "Improve the video block's experience in the editor"
Currently, the video block offers a video thumbnail and a Play button that launches a video preview outside the editor. It would be nice if we can iterate on this now that we perhaps have better technical solutions than the ones we had originally when we ported the video block. For example, the `cover` block currently offers live (looping) preview of the video in-editor.

We could consider offerin

[2021-11-26 13:22] guarani commented on #4274
@kyleaparker sorry, I meant to ask for four images that look something like these:

| Tiled mosaic | Circles | Square tiles | Tiled columns |
| - | - | - | - |
| <img width="135" alt="Screen Shot 2021-11-26 at 09 57 40" src="https://user-images.githubusercontent.com/1898325/143584762-6317011c-6b09-4103-a540-b42329d1111a.png"> | <img width="147" alt="Screen Shot 2021-11-26 at 09 57 50" src="https:/

[2021-11-26 13:25] guarani commented on #3048
Ah yes, that's the WPiOS PR I was referring to 👍

[2021-11-26 14:23] guarani commented on #4228
A basic implementation of the Mosaic layout was merged into the feature branch via:
- https://github.com/Automattic/jetpack/pull/21767
- https://github.com/wordpress-mobile/gutenberg-mobile/pull/4249

I'll be closing this issue in favor of smaller issues to address outstanding features or bugs related to the Mosaic layout. These issues will address:
- https://github.com/wordpress-mobile/gutenberg-

[2021-11-26 14:45] guarani opened #4300 "The Mosaic layout should respect image aspect ratios"
**Describe the bug**

When previewing the Mosaic layout of the Tiled Gallery block, the site's front-end is showing all images square. Instead, images aspect ratios should be respected (i.e. if an image is rectangular, it should still be rectangular when used in the Mosaic layout).

**To Reproduce**

<details>
<summary>Setup to test from the main apps</summary>
<p>
<ol>
<li>Run the packager from t

[2021-11-26 15:14] guarani opened #4301 "The Mosaic layout should not expose columns setting to user"
**Describe the bug**

A column setting does not apply to the Tiled Gallery Mosaic layout, so the setting should be removed from the block's settings bottom sheet.

**To Reproduce**

<details>
<summary>Setup to test from the main apps</summary>
<p>
<ol>
<li>Run the packager from the <code>add/tiled-gallery-block</code> branch: <code>npm run start:reset</code></li>
<li>Run either of the main apps (W

[2021-11-26 16:05] guarani opened #4302 "Closing a post preview breaks Tiled Gallery block"
**Describe the bug**

Closing a post preview breaks Tiled Gallery block

**To Reproduce**

<details>
<summary>Setup to test from the main apps</summary>
<p>
<ol>
<li>Run the packager from the <code>add/tiled-gallery-block</code> branch: <code>npm run start:reset</code></li>
<li>Run either of the main apps (WPiOS or WPAndroid)</li>
<li>Open a new post in the main apps and expect the editor to load

[2021-11-26 16:18] #4069 closed, assigned to fluiddot

[2021-11-26 16:19] guarani opened #4303 "The column widths block attribute is not saved to the block's serialized output"
**Describe the bug**

When a Tiled Gallery is inserted into the editor (using default Mosaic layout), images are added, and you switch to HTML mode, the `columnWidths` block attribute should have the correct values in the block's HTML.

**To Reproduce**
1. Add a Tiled Gallery block (defaults to Mosaic layout)
2. Add images
3. Switch to HTML mode via ellipsis button menu
4. Notice a lack of column

[2021-11-26 16:20] guarani commented on #4228
Issues created and linked to above, so I've closed this issue as resolved.

[2021-11-26 16:20] #4228 closed, assigned to guarani

[2021-11-26 16:48] SiobhyB commented on #4286
I tested this by first creating a reusable block on the web that contained the Tiled Gallery block. When attempting to add the reusable block on the app, with the feature branch checked out, I get a `problem displaying block` error:

<img src="https://user-images.githubusercontent.com/2998162/143611130-2c569ca6-89e3-4048-9ffd-b9bb121eca5e.png" width="50%"/>

I also tested creating reusable blocks

[2021-11-26 18:08] guarani commented on #4286
Thanks for checking, @SiobhyB!

(I'd forgotten to provide an issue description here, so I added that now.)

While this issue was given medium priority, do you think we should create a new issue with the bug you've uncovered and we can prioritize that alongside other issues? That way we can make sure we're working on the most impactful issues.

[2021-11-26 19:17] guarani opened #4305 "The Tiled Columns layout does not respect image aspect ratios"
**Describe the bug**

When previewing the Tiled Columns layout of the Tiled Gallery block, the site's front-end is showing all images square. Instead, images aspect ratios should be respected (i.e. if an image is rectangular, it should still be rectangular on the site's front-end).

**To Reproduce**

<details>
<summary>Setup to test from the main apps</summary>
<p>
<ol>
<li>Run the packager from t

[2021-11-26 19:30] guarani opened #4306 "Tiled Gallery images appear pixelated when viewed on site front-end"
**Describe the bug**

When previewing a Tiled Gallery block (using any layout), the block's images appear blurry (low resolution) on the site's front-end.

**To Reproduce**

<details>
<summary>Setup to test from the main apps</summary>
<p>
<ol>
<li>Run the packager from the <code>add/tiled-gallery-block</code> branch: <code>npm run start:reset</code></li>
<li>Run either of the main apps (WPiOS or

[2021-11-26 19:46] guarani commented on #4267
I'm closing this issue since the above comment confirmed that the Tiled Columns layout works at some level.
I've created the following issue to address an aspect-ratio related bug with this layout:
- https://github.com/wordpress-mobile/gutenberg-mobile/issues/4305

[2021-11-26 19:46] #4267 closed, assigned to guarani

[2021-11-29 06:58] derekblank commented on #3017
Right -- this is a good point, and I agree with you about not expanding the scope of `BottomSheet.Cell` outside of `BottomSheet`.

A curious detail here is that the main native [TextControl](https://github.com/WordPress/gutenberg/tree/e4dd9b394ae9b48a3345d6292066c02a06ee7ac4/packages/components/src/text-control) component [is actually using `BottomSheet.Cell`](https://github.com/WordPress/gutenber

[2021-11-29 10:11] fluiddot commented on #3017
Good catch! Now after checking the `TextControl` component further, I'm noticing that we're likely misusing the component in some places. As the [`README` file](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/text-control) states, I understand that the purpose of the component is editing text, however, I see that it's being used just as an interactable text ([example refe

[2021-11-29 11:31] SiobhyB opened #4309 "Jetpack Tiled Gallery: 'Problem displaying block' error when used in Reusable block"
**Describe the bug**

When attempting to use a Reusable block that contains the Jetpack Tiled Gallery block in the apps, a `problem displaying block` error pops up.

**To Reproduce**
Steps to reproduce the behaviour:
1. First, in a web browser, go through [the steps to create a Reusable block](https://wordpress.com/support/wordpress-editor/blocks/reusable-block/#create-a-reusable-block).
2. Add th

[2021-11-29 11:32] SiobhyB commented on #4286
@guarani, that makes sense! I've gone ahead to create a new issue at https://github.com/wordpress-mobile/gutenberg-mobile/issues/4309.

[2021-11-29 11:32] #4286 closed, assigned to SiobhyB

[2021-11-29 11:47] SiobhyB opened #4310 "Tiled Gallery Block: Verify contrast between text and background in dark mode"
While working on https://github.com/Automattic/jetpack/pull/21884, I spotted that the contrast between the `Tiled mosaic` label and the background was off in dark mode:

<img src="https://user-images.githubusercontent.com/2998162/143862397-0e051e20-69a6-4c91-86fb-54abb1ca5297.png" width="50%">

I haven't been able to reproduce the issue since creating the PR, but it'd be good to do some more testi

[2021-11-29 12:42] guarani commented on #4286
Thanks @SiobhyB!

[2021-11-29 17:16] guarani commented on #4309
Assigned low priority because we don't foresee Tiled Gallery being used in reusable blocks often.
cc @SiobhyB @illusaen

[2021-11-29 17:20] guarani commented on #4293
The Tiled Gallery team haven't prioritized this because it's an existing but that affects the core Gallery and is on the Mobile Gutenpages project board.

[2021-11-29 17:23] guarani commented on #4310
Closing in favor of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4276 where I've updated it to include this dark mode issue.

[2021-11-29 17:23] #4310 closed, assigned to nobody

[2021-11-29 17:33] guarani commented on #4206
@SiobhyB checked and confirmed that the resize attribute is present on the Square layout's HTML.

[2021-11-29 17:33] #4206 closed, assigned to nobody

[2021-11-29 17:39] guarani commented on #4303
When fixing this bug, test by saving a post on mobile and opening on web to ensure compatibility.

[2021-11-29 17:44] guarani commented on #4305
This could be caused by the block context that was added for the Square layout. Or by the hard-coded 100x100 dimensions we need to remove (tracked in another issue).

[2021-11-29 17:46] guarani commented on #4302
We haven't been able to reproduce this recently.

[2021-11-29 17:54] guarani commented on #4262
We don't think this affects user-related functionality in any way.

[2021-11-29 18:15] guarani commented on #4275
@kyleaparker, could we leave this out of the first shippable version of the Tiled Gallery block? It seems like it would be an enhancement, not a bug as such.

[2021-11-29 23:05] #4281 closed, assigned to SiobhyB

[2021-11-30 14:15] guarani commented on #4302
I was able to reproduce this on WPiOS using the steps to reproduce above (I haven't checked on Android yet). It looks like when the Preview screen is shown, the editor reloads, but it's unclear exactly what happens here.

The cause seems to be related to mobile adding extra decimal spaces to the `flex-basis` property. The web uses 5 decimal places when a value is not a whole number. It appears tha

[2021-11-30 14:30] mchowning commented on #4309
What would you think about marking this as a medium since it is a "broken" flow, and we have the medium option in mobile-gutenberg @guarani ?

[2021-11-30 15:11] kyleaparker commented on #4274
@guarani ahh sorry, I'll prepare something today!

[2021-11-30 15:23] kyleaparker commented on #4275
@guarani yes an enhancement sounds good, I don't think this is critical to shipping 👍

[2021-11-30 16:39] guarani opened #4316 "Remove hard-coded width from Mosaic layout calculation"
A hard-coded value relating to editor width was left in https://github.com/Automattic/jetpack/blob/a65afa960f02e1e4c2d1fab48a4a780a5dc082ae/projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/mosaic/index.js#L97 and needs to be removed/fixed.

[2021-11-30 17:31] SiobhyB opened #4317 "Gallery: Cancelling an individual image creates empty placeholder"
**Describe the bug**

After cancelling the upload an individual image in a gallery, an empty placeholder is left behind, both in the editor and on the site's front-end.

**To Reproduce**

Steps to reproduce the behavior:

1. Add a gallery block and tap "Add Media".
2. Select "Choose from device".
3. Select multiple images from the device and confirm the selection.
4. While the images are uploading

[2021-11-30 18:02] illusaen commented on #4208
Moved integration tests to phase 2 due to new issues.

[2021-11-30 18:29] guarani commented on #4274
Thanks @kyleaparker!

[2021-11-30 18:44] illusaen commented on #4285
Linking to https://github.com/wordpress-mobile/gutenberg-mobile/issues/4147 as we found this after putting the PR up for 4147.

[2021-11-30 20:16] kyleaparker commented on #4274
Here are the 4 examples:
![squares-example](https://user-images.githubusercontent.com/712873/144121322-7b1341c8-bc0a-4311-860f-b36a2415b0c7.png)
![columns-example](https://user-images.githubusercontent.com/712873/144121325-bc53794a-9a46-4367-bb09-2dffc734327f.png)
![circles-example](https://user-images.githubusercontent.com/712873/144121326-b8bdc7e2-2328-4af3-900a-66a3967f7fee.png)
![mosaic-exampl

[2021-11-30 20:46] guarani commented on #4244
_Important: The Mosaic layout and the WPiOS app was used for all tests. Testing focused on ensuring the Tiled Gallery worked on each site type, not that the layouts and their different configurations worked or that they worked on a specific platform._

## Jetpack site with Photon ON

(Note: Photon can be enabled in WP Admin → Jetpack → Settings → Performance → Enable site accelerator)

After publi

[2021-11-30 21:13] guarani opened #4320 "Tiled Gallery published on mobile on Jetpack site causes error on web"
When saving a Mosaic Tiled Gallery block on mobile on a Jetpack-connected self-hosted site, it appears to be missing the `data-link` attribute for its images. Opening the post on the web results in a "This block contains unexpected or invalid content" error (which can be manually fixed using the "Attempt block recovery" button.

(The change in `flex-basis` is a separate issue: https://github.com/w

[2021-11-30 23:29] guarani opened #4321 "Tiled Gallery doesn't work on private Atomic sites"
**Describe the bug**

A post containing a Tiled Gallery block does not render the block's images on a **private** Atomic site's front-end when published.

**To Reproduce**

<details>
<summary>Setup to test from the main apps</summary>
<p>
<ol>
<li>Run the packager from the <code>add/tiled-gallery-block</code> branch: <code>npm run start:reset</code></li>
<li>Run either of the main apps (WPiOS or W

[2021-11-30 23:50] guarani commented on #4309
I agree with moving it to Medium 👍  Since we've moved this to Phase 2 that should be enough to signal that it's not a priority for Phase 1B.

[2021-12-01 00:08] guarani commented on #4244
I've created issues for any previously un-reported issues as noted above. Given the open issues that cause differences between HTML generated on mobile and web, I don't think it's worth verifying the other layouts at this stage. Instead, we can test the other layouts – and re-test the Mosaic layout – once the issues are resolved.

I've changed the title and description of this issue to reflect how

[2021-12-01 00:14] guarani commented on #4321
I went ahead and marked this High priority since this bug prevents the block from being used on Atomic sites.

[2021-12-01 00:30] guarani commented on #4275
Thanks @kyleaparker!

[2021-12-01 04:40] jd-alexander opened #4322 "Heading block : split and merge causes empty paragaph and new lines during operation"
**Describe the bug**
While testing the writing flow, specifically, [splitting/merge list block](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/writing-flow/splitting-merging.md#tc005) I noticed that the when the block was being split one of the Paragraph blocks created had no hint and the newly created block with the second half of the split content had a new line.

[2021-12-01 11:58] SiobhyB commented on #4322
@hypest and I did some more testing, Stefanos confirmed this can be replicated with a really old version of the app (17.8) as long as the OS is updated to Android 12. I also replicated on version 18.6 of the app. It doesn't appear reproducible on Android 11.

[2021-12-01 13:54] guarani commented on #4244
I'm re-opening this because based on @SiobhyB's testing, Atomic sites work if they are public. Also, it appears that Photon can be toggled on/off on Atomic sites, so more scenarios need to be added above.

[2021-12-01 14:05] guarani commented on #4321
I've update the issue after @SiobhyB discovered that this issue only affects **private** Atomic sites.
Since public sites are un-affected, I've removed the priority so we can re-triage this.

[2021-12-02 15:21] mdrockwell opened #4327 "Button Block: Alignment Options"
**Is your feature request related to a problem? Please describe.**
The Button block does not offer the ability to set alignment, but this is available within the browser.

**Describe the solution you'd like**
Add an alignment option within the Button block's … menu.

**Additional context**
4563549-zd-woothemes

[2021-12-02 17:45] fluiddot opened #4329 "Text translations retrieved at global scope don't return translated value"
# Description
Most of the strings marked as untranslated are actually retrieving the translated text, and their translations are included in the i18n cache files, however, the translation is not displayed.

**Example:**
- String: `Align left`
- [Reference in Gutenberg](https://github.com/WordPress/gutenberg/blob/e96d47b35d8933ed15b1e242b9c85b855707737b/packages/block-editor/src/components/block-al

[2021-12-02 17:45] guarani opened #4330 "Show message to Tiled Gallery users when in-editor preview is unavailable"
Until the Tiled Gallery provides an in-editor preview for all layouts, a message must be shown to users explaining why the layout they've chosen is not reflected in the editor.

The message is a currently applicable to all layouts except the Square layout: Mosaic, Tiled Columns and Circles.

| <img width="315" alt="Screen Shot 2021-12-02 at 14 47 34" src="https://user-images.githubusercontent.com/

[2021-12-02 17:48] ttahmouch commented on #4219
I forgot to reassign the issue per our Asana conversation yesterday, @dcalhoun @antonis .

[2021-12-02 17:52] guarani opened #4331 "Tiled Gallery block should open media picker on block insertion"
When the Tiled Gallery block is inserted via the Block Inserter, it does not automatically open the media selection UI.

| Expected (core Gallery) | Actual (Tiled Gallery) |
| - | - |
| <img src="https://user-images.githubusercontent.com/1898325/144477372-c2ffe7cf-688e-4e6f-87c6-8bc7386c16b8.gif" alt="" width="350">  | <img src="https://user-images.githubusercontent.com/1898325/144477390-e610fd4d-

[2021-12-03 06:19] derekblank commented on #3017
@fluiddot I think breaking the task into two parts is a good idea!

I think I can get started with the first step since the work and scope seems clear:
- Add clear button functionality to [BottomSheetCell](https://github.com/WordPress/gutenberg/blob/f871c50ff1fe2156922d830f9e025166f9ca240e/packages/components/src/mobile/bottom-sheet/cell.native.js), with a default prop value of `false`, and updati

[2021-12-03 09:37] fluiddot commented on #4329
Regarding option 1 (Refactor initialization code), I created the following PRs as a proof-of-concept. As far as I tested, the approach works nice so we might consider it a valid workaround.
- https://github.com/WordPress/gutenberg/pull/37073
- https://github.com/wordpress-mobile/gutenberg-mobile/pull/4332

[2021-12-03 15:29] guarani commented on #4331
We may be able to copy the implementation from https://github.com/WordPress/gutenberg/pull/36757 to automatically open the media picker on insertion.

[2021-12-03 15:55] SiobhyB opened #4335 "Tiled Gallery: Design Review"
## Design Review Request

👋  @kyleaparker and @iamthomasbishop, as we're closing in on a shippable version of the Tiled Gallery block, we're at a point where we'd like to get a design review. Installable builds are up for each app and we'd be keen to hear any feedback or areas for improvement. Thanks in advance! 🙇‍♀️

## Installable Builds

* Android: https://github.com/wordpress-mobile/WordPress-

[2021-12-03 15:59] fluiddot commented on #3017
Yeah, eventually we should open this discussion if the `TextControl` is refactored. I'm wondering why we ended up using that component for other purposes, probably this was originated due to the fact that `BottomSheetCell` component contains too much logic and, instead of decoupling it to standalone components, we overused `TextControl` 🤔 . In any case, I'd focus on this later on (probably in a di

[2021-12-03 17:43] guarani opened #4336 "Restrict Tiled Gallery block to Simple sites"
This issue tracks the need to disable the Tiled Gallery on Atomic and Jetpack sites.

The first shippable iteration of the Tiled Gallery will support Simple sites only. A later release will add support for Atomic and Jetpack sites.

[2021-12-03 18:00] guarani commented on #4335
👋 @kyleaparker and @iamthomasbishop, while the above project board covers the issues we plan on fixing before shipping this block, you might run into issues that we've triaged and determined best left for a later release. These can be found by switching to the "Open issues" tab of that project board, under the "Phase 2" section.

[2021-12-03 20:11] twstokes opened #4339 "Help behavior button in Unsupported Block Editor doesn't work on iOS, loses edits on Android"
**Describe the bug**

On iOS:
- Tapping the Help button (question mark icon at the bottom right) while editing an unsupported block does nothing
- Long pressing the Help button shows a WordPress.com login

On Android:
- Tapping the Help button shows "Confirm Navigation" with options to "Stay on this page" or "Leave this page". When choosing "Leave this page", any changes to the unsupported block a

[2021-12-03 20:19] dcalhoun commented on #4329
💯 Great overview and thorough research, @fluiddot. Thank you for putting this together. 🙇🏻

At a high-level, Approach 1 makes sense. One question I have is whether the "lazy loading" of modules will have any impact on load time. Do you have any insight into this so far?

I will be interested to hear whether others know of a specific reason the code is structured the way it is currently. My guess i

[2021-12-06 17:46] illusaen commented on #4285
Still working on this; running into a maximum update exceeded error when looking at JTG block settings. This is being caused by setState being called recursively in an infinite loop. I think this is caused by TiledColumnsSetting:

`onChange={ value => {
						setColumnNumber( value );
						setAttributes( { columns: value } );
					} }`

Stopping due to HACK week this week; will pick up afterwards

[2021-12-07 07:45] hypest commented on #4329
Thanks for the analysis @fluiddot , and for the commenting @dcalhoun!

I believe this is the minimum we should do. That is, initialization of the translation facility needs to happen before the code that uses translations runs.

👋 @dcalhoun , I think you're correct that it's mostly a legacy thing. From the beginning, we were piggybacking on the main apps' translation pipeline and we thought that j

[2021-12-07 07:52] hypest commented on #4339
Ouch, the help button seems new and the UBE flow doesn't cater for it yet :(

I'd consider the second option as a stopgap solution. Then, some form of the third option.

[2021-12-07 14:23] dcalhoun commented on #4329
Ah, great point. I agree an ideal architecture would enable composing from different sources. E.g. Gutenberg itself, Jetpack, host app. We may ultimately apply both Approach 1 and Approach 2.

This crossed my mind as well and makes sense. An alpha release could capture the strings to be translated and serve as the initial release integrated in to the host app. A final release could be generated on

[2021-12-07 21:49] kyleaparker commented on #4335
Thank you, I'll test this today or tomorrow!

[2021-12-08 07:30] antonis opened #4351 "Editor: When switching to HTML mode the notice covers the title"
**Describe the bug**
When switching to HTML mode in the editor the notice covers the title

**To Reproduce**
Steps to reproduce the behavior:
1. Open the editor
2. Click on more button at the top left to open the menu
3. Select `HTML MODE`
4. Notice the the title is cover while the notice is visible

**Expected behavior**
When switching to HTML mode in the editor the notice does not cover the titl

[2021-12-08 16:23] SiobhyB commented on #4339
I've got a PR up to hide the button in https://github.com/WordPress/gutenberg/pull/37221 and have requested you as a reviewer, @twstokes. Let me know if anything's unclear on it! :)

I was curious about the class name associated with the button, `a8c-faux-inline-help`, and found some background in https://github.com/Automattic/jetpack/pull/18960 and https://github.com/Automattic/jetpack/pull/18885

[2021-12-09 02:31] kyleaparker commented on #4335
I've done a first pass ✅  It's coming together really well but I came across a few issues. Sorry if I mention issues that are already logged, I tried to cross check with the board but I may have overlooked some.

1. Looks like there is some extra padding at the top of the empty block, this should match the padding on the left and right edges
<img width="450" alt="Monosnap 2021-12-08 21-26-26" src=

[2021-12-09 13:16] #1212 closed

[2021-12-09 15:04] getdave commented on #4339
@SiobhyB I'm slightly confused as this inline help work was completed as part of my work for WordPress.com. AFAIK it isn't directly connected to Gutenberg.

As far as I remember the "faux" is denoting that the element is not the true Inline Help but rather simply an anchor which links back to WP.com "Calypso" where the true inline help module can be displayed.

I believe the "faux" version of the

[2021-12-09 18:17] fluiddot commented on #4329
Good question, I haven't benchmarked the lazy loading but it would be interesting to measure the impact on load time. I don’t expect a big change here as we’re already following this approach when initializing the editor ([reference](https://github.com/WordPress/gutenberg/blob/c386fd09299aab83df2b9da2dbab59016c6dba50/packages/react-native-editor/src/index.js#L47)), my approach on the refactor woul

[2021-12-09 18:59] dcalhoun commented on #4329
Thanks for pointing this out. I agree the changes to this likely have little-to-no impact given are merely relocating the lazy-loading of the module.

I appreciate you providing the additional details of the current setup. It is a good point that attracting translation contributors would be a big undertaking.

[2021-12-10 11:35] fluiddot commented on #4329
I explored this further and noticed that, although the JSON files referenced in the code ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/blob/bcfe6d3bd40a859ae107ef7d35e48baf0c6a95c2/src/i18n-cache/gutenberg/index.native.js#L19)) are exported as assets ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/bundle/ios/assets/gutenberg/packages/react-native-

[2021-12-10 14:33] fluiddot commented on #2162
Following with the idea of avoiding distributing the entire jetpack translation files, I've benchmarked the size of the JS bundle in relation to the translations, here are the results:

### Only include Gutenberg translations
- Bundle including all translations: 12.8 MB _(current size)_
- Bundle without translations: 5MB
- **Translations are increasing by 7.8 MB the bundle size.**

I was surprised

[2021-12-10 22:30] twstokes opened #4368 "Android: Title and Inserter do not honor system language when set to Hebrew"
**Describe the bug**
The title text (e.g. "Add title") and block names in the Inserter (e.g. "Heading", "Paragraph") are not translated when the OS is set to use Hebrew and the app's language setting is kept at the default.

**To Reproduce**
1. Set Android's language to Hebrew [[instructions](https://support.google.com/accounts/answer/32047?hl=en&co=GENIE.Platform%3DAndroid)]
2. Clean install Word

[2021-12-11 15:00] ChrissiePollock commented on #2545
Also requested on 4603511-zen.

[2021-12-11 17:56] twstokes opened #4370 "iPadOS 15 - Gaps shown around floating toolbar when using external keyboard"
**Describe the bug**
On iPadOS 15 the operating system's keyboard toolbar does not span the full width of the screen when an external keyboard is being used and the on-screen keyboard is hidden.

**To Reproduce**
Prerequisites: iPad running iPadOS 15 with an external keyboard connected (the Simulator will also work).

1. Start a new Post
2. Type text in a Paragraph Block

**Expected behavior**
A g

[2021-12-11 21:59] twstokes opened #4371 "iOS: Image and Video blocks don't filter their media types on Albums view"
**Describe the bug**

- When selecting "Choose from device" on an Image block, videos are still visible and counted on the Albums view
- When selecting "Choose from device" on an Video block, images are still visible and counted on the Albums view

**To Reproduce**

Steps to reproduce the behavior for images:
1. Ensure at least one image and one video exist in the Photos app and that the WordPress

[2021-12-11 22:41] twstokes commented on #4371
- https://github.com/wordpress-mobile/WordPress-iOS/pull/17670

[2021-12-13 08:53] hypest commented on #4370
Marked as "medium priority" (instead of "low") as this is a broken window that lowers the perceived level of quality of the editor.

[2021-12-13 08:57] hypest commented on #4371
Thanks for the report and the fix PR @twstokes! Is this a regression?

[2021-12-13 14:46] antonis commented on #4040
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/15697

[2021-12-13 14:46] #4040 closed, assigned to antonis

[2021-12-13 15:35] twstokes commented on #4371
I don't believe so @hypest, I'd noticed it during testing.

[2021-12-13 21:27] dcalhoun commented on #4329
@fluiddot I did not specifically review how the JSON files were managed, but I did not encounter any oddities. From light testing of i18n just now, it would appear that translations are displayed as expected within the RN 0.66 upgrade work. Is there something specific you feel I should review or test?

[2021-12-14 16:01] SiobhyB opened #4376 "Jetpack Tiled Gallery: Remove extra padding at top of empty block"
It was brought up in a recent design review at https://github.com/wordpress-mobile/gutenberg-mobile/issues/4335#issuecomment-989448363 that the block currently has some extra padding at the top when empty:

<img width="450" alt="145323159-ab39bf96-0ae8-4a14-8b86-33374b56f53a" src="https://user-images.githubusercontent.com/2998162/146033838-070f219a-43a2-4bc4-9c8c-53bb03232a43.png">

The top paddin

[2021-12-14 16:07] SiobhyB opened #4377 "Jetpack Tiled Gallery: Hide settings icon when block is empty"
As raised in the design review at https://github.com/wordpress-mobile/gutenberg-mobile/issues/4335#issuecomment-989448363, users can currently access the Tiled Gallery block's settings icon when the block is empty, with no media. It should only be possible to access settings after media has been inserted.

Resolving this will bring the Tiled Gallery block's behaviour in line with that of the Galle

[2021-12-14 16:56] SiobhyB opened #4378 "Jetpack Tiled Gallery: How should we handle (lack of) in-editor previews?"
The in-editor preview isn't going to be worked on until the second phase of the Tiled Gallery block. As such, users aren't going to see previews when they make changes to the block's styles or the rounded corner setting. This could be viewed as unintuitive, given that other blocks tend to display instant in-editor previews when settings are changed.

How should we navigate this until work on phase

[2021-12-14 17:02] SiobhyB commented on #4335
Thank you for the review @kyleaparker! 🙌

I've gone ahead to create issues for these at https://github.com/wordpress-mobile/gutenberg-mobile/issues/4376 and https://github.com/wordpress-mobile/gutenberg-mobile/issues/4377 🙇‍♀️

The web centre aligns by default, too, and my sense is that it's preferable to match up with the web where possible. Do you have any strong feelings or other thoughts about

[2021-12-14 18:17] SiobhyB commented on #4339
Just noting for posterity that @getdave and I talked "off GitHub" to share how the UBE worked (and therefore why the help button could be seen within it). He helpfully clarified again that the eventual plan is to replace the "faux" help button, so hiding it, therefore, seems like the best solution for our needs for now.

[2021-12-14 20:58] guarani commented on #4378
👋 @SiobhyB, there's a message shown in the designs to let users know how Mosaic and Columns are only shown in the page preview i.e. not in the in-editor preview, "The Mosaic style is only visible in the page preview":

| <img width="300" alt="Screen Shot 2021-12-14 at 17 50 34" src="https://user-images.githubusercontent.com/1898325/146078520-b902124f-cbb0-4389-88f8-68f3fde917f3.png"> |
| - |

Our

[2021-12-15 02:11] kyleaparker commented on #4378
I've rethought the approach of showing a message and think it would be best to hide these settings entirely. My suggestion would be to hide any setting that doesn't render an immediate preview. I think this is the least confusing approach to begin with, and we can then add the settings as they become available.

The thinking is we won't confuse users who add this block from mobile with settings th

[2021-12-15 09:41] mkevins commented on #4112
@geriux  :wave: :smile:

I've made some progress on this within these POC branches:
* https://github.com/wordpress-mobile/AztecEditor-iOS/compare/try/fix-custom-font-size-gutenberg-heading-and-pre-blocks
* https://github.com/WordPress/gutenberg/compare/rnmobile/try/fix-custom-font-size-gutenberg-heading-and-pre-blocks

In this approach, we use the font-size from the default to create a font-scale,

[2021-12-15 10:11] fluiddot commented on #4329
@dcalhoun I wouldn't expect any issue regarding translations, at least from what I saw in the 0.66 changelog. The only change we probably will experience is that JSON files are no longer generated as asset files when producing a bundle, so we could remove all JSON files under `bundle/ios/assets/` folders as won't be updated after the upgrade. I could do a quick test on the RN upgrade branch to ver

[2021-12-15 14:45] SiobhyB commented on #4378
@kyleaparker, @guarani, thanks both! I think I may have caused some confusion by creating a single issue for these two distinct settings/features:

1. The different layouts i.e. square, circle, tiled, mosaic.
2. The rounded corner setting.

@kyleaparker, would your suggestion apply to both of the above or only the rounded corner setting?

If we hide the option of switching between the different la

[2021-12-15 14:52] dcalhoun commented on #4329
@fluiddot after deleting `bundle/ios/assets/gutenberg/packages/react-native-editor/i18n-cache/`, running `npm run bundle` _did not_ recreate the JSON files that once occupied that location. So, it would appear your inclination is correct.

Below is a list of all the JSON files currently included in the bundle. Given your finding that the source for these assets is the JavaScript bundle, not the ex

[2021-12-15 14:54] mchowning commented on #4378
To elaborate on that a bit from my perspective: _if_ we we feel that the block after Phase 1 is good enough to ship, I think it would be nice to hold off on Phase 2 in order to wait and see how much the JP Tiled Gallery Block is used, whether users want/need it to have more features (like in-editor preview) on it, etc.

On the other hand, maybe we'll find that the Phase 1 block (i.e., without in-e

[2021-12-15 15:01] fluiddot commented on #4329
Great! Thanks for checking it 🙇 .

Yep, I think we can safely remove them as they are already included in the JS bundle ✂️ .

[2021-12-15 16:41] kyleaparker commented on #4378
I'm suggesting both :) I think that way we can create a really great looking tiled gallery while not introducing any potentially confusing settings. I think this is especially important if we don't have a clear idea on when we would ship phase 2 as we wouldn't want the block to feel indefinitely unfinished.

[2021-12-15 16:46] kyleaparker commented on #4335
That's fine as is, I was just confused because gallery isn't centered by default (on the web either) and I was curious why it's different.

Thanks for opening the issue, it will definitely cause confusion. I don't think people will expect to open the preview to see the change.

👍

[2021-12-16 11:12] SiobhyB commented on #4335
Thanks again Kylea, I'll go ahead to close this issue in favour of the other open issues, but feel welcome to reopen if I've missed anything that's pending.

[2021-12-16 11:12] #4335 closed, assigned to kyleaparker, iamthomasbishop

[2021-12-17 10:15] geriux commented on #4112
Hey @mkevins 👋 thank you for continuing investigating this and making progress with this task.

I like that idea of a flag to be able to use a custom heading font size and not use the default values from the formatter, as you mentioned I agree that having that flag Gutenberg related is probably not ideal to be within the Aztec code.

I had this idea after our chat a few weeks ago about a configura

[2021-12-17 11:11] hypest commented on #4368
👋 @mchowning ! I assigned this ticket to you since I think you have started looking into it but, we can reassign if needed. Thanks!

[2021-12-17 18:01] twstokes opened #4387 "Block color picker: Custom theme colors and gradients aren't shown for Simple Sites"
## Describe the bug
On Simple Sites running a theme with a custom color palette (e.g. Seedlet), the custom colors aren't being shown when using a block with a color picker.

Thanks to @geriux's observation, this appears to be an issue on the backend and doesn't affect self-hosted or Atomic sites.

Failing tests: [TC003](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg

[2021-12-17 18:28] mchowning commented on #4368
Confirmed this issue exists in 18.8, 18.0, and 17.0 (I didn't go back any further). So this is not a recent regression (and I suspect it probably never worked).

[2021-12-17 22:13] mchowning commented on #4368
I don't have a fix implementation yet, but I've isolated the issue.

Android/Java [uses some old locale codes instead of the new ones](https://developer.android.com/reference/java/util/Locale#legacy-language-codes) in order to avoid breaking backward compatibility (giving us "forward incompatibility" :trollface:  ). One of these languages is Hebrew, where Java uses "iw", even though that [has been

[2021-12-20 06:33] mkevins commented on #4112
Thanks for the thoughtful reply Gerardo!

I like this better, as it's not touching as many layers (the static "global" setting can just be written / accessed directly).

By this:

did you mean something like this?

This is one area I was wondering about / looking for clarity on. I understand that the spec doesn't require size differences, but that often browsers default styles will use `em` units

[2021-12-20 12:51] fluiddot commented on #4329
@dcalhoun I did a quick benchmarking on the lazy loading of the setup code and, as far as I checked, it doesn't introduce a delay in the code. The difference between the timestamps before and after importing that code ([reference](https://github.com/WordPress/gutenberg/blob/99cb5233fb6ced43fbfc82a961a8ebbf6f86d370/packages/react-native-editor/src/index.js#L53)) is 0 so I infer that shouldn't impac

[2021-12-20 14:11] hypest commented on #4387
Trying to understand if there's something to be done on this one, @geriux , should we consider some UI to better inform the user of what's going on to avoid confusion perhaps, if the user is expecting the custom colors to be offered? Alternatively, is this a bug to forward to the WPCOM folks, or are we planning to do the necessary fixes ourselves?

[2021-12-20 14:22] #4322 closed, assigned to hypest

[2021-12-21 15:14] geriux commented on #4112
I meant when you change an H2 to H1, or another level, 3, 4, 5, etc... Since this change is happening on Aztec, once this value is updated in RichText we need to get the default font size for that level.

I agree!

Yeah for this case we'd need to set this "default" normal value from the theme data.

Oh but this would happen in `RCTAztecView` which is part of `react-native-aztec`. But yeah it'd mak

[2021-12-21 16:51] mchowning commented on #4368
Confirmed that the same issue exists with the Indonesian `id -> in` mapping.

I do not see any Gutenberg translations for `yi` showing up in the i18n-cache (`packages/react-native-editor/i18n-cache/data`) after generating the translation strings, so there isn't an issue (currently) with the Yiddish `yi -> ji` mapping that Java does. That would change if GUtenberg ever adds Yiddish translations und

[2021-12-27 15:11] #2615 closed, assigned to mchowning, fluiddot

[2021-12-28 04:55] reginabally opened #4407 "Feature Request: Add padding to the options at the top of the editor"
4-star iOS review, translated from Japanese: p1640430797118700-slack-C0130RXKCUU

[2021-12-28 11:30] fluiddot commented on #4407
@reginabally I noticed that the link to the review is broken because it's pointing to GitHub (`https://github.com/wordpress-mobile/gutenberg-mobile/issues/p1640430797118700-slack-C0130RXKCUU`), I think we should put the internal reference as plain text: p1640430797118700-slack-C0130RXKCUU

[2021-12-28 11:33] fluiddot commented on #4407
I'm not sure I fully understand the improvement, is it related to increasing the space between the `Update` and `...` buttons to make it easier to tap them?

[2021-12-28 13:18] reginabally commented on #4407
@fluiddot My apologies! The URL was formatted by the GitHub Highlighter script. I fixed the original post with the correct format.

Yes, this is my understanding as well. If the user didn't tap anywhere within the "Update" or "..." characters, the app didn't respond.

[2021-12-30 12:01] geriux commented on #4112
Quick update on this, I drafted the PRs with a working implementation:

- Gutenberg: https://github.com/WordPress/gutenberg/pull/37663
- Aztec iOS: https://github.com/wordpress-mobile/AztecEditor-iOS/pull/1345

I'll work on getting a testing build ready and updating the PRs descriptions.

[2021-12-31 08:20] reginabally commented on #2537
Requested in a [3-star app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOFxzbnEAsLiV4BXr_Bbst_9jDvjJF9s3CBZPGLO3MwsihUCCODEQyw5pG7rsYhcDXiBJDIt5XCQMEYR3Q&corpus=PUBLIC_REVIEWS).

[2021-12-31 08:42] reginabally opened #4417 "Feature Request: Spotify block"
Requested in a [4-star app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOEtujEwciwx7rhw-RDvCac9Lvhrqe0iov-WMDPmoT58x8X9GDzkH_E1jNiWvesG-bqDWkcbttG4xd4U4Q&corpus=PUBLIC_REVIEWS).

[2021-12-31 08:42] reginabally opened #4418 "Feature Request: Pinterest block"
Requested in a [4-star app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOEtujEwciwx7rhw-RDvCac9Lvhrqe0iov-WMDPmoT58x8X9GDzkH_E1jNiWvesG-bqDWkcbttG4xd4U4Q&corpus=PUBLIC_REVIEWS).

[2021-12-31 08:44] reginabally opened #4419 "Feature Request: Add discussion/comment options in post settings"
Requested in a [4-star app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOEtujEwciwx7rhw-RDvCac9Lvhrqe0iov-WMDPmoT58x8X9GDzkH_E1jNiWvesG-bqDWkcbttG4xd4U4Q&corpus=PUBLIC_REVIEWS)

[2021-12-31 09:01] fluiddot commented on #4417
The Spotify block is a variant of the Embed block and is actually available but not included in the block picker. It can be added by either:
1. Via the slash inserter by typing `/spotify`.
2. Adding an Embed block and setting a Spotify URL.

However, I'd like to note that the inline preview is not available yet, which could be tackled in the short term.

[2021-12-31 09:02] fluiddot commented on #4418
The Pinterest block is a variant of the Embed block and is actually available but not included in the block picker. It can be added by either:
1. Via the slash inserter by typing `/pinterest`.
2. Adding an Embed block and setting a Pinterest URL.

However, I'd like to note that the inline preview is not available yet, which could be tackled in the short term.

[2021-12-31 10:11] reginabally commented on #4418
Thanks, @fluiddot! I've updated the app review reply.

[2021-12-31 10:11] reginabally commented on #4417
Thanks, @fluiddot! I've updated the app review reply.

[2022-01-03 13:53] dcalhoun commented on #4407
My interpretation is that this feedback may be in relation to [Apple's Human Interface Guidelines](https://developer.apple.com/design/human-interface-guidelines/accessibility/overview/user-interaction/) recommendation that all interactive elements have a hit target of at least 44x44 pts. There is likely opportunity to make the "Update" and "..." buttons target areas larger, without increasing the

[2022-01-03 19:11] guarani commented on #4285
My reading of this issue is that it is a duplicate of https://github.com/wordpress-mobile/gutenberg-mobile/issues/4147. Both issues describe under what conditions the number of columns shown in the editor can differ from the number of columns chosen by the user in block settings.

This seems like it should be addressed separately since it is about the block "column" setting (not how columns are re

[2022-01-03 19:11] #4285 closed, assigned to illusaen

[2022-01-03 19:17] guarani commented on #4306
As reported in https://github.com/wordpress-mobile/gutenberg-mobile/issues/4316, a hard-coded value relating to editor width was left in https://github.com/Automattic/jetpack/blob/a65afa960f02e1e4c2d1fab48a4a780a5dc082ae/projects/plugins/jetpack/extensions/blocks/tiled-gallery/layout/mosaic/index.js#L97 and needs to be removed/fixed. Although that line is specific to the Mosaic layout, it might be

[2022-01-03 21:54] #4219 closed, assigned to dcalhoun

[2022-01-04 12:01] SiobhyB commented on #4300
I originally suspected that this issue was caused by the block contexts added as part of https://github.com/Automattic/jetpack/pull/21166 and https://github.com/Automattic/jetpack/pull/21278. However, following some experimentation, this doesn't actually appear to be the case.

Instead, I believe this issue is related to how the column widths value is being calculated on mobile. If I save a mosaic

[2022-01-04 13:32] guarani commented on #4300
Thanks @SiobhyB! I agree it could be related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/4303. I also think https://github.com/wordpress-mobile/gutenberg-mobile/issues/4306 or https://github.com/wordpress-mobile/gutenberg-mobile/issues/4316 might also cause this issue.

[2022-01-04 14:55] SiobhyB commented on #4285
Yes, that's right, I believe https://github.com/wordpress-mobile/gutenberg-mobile/issues/4262 is the issue you're remembering here, but let me know if there's something missing from it!

[2022-01-04 15:21] thabotswana commented on #4327
It looks like we do have alignment options when selecting the parent Buttons block

https://user-images.githubusercontent.com/35628116/148081243-19d3692a-4d79-4da5-b11b-52275b4052d4.mp4

We can close this issue

[2022-01-04 15:23] #4327 closed, assigned to nobody

[2022-01-04 15:27] dcalhoun commented on #3883
I am removing my assignment for the time being, as I do not plan to work on this in the near future.

Whenever we re-engage this work, we should be sure to test https://github.com/wordpress-mobile/gutenberg-mobile/pull/3894#issuecomment-919009391 and https://github.com/wordpress-mobile/gutenberg-mobile/pull/3894#issuecomment-919031430. Additionally, this bug may eventually relate to work on https:

[2022-01-04 17:15] guarani commented on #4303
I wanted to verify whether or not this issue affected the Square layout, or only affected other layouts such as the Mosaic. If the Square layout does not use `columnWidths`, it's not affected by this issue.

Using the Tiled Gallery on the web as reference, I found that the Square layout still includes a `columnWidth` attribute although its values seem to correspond to the Mosaic layout, which is u

[2022-01-04 17:36] guarani commented on #4285
Thanks! With that I think we can leave this issue closed since everything here appears to be covered by existing issues.

[2022-01-04 17:38] #4329 closed, assigned to fluiddot

[2022-01-04 20:28] mchowning commented on #4417
I'll leave this open as a request for inline preview of the spotify embed. Any opposition to me updating the issue title to reflect that @reginabally ?

[2022-01-04 20:28] mchowning commented on #4418
I'll leave this open as a request for inline preview of the pinterest embed. Any opposition to me updating the issue title to reflect that @reginabally ?

[2022-01-05 09:15] fluiddot commented on #4418
I'd like to note that we already have an open issue ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3981)) related to enabling the inline preview for other providers, so I referenced this issue there too.

[2022-01-05 09:15] fluiddot commented on #4417
I'd like to note that we already have an open issue ([reference](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3981)) related to enabling the inline preview for other providers, so I referenced this issue there too.

[2022-01-05 12:07] fluiddot opened #4429 "Story block: Error when trying to take a photo [Only Android]"
**Describe the bug**
On the Story block, taking a photo for including it in the block fails with the error message `Error saving image`.

**NOTE:** This error is specific to Android as on iOS this functionality works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the WordPress app on an Android device.
1. Open/create a post/page.
1. Add a Story block.
1. Tap on "ADD MEDIA"

[2022-01-05 13:01] guarani commented on #4274
I'm unassigning myself from this issue while our focus moves to the Square layout (which means this issue, layout selection, won't be needed for now).

[2022-01-05 13:02] guarani commented on #4244
I'm unassigning myself here since our focus has moved to just the Square layout.

[2022-01-05 13:50] #4112 closed, assigned to antonis, mkevins

[2022-01-05 14:05] mchowning commented on #4418
Thanks @fluiddot ! With that link, do you think we should instead just close this and [the spotify support issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4417), and instead route all these kinds of requests through the "more providers" issue you linked?

[2022-01-05 14:29] SiobhyB opened #4430 "Tiled Gallery Block: Hide columns setting when there is only one image"
To bring the native Tiled Gallery block inline with the web, the columns setting should only display when there is more than one image in the gallery.

This is because, by default, the only number of columns that a gallery with a single image can have is one, so the setting is confusing and unneeded.

Note, it may not be necessary to explicitly hide the setting when there are no images, as the ent

[2022-01-05 14:38] guarani commented on #4303
I did more testing on the web and now I'm confident that `columnWidths` is **not** used by the Square layout. Take for example when I add multiple images to a Mosaic layout, and then switch to a Square layout and remove all images leaving an empty block. What I see is that `columnWidths` is still populated. Since it looks like a bug, I've created a bug report for the web here: https://github.com/A

[2022-01-05 15:43] SiobhyB opened #4431 "Jetpack Tiled Gallery: Default column setting should match web"
At the time of writing, the native Jetpack Tiled Gallery block has a default column value of two (when used in portrait) or four (when used in landscape).

The web uses a default value of three columns if there are more than three images in the gallery. If there are less than three images in the gallery, the default value matches the number of images (i.e. if there are two images, the default colu

[2022-01-05 16:45] guarani commented on #4306
👋 @illusaen I'm assigning this to myself as I believe you won't be working on this in the near term.

[2022-01-05 16:46] fluiddot commented on #4418
Yeah, we could use the issue https://github.com/wordpress-mobile/gutenberg-mobile/issues/3981 to group requests in relation to inline previews of other providers. In any case, I'd highlight that these referenced blocks (Spotify and Pinterest) were requested by users.

[2022-01-05 17:44] fluiddot opened #4432 "Remaining untranslated strings after improving the translation pipeline"
Although most of the strings are now translated after introducing improvements in the translation pipeline, we identified the following strings that remain untranslated and would require further investigation:

- ~~`Order by` (only referenced in the Search block)~~ _Already translated._
- ~~`Newest to oldest` (only referenced in the Search block)~~ _Already translated._
- ~~`Oldest to newest` (onl

[2022-01-05 18:18] fluiddot commented on #4432
Most of the strings, except the only missing ones on Android, are not translated because they're not included in Gutenberg's GlotPress project ([reference](https://translate.wordpress.org/projects/wp-plugins/gutenberg/)). However, they are in the GlotPress project of WordPress ([reference](https://translate.wordpress.org/projects/wp/5.8.x/en-gb/default/)). It's not clear to me why although those s

[2022-01-05 22:58] guarani commented on #4306
Removing the hard-coded width and height [here](https://github.com/Automattic/jetpack/blob/af6401684e06c3d74dd46c1ccc82c47c22fabbde/projects/plugins/jetpack/extensions/blocks/tiled-gallery/save.native.js#L19-L20) fixed this issue visually, but the block's HTML output doesn't quite match the web.

| <img width="2146" alt="Screen Shot 2022-01-05 at 19 48 37" src="https://user-images.githubuserconten

[2022-01-06 12:26] guarani commented on #4303
Unassigned myself because we're focusing on issues that affect the Square layout and as noted above, this issue does not appear to affect it.

[2022-01-07 14:26] guarani opened #4440 "Tiled Gallery missing image size information in output HTML"
**Describe the bug**

Removing the hard-coded width and height in https://github.com/Automattic/jetpack/pull/22230 fixes [a pixelation issue](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4306) visually, but the block's HTML output doesn't quite match the web. Also, the Square layout no longer renders as squares on the site's frontend.

**Screenshots**

| <img width="2146" alt="Scree

[2022-01-07 15:07] SiobhyB opened #4442 "Jetpack Tiled Gallery: Images don't resize properly when changing columns setting"
When editing the Tiled Gallery's columns, the images don't appear to resize properly. As you can see from the following video, switching between one and two columns causes what appears to be a bug with the way the images resize:

https://user-images.githubusercontent.com/1898325/148439898-3985cef9-5d14-4176-88eb-eeaa40335ab0.mov

**Additional context**

This was originally raised here: https://git

[2022-01-07 17:09] SiobhyB opened #4444 "Jetpack Tiled Gallery: Disable column stepper increment button when at max columns"
It's currently possible to continue incrementing the number of columns in the Tiled Gallery block, even though there is a set maximum of either the number of images in the block's gallery or 20 (whichever is lowest). It should ideally stop at the maximum value, to bring it inline with the Gallery block.

**Additional context**

This was originally raised as an issue here: https://github.com/Automa

[2022-01-07 17:23] guarani opened #4445 "Disable Tiled Gallery layouts except for the Square layout"
The Tiled Gallery will only include the Square layout in its first iteration, so all other layouts should be hidden from the block's UI. Also, Tiled Gallery blocks that use non-Square layouts should not load in the editor (the UBE should be displayed instead, just as with any other unsupported block).

[2022-01-07 18:11] guarani commented on #4306
This topic has been moved to a new issue, https://github.com/wordpress-mobile/gutenberg-mobile/issues/4440.

This issue has now been resolved by https://github.com/wordpress-mobile/gutenberg-mobile/pull/4433.

[2022-01-07 18:11] #4306 closed, assigned to guarani

[2022-01-09 12:36] AtrumGeost opened #4447 "Button Block: Alignment options not reflected on the front end"
**Describe the bug**
The mobile app allows to align buttons, the alignment works inside the editor but when previewing the post the alignment is not applied.

**To Reproduce**
Steps to reproduce the behavior:
1. On a blog post add the Buttons block
2. Select the Buttons parent block and set the alignment to center or right.
3. Notice the alignment is applied inside the editor
4. Preview the post a

[2022-01-10 06:31] erricgunawan commented on #2757
Another request from 4673440-zen

[2022-01-10 07:38] antonis commented on #2757
Allowing users to change font size is behind a development flag and will be released soon.

[2022-01-10 11:02] #4138 closed, assigned to SiobhyB, illusaen

[2022-01-10 11:03] #4147 closed, assigned to SiobhyB, illusaen

[2022-01-10 14:10] guarani commented on #4440
I'm assigning this medium priority in the context of Phase 1B of the project. At time of writing, this issue doesn't appear to cause any issues for the user, but we certainly should default to matching the web's block HTML representation in cases like this where we're unsure.

[2022-01-10 14:16] guarani commented on #4445
I assigned High priority on this because it's essential we disable other layouts (anything except Square layout), since Phase 1B is scoped to the Square layout only.

[2022-01-10 14:29] SiobhyB commented on #4336
Closing and marking as done as this has been done as part of the PRs for the main apps, at https://github.com/wordpress-mobile/WordPress-Android/pull/15619 and https://github.com/wordpress-mobile/WordPress-iOS/pull/17618.

[2022-01-10 14:29] #4336 closed, assigned to nobody

[2022-01-10 22:54] guarani commented on #4302
I just tested again on iOS and this issues does not affect the Square layout, so I'm moving it to Phase 2. I didn't test Android, but as I noted above, this seems iOS specific.

[2022-01-11 10:04] hypest commented on #4447
👋 @fluiddot , can you take a look at this one? I can replicate the issue on WPAndroid too (v18.9-rc-2), and it looks like the alignment option is not persisting (I can replicate even by just exiting or updating the post, without going to the preview). Thanks!

I marked the ticket as "[Pri] High" since it's about content/setting not persisting.

[2022-01-11 12:09] fluiddot commented on #4447
I've reproduced this issue also in iOS (18.9) and Android (18.9), and I confirm that the alignment options are not being saved when edited in the native version. I also observed that alignment options are neither reflected in the native version when changed in the web editor.

I'll take a deeper look at the code in case this is a breakage coming from recent changes 👀 .

[2022-01-11 12:28] fluiddot commented on #4447
Looks like this issue was introduced in [this PR](https://github.com/WordPress/gutenberg/pull/35819), as the `contentJustification` (which controls the horizontal alignment) and `orientation` attributes, used in the native version of the Buttons block ([reference](https://github.com/WordPress/gutenberg/blob/7a00aa3aeca4f866ede81a5966ac433ee21ebe09/packages/block-library/src/buttons/edit.native.js#

[2022-01-11 12:34] hypest commented on #4447
Reminder to self/us: we should add an integration test for this one, to test that the resulting html (say, HTML mode) is persisting the change.

[2022-01-11 12:48] fluiddot commented on #4447
Oh yeah, I'm actually writing it as I'm fixing the issue 😄 .

[2022-01-11 17:10] fluiddot commented on #4447
Heads up that I've just created a PR for addressing this issue: https://github.com/WordPress/gutenberg/pull/37887

@hypest I assigned you as a reviewer, let me know if you would be able to take a look, thanks 🙇 !

[2022-01-12 15:26] guarani opened #4458 "Continue Jetpack Tiled Gallery development using existing code"
Phase 1B merges code pertaining to the Square layout only (see https://github.com/Automattic/jetpack/pull/21849).

~~To continue development on the block, there is un-merged code in the Jetpack repo's `rnmobile/add/tiled-gallery-block-mosaic` branch. Rebase this branch on-top of Jetpack `master` and continue development.~~

To continue development of the block, the latest code can be found in Jetp

[2022-01-13 07:01] mahdimoghadas1 opened #4461 "HTTP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-13 09:21] fluiddot commented on #2615
The string `Link address to Google Maps` is included in the Jetpack's GlotPress project ([reference](https://translate.wordpress.org/projects/wp-plugins/jetpack/dev/en-gb/default/?filters%5Bstatus%5D=either&filters%5Boriginal_id%5D=7273954&filters%5Btranslation_id%5D=63471351)), so it's not expected that this string will be part of the localization strings files (i.e. `bundle/android/strings.xml`)

[2022-01-13 13:34] SiobhyB commented on #4445
We've changed course and are now going to keep the block behind a dev flag (with other layouts active). As such, this issue can be closed.

[2022-01-13 13:34] #4445 closed, assigned to SiobhyB

[2022-01-14 12:48] fluiddot commented on #4432
When testing on Android, I spotted more untranslated strings:

**Replace featured image popup:**
- `Featured Image Already Set`
- `You already have a featured image set. Do you want to replace it?`
- `Replace`
- `Cancel`

**Featured image updated notice messages:**
- `Set as featured image`
- `Removed as featured image`

Looks like this is related to a potential issue on WordPress-Android so I ope

[2022-01-14 14:27] hypest commented on #4461
Closing as it lacks any information. Feel free to edit if you'd like and we'll be more than happy to reopen the ticket. Thanks!

[2022-01-14 14:27] #4461 closed, assigned to nobody

[2022-01-14 14:28] #4339 closed, assigned to SiobhyB

[2022-01-14 14:58] SiobhyB opened #4468 "Dark mode: Editor doesn't respond to dark-mode when using block-based themes"
**Description**

When a block-based theme is active, the editor will always use the theme's background colour as its background.

From the internal discussion here, it was explained that this behaviour is intentional: p1625061465206500-slack-CHLA6BQMQ. There may come a time where it's possible for users to edit customize the page/post background within the app and matching the theme's colours help

[2022-01-14 16:55] #4447 closed, assigned to fluiddot

[2022-01-14 19:39] #4368 closed, assigned to mchowning

[2022-01-14 20:53] jhnstn commented on #4432
I just found another missing string. It seems to be the same whitespace issue found in #4464
The string in question is https://github.com/WordPress/gutenberg/blob/72730e0f326df43e761f5d29759b89a4bec3dd58/packages/block-library/src/image/edit.native.js#L493

[2022-01-17 11:44] hypest commented on #4468
Thanks for opening this ticket! I've put it in `Backlog (unscheduled/unassigned)` as it's not yet actionable but, please, let's continue discussing it. Thanks!

[2022-01-17 11:55] fluiddot commented on #4432
The following strings are now translated, looks like they were missing from the Gutenberg GlotPress project (as it was mentioned in [this comment](https://github.com/wordpress-mobile/gutenberg-mobile/issues/4432#issuecomment-1005967214)) and recently reintroduced:

- `Order by` (only referenced in the Search block)
- `Newest to oldest` (only referenced in the Search block)
- `Oldest to newest` (on

[2022-01-17 12:53] fluiddot commented on #4432
The following strings will be translated after applying the fix of https://github.com/WordPress/gutenberg/pull/38026:
- `Solid`
- `Gradient`
- `Linear`
- `Radial`

[2022-01-18 14:22] SiobhyB commented on #4442
I haven't been able to get to a solution after some time looking, but wanted to share my notes in cases they're helpful for future reference.

**Notes**

* An update to the number of columns only changes the `columnWidths` value of an image's column/container [here](https://github.com/Automattic/jetpack/blob/a35a1fd715634d6c123bac9b86c54d6f3a05e583/projects/plugins/jetpack/extensions/blocks/tiled-

[2022-01-19 19:30] #4268 closed, assigned to nobody

[2022-01-20 14:21] antonis commented on #2351
Closing this issue since the templates inside the editor have been deprecated

[2022-01-20 14:21] #2351 closed

[2022-01-20 15:06] fluiddot opened #4492 "Detect translation issues via CI"
The current pipeline already can detect several translation issues, however, they are displayed as warnings in the log output when running the `i18n:update` NPM command, which might be easy to overlook. In the future, it would be great if we could have a CI job to guarantee translations stability.

In the following sections it's briefly described the potential issues that we are currently able to

[2022-01-20 15:17] fluiddot opened #4493 "Create standalone translation project for strings only used in the native version"
## Description

As a follow-up on this comment pxLjZ-6Fc-p2#comment-18617, eventually, we should disconnect the Gutenberg strings we incorporate into the WordPress apps, and provide a different pipeline for translating them.

One of the proposed solutions is to have a specific GlotPress project, similar to what we have for [Gutenberg](https://translate.wordpress.org/projects/wp-plugins/gutenberg/)

[2022-01-20 16:27] SiobhyB commented on #4270
Removing my assignment as I'm not actively working on this. I did some initial work on the Android-side in the following (now closed) PR that may be helpful as a reference for others who may take this over in the future: https://github.com/wordpress-mobile/WordPress-Android/pull/15633

[2022-01-20 18:22] guarani commented on #4458
Previously this issue was needed so we knew where to look for the latest code when we resume this project. Now, all code is merged, so I don't think this issue is needed anymore.
cc @SiobhyB

[2022-01-20 18:22] #4458 closed, assigned to nobody

[2022-01-20 18:25] guarani commented on #4262
👋 @SiobhyB, do you recall if this issue was a contributing factor in the decision to disable https://github.com/wordpress-mobile/gutenberg-mobile/blob/develop/src/jetpack/test/tiled-gallery.js? If I recall correctly, it was this issue as well as https://github.com/wordpress-mobile/gutenberg-mobile/issues/4168.

[2022-01-20 19:05] guarani commented on #4168
👋 @SiobhyB just a heads-up, I moved this from "In Progress" to "Todo" on our project board, so feel free to un-assign yourself from this issue.

[2022-01-21 09:45] SiobhyB commented on #4262
@guarani, you're right that it was https://github.com/wordpress-mobile/gutenberg-mobile/issues/4168 that originally led to the decision to disable those tests, and this issue was discovered after that. Both would need to be fixed before enabling the tests again.

[2022-01-21 09:46] SiobhyB commented on #4168
Perfect, thank you @guarani!

[2022-01-21 15:02] fluiddot commented on #2162
This issue has been addressed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4366.

[2022-01-21 15:02] #2162 closed

[2022-01-21 18:56] ttahmouch opened #4501 "Gallery Block - Attachment Page Link Settings option doesn't work on private self-hosted posts."
**Describe the bug**
`Attachment Page` option doesn't work for self-hosted sites if the post is published as `Private`. It works correctly again when switching the post to `Public`. If the `Gallery > Image` in a `Private` post has an `Attachment Page` link set, then the attachment page opens as a `404` page. I do not experience the same issue on a `Private` page published using `wordpress.com` in

[2022-01-21 19:01] ttahmouch opened #4502 "Spacer Block - Allows serializing heights greater than the maximum of 500px."
**Describe the bug**
Contrary to the suggestion [in the Deprecation Notice](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/spacer.md#tc005), it was not possible to create a `Spacer` in WP.com first with a value higher than `500px` using the GUI (as it would force adjust it to `500px` in the text input) or using the HTML editor (as it strips out `` back to `` when yo

[2022-01-21 19:08] ttahmouch opened #4503 "Video Block - Video fails to upload on self-hosted Jetpack site."
**Describe the bug**
There appears to be issues if you are using a self-hosted site. I tested with a generated, self-hosted Jetpack site. The upload UX appeared to work and would show the file uploading and the `Video` block changing metadata in the block editor HTML mode. It even showed the block edits in the `wp-admin` page as well, but the video files weren't able to be found in the `Media` sec

[2022-01-21 19:10] ttahmouch opened #4504 "Link Settings Attachment Page option on unpublished posts results in broken links and 404 errors"
**Describe the bug**
The `Attachment Page` appears to be a `404` "Resource Not Found" page when linking to the attachment page on the `File` block in both an `Atomic` site and `Jeptack` self-hosted site. It works correctly when linking directly to the Media File, and opens it in my device browser.

**Update:** This same issue occurs for Gallery and Image blocks as well. It appears that the URL is

[2022-01-21 19:11] ttahmouch opened #4505 "Sanity Test - 1.69.0 - File Block > Hide Download Button"
**Describe the bug**
I'm currently unsure if it matters whether or not I have an `Atomic` site or a `Jetpack` site selected, and I think I experienced this issue on both, but I am consistently seeing an issue on the `Atomic` site that if I select the `Block Settings` I see the `Hide Download Button` toggle until I press `Link Settings`, and then I can no longer get it to return to the action sheet

[2022-01-21 19:41] ttahmouch opened #4506 "Sanity Test - 1.69.0 - Gallery Block > Insert Image"
**Describe the bug**
The test itself passed, but steps following the test resulted in a crash defect that prompted [a new PR](https://github.com/wordpress-mobile/WordPress-iOS/pull/17759). I was able to make the `Retry` button appear by preempting the image upload with Airplane Mode on a slow network connection, but when I pressed the `Retry` button while in Airplane Mode it caused the application

[2022-01-24 09:25] fluiddot commented on #4432
Most of the strings are already translated after merging different fixes, the remaining ones related to the replace featured image popup and Featured image updated notice messages will be addressed in https://github.com/wordpress-mobile/WordPress-Android/issues/15822. So we can close it and follow up on these strings on the referenced issue.

[2022-01-24 09:25] #4432 closed, assigned to jhnstn, fluiddot

[2022-01-24 10:17] antonis commented on #1787
Closing the issue as the it seems to be fixed now. Please reopen if that is not the case.

<details>
<summary>Screenshot</summary>

|Selection|Cursor|
|---|---|
|![device-2022-01-24-121128](https://user-images.githubusercontent.com/304044/150763659-29672efb-de74-4c7a-988b-a89d71344c1b.png)|![device-2022-01-24-121424](https://user-images.githubusercontent.com/304044/150764051-272bda8d-756e-4b92-857

[2022-01-24 10:17] #1787 closed

[2022-01-24 10:36] antonis commented on #2502
Closing this as more mobile page layouts have been added.

[2022-01-24 10:36] #2502 closed

[2022-01-24 10:42] antonis commented on #2737
Closing this as I wasn't able to reproduce the issue with the new Gallery block implementation. Please reopen if that is not the case.

[2022-01-24 10:42] #2737 closed, assigned to nobody

[2022-01-24 10:43] fluiddot commented on #3673
This has been addressed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/4332.

[2022-01-24 10:43] #3673 closed, assigned to fluiddot

[2022-01-24 10:44] antonis commented on #2428
Closing this issue as the selection is more clear with the new Gallery block implementation with nested images. Please reopen if that is not the case.

[2022-01-24 10:44] #2428 closed

[2022-01-24 10:53] antonis commented on #3234
This is resolved along with https://github.com/wordpress-mobile/gutenberg-mobile/issues/4058. Please reopen if that is not the case.

[2022-01-24 10:53] #3234 closed, assigned to nobody

[2022-01-24 10:59] antonis commented on #3053
Closing this issue as deprecated

[2022-01-24 10:59] #3053 closed, assigned to antonis

[2022-01-24 11:02] antonis commented on #2347
Closing this issue as deprecated. Please reopen if that is not the case.

[2022-01-24 11:02] #2347 closed

[2022-01-24 11:45] hypest commented on #4505
I don't seem to be able to reprocude on iPhone 6s (15.1), WPiOS v19.0 on a pressable Jetpack site.

Not sure if you are referring to the link settings via the cog-wheel menu or directly from the toolbar @ttahmouch 🤔 . Can you share the lists of steps or a video perhaps? Thanks!

[2022-01-25 14:02] ttahmouch commented on #4505
I went to try to record a video yesterday and my generated `Jetpack` site was deleted. I created a new one, and forgot what the default password for those is for `wp-admin`, and then I remembered that I had already recorded a video for this. So I'm still going to try to reproduce it today if I can. When I tried to reproduce it with an `Atomic` site yesterday on `19.0.0.5` if I remember correctly,

[2022-01-25 14:27] hypest commented on #4505
Gotcha. Yeah, let's see if you can reproduce again and move forward from there. Thanks!

[2022-01-26 01:48] reginabally commented on #559
Another request in 4715088-zd-woothemes:

[2022-01-26 06:53] reginabally opened #4514 "Missing images and incorrect order of images in Gallery block"
**Describe the bug**

Originally reported in 4667625-zd-woothemes. The user reported that some of the images added to the Gallery blocks are not displaying in the app's editor, even though they look fine on the actual site. They also mentioned the images were "shuffled" with other images from their device that have never been uploaded to the site.

Some other details shared by the user:

This prob

[2022-01-27 20:14] mdrockwell opened #4522 "Add Ability to Hide Blocks"
**Is your feature request related to a problem? Please describe.**
There are many users that don't use all of the blocks available within the app.

**Describe the solution you'd like**
If there was the ability to hide unused blocks, it would streamline the block inserter for users that want to hide them.

**Describe alternatives you've considered**
Another potential option would be to order the bl

[2022-01-27 20:25] dcalhoun commented on #4522
This may duplicate/relate to #3471.

[2022-01-28 14:54] sla8c commented on #4977
I've investigated this issue and have some info to add.  The issue is happening when the `Media` object from WPiOS is being converted to a Gutenberg `MediaInfo` object; the `MediaInfo` object does not have an `alt` property

Below is a screenshot of where this is occurring in class `GutenbergMediaInserterHelper`

![image](https://user-images.githubusercontent.com/88816724/151565785-63f18dff-cb2e-4

[2022-01-28 17:40] fluiddot opened #4523 "[Integration test] Gallery block - Migrate UI test gutenberg-editor-gallery"
**UI test reference:** https://github.com/WordPress/gutenberg/blob/trunk/packages/react-native-editor/__device-tests__/gutenberg-editor-gallery.test.js

## Tasks
1. Identify the block/component that the UI test is covering.
1. Add a test file to the block/component folder, following the same flow as the UI test.
1. Run the test and verify that it passes.
1. Introduce a breakage to the block/compon

[2022-01-28 21:15] ttahmouch commented on #4505
I could never get the thing to reproduce even with a `Jetpack` site. So I don't know how I got it into that state during sanity testing. I'd recommend we close this defect. Do you agree?

https://user-images.githubusercontent.com/3058263/151622261-776d3523-2f7a-493f-b244-33bed860f152.MP4

[2022-01-31 14:43] hypest commented on #4514
Thanks for the ticket @reginabally !

To verify my understanding, looks to me that the _order_ of the images are matching between the editor and the post output on the site, but it's just some images that are laid out in a different grid position, right?

I think the native mobile editor will always just use the simple 2-column grid anyway though. To confirm, @mkevins, is that what's expected on n

[2022-02-01 10:00] geriux commented on #2234
Closing this since now the page layouts are on the native side.

[2022-02-01 10:00] #2234 closed

[2022-02-01 10:01] geriux commented on #2757
Closing since this feature shipped in https://github.com/WordPress/gutenberg/pull/38205

[2022-02-01 10:01] #2757 closed, assigned to geriux

[2022-02-01 17:06] fluiddot opened #4532 "Gallery block: Add integration tests related to its manual tests"
**Manual test reference:**
https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/gallery.md

## Tasks
1. Identify the manual test cases of the block.
1. Review all manual test cases and add them in the issue's description, which ones can be fully/partially covered by integration tests.
1. [If doesn't exist] Add a test file to the block folder.
1. Implement the test cases t

[2022-02-02 10:06] hypest commented on #4503
Tried out WPiOS `v19.1.02` on a selfhosted Jetpack site of mine on Pressable, logged in via username/password (that is, not via WoredPress.com) and video upload seems to work OK ([post here](https://hypestpressable-jetpack.mystagingwebsite.com/2022/02/v-test-ios/)). I wonder if this has something to do with the Jurassic Ninja instance, or some weird state of the app.

[2022-02-02 10:07] fluiddot commented on #2055
Closing this issue as it was already solved in https://github.com/WordPress/gutenberg/pull/37676 and released in version `19.0`.

[2022-02-02 10:07] #2055 closed

[2022-02-02 10:08] fluiddot commented on #2154
Closing this issue as it was already solved in https://github.com/WordPress/gutenberg/pull/37676 and released in version `19.0`.

[2022-02-02 10:08] #2154 closed

[2022-02-02 14:42] #4523 closed, assigned to fluiddot

[2022-02-02 15:13] hypest commented on #4505
+1, feel free to close!

[2022-02-02 15:30] #4505 closed, assigned to ttahmouch

[2022-02-02 19:25] ttahmouch commented on #4503
I'm good with closing this one as well if others can't reproduce it. I may be entirely related to Jurassis Ninja instances, but more importantly if you can't replicate it on a "real" self-hosted Pressable instance, then that gives me some confidence that this is just a problem with the testing environment.

[2022-02-02 20:36] mkevins commented on #4514
Indeed, the gallery on mobile will display the images in a simple grid: up to 2 columns when the viewport is narrow, i.e. portrait, and up to 4 columns when the viewport is wider, i.e. landscape. The number of columns displayed is limited, but the actual number of columns set for the gallery can be larger.

Regarding this issue:

To clarify, were these other images not uploaded, or just not added?

[2022-02-04 15:14] ttahmouch commented on #4502
I'm fairly confident this is not a defect with Gutenberg-Mobile and WP.com. It's just an awkward situation. If I remember correctly, `WP-iOS+GBM` rendered correctly if the post markup was modified locally because it would serialize the markup with the `{"height":"1600px"}` metadata when manually inputting `1600` into the text field. WP.com would just render it as an error in the editor presumably

[2022-02-07 08:46] reginabally commented on #4514
@hypest @mkevins Sorry for my late reply. I was on AFK last week.

I didn't compare every image in the gallery blocks but if we look at the last row of images in the screenshot I took from the app's editor after I scrolled to the end, the three images highlighted from the screenshot below (taken from the actual site) do not show up.

![151115850-56a86960-d69e-4a1a-894d-d26adb17b9b2](https://user-i

[2022-02-07 13:01] hypest commented on #4514
About the last 3 images that seem to not become visible in the mobile editor, I confirmed that that's the case, although not consistently missing. Trying to switch to another app and then back to the editor causes a refresh and sometimes some of the last 3 images do appear.

I will investigate deeper.

[2022-02-07 13:08] fluiddot commented on #3670
This case will be covered with the integration tests added in https://github.com/WordPress/gutenberg/pull/38571.

[2022-02-07 13:32] SiobhyB commented on #582
Noting that I'm going to be taking a dive into this issue. :)

I'm still seeing the same behaviour that Matt detailed with `Don't keep activities` enabled. You'll see from the following video that the the Image block isn't correctly updated although the uploaded image is correctly added to the site's Media Library:

https://user-images.githubusercontent.com/2998162/152796017-a31511da-1283-45d2-ada

[2022-02-08 08:23] geriux commented on #4387
This was handled in D74538-code. This functionality now works on production 🎉

[2022-02-08 08:23] #4387 closed, assigned to nobody

[2022-02-08 08:47] fluiddot commented on #4387
Now that the issue is solved, I've also opened [this PR](https://github.com/wordpress-mobile/test-cases/pull/109) to remove its reference from the manual test suites.

[2022-02-08 11:21] SiobhyB commented on #2498
Making a note that this is still an issue as of [19.2-rc-1](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/19.2-rc-1), testing on a Pixel 5 (Android 12).

[2022-02-08 11:22] fluiddot opened #4555 "[Drag & Drop blocks] Upgrade dependencies related to gesture handling and animation"
## Description

As part of the preparation work for the Drag&Drop project, we have to upgrade the following dependencies to use the newer APIs and benefit from enhancements of new versions.

- `react-native-gesture-handler`
- `react-native-reanimated`

**NOTE:** Most of this work was done in GB branch `rnmobile/try/drag-and-drop-blocks-hack-day-4`.

[2022-02-08 16:40] fluiddot commented on #4555
As part of updating the forks, I created the following PRs/branches:
### `react-native-gesture-handler`
- **Target version:** [`2.2.0`](https://github.com/software-mansion/react-native-gesture-handler/releases/tag/2.2.0).
- [Update `trunk` with upstream version `2.2.0`](https://github.com/wordpress-mobile/react-native-gesture-handler/pull/14): It would be interesting if update `trunk` with the ups

[2022-02-08 18:05] SiobhyB commented on #4502
I came across the same while testing [the most recent release](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4543#issuecomment-1032482800) of the Android app.

It's possible to increase the height of the spacer block beyond 500px in the app, meaning both of these two test cases currently "fail":

* https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/spacer.md

[2022-02-08 19:31] mchowning commented on #4502
Just my thoughts on this...

With respect to [test case TC004](https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/spacer.md#tc004):

Could you elaborate a bit on that @SiobhyB . I'm seeing on the web currently that anything over 500 gets reset to 500 automatically, but on mobile we allow those higher numbers, which seems different. Or am I misunderstanding?

Regarding t

[2022-02-09 12:06] SiobhyB commented on #4502
Ah, it's being reset on your side? I haven't been able to replicate that, I'm able to set the number to higher than 500 without issue. For example, I set the spacer's height in the screenshot to 1000px and it stayed at that height after saving, exiting, then re-opening the post on the web. I then opened the post in the app and it was still 1000px there. 🤔

<img width="1773" alt="Screenshot 2022-02

[2022-02-09 12:47] sentry[bot] opened #4560 "RCTFatalException: Unhandled JS Exception: TypeError: undefined is not an object (evaluating 't.replace')"
**Sentry Issue iOS: [WORDPRESS-IOS-3KEM](https://sentry.io/organizations/a8c/issues/2993047829/?referrer=github_integration)
Sentry Issue Android: https://sentry.io/share/issue/f3a114ae1a0c49acb11ae0a9e64e1f20/**

[code]

**Desymbolized stacktrace:**
[code]

[2022-02-09 13:45] mchowning commented on #4502
Interesting. I see what you mean now, thanks for explaining. I was typing a number into the spacer height field, and then pressing `Enter`. When I pressed `Enter` is when it resets down to 500 if it is over 500. But if I don't press `Enter`, then you're right, it doesn't reset and you can set a height of over 500

https://user-images.githubusercontent.com/4656348/153211213-3a16cb35-32d9-4f76-b8e1-

[2022-02-09 14:26] SiobhyB commented on #4502
Oh, thanks for explaining that Matt! I hadn't been hitting enter, but am seeing what you describe now and all is clear.

If I test on version 5.9 of WordPress then I also see the 500px limit imposed there, regardless of whether the enter button is hit.

https://user-images.githubusercontent.com/2998162/153220234-5d51eaf3-4b3e-4263-915c-e8bdb2c75da8.mov

It's only with the latest development versio

[2022-02-09 14:37] fluiddot commented on #4560
The crash can be reproduced by adding the following HTML to a post/page (extracted from https://github.com/WordPress/gutenberg/pull/35516#pullrequestreview-784832627):
[code]

Looks like the value of the attribute `style` can be `undefined` in some cases (as the one outlined above). So in order to fix the issue, we'd need to check if it's defined before manipulating it ([reference](https://github.

[2022-02-09 14:51] hypest commented on #4501
👋 @ttahmouch , I wonder if you have also tried the web editor on the self-hosted site directly, to test the same flow but from the web. Can you give it a try to see if this is a mobile app issue or a site issue? Thanks!

[2022-02-09 14:56] hypest commented on #4503
Mind if you give it a try on Pressable from your side? Just want to make sure this is confirmed before we close the ticket, considering it's a rather important flow (video uploads). Thanks!

[2022-02-09 15:03] mchowning commented on #4501
Different, but related issue: [#23576: Gallery "Link To -> Attachment Page" option not creating an anchor](https://github.com/WordPress/gutenberg/issues/23576)

[2022-02-09 15:03] hypest commented on #4504
👋 @ttahmouch, thanks for the ticket!

Can you also check if the same flow works or not via the web editor?

Also, is this an iOS issue or happens on Android as well? Thanks!

[2022-02-09 17:04] SergioEstevao commented on #4502
This may have been a typo on my side I think I meant `Update code to NOT allow spacer larger than 500px`

That said I don't recall the reason why there was a limit of 500, maybe something to do with screen size limitations on mobile?

[2022-02-09 17:07] #4560 closed, assigned to fluiddot

[2022-02-10 04:38] erricgunawan commented on #4034
From 4736185-zen:

[2022-02-10 11:50] paaljoachim commented on #4502
Hey @mchowning brought this up right before Wednesdays Core Editor chat.
https://wordpress.slack.com/archives/C02QB2JS7/p1644415002737119

I also checked for desktop and the Spacer block also has an upper limit to 500px there.
The latest comment from Joen in the slack thread is this: "Seems fine to do a simple PR to bump that very high."
I assume that a developer can then create a PR and perhaps b

[2022-02-10 11:59] SiobhyB commented on #582
I chatted with @hypest about this issue a bit yesterday, he let me know that the fix for this issue is likely not simple, possibly requiring larger architectural considerations that are a bit beyond the scope of what we're currently trying to achieve. I time-boxed some explorations and confirmed I wasn't able to make progress on a fix. Given that, and the fact this issue isn't impacting a large nu

[2022-02-11 04:38] erricgunawan commented on #559
4745458-zen (translated):

[2022-02-11 18:47] twstokes opened #4577 "Cursor is large when inserting new list items"
**Describe the bug**
When inserting new list items under an existing item (except for the last), the flashing cursor can appear larger than expected.

**To Reproduce**
Steps to reproduce the behavior:
1. In WPiOS or in the Demo App, add a List block using the editor (both ordered and unordered lists are affected)
2. Add a few items to the list
3. Select any existing item but the last
4. Tap return

[2022-02-14 12:03] hypest commented on #4577
Replicated it on v18.1 from August 2021 as well. Might be happening on even older versions but couldn't test those on my iOS15 device (they don't run on this OS version).

[2022-02-14 18:40] mchowning commented on #4502
Thanks @paaljoachim for following up! 🙇

It sounds like there is supposed to be a limit. I don't have a strong reason to change it from 500px to something else (although It sounds like there's nothing stopping us from increasing it if there's a reason).

WIth respect to the manual test cases on mobile, I would lean toward removing [the test case for checking that we support heights over 500px on m

[2022-02-15 00:11] #4063 closed, assigned to twstokes

[2022-02-17 17:33] SiobhyB commented on #2448
👋 @iamthomasbishop, I'm currently working on improving the overlay that displays in the image block when this error occurs and wanted to check-in for feedback on the design. At the moment, I've only added the reason for the failure between the "heading" about the failed upload and the prompt to tap the block for more options:

| Before  | After |
| ------------- | ------------- |
| <img src="https

[2022-02-17 18:22] iamthomasbishop commented on #2448
@SiobhyB Thanks for the ping! I think it'd probably make sense to handle this the same way as the Media Library, which places the error message in the subsequent ActionSheet (presumably in the form of a BottomSheet on Android). If we do that, we can probably also refine the UI copy a little bit to something like "Tap for more info." Here's what that would look like all together:

<a href="https://

[2022-02-17 18:40] SiobhyB commented on #2448
@iamthomasbishop, there have been improvements that add the error to the action sheet since this issue was created. The current set up seems it's already in alignment with the route you're suggesting:

| iOS  | Android |
| ------------- | ------------- |
| <img src="https://user-images.githubusercontent.com/2998162/154546567-2b8e7489-db10-43ce-88fa-24c28ee92f80.png" width="100%"> | <img src="https

[2022-02-17 18:41] mchowning commented on #582
In my testing, with `Don't keep activities` enabled, any time I attempt to insert an image (whether it is an uploaded image, or from the media gallery), the post fails to actually update with the inserted image (i.e., the block remains empty), so this appears to be a broader issue.

[2022-02-17 23:17] erricgunawan commented on #3940
A question from 4767399-zen (translated):

[2022-02-18 10:07] hypest commented on #3940
👋 @erricgunawan!

There is currently no UI support for toggling the underline format on text. The only way to currently do it is by switching to HTML mode (via the top level 3-dot menu) and type `<span style="text-decoration: underline;">` before the text to underline, following by `</span>` to close the html tag.

[2022-02-18 20:04] iamthomasbishop commented on #2448
@SiobhyB Ahh, that's right, my bad!

I think so. IMO, it makes more sense to defer the more verbose messaging to the ActionSheet/Dialog, provided the label on the overlay is phrased clearly enough.

Sounds good and thank you! 🙇

[2022-02-18 23:25] erricgunawan commented on #3940
Oh, that's a good tip/workaround!

Thanks for letting me know @hypest!

[2022-02-21 13:21] SiobhyB commented on #2448
Perfect, I'll go ahead to close this issue, as there are now appropriate warnings when a site's storage limit has been hit and will address the tweaks you've suggested to the error message in https://github.com/WordPress/gutenberg/pull/38951.

[2022-02-21 13:21] #2448 closed

[2022-02-21 20:16] jhnstn commented on #974
I'm unable to reproduce this on
- WPAndroid 19.2-rc3
- Android 12 / Pixel 6

https://user-images.githubusercontent.com/744755/155021069-9dca131f-28ac-4cf7-823b-f66335e36868.mp4

[2022-02-22 04:49] reginabally opened #4600 "Feature Request: Poll block"
Requested in 4784974-zd-woothemes:

If we wanted to ask the opinion of our readers and followers

[2022-02-22 08:03] geriux opened #4601 "[Drag & Drop blocks] Fetch and share blocks layout size and position coordinates"
## Description

In preparation for the drag & drop functionality, we need to store the layout and position data of the blocks within the block list. This will be used for calculations when moving and dropping a block.

Most likely this will be stored in the block list context where we already store the main scroll reference.

[2022-02-22 15:07] jhnstn commented on #1526
I was just able to reproduce this issue

Android 12 / Pixel 6
App version 19.2

[2022-02-22 15:25] jhnstn commented on #1595
Verified still happening
- WPAndroid v19.2 rc-3

[2022-02-22 20:02] jhnstn commented on #1831
I am unable to reproduce this in trunk (currently at v1.71.1)

- Android 12 /  pixel p
- WPAndroid 19.2 rc-3

[2022-02-23 15:00] jhnstn commented on #1921
The image size selection has changed since this was opened and both the Gallery and Image block are now consistent

## Image
https://user-images.githubusercontent.com/744755/155342883-a16afe50-4e84-46ed-a45a-e4628b848ee1.mp4

##Gallery
https://user-images.githubusercontent.com/744755/155342883-a16afe50-4e84-46ed-a45a-e4628b848ee1.mp4

I'm closing since the primary focus on the issue — UI inconsist

[2022-02-23 15:00] #1921 closed

[2022-02-23 20:25] jhnstn commented on #965
Adding a poster is not currently an option in Gutenberg Mobile. Gutenberg Calypso allows adding a poster to the video block but I was unable to verify if that might cause an issue due to https://github.com/wordpress-mobile/gutenberg-mobile/issues/1152

[2022-02-24 06:23] mkevins commented on #1921
Actually, I believe the other concerns have been addressed since this issue was opened. At least, from your video, it seems that the cycle picker is no longer being used (which was the source of the issue mentioned). Thanks for circling back to this @jhnstn  :+1:

[2022-02-25 09:08] hypest commented on #4601
Assuming layout also refers to block heights, [this PR might become useful](https://github.com/WordPress/gutenberg/pull/31144). In it, I was keeping the block heights in the block-list and then [computing the block offsets from heights](https://github.com/WordPress/gutenberg/pull/31144/files#diff-753322c95666679508eecb52371e38647190768c3198f16c1dc312a57c5b0e41R173-R186).

[2022-02-25 09:25] geriux commented on #4601
Thanks for sharing Stefanos! 🙇  I'm using `onLayout` as well in https://github.com/WordPress/gutenberg/pull/39089 but storing the data in the block list context instead.

[2022-02-28 13:07] fluiddot commented on #4555
Due to an issue in `react-native-reanimated` library, we can't upgrade beyond version 2.2.4 ([reference](https://github.com/wordpress-mobile/react-native-reanimated/pull/8#issuecomment-1050689949)), so instead of upgrading to `2.4.1` we'll target version `2.2.4`.

[2022-03-01 10:06] geriux opened #4619 "[Drag & Drop blocks] Add Draggable component"
## Description

This new `Draggable` component will handle all of the dragging functionality using the libraries Gesture handler and Reanimated.

[2022-03-01 17:23] #3670 closed, assigned to fluiddot

[2022-03-01 17:23] #4532 closed, assigned to fluiddot

[2022-03-01 17:32] fluiddot opened #4620 "[Drag & Drop blocks] Add block draggable component"
## Description

Implement the native version of `BlockDraggable` component to provide the functionality to drag a block. This component is mainly in charge of:

- Set up the props required to use the `Draggable` component for dragging a block.
- Attach the dragging events with a hook, to let the block scroll automatically when dragging a block close to the screen borders.

[2022-03-03 03:25] reginabally commented on #2537
Requested in 4817541-zd-woothemes.

[2022-03-03 10:15] #4555 closed, assigned to fluiddot

[2022-03-03 12:19] hypest commented on #4503
I also tried out a new Jurassic Ninja site now and video uploads OK both from the WPAndroid (v19.3-rc-1) and WPiOS (v19.3.0.3) app. Also, I tried stopping the video upload while going and the post didn't end up containing any link to a video file when published. While at it, I verified that the Media Library in wp-admin does indeed contain the video files that finished uploading.

I'll go ahead an

[2022-03-03 12:19] #4503 closed, assigned to nobody

[2022-03-03 13:16] hypest commented on #974
Can't reproduce either. Tried Pixel 2XL/Android11/WPAndroid v19.3-rc-1, and GalaxyNote20Ultra/Android12/WPAndroid v19.3-rc-1. Closing this as not happening anymore but happy to reopen if we get updated repro steps. Thanks!

[2022-03-03 13:16] #974 closed

[2022-03-03 21:23] thesacredpath commented on #4514
Another report here: 34464769-hc

Re-adding the images fixes the issue, but this user has a lot of posts with galleries and a majority of them seem to be broken. All are showing properly on live site, just not in the editor.

Note that this is occurring in the browser editor for this user. Took the site AT fully as it was simple Business in hopes that would fix the issue, but it did not.

[2022-03-04 18:47] hypest commented on #4514
Update: I manged to try the `react-native-fast-image` lib on the Android gutenberg-mobile demo app. It doesn't crash and it loads all the images so far. I will need to test it out more on WPAndroid this time, and then see if it integrates well on the iOS side as well.

[2022-03-07 05:31] #968 closed

[2022-03-07 10:24] fluiddot opened #4631 "Monorepo approach for publishing the Android dependencies"
## Description
As a follow-up of p9ugOq-2H0-p2, we decided to explore a different approach for publishing the Android dependencies of the `react-native-bridge` package, in order to also remove some of the current forked repositories only required for this purpose. The approach will be similar to how we publish the React Native binaries in [this repository](https://github.com/wordpress-mobile/react

[2022-03-07 11:27] SiobhyB commented on #4034
x-referencing a larger issue outlining all the missing settings between web vs. mobile with the Latest Posts block: https://github.com/WordPress/gutenberg/issues/29815

[2022-03-07 13:13] fluiddot commented on #4631
@oguzkocer I created this issue as a point of reference for the HACK week's project. Let me know if you'd like to expand the requisites or add any ideas you might have, thanks 🙇 .

For now, I'm focusing on testing the Git subtree option for fetching the dependencies.

**UPDATE:** I added multiple sections in TBD for the main issues to address on the project.

[2022-03-07 16:54] fluiddot commented on #4631
I haven't managed to figure out an easy way to address this part, so far the only workaround I found was to add a plugin to force the version:

`force-agp-version.gradle`:
[code]

And then apply it in the `buildscript` block in each subproject manually, here is an example related to `react-native-gesture-handler`:
[code]

[2022-03-09 02:11] reginabally opened #4637 "Nearly invisible text color on bright background"
**Describe the bug**

It was reported in 4838810-zd-woothemes that the text in the WPAndroid 19.2 is nearly invisible because it is white in color on a bright background. I was able to reproduce this in WPiOS 19.3.

**To Reproduce**
Steps to reproduce the behavior:
1. On a WPCOM site, activate the Livro theme
2. Go to https://wordpress.com > My Site > Appearance > Editor, change the background col

[2022-03-09 07:01] hypest commented on #4637
Confirmed from my side as well.

@geriux , since you have recently worked on picking the colors from the theme, is this behavior here expected? 🤔

[2022-03-09 08:33] geriux commented on #4637
Hey 👋

It is not expected, this issue was related to custom colors not loading correctly on the editor. This was fixed in https://github.com/WordPress/gutenberg/pull/38417 which will ship on `19.4`. I checked that this works correctly in the current beta.

[2022-03-09 09:57] hypest commented on #4637
Thanks for the update @geriux !

@reginabally , I will go ahead and close this ticket as "addressed/fixed" but happy to reopen if we see that the fix is not perhaps covering the issue.

[2022-03-09 09:57] #4637 closed, assigned to nobody

[2022-03-09 16:38] hypest commented on #714
"Switch to classic" [has been removed](https://github.com/wordpress-mobile/WordPress-Android/pull/14334) for some time now so, closing this ticket. Happy to reopen if it still holds for some flow. Thank you all!

[2022-03-09 16:38] #714 closed

[2022-03-10 12:46] hypest commented on #2714
I tried to reproduce and indeed, one can see the post getting saved locally without any user interaction. At least in my testing, this seems to happen due to markup changes the (mobile) editor is immediately introducing to the post.

For example, the following preformatted block created from the web is getting touched when opened on mobile:

Web editor markup (Gutenberg on Calypso v12.7.1). Notice

[2022-03-11 11:22] hypest opened #4646 "Add insert from URL option to the video block"
Currently, there's no "Insert from URL" option for the Video block, but it's there for the Audio block.

The web version of Gutenberg has the option for the video block, and since it's in the mobile version for the Audio block, it makes sense to add it for the Video block as well.

[2022-03-15 12:30] fluiddot opened #4657 "Update Reanimated library to 2.4.1"
## Description

With the current version `2.2.4`, when connecting the app to the Chrome debugger it crashes on Android. In order to address this issue and re-enable debugging with the Chrome debugger, we should update `react-native-reanimated` package to version `2.4.1`.

[2022-03-15 14:53] mchowning commented on #4646
Seems like it would be worthwhile to also add this to the Image block since the web has it here too.

UPDATE: Turns out there's an issue for that: https://github.com/wordpress-mobile/gutenberg-mobile/issues/3190

[2022-03-15 20:05] mdrockwell commented on #861
User requested this here:

4852801-zd-woothemes

[2022-03-16 12:49] fluiddot commented on #4631
We created the following repository for publishing the Android dependencies:
https://github.com/wordpress-mobile/react-native-libraries-publisher

**Important notes to keep in mind:**
- Only supports dependencies that don’t have a forked repository, so when adding a package note that we can only use versions from the NPM registry (e.g. "react-native-get-random-values": "1.4.0"). Occasionally, we c

[2022-03-16 12:49] #4631 closed, assigned to fluiddot

[2022-03-17 18:20] mchowning commented on #2001
I'm no longer seeing the cancel button, but there does appear to be some extra padding at the bottom. I assume we want to remove that padding. cc: @iamthomasbishop

![image](https://user-images.githubusercontent.com/4656348/158869829-13b65355-4c6d-4f85-a131-382bdad51d3f.png)

[2022-03-17 20:33] eduardozulian commented on #559
4860430-zen

User's idea: Hit Enter once for next line, twice for new block.

[2022-03-18 00:40] igotdes commented on #559
Also mentioned in #4856871-zen:

[2022-03-18 09:59] #4657 closed, assigned to fluiddot

[2022-03-18 17:31] mchowning commented on #4317
I've looked into this a bit, and I'm wondering if removing the block really is the desired/expected behavior because if you cancel the upload of a normal image block it doesn't remove the block itself. Also, it's not an unexpected scenario to have empty image blocks inside a gallery block since you can add empty image blocks by using the block inserter (as opposed to using the gallery block append

[2022-03-19 07:13] erricgunawan commented on #2594
Found this report when searching for this issue: https://github.com/wordpress-mobile/WordPress-Android/issues/9811

I'm not sure if it's the same or related, though.

[2022-03-19 07:24] erricgunawan commented on #2594
A report from 4870391-zen:

<details>
  <summary>Screenshots:</summary>
  <br>

![image](https://user-images.githubusercontent.com/1813857/159111807-5331f757-6b04-43d1-81ff-c853e0fc8f1d.png)

![image](https://user-images.githubusercontent.com/1813857/159111824-de5d515a-e9a2-4906-a186-57b4be589890.png)

</details>

They shared this as their current workaround:

Asking for the device and OS info.

[2022-03-21 09:28] fluiddot opened #4673 "[Drag & Drop blocks] Scroll block list when dragging a block"
## Description

Implement the native version of [`useScrollWhenDragging` hook](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/block-draggable/use-scroll-when-dragging.js), which will be in charge of scrolling the block list when dragging a block.

[2022-03-21 09:45] SiobhyB commented on #4317
@mchowning, ah, good point about it being possible to add empty image blocks via the block inserter! I don't see a way to add empty image blocks to a gallery on the web, but agree it doesn't really seem to be an issue as long as it's not causing problems with the gallery's functionality.

The main thing that feels off to me is that the empty blocks create an empty space in the gallery when preview

[2022-03-21 12:40] mchowning commented on #4317
I think you can do that using the inserter similar to mobile.

https://user-images.githubusercontent.com/4656348/159261958-368245b9-52f2-4e95-94ea-94d7c8334a92.mov

👍  That's a really good point, and something I overlooked. I'm seeing the same behavior if I create a gallery on the web with empty blocks, so I don't think it's a mobile-specific issue, but I agree with you that it does seem like an i

[2022-03-21 13:52] SiobhyB commented on #4317
Ah, I see! The steps for adding an empty block within the gallery weren't super clear to me, but I see now. Thanks for the screen recording! I've created an issue for the web at https://github.com/WordPress/gutenberg/issues/39612 and will go ahead to close this one, as you're right it isn't mobile-specific. 🙇‍♀️

[2022-03-21 13:52] #4317 closed, assigned to nobody

[2022-03-22 10:45] hypest opened #4680 "Unsupported block editor loading screen invisible text in dark mode"
**Describe the bug**
While the Unsupported Editor mode is loading, the screen informs the user to ensure they have the block editor enabled on their site, and also displays an error message on failure. But, on dark mode, the text copy is not visible.

**To Reproduce**
Steps to reproduce the behavior:
0. On an Atomic site, enable the classic editor plugin and set is as default for all users ([some

[2022-03-22 13:28] #4619 closed, assigned to geriux

[2022-03-22 15:34] SiobhyB opened #4681 "[Integration test] Separator block"
The separator block was recently refactored in https://github.com/WordPress/gutenberg/pull/38428, which led to some "false positive" failures in [the block insertion UI test (part 2)](https://github.com/WordPress/gutenberg/blob/8a204c8d03e340b7431595a84a441e7cdf14b289/packages/react-native-editor/__device-tests__/gutenberg-editor-block-insertion-2.test.js). These failures were addressed in https:/

[2022-03-22 20:38] mchowning commented on #4247
**In addition to the Media&Text block, the Audio block also displays two banner notifications.** Image, Gallery, Video, Cover, and File blocks only display the bottom notification though (they do not show the notification with the red text at the top).

This is only an issue on Android because WPAndroid displays the bottom notification, and Gutenberg displays the top one. WPiOS does not display an

[2022-03-23 00:52] sentry[bot] opened #4685 "RCTFatalException: Unhandled JS Exception: TypeError: undefined is not an object (evaluating 'le.slice')"
Sentry Issue: [WORDPRESS-IOS-3KPB](https://sentry.io/organizations/a8c/issues/3120608564/?referrer=github_integration)

[code]

**Desymbolized stacktrace:**

[code]

[2022-03-23 01:29] jhnstn opened #4686 "Focus issue with Cover block on iOS"
**Describe the bug**
Adding media to a Cover block while another block is in focus causes a focus loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Cover block to an empty post
2. Deselect before adding any media to the Cover block
3. With the new block in focus press on the Cover block to update the cover image.

**Expected behavior**
Focus moves to the cover block

**Actual behav

[2022-03-23 07:58] geriux commented on #4685
This change was introduced in https://github.com/WordPress/gutenberg/pull/38417 which adds support for multiple color palettes.

The [line specifically](https://github.com/WordPress/gutenberg/pull/38417/files#diff-efe4dc27db844b16612461b3acc8ac6d6ee9c44a490baf9bb58c03e6f88b77d7R154) it appears `colorsDefault` might be `undefined` or `null` in some cases 🤔

[2022-03-23 14:17] twstokes commented on #4685
I'm setting this as medium priority due to:
- low impact because of a low number of users affected
- high severity since it affects editing

[2022-03-23 14:18] twstokes commented on #4685
@geriux I'm assigning this issue to you as part of crash triaging, but will be glad to change assignees if that isn't correct. 🙇

[2022-03-24 16:36] SiobhyB opened #4692 "Mobile: New Default View: Iterations to Inserter"
## Description

It's not always clear to users what primary actions are available when they first open the editor. We'd like to iterate on the default view of the editor to help users discover blocks and, therefore, improve the overall writing/onboarding experience.

The first part of this will involve changes to make the block inserter more visible/clearer.

## Designs

![image-12](https://user-i

[2022-03-24 16:48] SiobhyB commented on #4692
@iamthomasbishop, @jhnstn, I'm working on this in https://github.com/WordPress/gutenberg/pull/39726. The PR's still very much a work in progress and hasn't been thoroughly tested/tidied up for a code review as of yet. The main outline is there, though, and I wanted to take the chance to ask a couple of questions:

## Questions

* @iamthomasbishop, my assumption's been that we'd only be adding the

[2022-03-25 10:43] mchowning commented on #4293
👋  @illusaen ! @hypest  asked me to take a look at this, so I'll reassign the issue to me to make sure we don't duplicate efforts.

[2022-03-25 17:27] mchowning commented on #4293
I'm seeing an error on both WPiOS and WPAndroid when I try to upload an image from a contributor account to a gallery block. Similarly, I see an upload failure with the Tiled Gallery block.

It sounds like that's not what you were seeing here @SiobhyB ? Maybe something fixed this since you filed the issue?

https://user-images.githubusercontent.com/4656348/160168484-6db78112-25e0-49ec-9914-75f97fc

[2022-03-28 00:33] brcavallaro opened #4713 "Block Editor: GIF badge not shown when the post is edited"
### Expected behavior
When editing a post that has GIF media, the `GIF` should be shown.

### Actual behavior
The `GIF` badge is not shown when editing an existing post that has GIFs inside. Check the steps to reproduce and the evidence below.

### Steps to reproduce the behavior
1. Create a new post and put an Image block containing a GIF image
2. Publish the post
3. Edit the post you just create

[2022-03-28 11:48] hypest opened #4701 "Upgrade to next-gen Docker convenience image on CircleCI"
We are receiving the following message on the CircleCI job page and we should upgrade:

![Screenshot 2022-03-28 at 2 45 51 PM](https://user-images.githubusercontent.com/1032913/160391497-97996458-0f2a-419f-bda0-295c426bce22.png)

[2022-03-28 12:36] geriux commented on #4685
I haven't been able to reproduce this but while I was investigating another bug, [we found a regression](https://github.com/WordPress/gutenberg/pull/39806) with the API endpoint that returns the block editor settings data that includes the global styles configuration. Although it's not yet confirmed that this issue started because of the API regression I'll keep an eye on the events until that fix

[2022-03-28 13:36] erricgunawan commented on #2594
[3-star Android app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOFy9iCt98J0LRnnugvsruuOT2oBFKcUOmVrrPseLAIdZ5pkQt9sf2PzDgkfO6O8srqtlmcPEQLQcEBQ2A&corpus=PUBLIC_REVIEWS):

[2022-03-28 15:51] fluiddot opened #4702 "[Drag & Drop blocks] Update blocks order when dropping a block"
## Description

Implement the native version of [`useOnBlockDrop`](https://github.com/WordPress/gutenberg/blob/trunk/packages/block-editor/src/components/use-on-block-drop/index.js). This hook provides the `onBlockDrop` event handler to update blocks order when dropping a block.

[2022-03-29 16:32] SiobhyB commented on #4293
@mchowning, I re-tested and am seeing an error when attempting to upload via a contributor account now, too. 🎉

I'm fairly certain I was able to upload as a contributor at the time I published this issue, as I remember testing a few times to confirm if this was an issue specific to the Tiled Gallery or also the core Gallery. The evidence indicates I made a mistake, though, as I can't even reproduc

[2022-03-29 16:32] #4293 closed, assigned to mchowning

[2022-03-29 16:44] fluiddot opened #4706 "[Drag & Drop blocks] Disable drag & drop when a text is being edited"
## Description

In order to prevent conflicts between the text editing experience and the drag & drop functionality, the latter will be disabled while any text input is focused.

[2022-03-29 19:26] mchowning commented on #3259
I've got [a fix](https://github.com/WordPress/gutenberg/pull/39769) that removes all of the insertion options other than the WordPress Media Library if the user cannot upload media (all the other options would fail in that case). I'm wondering whether, in that case, we should drop the bottom sheet with one option and instead immediately open the media picker if the WordPress Media Library is the o

[2022-03-30 08:29] #4620 closed, assigned to fluiddot

[2022-03-30 08:36] geriux opened #4710 "[Drag & Drop blocks] Add block drop zone hook (only allow blocks located at root level)"
Add the native implementation of `useBlockDropZone` as well as a new component `DroppingInsertionPoint` that will indicate the dropping area.

[2022-03-30 09:51] hypest commented on #968
Looks like the badge is not displaying in various cases of the Gallery Block or a Media&Text block so, reopening this ticket to track.

[2022-03-30 10:28] #4673 closed, assigned to fluiddot

[2022-03-30 10:51] thehenrybyrd commented on #968
Related, we have this older issue for Image Gallery: https://github.com/wordpress-mobile/gutenberg-mobile/issues/1715

[2022-03-30 10:56] hypest commented on #4713
A fix PR is in progress https://github.com/WordPress/gutenberg/pull/39882. Edit: merged at this point and is fixing the issue so, closing the ticket.

[2022-03-30 12:53] #4713 closed, assigned to nobody

[2022-03-30 14:38] osullivanchris opened #4715 "If I search for gif in the block inserter, show me the image block"
I was testing the GIF functionality for the 19.5 release. When I went to add a gif to the editor I searched 'gif' and the result was empty. Maybe it should redirect to 'image' as a result. Then I know I should go through the image block to add a gif.

[2022-03-30 15:11] mchowning commented on #3259
I played around with this a bit. I think it generally works nice when a block is selected, but I'm less certain about this behavior in the case of an empty media block _that is not selected_. This change basically makes it impossible to select an empty media block without also immediately opening the media library when the WordPress Media Library is the only option. Admittedly, there's not much el

[2022-03-31 10:12] #4706 closed, assigned to fluiddot

[2022-03-31 10:35] #4601 closed, assigned to geriux

[2022-03-31 12:02] hypest commented on #968
👋 @illusaen , since you recently worked on adding the GIF badge, can you have another look to see how to have all types of image blocks display it? Thanks!

[2022-03-31 14:30] fluiddot opened #4720 "[Drag & Drop blocks] Disable text editing when long-pressing a block in favor of drag & drop gesture"
## Description

On iOS when long-pressing over a text block, instead of enabling dragging mode it initiates text editing. This is not the expected behavior as the drag & drop gesture should override focusing on text input. On Android, this issue can't be reproduced as it matches the expected behavior.

**UPDATE:** This issue can also be reproduced on Android.

https://user-images.githubusercontent

[2022-03-31 15:16] fluiddot opened #4721 "[Drag & Drop blocks] Vertically align the dropping insertion point when is over the dragged block"
## Description

Following https://github.com/WordPress/gutenberg/pull/39891#pullrequestreview-927431464, it would be great if the dropping insertion point is centered when is displayed in the position of the block being dragged.

<img src=https://user-images.githubusercontent.com/14905380/161055754-a23148e9-0cef-4dd2-b8e3-694ab70230a0.jpeg width=350>

[2022-03-31 16:31] geriux opened #4722 "[Drag & Drop blocks] - Dropping insertion point is shown over the toolbar"
## Description

While testing the implementation of the dropping insertion point, a [bug was found](https://github.com/WordPress/gutenberg/pull/39891#pullrequestreview-927855362) where the indicator shows up on top of the toolbar.

**Screenshots**

https://user-images.githubusercontent.com/14905380/161098996-49e32833-ec2a-4cbf-8642-f76b45b500d6.mov

[2022-03-31 16:32] #4710 closed, assigned to geriux

[2022-03-31 16:59] mchowning commented on #4247
@hypest and I talked about this, and decided to proceed with this approach for now. Certainly open to revisiting this if there are other ideas for how to handle this though.

[2022-04-01 06:19] erricgunawan commented on #2594
[3-star Android app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOFxnqc2SIsPJCRv_dYkMyKtqALcRXOBeMMc4m65Z27SMivFuIG2viaaeLkIHGYiZgDjVcZbuKyh3T_j4A&corpus=PUBLIC_REVIEWS):

[2022-04-01 17:23] iamthomasbishop commented on #4247
@mchowning @hypest That should work, thank you!

[2022-04-01 17:38] #4247 closed, assigned to mchowning

[2022-04-04 12:12] hypest commented on #4715
Makes sense to me.

Perhaps all it takes is to add the `gif` keyword to the list of keywords for the Image block. This feels like a Gutenberg-wide design matter so, wdyt @jasmussen ?

[2022-04-04 12:46] jasmussen commented on #4715
Nice one, thanks for the ping! Is there a neat new GIF functionality in the mobile version?

Gutenberg web of course supports animated GIFs like any other web-app, but there isn't any Giphy-like integration to search for and insert, even if there are [plugins](https://wordpress.org/plugins/dropit/). GIF as a keyword to me kind of implies such functionality, so I'm not completely sure we should add

[2022-04-04 14:57] #3167 closed, assigned to nobody

[2022-04-04 15:02] iamthomasbishop commented on #2001
@mchowning That'd be great. I believe there should be only 8px spacing below the list there.

[2022-04-06 07:46] hypest commented on #4715
Ah, good points there Joen! And yeah, as a matter of fact the mobile app does have integration with a GIF service (Tenor), exposed via the media picker.

@osullivanchris , wdyt?

[2022-04-06 11:04] osullivanchris commented on #4715
Interesting 🤔

My assorted thoughts:
- I have to say I was doing a test scenario. So I'm not necessarily a representative user here!
- Two users could avail of a gif. 1 a user who wants to add a gif specifically. 2nd a person who wants to add 'something' and discovers we offer gifs.
- For person 1, my suggestion that searching 'gif' returns image is somewhat helpful. But they still need to tap on

[2022-04-06 11:09] jasmussen commented on #4715
Good thoughts. Similar to how mobile extends the Image block to add GIF support, it seems like the GIF keyword would be most appropriate as an extension as well.

[2022-04-06 14:58] mchowning commented on #2001
With the merge of #40056 addressing the padding issue, I'll close this since I don't see the cancel button anymore on these action sheets on Android.

[2022-04-06 14:58] #2001 closed

[2022-04-07 15:09] fluiddot opened #4741 "[Drag & Drop blocks] Automatically select the dropped block if it's not previously selected"
## Description

Related to [this feedback on the drag & drop feature](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-1088038628), when the user drags a block that is not selected, it should be automatically get selected after it's dropped.

[2022-04-07 15:12] #4702 closed, assigned to fluiddot

[2022-04-07 15:14] fluiddot opened #4742 "[Drag & Drop blocks] Update drag & drop block animation"
## Description

Related to [this feedback on the drag & drop feature](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-1088038628), the drag & drop animations should be updated in order to improve the user experience of the feature. More information about the new animation in [this comment](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-10880

[2022-04-08 08:07] #4742 closed, assigned to fluiddot

[2022-04-08 08:07] #4741 closed, assigned to fluiddot

[2022-04-08 12:40] hypest commented on #4685
Just wanted to add that judging by the stats on the Sentry page, it seems the crashes have been in decline recently:

![Screenshot 2022-04-08 at 3 38 30 PM](https://user-images.githubusercontent.com/1032913/162437170-6984ff75-e175-42ea-8ecc-ac2865f1d013.png)

I'm going to close the ticket as "addressed", but we can re-open if we have evidence of still being around. Thanks!

[2022-04-08 12:40] #4685 closed, assigned to geriux

[2022-04-08 12:58] hypest commented on #4715
Good discussion, thank you all for your thoughts!

I understand how _searching_ for gif in the Inserter is probably an indication that the user expects some non-trivial GIF support. The Tenor integration in the apps sounds like that non-trivial support since the user can search for a new GIF to add to their post and media library.

I think it does make sense to keep this enhancement ticket here in

[2022-04-12 04:47] reginabally commented on #559
Asked in 4940586-zd-woothemes:

[2022-04-12 14:58] hypest commented on #4720
I wonder, if initiate-drag has precedence over text editing/selecting, what's the expected user flow when they do want to select some text? 🤔

[2022-04-12 16:23] fluiddot commented on #4720
The idea is that the dragging has precedence over text editing unless the text is already being edited. Similarly, when editing text, the dragging gesture will be disabled to prevent conflicts.

It would be similar to what we currently have:
1. Select a text block.
2. Select text.

I think regarding this user flow, the dragging gesture shouldn't impact.

[2022-04-12 21:39] tiagomar opened #4752 "[Drag & Drop blocks] It's not possible to drag a text based block with an Apple Pencil."
**Describe the bug**
Apple pencil cannot drag a block. It is possible to select a block with long-press but not to drag it.

**To Reproduce**
Using iPad + Apple Pencil
1. Open a post with multiple blocks
2. Long press a block using the Apple Pencil
3. Notice that the block is selected and the chip is displayed
4. Move the Apple Pencil up and down to move drag the block
5. Notice that the block is

[2022-04-13 10:02] #4692 closed, assigned to SiobhyB

[2022-04-13 18:07] tiagomar opened #4754 "[Drag & Drop blocks] Multiple touches are being tracked while dragging a block"
**Describe the bug**
Multiple touches are being tracked while dragging a block making it possible to have dragging direction and speed changes due to unintentional touches.

**To Reproduce**
Steps to reproduce the behavior:
1. Start dragging a block;
2. Using another finger/hand palm
3. Notice that the chip moves to an intermediate point possibly changing dragging direction and speed.

**Expected

[2022-04-14 05:53] reginabally commented on #2537
Requested in 4946852-zd-woothemes

[2022-04-14 10:19] hypest commented on #3190
Changed the title to replace the "Upload" word with "Add" since the feature will not actually be **uploading** any media to the site or media Library.

[2022-04-15 08:20] reginabally opened #4761 "App crash when editing/saving posts"
**Describe the bug**
It was reported in 4947373-zd-woothemes, that when the user was editing posts in the app, the app would hang and crash, causing lost content.

I'm asking for full device information, the post title, and also permission to check the site (WPCOM Simple site) in the app via SSP to see if we can reproduce this.

For now, the only information I have is the [most recentcrash report

[2022-04-15 11:39] hypest commented on #4741
A bit late to comment on this but, when the drag-vs-select flow will be fixed, it will mean that auto-selecting the dropped block will make it hard to drag it again in sequence, right?

An example to make what I say more clear:
1. With no blocks selected, long-press a paragraph block to begin dragging it
2. Move it to a new place
3. Either dropped it in the wrong place or changed your mind and nee

[2022-04-15 12:32] hypest commented on #4371
Fixed by https://github.com/wordpress-mobile/WordPress-iOS/pull/17670

[2022-04-15 12:32] #4371 closed, assigned to nobody

[2022-04-15 14:35] iamthomasbishop commented on #4741
@hypest I see what you're saying and I'm kind of on the fence but I think there might be a fine-tuned middle ground. My gut tells me that folks will tend to either _edit the block in-place_ or _select a diff block_ after a drag/drop action but at the same time, it would be nice to also have that long-press gesture available at that moment.

I wonder if it'd make sense to leave the block in the in-

[2022-04-15 14:38] mchowning commented on #4741
When I was (briefly) trying out this feature, I did find that it a bit tricky to repeatedly move the same image block to find the right spot for it. I think that would have felt much more natural with ^this^ behavior, so a 👍 as far as I'm concerned.

[2022-04-15 14:44] hypest commented on #4741
Thanks @iamthomasbishop , it does make sense to me as it leaves the block in a long-press-to-drag enabled mode.

The only thing that now makes me wonder a bit is that we are differentiating between "selected and caret-focused" and "selected but no caret-focused" modes. Obviously, the former will have the big virtual keyboard visible while the latter won't, but I'm not sure if the two modes will be

[2022-04-15 17:59] iamthomasbishop commented on #4741
I think in that case the visibility of the software keyboard would make it pretty clear that input is allowed. It'd be less obvious in cases where the user is using a hardware keyboard, although even in those cases there is typically a UI that is visible when you're in that "input-able" mode.

I see what you're saying, @hypest. Do you think it would help to increase the delay/timeout before activa

[2022-04-18 03:37] ghost opened #4766 "https://books.apple.com/us/book/biology-2e/id1413413708"
<table>
  <thead>
    <tr>
      <th width="50"></th>
      <th width="100%" data-danger-table="true">Fails</th>
    </tr>
  </thead>
  <tbody><tr>
      <td>:no_entry_sign:</td>
      <td>

  Please add a type label to this issue. e.g. '[Type] Enhancement'
  </td>
    </tr>

<tr>
      <td>:no_entry_sign:</td>
      <td>Please add a feature label to this issue. e.g. 'Stats'</td>
    </tr>
  </tbo

[2022-04-18 08:04] fluiddot commented on #4766
I'm closing this issue as it doesn't contain any information.

[2022-04-18 08:04] #4766 closed, assigned to nobody

[2022-04-18 14:02] #4370 closed, assigned to geriux

[2022-04-18 14:24] fluiddot opened #4769 "[Drag & Drop blocks] Add haptic feedback when dragging a block"
## Description

Related to [this design feedback](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-1088038628), add haptic feedback for the following actions:
- When dragging mode is activated.
- Each time the insertion point changes.

[2022-04-18 15:33] fluiddot commented on #4741
I see your points here, my premise when implementing the feature is that the long-press gesture on blocks always enables the dragging. However, there's an exception for text blocks, when entering in text editing (i.e. the text input gain focus), the dragging is disabled for all blocks, including the unselected. This allows enabling the default behavior for long-press gestures within the text input

[2022-04-19 00:54] mkevins commented on #1831
I haven't had a chance to retest this, but the underlying code has changed a lot since this was opened. I'll close this, and if it becomes an issue again, it can be reopened if needed (a log noise dev issue).

[2022-04-19 00:54] #1831 closed

[2022-04-19 08:01] fluiddot commented on #4754
I think we could tweak the gesture configuration and limit the number of fingers to activate it. Looks like there's a property named [`maxPointers`](https://docs.swmansion.com/react-native-gesture-handler/docs/api/gestures/pan-gesture#maxpointersvalue-number) that could help us to address the issue.

There's another property ([`averageTouches`](https://docs.swmansion.com/react-native-gesture-handl

[2022-04-19 12:17] #4720 closed, assigned to fluiddot

[2022-04-19 15:21] twstokes commented on #4370
Awesome work @geriux - thanks for taking care of this! 🎉

[2022-04-19 15:22] geriux commented on #4370
Thanks for reporting it @twstokes!

[2022-04-20 01:46] lmischner opened #4775 "[Drag & Drop blocks] Long-press no longer starts drag if text previously edited"
**Describe the bug**
After using the long-press gesture in a text block to move the cursor, subsequent long-press gestures on other blocks (regardless of type) results in edit action rather than dragging.

The issue resolves itself if you then try to drag the original text block prior to dragging other blocks.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any text-type block
2. Long-p

[2022-04-20 12:27] geriux commented on #4721
Since this issue was opened, the UI when dragging a block changed a little. Now the block is not collapsed so I think this issue is no longer valid:

<kbd><img src="https://user-images.githubusercontent.com/4885740/164229939-b2b3be2f-d9e1-46f5-a99e-7baed0b56acd.png" width="300" /></kbd>

What do you think @fluiddot?

[2022-04-20 13:49] fluiddot commented on #4721
Good point, although not sure what should be the behavior for the insertion point when dragging over the original position of the block. If we vertically align it, that could be an issue when the block is too large, so probably we could keep the current approach. Alternatively, we could also show the insertion point after the block, as currently it's only shown before it.

https://user-images.gith

[2022-04-20 15:07] thabotswana commented on #4761
I wasn't able to replicate the crash when I did a test edit on one of their posts

My device info:
Samsung Galaxy S9+
Android 10

They provided this additional info:

[2022-04-21 10:21] geriux commented on #4721
That's a great sugestion! Something like this?

https://user-images.githubusercontent.com/4885740/164434780-c2015eea-2cf4-4422-97a1-2952f1db7839.mov

[2022-04-21 10:51] fluiddot commented on #4721
Exactly 🤩, thanks for tackling it 🙇 .

[2022-04-21 10:53] geriux commented on #4721
Yay, awesome! I'll work on the PR!

[2022-04-21 12:00] SiobhyB opened #4780 "Dark mode: Placeholders in Social Icons block not visible with some block-based themes"
**Describe the bug**

When dark mode is enabled and a block-based theme with a light background colour is active, the placeholder icons shown for inactive icons are not visible in the Social Icons block.

**To Reproduce**

Steps to reproduce the behavior:
1. Enable dark mode on your iOS or Android device and open the app.
2. Activate a block-based theme with a light background colour, such as [Zoo

[2022-04-22 08:39] fluiddot opened #4783 "[Drag & Drop blocks] Support iPad OS/Trackpad"
## Description

In relation to https://github.com/wordpress-mobile/gutenberg-mobile/pull/4691#issuecomment-1105817538, when using an iPad with a trackpad (the magic keyboard with trackpad and also a standalone trackpad) the dragging is not working. Looks like the long-press gesture is working, as the chip is showing up, but the dragging movement is disabled.

([Video](https://cloudup.com/c0ByjLffP

[2022-04-22 11:41] geriux commented on #4721
Fixed in https://github.com/WordPress/gutenberg/pull/40510

[2022-04-22 11:41] #4721 closed, assigned to geriux

[2022-04-22 13:21] #4769 closed, assigned to fluiddot